[2020-04-29 09:17] HughWilliams commented on #911
Please put your query text in verbatim (```) tags as I have done in your post above so they do not lose formatting and special characters, resulting in query failure due to syntax errors ...

I can run the query above assuming my edited version adding missing URI delimiters (ie <...>) is  correct ?

What is `BGP`  ?
In what way are the query results incorrect ?
What is the actual revised query wit

[2020-04-29 10:18] emagnus opened #912 "Wrong datatype being persisted when inserting both booleans and integer types"
When inserting triples using SPARQL, I have observed some strange behaviour when triples with booleans and integer datatypes other than xsd:integer are involved. After some experimentation it looks to me like triples can be persisted with the wrong datatype if the following occurs in an INSERT query:
* there is a triple with a boolean value
* there is a triple with an integer value using a datatyp

[2020-04-29 12:21] ocorby commented on #911
I have added the query without filter exists below the  query with filter exists.
When there is no filter exists, the result is the join of the results of the two subqueries and it is correct.
When there is a filter exists, the result is the result of the first subquery only, as if the join with the second subquery were not performed.

[2020-05-04 16:58] HughWilliams commented on #912
I have recreated your first 2 test cases and have reported this issue to development to look into and fix:

[code]

[code]

[2020-05-04 17:12] HughWilliams commented on #911
When I run both queries against the https://data.archives-ouvertes.fr/sparql it returns the same 8 results for both queries, whereas you imply the expected results should be different ?

[code]

[2020-05-04 18:53] ocorby commented on #911
Effectively it works correctly now, it used to fail last week, I don't know why.

[2020-05-06 16:05] ebremer opened #913 "Slow ld_dir_all in isql performance"
I'm trying to bulk upload 867,021 ttl files in virtuoso.  It's taken two hours to register 627,729 of them using ld_dir_all (it's still going).  Should it take this long to just register this many files BEFORE rdf_loader_run() is even executed?  Server has 128GB ram and 64 cores and the buffers/max dirty is set as per user guide.

[2020-05-06 16:08] ebremer commented on #913
using Version 7.2.6-rc1.3230-pthreads as of Apr 21 2020 on Ubuntu 18

[2020-05-06 17:19] imitko commented on #913
Please specify what is the TTL directory file structure? Also what type of disk, I/O stats during ld_dir_all() execution, so we can check what is going on.

[2020-05-06 17:32] ebremer commented on #913
It's a flat directory so ld_dir would have been suffice, but I used ld_dir_all instead.  It's a VM running Ubuntu 18 with a 10G network connection to a NetApp storage system using SATA.  The system is doing nothing else and one core is running at 100% to handle the ttl registration.  I do not see alot of IO activity and appears to be registering at 20-30 files a second.

[2020-05-06 17:36] ebremer commented on #913
a ls -l | wc -l on the aforementioned folder only takes 7 seconds to yield the 867,021 count.

[2020-05-07 12:28] ebremer commented on #913
After a few more hours, I shut virtuoso down, executed "delete from DB.DBA.load_list;" and reloaded the files.  When I ran the ld_dir_all command this time, it took 10 seconds.

[2020-05-07 13:23] ebremer commented on #913
I'm not sure what happened, but I am going to close this issue for now.

[2020-05-07 13:23] #913 closed, assigned to nobody

[2020-05-07 13:30] ebremer opened #914 "Recurring messages in log on parallel bulk load"
The following messages are showing up during a parallel bulk load but data does appear to be loading.  Are these messages something to worry about?  Below on my server specs.

13:16:48 * Monitor: Many lock waits
13:17:04 * Monitor: Locks are held for a long time
13:19:08 * Monitor: Locks are held for a long time
13:19:10 * Monitor: Many lock waits
13:21:11 * Monitor: Many lock waits
13:21:11 * Mon

[2020-05-07 15:32] HughWilliams commented on #914
@ebremer Those messages can generally be ignored as they are more warnings of inevitable  locks occurring when the server is bulk loading under heavy load and platform utilisation.

The key is what sort of load rates are being achieved which can be done by installing and running the [LDMeter](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksGuideLDMeterUtility) scripts which enable the mo

[2020-05-07 15:58] ebremer commented on #914
It looks then as if everything is going as fast as it can.  Unfortunately, the new SSD array has not arrived yet, so, I'm stuck with SATA at the moment.
status(''); gives me:
Database Status:
  File size 782237696, 95488 pages, 28156 free.
  10880000 buffers, 67215 used, 65214 dirty 0 wired down, repl age 0 0 w. io 102 w/crsr.
  Disk Usage: 68 reads avg 0 msec, 0% r 0% w last  41 s, 2500 writes fl

[2020-05-07 17:10] imitko commented on #914
Please use `FDsPerFile` INI files setting, for better performance can be 4. Also If you have more than one HDD can use striping for Database files.

[2020-05-07 17:31] hashimkhanwazir opened #915 "OpenSSL version... configure: error: OpenSSL version 0.9.8e or greater is required"
Hi,
     I am using Ubuntu 19.10 which had latest openSSL. Once I got the error above, I reinstalled an older version of OpenSSL i.e. OpenSSL 0.9.8zh but I could not succeed in installing the virtuoso 7.X. If you please figure out. I am beginner.

[2020-05-07 18:46] ebremer commented on #914
@imitko I saw this setting at http://docs.openlinksw.com/virtuoso/dbadm/.  "This parameter only effects databases that use striping." - which I am not.  Will the 4 value still be of benefit?

[2020-05-07 19:04] pkleef commented on #915
The latest fixes on develop/7 will allow you to build against the OpenSSL 1.1.1c development libraries available on Ubuntu 19.10. I do not recommend building against an old 0.9.8e release as it does not have the modern ciphers and protocols used by modern browsers.

Here are the commands to get a basic version of VOS build on a clean 19.10 VM i installed locally:

First you make sure the necessary

[2020-05-08 12:58] hashimkhanwazir commented on #915
During building, it gave this error. Can you see it please?

** ERROR **: Code generation failed while running the following command:

  /usr/local/bin/gperf -aCDGptr -Kkwd -L ANSI-C -k1,2,3,5,7,$ --ignore-case -Nsparql_lex_hash_kw sparqlwords.gperf

Please fix the above error(s) before continuing.

Please check the INSTALL and README files for package
dependencies, recommended versions and operat

[2020-05-08 13:39] pkleef commented on #915
I installed gperf from the official Ubuntu repository using:

[code]

It looks like the tool you have installed in `/usr/local/bin/gperf` is not working properly on your system.

Can you show me the output of:

[code]

[2020-05-08 13:42] hashimkhanwazir commented on #915
it gives the output:

GNU gperf 2.7.2

On Fri, May 8, 2020 at 3:39 PM Patrick van Kleef <notifications@github.com>
wrote:

--
*Hashim Khan*

[2020-05-08 14:44] hashimkhanwazir commented on #915
When I tried this new path, i.e.  $ /usr/bin/gperf --version  then i got the result as

GNU gperf 3.1
Copyright (C) 1989-2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Written by Douglas C. Schmidt and Bruno Haib

[2020-05-08 16:26] pkleef commented on #915
I recommend you rename or remove the version of gperf in your `/usr/local/bin` directory.

Then you need to re-run the configure command

[code]

which should allow you to then build virtuoso:
[code]

[2020-05-09 01:58] ebremer commented on #914
@imitko  I made the change to FDsPerFile =4 and it made a substantial difference!  I was doing about 3,200 triples/sec before and now the performance has increased to 159,113 triples/sec.  Same machine, 22 loaders.

[2020-05-11 18:47] #914 closed, assigned to nobody

[2020-05-11 18:47] #740 closed, assigned to nobody

[2020-05-13 05:17] jakubklimek opened #916 "Federated SPARQL error when using IRIs"
See this query on the endpoint https://slovník.gov.cz/sparql
[code]
It returns 1 result.

Then, try to run this query on any other endpoint (e.g. https://linked.opendata.cz/sparql):
[code]
or this query
[code]
They return no results. When running the query like this:
[code]
the expected result is there.

What is broken is the comparison of IRIs when they contain unicode characters.

[2020-05-13 05:21] jakubklimek opened #917 "HC001 error when running federated SPARQL on endpoint with IDN URL"
Try to run this query on any Virtuoso endpoint:
[code]
It returns:
[code]
The URL must be punycoded for it to work:
[code]

[2020-05-17 15:46] HughWilliams commented on #916
@jakubklimek: I have been able to make a local recreation of this issue by inserting the following 2 triples in our http://uriburner.com/sparql endpoint:

1. Triple with unicode chars in the IRI:
[code]

2. Triple withOUT unicode chars in the IRI:
[code]

Then running the SPARQL-FED query against a remote SPARQL endpoint, querying for the lRI with the unicode chars in it returns no results
[code]

[2020-05-17 16:03] HughWilliams commented on #917
@jakubklimek I have been able to recreate this issue and reported to development to look into ...

[2020-05-17 17:38] hashimkhanwazir commented on #915
Done, thanks.

[2020-05-17 17:39] #915 closed, assigned to nobody

[2020-05-18 10:30] W1zzard opened #918 "Incorrect hour field length"
Hello.
Get strange error
Virtuoso 22007 Error DT011: Cannot convert T23:00:00 to time : Incorrect hour field length

for request:
[code]

but all OK for 23:00.00  how is that?
Everywhere XML time is with : delimiter
Virtuoso:
Version: 07.20.3230
Build: Feb 4 2020

[2020-05-18 12:57] HughWilliams commented on #918
Where are you running the query from ie via what interface as if I try to run via isql it complains the graph name to insert to is not specified ?

[code]

Also not sure what you mean by `but all OK for 23:00.00 how is that?` ?

Please provide the output of running your queries via the "isql" command line tool so we can specifically see the command being executed and the error ...

[2020-05-31 14:35] momo54 opened #919 "Useless sorting with order by ?"
In the following query:
`
SQL> explain('select TOP 5 * FROM DB.DBA.RDF_QUAD order by P,S,O,G');
`

given that the RDF_QUAD table has a primary key PSOG,
Is it normal that the plan includes a "sort" operator?

[code]

I'm a bit surprised as the following query:

`explain ('select TOP 5 * FROM DB.DBA.RDF_QUAD where P=#i1 order by P,S,O,G');`

does not need the sort operator
[code]

[2020-05-31 14:36] momo54 commented on #919
OpenLink Virtuoso Interactive SQL (Virtuoso)
Version 07.20.3229 as of Aug 15 2018

[2020-06-04 09:37] ltmartin commented on #274
Hi, I'm trying to set up a local Wikidata instance with the dump available at https://dumps.wikimedia.org/wikidatawiki/entities/latest-all.ttl.gz using Virtuoso Open Source version 7.2.5. I'm using the bulk loader to do that. However, I get a "RDFGE: RDF box with a geometry RDF type and a non-geometry content" error while doing that. Does anyone knows what is wrong? Please, find the screenshot of

[2020-06-04 15:24] rfm-targa commented on #299
Greetings. I've also encountered this issue while inserting data. It does seem to happen during checkpoint.
I am inserting data through the SPARQL endpoint. I use the Docker container with `Virtuoso 7.2 (virtuoso-opensource-7:7.2)`, `Python 3.7`, `requests 2.23.0`  and `SPARQLWrapper 1.8.4`. The process that inserts the data does not abort due to this error, but the data that it tries to insert du

[2020-06-09 13:06] leilafedd opened #920 "configure: error: OpenSSL version 1.1.0 or greater is currently not supported"
Hello,
i am trying to install virtuoso 7.2.5.1 from github source (since no debian packages are available for version 7).  for that i follow you [guide for Building from Upstream Source](http://vos.openlinksw.com/owiki/wiki/VOS/VOSDebianNotes).
when running `./configure` ..., I get this error message:
`configure: error: OpenSSL version 1.1.0 or greater is currently not supported`
based on [README.

[2020-06-09 17:37] leilafedd commented on #920
Hi,
i reinstalled OpenSSL v1.0.2p and now i get this error :
`checking usability of the OpenSSL header files and library in /usr... configure: error: bad. Check config.log for details`

Could you please help me figuring this out (i try to install on Debian GNU/Linux 10)?

[2020-06-10 10:29] leilafedd commented on #920
Hello,
running `sudo apt-get install libssl-dev` also does not help (already installed)
config.log error snippet:

***********************************************************
configure:13614: checking usability of the OpenSSL header files and library in /usr
configure:13666: gcc -o conftest -g -O2  -DOPENSSL_NO_KRB5   conftest.c  -lssl -lcrypto >&5
In file included from /usr/include/openssl/evp.h:

[2020-06-10 17:11] HughWilliams commented on #920
Please refer to issue #915 which details how to build Virtuoso with OpenSSL 1.1+  or other versions ...

[2020-06-12 17:43] leilafedd commented on #920
I switched to `OpenSSL 1.1.1c` , cloned the git repo : `git clone https://github.com/openlink/virtuoso-opensource.git` and followed the steps in issue #915 .
It has worked !
Thank you for your support .

[2020-06-12 17:43] #920 closed, assigned to nobody

[2020-06-24 07:35] tfrancart opened #921 "SPARQL with VALUES clause after WHERE does not work (generated from a SERVICE clause)"
See answer to [`SERVICE` against Virtuoso DBPedia Gives “Virtuoso S0022 Error SQ200 : No Column”](https://stackoverflow.com/questions/61724903/service-against-virtuoso-dbpedia-gives-virtuoso-s0022-error-sq200-no-column/62519087#62519087) on StackOveflow.

I run a SPARQL query in a local GraphDB triplestore that contains a `SERVICE` clause that goes to DBPedia Virtuoso. The query basically fetches

[2020-06-24 09:17] HughWilliams commented on #921
This issue has already been reported to development to look into and fix based on [the StackOverflow discussion comments from Kingsley](https://stackoverflow.com/questions/61724903/service-against-virtuoso-dbpedia-gives-virtuoso-s0022-error-sq200-no-column/62519087#62519087) ...

[2020-06-30 08:11] JervenBolleman opened #922 "Crash of virtuoso opensource with "in gen_qsort, items being sorted look to have changed during sort, result will not be in order""
[code]
Leads to a hard crash.
This first happend after I changed the settings to have more than one FD per segment.

I have reproducer (big query with a lot of value clauses on UniProt data).

[2020-06-30 09:35] HughWilliams commented on #922
@JervenBolleman:

What is the version number and gitid of the Virtuoso binary being use (`virtuoso -?` output)?

What is the `FD per segment` setting that you changed? Is it the `FDsPerFile` INI file param and what was it set to?

Is a core file generated (with `ulimit -c unlimited` set), and if so can a `gdb` stack trace be obtained?

What is the query being executed and its [query execution plan

[2020-06-30 09:47] JervenBolleman commented on #922
Version =
[code]
Should be build from baeb3db06e75ab90902b2b9e0ddcc42cebbef898

FDsPerFile was changed from 1 to 9

@HughWilliams , will attach query plan and query after seeing if have core dump

Dmesg part
[code]

[2020-06-30 13:46] HughWilliams commented on #922
@JervenBolleman: On what basis was it decided to increase the `FDsPerFile` param from the default 1 to 9 ? In speaking to development they advise not to set this above a value of 4, as the higher the value the more files the system will open to process requests, which can result in the system number of open files being exhausted.

[2020-06-30 14:31] JervenBolleman commented on #922
@HughWilliams experimental value that gave better results when loading data and doing our pre-computed stats queries.
It is part of the auto tuning setup I have, selects on FDsPerFile per 1TB SSD disk capacity.

[2020-07-01 23:00] JervenBolleman commented on #922
query plan out of the query.log.
[code]
[code]

[2020-07-02 21:55] HughWilliams commented on #922
@JervenBolleman: Is a `core` file created when the crash occurs such that a `gdb` stack trace could be obtained?

Does the crash occur if `FDsPerFile` is set back to `1` or `4`?

[2020-07-02 22:04] JervenBolleman commented on #922
It hasn't happened again after setting `FDsPerFile` back to 1. We did not save a core dump :( sorry.

[2020-07-12 16:54] ledsoft commented on #249
Is there any progress on this. Can I help somehow? Thanks

[2020-07-31 17:14] dgenin commented on #663
`./confiugre --disable-opensll` results in

[code]

[2020-07-31 17:16] dgenin commented on #663
`./configure --disable-openssl` in `develop/7` results in

[code]

[2020-08-03 13:20] HughWilliams commented on #663
@dgenin: Being on the `develop/7` branch I presume you cloned the current git repository ?

On macOS the

[code]

What is the complete output from your build attempt ?

[2020-08-04 20:31] dgenin commented on #663
Cloned from here https://git.code.sf.net/p/virtuoso/virtuoso-opensource.

I'm now getting a different error even though the source tree files appear to be unmodified. I did make a bunch of hacks in my attempts to get compilation to go through, such as adding `tidy.c` and `html.h` that were not in the repo.
[code]

[2020-08-13 14:35] ebremer opened #923 "Virtuoso crashes on startup when configuring for 67% usage on 1TB RAM server"
When adjusting  `NumberOfBuffers` (2/3 of System RAM) and `MaxDirtyBuffers` (3/4 of `NumberOfBuffers`) and using 8192 bytes per buffer, a new `virtuoso` startup will crash out before completing startup.  Adjusting to 50% instead of 67% worked.  The server is dedicated to Virtuoso

* Version 07.20.3229-pthreads for Linux as of May 26 2020
* Azure Ubuntu 18
* 1TB RAM, 64 cores

[2020-08-13 15:03] ebremer commented on #923
Crashed after a few minutes when trying to load 7 billion triples with 10 loaders

[2020-08-13 17:23] HughWilliams commented on #923
@ebremer: Can you please try the suggestion in [git issue #742](https://github.com/openlink/virtuoso-opensource/issues/742#issuecomment-528871495) to work around this crash? It sounds as if you may be hitting the same problem ...

[2020-08-15 21:14] ebremer commented on #923
Seems to be the same problem as I can start it up with 67% of the 1TB for buffers.  Thanks @HughWilliams !

[2020-08-15 21:14] #923 closed, assigned to nobody

[2020-08-17 17:29] HughWilliams commented on #923
Glad to hear that resolved the problem, we are seeking to make a permanent fix of this issue ...

[2020-08-18 11:14] ebremer opened #924 "non-counting Select queries running far far far slower or never completing at all than equivalent counting Select"
Large triple store of 8,303,803,147 of PubMed publication data.  Server 64 cores and 1TB RAM on Azure with Ubuntu 18. Latest release of Virtuoso 7.

This query runs in about 30 seconds and yields a count of 8:
[code]

This query has been running for 25 minutes so far.
[code]
Why is query #2 running so slow?  I have variations of this that are more complicated, but this is the simplest.

[2020-08-18 11:46] ebremer commented on #924
[code]

query #2 appears to have "died"  CPU went from 100% and dropped to 0%.  From browser point-of-view, it looks like it is still running.

[code]

[2020-08-18 12:53] ebremer commented on #924
I ran the same query from isql and it returned results withing 300 seconds.  I'm not sure why the web interface is failing.

[2020-08-18 14:24] ebremer commented on #924
I increased timeouts in firefox using --> `about:config`
increased default values on the following to match longest running query time:
[code]

Virtuoso now returning results in firefox for above query in same time-frame as isql.

[2020-08-18 15:54] HughWilliams commented on #924
@ebremer: Can you please provide the [SPARQL query compilation report](https://community.openlinksw.com/t/generate-sparql-query-compilation-report-from-a-virtuoso-sparql-endpoint/1046)s for both queries for analysis as to why the second none-count query runs so slow, as detailed in the documentation link ?

After bulk loading your datasets, was the Virtuoso server restarted or the scheduler reacti

[2020-08-18 16:05] ebremer commented on #924
`scheduler_interval(10);` throws an error:
[code]

[2020-08-18 16:08] ebremer commented on #924
Query Number 1
=================================================

[code]

QUERY Number 2
=========================
[code]

[2020-08-18 16:19] HughWilliams commented on #924
@ebremer: The `scheduler_interval()` function has existing in Virtuoso for as long as I have worked with it, which is over 20 yrs now, and works with my local Virtuoso 7.2 open source build:

[code]
my version and gitid being:
[code]

What is your version and gitid ?

[2020-08-18 18:39] ebremer commented on #924
[code]

[2020-08-18 18:50] HughWilliams commented on #924
@ebremer: I stand corrected, as although `checkpoint_interval()` has always existed, the `scheduler_interval()` function was added in 2019, thus I can only assume you are running a binary built from a source archive from before 2019 (possible the current `stable/7`) branch which is why I wanted the gitid from the `virtuoso-t -?` output which would confirm this, thus can you please provide this out

[2020-08-18 19:26] ebremer commented on #924
[code]

I will build the `develop/7` branch if you are asserting it is stable enough for production.

[2020-08-19 10:37] HughWilliams commented on #924
@ebremer: Your gitid is `000000` thus did you download a zip or tar archive of the `stable/7` branch from the git repo rather then cloning it, as these would not include the files needed to generate the gitid, thus we always recommend cloning the git repo which will then result in the necessary files being generated.

So we would recommend cloning the `develop/7` branch which is the default, and b

[2020-08-19 12:26] ebremer commented on #924
Yes, I used the zip file for 7.2.5.1 release.  I just rebuilt both of my triple stores and built them on `develop/7` and applied fix from #742 which applied also to my other issue of #923 .  I had tested `develop/7` without this fix and my server crashed on startup but works fine now with `develop/7` with fix from #742 .  I will re-test and let you know what happens.  Thank you for your help!

[2020-08-27 09:00] jakubklimek opened #925 "SPARQL results in JSON-LD are missing some language tags"
Running the SPARQL query below on https://pod-test.mvcr.gov.cz/sparql (ec28e255a7182a136301e42120396ec1a59ede2d), some literals are returned with language tags, and some without, when JSON-LD output is requested. Running the same query and requesting results as Turtle returns the data correctly, with language tags.

[code]

[code]

[code]

[2020-08-28 12:02] HughWilliams commented on #925
@jakubklimek: We are looking into this ...

[2020-09-01 03:28] inutano opened #926 "Loading turtle data and QName with special characters"
Hi, I'm trying to load many turtle files into virtuoso using the Docker container [openlink/virtuoso-opensource-7:7.2.6-r3-g1b16668](https://hub.docker.com/layers/openlink/virtuoso-opensource-7/7.2.6-r3-g1b16668/images/sha256-25f597486c3f817954658abbd9ccb65b2e862fbb3562916e78f4c1c714f1650d?context=explore).

Some data contains URI with QName including special characters such as `#` or `+`. Let's s

[2020-09-01 13:19] openlink commented on #925
Fixed in develop/7 branch

[2020-09-01 13:56] jakubklimek commented on #925
Verified.

[2020-09-01 13:56] #925 closed, assigned to nobody

[2020-09-01 16:23] HughWilliams commented on #926
Have you actually tried loading the dataset files containing these specific characters with the [RDF bulk loader](http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader), as it passes bit mask `+255` to the `flags` param of the `TTLP` function which thus includes the  option `1` to `128` including `16` and thus will load such datasets ...

[2020-09-02 02:54] inutano commented on #926
Thank you @HughWilliams ! I'm sorry that I've misunderstood my case. The turtle was actually escaped by backslashes like:

[code]

My script did output this because the turtle syntax won't be correct without backslashes (I assume). And then I loaded this data and found that the loaded data includes backslashes, while I've expected the loader removes them.

So if I understood correctly, the RDF bul

[2020-09-02 14:54] HughWilliams commented on #926
You said the dataset loaded with `DB.DBA.TTLP_MT()` with flag param `16` , in which case it should also load with the RDF bulk loader which passes the flag by default.

So why are you adding back slashes etc which are unnecessary ?

[2020-09-02 15:04] inutano commented on #926
My pipeline has a process to validate turtle files before loading them to Virtuoso, and the process does not pass with the data without backslashes before the special characters. That's the reason, but I'd be happy to ignore it. Thank you for your comment to clarify the case!

[2020-09-03 11:31] roelj commented on #421
Digging up an old issue..

I am wondering how the encoding actually works. I have a value in which a single `ö` is turned into `%FFC3%FFB6`.
The command I used is:
[code]

Not using the `csv=on` produces the `ö` just fine:
[code]

[2020-09-03 22:09] HughWilliams commented on #421
The "isql" `SET CSV_RFC4180 ON;` command is the correct way to enable CSV results output:

[code]

[2020-09-04 07:18] roelj commented on #421
That doesn't seem to affect the encoding:
[code]

Produces the same `%FFC3%FFB6`.

[2020-09-04 11:34] HughWilliams commented on #421
We shall look into this encoding issue in "isql" ...

[2020-09-04 11:44] roelj commented on #421
Thanks a lot!

Perhaps an easy way to avoid breaking anything is to introduce a `no_encode` option in `binsrc/tests/isql.c` and use `field_print_normal` in `field_print_csv_rfc4180` when `no_encode` is set to `on`.

If you'd like I could prepare a patch that implements this.

[2020-09-04 11:51] HughWilliams commented on #421
@roelj: patch contributions are always welcomed ...

[2020-09-08 07:33] roelj commented on #421
Just letting you know that my initial idea does not seem to have any effect: https://github.com/roelj/virtuoso-opensource/commit/4908939dab82bde9bb4f60592d38a047f7220a2a. So I'm working on a second version of the patch.

[2020-09-23 17:57] #896 closed, assigned to iv-an-ru

[2020-09-25 12:26] thomasdegroot18 opened #927 "Arithmetic expression fails to return result"
I could not find it this bug has already been reported, but I noticed some weird behaviour when using Arithmetic expressions in a SPARQL query. Specifically with respect to the `-`. Where the minus Symbol is used in conjunction with a multiplication symbol, the results are not shown.

The following minimal working example returned no results for `?p` where I was expecting results for `?p`.  Weirdl

[2020-09-25 22:31] HughWilliams commented on #927
This issue has been recreated:

[code]
and reported to development to look into and fix ...

[2020-09-29 18:19] BorderCloud commented on #803
@HughWilliams How disable this behaviour in the config ? or how uninstall ?
Thanks

[2020-10-01 13:42] omare13 opened #928 "Inserting RDF data via SPARQL Update results in Error 22023 : http_auth_verify needs a string as argument 4"
Hello,

I've been updating my virtuoso instance with RDF data by using SPARQL Update protocol. I succeeded inserting some triples via `INSERT` queries (requests) posted to `host:port/sparql-auth` with appropriate user/pass and rights. However, for some reason, a huge amount of these queries resulted in the following error from server:

**Error 22023
SR014: Function http_auth_verify needs a string

[2020-10-03 15:54] HughWilliams commented on #928
What is the Virtuoso version used? Please provide the output of running the command `virtuoso-t -?` which will provide details on the binary in use including version, build date, and gitid details?

Do you have examples of queries that result in the error, and does it consistently occur with the same queries?

Also provide a copy of the `virtuoso.log` file for review.

[2020-10-05 11:36] meberl opened #929 "Wrong PropertyPath behaviour on fresh instance"
When executing a query containing a property path on a just initialized instance of virtuoso (Version 07.20.3229-pthreads for Linux as of Aug 21 2019) the wrong results are returned. After a restart the results are correct.

[code]

Actual result of last query:
[code]

Expected result of last query:
[code]

Strangely enough I only have this issue with the `subClassOf*` property path. The following

[2020-10-06 12:27] HughWilliams commented on #929
@meberl I am struggling to understand your problem, what is you expectation, is it that would both delete queries you expect 11 triples to be removed from the respective graphs, whereas for the `<http://abc.io/test/ontology/classes>` graph only 2 triples are being deleted ?

[2020-10-06 12:52] meberl commented on #929
I'm sorry for the typo, you are right and I'm expecting 11 triples to be deleted for both queries. For the `<http://abc.io/test/ontology/classes>` graph only two triples are actually removed when the instances is running for the first time.
After a restart the query behaves as it should.

[2020-10-06 20:18] HughWilliams commented on #929
What do you mean by "only two triples are actually removed when the instances is running for the first time", as that implied the first time you run the query only 2 triples are removed, which would then be the case after restarting the server and run the query for the "first" time ???

Anyway, I am not able to recreate this problem, after running the query multiple times, stopping and restarting

[2020-10-07 08:06] meberl commented on #929
Thank you for trying to verify this issue. I was running the latest stable release (Version 7.2.5.3229-pthreads as of Aug 21 2019).
I could also verify that the latest version of the develop/7 branch (Version 7.2.6-rc1.3230-pthreads as of Oct  7 2020) works.
Do you know when the stable release for 7.2.6 is scheduled?

[2020-10-07 08:06] #929 closed, assigned to nobody

[2020-10-08 11:01] HughWilliams commented on #929
Glad to hear the develop/7 branch does not have the problem, we are looking to make a new stable/7 branch release based on this at the end of this month ...

[2020-10-09 17:51] ebremer opened #930 "build freezing at VAD Sticker vad_fs.xml creation... VAD Sticker vad_dav.xml creation..."
server -  64 cores.  1TB RAM
Ubuntu 20 all updates

fresh clone of `develop/7` as of today

everything smooth until:
[code]
it's been hanging there for 20 minutes.....

[2020-10-12 11:34] timhaynesopenlink commented on #930
Hi
By far the most common reason for this is another virtuoso process running
somewhere. Kill it and redo the build.

HTH,

~Tim

[2020-10-12 13:34] ebremer commented on #930
You were correct.  Thank you!

[2020-10-12 13:34] #930 closed, assigned to nobody

[2020-10-14 12:16] oibaf commented on #888
in virtuoso.ini
[code]
import the service description triples in a graph named
[code]
now /sparql returns the triples in the graph (requires service restart)

[2020-10-22 17:06] TallTed commented on #299
@rfm-targa -- Based on your description of your workflow (which sounds like you insert data periodically but not constantly), I wonder whether it would make more sense overall for you to set the `CheckpointInterval = 0`, and programmatically execute a `checkpoint()` through an ODBC connection from Python after your bulk triple insert(s)...?

[2020-10-22 17:28] TallTed commented on #249
@HughWilliams @openlink -- Where does this stand?

[2020-10-22 18:07] TallTed commented on #926
@HughWilliams --

The backslashes *are* necessary for [valid Turtle prefixed names](https://www.w3.org/TR/turtle/#grammar-production-PN_LOCAL). It's fine that Virtuoso is forgiving and can handle the invalid Turtle, but Virtuoso should *also* handle the *valid* Turtle -- i.e., with `\#`, `\+`, etc.

[2020-10-22 21:38] rfm-targa commented on #299
Thank you for the response @TallTed. That seems like a good option, we will try to implement it.

[2020-10-26 13:22] anatta8 opened #932 "sparql slow if more object value specified"
Hi , I am using Virtuoso 7 open source edition,

This query below is fast, it returns the result instantly,

[code]
This query is so slow, took 10 seconds for the result, the only difference is the `?catId` is replaced with literal value `1`. I thought this should be faster because it's more specific.

[code]
Why is it so? I am still new to SPARQL and triplestore, seems like I have to do some inde

[2020-10-26 13:29] HughWilliams commented on #932
See the [response to this issue on the OpenLink Community Forum](https://community.openlinksw.com/t/sparql-slow-if-more-object-value-specified/2064/2) ... Please post all further questions there ...

[2020-10-27 01:35] johnwick42n opened #933 "Is there a way to get a list of triples (or subgraph) that can validate an ASK query"
I'm looking to generate a subgraph which the query engine traverses through to validate an ASK query.

Example Query:
[code]
Result = `true`

List of triples that form a solution:
`:personA :isSonOf :personB .`
`:personB :isSisterOf :personC .`
`:personC :isCousinOf :personD .`
`:personD :isCousinOf :personZ .`

Is there a way I can get that information? I'm not assuming it would be an easy task t

[2020-10-27 11:14] timhaynesopenlink commented on #933
On Tue, 27 Oct 2020 at 01:35, johnwick42n <notifications@github.com> wrote:

Isn't that just a SELECT or CONSTRUCT?

~Tim
--
Tim Haynes
Product Development Consultant
OpenLink Software
<http://www.openlinksw.com/>
<http://twitter.com/openlink>

[2020-10-27 16:32] johnwick42n commented on #933
What do you think the SELECT query would look like that gives me the following triples? :

`:personA :isSonOf :personB .`
`:personB :isSisterOf :personC .`
`:personC :isCousinOf :personD .`
`:personD :isCousinOf :personZ .`

Note: I do not know the number of nodes between :personA and :personZ (and the properties connecting them) exactly. All I have is `:personA :isSonOf/(:isBrotherOf|:isSisterOf|

[2020-10-27 16:51] timhaynesopenlink commented on #933
On Tue, 27 Oct 2020 at 16:32, johnwick42n <notifications@github.com> wrote:

You could try something like this - add an extra generic pattern and use
the pattern above to refine it:

select distinct ?s ?p ?people {
 ?s ?p ?people .
    ?s :isSonOf/(:isBrotherOf|:isSisterOf|:isCousinOf)+ ?people .
    :personA :isSonOf/(:isBrotherOf|:isSisterOf|:isCousinOf)+ :personZ .
    :personA ?p :people .
}}

[2020-10-27 18:02] johnwick42n commented on #933
Yes, I tried. thanks for the quick reply though. 😄

it by those that are pinned on :personA or :personZ. The point of ?people
is to get a list of everyone who's on the end of such a property-path,
somewhere.

Good though! Trying to look at all elements connected to `:personA` and then looking at all the elements connected to those elements, eventually reaching `:personZ` (meanwhile, making sure th

[2020-10-28 11:50] yoadey commented on #728
+1

[2020-10-31 21:05] jeremiehuchet commented on #249
@openlink @HughWilliams @smalinin @pkleef,
Hope you won't mind me publishing virtuoso driver to a [public maven repository](https://bintray.com/jeremiehuchet/virtuoso-drivers/virtuoso-jdbc/).
Please let me know if there is any licensing issue. I took care of shipping the GPL v2 and your copying notice in the JAR files.

I host a copy of the [JDBC generated source files](https://github.com/jeremieh

[2020-11-02 13:00] openlink commented on #249
There should not be a licensing issue with this approach.

OpenLink is working on getting all our providers registered on maven, however you seem to use a `com.openlink` groupID which may be a problem. Once we finalize our providers for publication, we would like to use a centralized location, so users can be sure they use the latest bugfix releases for all of our JDBC drivers as well as Jena and

[2020-11-07 15:19] jeremiehuchet commented on #249
I renamed the artifacts' groupId to `unofficial.com.openlink` to make it clear for users they are not using libraries built officially.

[2020-11-12 17:54] rapw3k opened #934 "The length of generated SQL text has exceeded 10000 lines of code + transactions"
Hi

Our python application (using `rdflib`) produces multiple triples, which should be loaded into virtuoso.

The triples are grouped in graphs, and thus each graph can have multiple triples.

One transaction is composed of several graphs, hence, if all the triples were loaded successfully the transaction is a success, otherwise, we should rollback the loaded triples.

1. First issue is related to

[2020-11-14 16:05] HughWilliams commented on #934
The "SP031: SPARQL: Internal error: The length of generated SQL text has exceeded 10000 lines of code" means that when the `SPARQL INSERT` queries are transformed to SQL for execution in Virtuoso, they are too large and exceeding a Virtuoso limit of 10000 for the size of a SQL query, and thus need to be reduced in size.

More fundamentally, this is an issue of Transaction Semantics Fidelity, i.e.,

[2020-12-03 16:16] TallTed commented on #295
@pkleef, @IvanMikhailov, @kidehen, @openlink, @HughWilliams --

Any update on this issue?

[2020-12-16 08:43] FerrariAndrea opened #935 "SELECT query with VALUES, BIND, and EXISTS clauses doesn't always work"
Hi,
I need to use query like this:

[code]

This query should return `?x` as boolean, which is true if the quad exists in the KB, and return `?i` as integer used as an index.

The query seam has some problem, sometimes the result of `?x` is not correct, I have found an example to show:

On a void KB we can populate it through this update:
`INSERT DATA { GRAPH <g> { <s> <p> <o>. <s1> <p1> <o1>. <s1

[2020-12-16 13:05] HughWilliams commented on #935
Can you provide the text of the queries being run, rather than screenshots? Using the Virtuoso "isql" command line tool is also preferable as then you can simply copy and paste query and results as verbatim text ...

I would also suggest repeating your tests against the Virtuoso [`develop/7` branch](https://github.com/openlink/virtuoso-opensource/tree/develop/7) with all the latest updates/fixes .

[2020-12-16 18:37] TallTed commented on #274
@ltmartin

Some causes of the reported error text were resolved in code that was merged after v7.2.5.

Is it possible for you to reattempt this data load with a Virtuoso you build from the [latest `develop/7` branch](https://github.com/openlink/virtuoso-opensource/tree/develop/7) (recommended)?

Or a pre-built-binary of the [soft-released 7.2.6-dev](https://sourceforge.net/projects/virtuoso/files/

[2020-12-17 09:03] FerrariAndrea commented on #935
I don't find  `isql` tool, I m using the web site 'http://localhost:8890/sparql/' to do this test, I hope the results as json goes well anyway.

SPARQL example to replicate the mistake:

1) initial query for check KB state in graph <g> (it is void)
[code]
   Json result:
[code]

2) Update for popolate graph `<g>`
[code]

3) check state:
[code]
   Json result:
[code]

4) if I request now the query,

[2020-12-17 09:51] FerrariAndrea commented on #935
I m using the docker version on Windows, and it does not want to update at the last one.

After removing the image with `docker rmi ID` i run these commands:
[code]

But in the console of Virtuoso I see any way the older version:
[code]

Maybe is just the tag of the version which is wrong?

[2020-12-27 01:19] IS4Code opened #936 "Duration gets converted to months"
Uploading this triple:
[code]
The literal, representing 18 years and 3 months, gets *converted* when added via Quad Store Upload to `"219"^^xsd:duration`, which is the same duration but in months. This doesn't seem correct to me, and it doesn't happen for other datatypes. How do I turn it off?

Version 07.20.3230

[2020-12-27 01:33] IS4Code opened #937 "Faceted browser doesn't display some datatypes"
The describe service seems to turn most datatypes like `xsd:unsignedByte` or even `xsd:duration` into just `xsd:integer`, and the rest, like `rdf:HTML` doesn't even display, when browsing the properties of resources. I can however confirm with SPARQL that the original datatypes are there.

Version 07.20.3230

[2020-12-27 16:16] akouvivien opened #938 "import owl into virtuoso openlink universal server"
How to import an owl ontology into virtuoso openlink universal server 7.2

[2020-12-28 16:32] TallTed commented on #938
The most common method is to use the [Bulk Loader](http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader).

If that doesn't serve your purpose, please start a thread on our Community Forum to get assistance.  Issues here on Github are best confined to bug reports and the like.

Please do let us know if the Bulk Loader is sufficient to resolve your question.

[2020-12-28 17:12] TallTed commented on #937
Please ensure that all your VAD packages are up to date.  Prebuilt binaries from Dec 2018 are [here](http://download3.openlinksw.com/index.html?prefix=uda/vad-vos-packages/7.2/).

At the moment, you'd be better off building your own VADs (along with the latest Virtuoso binary!) from the latest code in [the `develop/7` branch](https://github.com/openlink/virtuoso-opensource/commits/develop/7).

If

[2020-12-28 17:14] TallTed commented on #936
@pkleef @HughWilliams @IvanMikhailov @iv-an-ru @openlink

I've quickly recreated the issue on Open Source Edition `07.20.3230` (git head b006ccd) built 2018-12-18 ([query form](https://vos.demo.openlinksw.com/sparql?default-graph-uri=&qtxt=prefix+ex%3A+%3Chttp%3A%2F%2Fexample.org%2F%3E+%0D%0Aprefix+xsd%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23%3E+%0D%0A%0D%0ASELECT+%28+%22P18Y3M%22%5E%5E

[2020-12-29 08:35] HughWilliams commented on #935
The Virtuoso [`isql`](http://docs.openlinksw.com/virtuoso/virtuoso_clients_isql/) command line tool is a standard program shipped with every Virtuoso server or client installation.

'http://localhost:8890/sparql/' is not a web site; it is the Virtuoso default [SPARQL endpoint](https://medium.com/virtuoso-blog/what-is-a-virtuoso-sparql-endpoint-and-why-is-it-important-5244df738a3e) for SPARQL query

[2020-12-29 09:33] FerrariAndrea commented on #935
Thx,
Now i'm using `plain version 1.1.3230 from OpenLink Software`.
I found the ISQL and I repeat all the SPARQL update and query of this topic. with the same results and same issues.
( I don t found any Copy buttons in ISQL, I just select and then copied the HTML )

1) `SPARQL SELECT * { GRAPH <g> { ?s ?p ?o }}`
[code]

2) SPARQL INSERT DATA { GRAPH <g> { <s1> <p1> <o1> . <s2> <p2> "literal" .}}

[2020-12-29 10:34] IS4Code commented on #937
I was using a Docker package, but I will try to compile it. In the meantime, I can provide an example however: [incorrect](https://albion.data.is4.site/describe/?url=http%3A%2F%2Falbion.data.is4.site%2Flang%2FTerran), [correct](https://albion.data.is4.site/sparql?query=define%20sql%3Adescribe-mode%20%22CBD%22%20%20DESCRIBE%20%3Chttp%3A%2F%2Falbion.data.is4.site%2Flang%2FTerran%3E&output=text%2Fpla

[2020-12-29 13:00] HughWilliams commented on #936
@TallTed The issue is not quite the same between VOS and VEE as the former returns "219" and the latter "P219M". And "P219M" is a valid [xsd:duration](http://www.datypic.com/sc/xsd/t-xsd_duration.html) it seems, even if not in exactly the same form loaded. So question for @IvanMikhailov is if VEE value is as intended and if it can be ported to VOS ...

[2020-12-29 18:22] HughWilliams commented on #935
You seem to now be using the Conductor iSQL UI interface which is not the "isql" command line tool, which requires you connect to the docker image hosting Virtuoso and physically run the `isql` command from the Linux shell ...

Anyway, step 2 in your response is missing most of the insert data and fails to run, so I used the "insert" query from your previous post to insert the 2 triples resulting

[2020-12-29 18:31] TallTed commented on #936
@HughWilliams /cc @IvanMikhailov

As you say, _"P219M" is a valid `xsd:duration`_ and `"P219M"^^xsd:duration` is indeed _**equivalent**_ to `"P18Y3M"^^xsd:duration`, but the two values are not **_equal_**, and I do not believe that Virtuoso should be changing data values in this way.

So, I see two issues.

1. VEE (now v8.3) should not be changing the data value from `"P18Y3M"^^xsd:duration` to `"

[2021-01-02 09:56] FerrariAndrea commented on #935
Thank you so much for your patience.

Yes, I confirm.

[2021-01-04 18:27] openlink commented on #938
You can either use the [Bulk Loader](http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader) or the [`RDF_LOAD_RDFXML()`](http://docs.openlinksw.com/virtuoso/fn_rdf_load_rdfxml/) function.

[2021-01-04 18:27] #938 closed, assigned to nobody

[2021-01-11 16:04] MPvHarmelen opened #939 "Off-by-one error in dict_put_impl"
There is an off-by-one error in this if-statement:

https://github.com/openlink/virtuoso-opensource/blob/4bdeace890721128d285417d67447d19024c00bc/libsrc/Wi/xslt.c#L3589-L3591

Substituting `size `for `inserts - deletions`, this statement reads:

[code]

which means that the first time an insertion is skipped, `size` is strictly larger than `ht_dict_max_entries`, while `size` should only be allowed

[2021-01-13 11:48] KonradHoeffner commented on #761
I had the same problem, I assume it happened because of a system update under Ubuntu 20.04, which added a reference to the configuration file which does not exist. I got it to run again by commenting out the load path and all the Loadn statements, however I didn't actually need the plugins so that was an easy fix for me. I don't know how to fix it, if the plugins are actually necessary, as I didn'

[2021-01-13 13:24] p1d1d1 commented on #456
This is still not fixed!

[2021-01-13 15:07] MPvHarmelen commented on #939
Unfortunately it turned out not to be that easy. The off-by-one error is a fact, but wasn't causing the `x-sparql-maxrows` header not being sent. Instead, the results of a construct query were wrapped inside two one-element lists. See b6a89c7c6136dabd0126afefb47a3f678da2d178.

[2021-01-13 15:55] TallTed commented on #761
@KonradHoeffner --

It's worth noting that Virtuoso 7.1 is several years out of date, as it shipped in February 2014, and was replaced by 7.2.x in February 2015.

The Open Source Edition is up to 7.2.6+, and the Commercial/Enterprise Edition is up to 8.3+.

Whatever path you followed to get v7.1 should be adjusted to get a more recent, if not the most current, version.

[2021-01-22 06:26] nguyenlamlll opened #941 "How to change root path of the whole Virtuoso?"
Hi everyone,
I'm using this image to spin up a Virtuoso instance ([openlink/virtuoso-opensource-7](https://hub.docker.com/r/openlink/virtuoso-opensource-7)). It runs great and I can access Virtuoso at http://localhost:8890/.

However, my scenario is to host Virtuoso at a subpath (e.g.: my-website.com/virtuoso) using nginx (nginx ingress controller in Kubernetes). The images, css, js are referenced

[2021-01-23 00:06] HughWilliams commented on #941
As Virtuoso has its own internal HTTP server, applications like the Conductor and Faceted Browser were written to be protocol (`http`/`https`) and `host:port` agnostic, but not `path` agnostic, so they rely on constructions like <a href=“/fct/”>Faceted Browser</a> to work.

When using a reverse proxy, this is normally not an issue, since it just maps `http://cname/path/page` to `http://backend1:po

[2021-01-25 18:22] TallTed commented on #937
I'm sorry; there's a lot of data on both of your example pages, and I can't quickly see the issue you're describing. Can you point me more explicitly to where the issue is on the "incorrect" page? I trust this will also point me more explicitly to where the issue is not, on the "correct" page.

[2021-01-25 18:36] IS4Code commented on #937
Sorry, here it is:
![image](https://user-images.githubusercontent.com/1337208/105749985-74631f00-5f44-11eb-8b7f-b0e845aa612f.png)
[code]
While in the SPARQL result the value is `"0"^^<http://www.w3.org/2001/XMLSchema#unsignedByte>`.

[2021-01-25 21:16] TallTed commented on #937
@pkleef @timhaynesopenlink @HughWilliams

Any thoughts?

[2021-01-26 10:05] jakubklimek opened #942 "Variable name cannot start with ú"
When a variable name starts with ú, e.g.
[code]
On https://data.gov.cz/sparql I get
[code]
and on https://dbpedia.org/sparql I get
[code]

[2021-01-26 11:03] jakubklimek opened #943 "Virtuoso QPINT Error"
I am getting:
`Virtuoso QPINT Error QPINT: Internal, support:  Forgotten copy of set no dc for qp fref preset.  To work around, set enable_qp = 1 with __dbf_set to disable query parallelization`
when I query Virtuoso endpoints (https://github.com/openlink/virtuoso-opensource/commit/928feb5ef4db662131996e10d311f388cdfc99bb) with the following query (which seems valid):
[code]
EDIT: I replaced the a

[2021-01-26 11:47] timhaynesopenlink commented on #942
On Tue, 26 Jan 2021 at 10:05, Jakub Klímek <notifications@github.com> wrote:

Hi,
The way I read the SPARQL spec, this looks like a bug. Have raised a bug
internally for tracking.

Cheers,

~Tim
--
Tim Haynes
Product Development Consultant
OpenLink Software
<http://www.openlinksw.com/>
<http://twitter.com/openlink>

[2021-01-26 15:26] TallTed commented on #943
@jakubklimek - You've got an extra `}` on your test query, here.

@pkleef - Please take a look at this.

[2021-01-26 15:37] jakubklimek opened #944 "Error in handling of Unicode characters with SPARQL CONCAT function"
There is an issue with handling of Unicode characters with combination of SPARQL `CONCAT` and `ENCODE_FOR_URI` functions.

When used like this: `BIND(CONCAT("https://c/é/", ENCODE_FOR_URI("Á")) as ?c)`, the resulting literal is `https://c/\u00E9/\u00C3\u0081%00` which, when decoded, is `https://c/é/Ã`, which is wrong.

When used like _this_ (note that in the first string in `CONCAT`, I replace `é

[2021-01-26 15:44] jakubklimek commented on #943
@TallTed corrected

[2021-01-26 17:24] TallTed commented on #944
@jakubklimek -- Note that you can drop the `?test a dcat:Dataset .` pattern and run the query against both of your listed endpoints, if you either un-tick the box for "Strict checking of void variables" on the SPARQL query form (as noted in the comments on @231) or insert `define sql:signal-void-variables 0` before `CONSTRUCT` in your query.  (The `define` option also works through saved URLs, as

[2021-01-26 17:36] jakubklimek commented on #944
@TallTed thanks, I knew there was a workaround for this somewhere.

I used `CONSTRUCT` just because that is how I discovered the bug and went on minimizing the example, no other reason.

[2021-01-27 10:54] openlink commented on #937
I pushed a fix to the develop/7 branch

[2021-01-27 10:54] #937 closed, assigned to pkleef

[2021-01-27 16:39] TallTed commented on #937
@openlink - When will that fix be available in a pre-built VOS 7.2 VAD and/or binary?

[2021-01-28 13:46] IS4Code commented on #936
Any progress on this?

[2021-02-01 07:43] zzqiang163 opened #945 "how to use `t_end_flag` in `TRANSITIVE` clause?"
Virtuoso SPARQL allows access to Virtuoso's SQL transitivity extension.
[code]
But don't give any description or sample about `t_end_flag`

please tell me something about this

[2021-02-01 14:05] jakubklimek opened #946 "Wrong datatypes in literal functions in SPARQL"
[code]
yields

Now | Nowdt | strNow | strNowdt | datestr | datestrdt | substr | substrdt | date | datedt | date2 | date2dt
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
2021-02-01T14:37:47.402209 | http://www.w3.org/2001/XMLSchema#dateTime | 2021-02-01T14:37:47.402209 |   | 2021-02-01 |   | "2021-02-01" | http://www.w3.org/2001/XMLSchema#string | 2021-02-01T00:00:00 | http://www.w3.org

[2021-02-02 10:35] GrazingScientist opened #947 "New Release or appropriate Commit"
Would it be possible to make either a new stable release for this repo or at least mention a commit in the documentation that would provide a "stable" virtuoso.

Would be greatly appreciated. Thanks a lot! :)

[2021-02-03 09:34] jakubklimek opened #948 "SPARQL query behaving weird, possibly based on BIND clause position"
I have the following query, used to harvest DCAT-AP metadata from local data catalogs implemented as SPARQL endpoints, often powered by Virtuoso Open-Source.
For some reason, it behaves very strangely. When run directly against Virtuoso's SPARQL endpoint, the browser says ERR_CONNECTION_CLOSED. It is meant to be run (the data for it is in) https://data.mvcr.gov.cz/sparql.
However, it behaves this

[2021-02-03 18:05] TallTed commented on #948
First thing to be certain of is that your queries are not running into [Anytime Query](http://docs.openlinksw.com/virtuoso/anytimequeries/) cutoffs (i.e., that they're not being stopped after partial execution), and therefore returning partial results.  This is most easily checked by running your queries through one of these command-line tools:

* `isql`, where the Anytime Query time limits are no

[2021-02-08 15:27] jakubklimek commented on #119
@HughWilliams any news regarding this? now it is 7 years...

[2021-03-09 16:53] TallTed opened #949 "netstat apparently not required to build, but is required to launch"
[`netstat` is apparently not pre-installed on Ubuntu Server 20.04.1 LTS on an AWS EC2](https://stackoverflow.com/questions/66548067/virtuoso-installation-stuck-on-vad-sticker-vad-dav-xml-creation-on-2nd-attempt), and VOS apparently needs it to launch.

There may be other tools which are not necessarily available on a raw OS install, which should be listed in the relevant README doc(s) as VOS prere

[2021-03-15 11:21] IS4Code opened #950 "Variable '_::trans_subj_10_0' is used in subexpressions of the query but not assigned"
Why does the following simple query fail?
[code]
The error message is:

Strangely, it works if I remove either of the two optional blocks, and it also fails without the `OPTIONAL`:
[code]

[2021-03-15 13:36] HughWilliams commented on #950
Querying from the Virtuoso /sparql endpoint form page, you need to uncheck the "Strict checking of void variables" checkbox option before executing the query to avoid that error message ...

[2021-03-15 14:37] IS4Code commented on #950
@HughWilliams I know, but I was not sure if I could expect valid results in that case, considering the somewhat cryptical error message. Is this intended?

[2021-03-15 14:43] TallTed commented on #950
In fact, it fails because you've told Virtuoso to make a specific check, and fail if that check succeeds based on your data and query.

Simply change `DEFINE sql:signal-void-variables 1` in your query to `DEFINE sql:signal-void-variables 0`, and this error will be eliminated.  (This pragma has the same effect as that "Strict checking of void variables" checkbox on Virtuoso's default SPARQL query f

[2021-03-18 08:48] GrazingScientist commented on #947
Can someone from the team find the time to make a recommondation on this? Thanks! :)

[2021-03-18 15:09] IS4Code opened #951 "Property path not matched in a named subgraph"
This query returns "true":
[code]
So does this one:
[code]
But this returns "false":
[code]

Virtuoso version 07.20.3231 on Linux (x86_64-pc-linux-gnu), Single Server Edition

[2021-03-18 15:54] TallTed commented on #951
Would you please also provide the `git_head` ID and build date for your Virtuoso binary?  You can get these (among other potentially relevant details) from `virtuoso -?` on the command-line, or from this query against the `/sparql` endpoint --

[code]

It's important to note that all three produce `true` when run against current v8 builds, such as the DBpedia instance (`08.03.3319 (44f10bfece) as

[2021-03-18 16:06] IS4Code commented on #951
Sure:
[code]

[2021-03-23 00:02] ThomasThelen opened #952 "Invalid Token - Virtuoso 7.2 + OAuth"
While following [this](http://vos.openlinksw.com/owiki/wiki/VOS/VirtOAuthSPARQL) guide from OpenLink, I ran across some trouble authenticating a query. I don't believe I've done anything incorrect here, so I'm suspect that the guide is incorrect or that there may be a bug somewhere. Any hints are appreciated.

### To Reproduce
To reproduce this, use the attached Dockerfile, which copies the includ

[2021-03-23 15:09] HughWilliams commented on #952
You appear to be using the "tenforce" docker container, I would recommend using the OpenLink official [Virtuoso Open Source docker container](https://hub.docker.com/r/openlink/virtuoso-opensource-7/) image, being the latest offering we would seek to support, etc.

[2021-03-23 15:39] ThomasThelen commented on #952
Great point. I've remade the docker deployment using the `openlink/virtuoso-opensource-7` and refactored the COPY directive to match the plugin directory from the openlink distribution and attached it to this comment. I was able to reproduce the behavior described in my initial comment.

I can see that the vad installed correctly from the `virtuoso.log` file,

[code]

[virtuoso.zip](https://github

[2021-03-24 13:28] #924 closed, assigned to nobody

[2021-03-24 13:32] ebremer opened #953 "select distinct ?g where {graph ?g {?s ?p ?o}}"
The query:
`select distinct ?g where {graph ?g {?s ?p ?o}}`
on a triple store with about 600GB RAM (64 cores/ubuntu 18) and a 15 billion triple store with about two dozen graphs never completes >24 hours and still running.  However, this query:

`select distinct ?g count(*) where {graph ?g {?s ?p ?o}} group by ?g order by ?g`

runs in about 10 minutes

`select count(*) where {graph ?g {?s ?p ?o}}`

[2021-03-24 13:51] TallTed commented on #953
This appears to pick up from #924.

Please confirm that I'm correctly understanding your first paragraph, that you're testing on a single Virtuoso instance holding about 15 billion triples in about 24 named graphs, on a machine with about 600 GB RAM and 64 processor cores running Ubuntu 18?

Please provide the values of `NumberOfBuffers` and `MaxDirtyBuffers` from your active `virtuoso.ini`, along

[2021-03-24 14:14] ebremer commented on #953
Correct.  Actual system RAM is 688GB.

NumberOfBuffers            = 56607998
MaxDirtyBuffers            = 42455999

vm.swappiness = 60

The system is dedicated to the Virtuoso instance.

[2021-03-24 14:56] ebremer commented on #953
changed swappiness to 10.  Re-testing now.

[2021-03-24 15:25] ebremer commented on #953
It didn't hurt the two quicker queries but the `select distinct ?g where {graph ?g {?s ?p ?o}}` is still running.

[2021-03-24 16:01] TallTed commented on #953
I am wondering whether something odd happened during your data load and/or index building, as the default indexes should lead to this query running quite quickly.

Checking for, and recovering from, the most common index issues is discussed in [How to Fix Broken Index on RDF QUAD Store](http://vos.openlinksw.com/owiki/wiki/VOS/VirtFixBrokenQuadStoreIndex).

[2021-03-24 16:22] jakubklimek commented on #953
@TallTed I am experiencing this issue on all my Virtuoso instances as well. They are considerably smaller, so the query eventually finishes, but it runs for a long time, utilizing the server to its maximum, as if no index is being utilized and all the quads are being scanned. Therefore, this is probably not a data load issue.

[2021-03-24 16:29] ebremer commented on #953
@TallTed I'm doing the checks as per what you sent me.  The first two match:
[code]
but the next one is hanging.  I'm watching to see if it finishes anytime soon.  @jakubklimek my issue may be data, but, we'll see.

[2021-03-24 16:31] TallTed commented on #953
@jakubklimek - You may be right. That said, the sanity checks described in the [article linked above](http://vos.openlinksw.com/owiki/wiki/VOS/VirtFixBrokenQuadStoreIndex) are worthwhile to run periodically on any DB to confirm that the indexes and the overall DB are healthy -- and getting that confirmation about your smaller instances will help eliminate this as a possibility for you, if not for

[2021-03-24 18:00] HughWilliams commented on #952
Testing, this problem also occurs with the latest Virtuoso 7 Open Source [git develop/7](https://github.com/openlink/virtuoso-opensource/tree/develop/7) branch. The OAuth functionality moved to the new [Virtuoso Authentication Layer](http://docs.openlinksw.com/valdocs/index.html)(VAL) some time ago. VAL is a Commercial Edition only feature, and has not really been maintained in Open Source. Thus i

[2021-03-24 18:28] HughWilliams commented on #953
@ebremer: Can you try with the iSQL query `SPARQL SELECT DISTINCT ?g  WHERE  {  GRAPH ?g {?s a ?t} }`? This is another form of SPARQL query for [listing all graph in Virtuoso](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksGuideAllGraphs), and should run a lot faster.  The `select distinct ?g where {graph ?g {?s ?p ?o}}` is known to take a long time as I have seen it before, as it actua

[2021-03-24 20:17] TallTed commented on #953
Just for quick comparison... I ran the three queries on [our live VOS Demo instance](https://vos.demo.openlinksw.com/sparql), and they all returned virtually instantly. This instance is a little behind the code that @ebremer is running, and certainly doesn't hold as much data, but does provide a touchpoint.

1. [`select count(*) where {graph ?g {?s ?p ?o}}`](https://vos.demo.openlinksw.com/sparql?

[2021-03-24 20:41] ebremer commented on #953
@HughWilliams @TallTed willl try after I finish "How to Fix Broken Index on RDF QUAD Store".

[2021-03-24 20:43] kidehen commented on #952
Clarification:

The issue here is prioritization. We've put a lot of effort into a commercial edition Virtuoso Authentication Layer (VAL) which virtualizes authentication across a cocktail of protocols.

We are happy for community members to contribute fixes to VOS while we work through our internal priorities -- which may also include revisiting this issue.

[2021-03-25 14:04] ebremer commented on #953
@HughWilliams @TallTed
`select count (*) from rdf_quad table option (index rdf_quad);`
`select count (*) from rdf_quad table option (index rdf_quad_pogs);`
each returned 15,386,439,517 after 40.7 seconds.
However, it's hung on `select count (*) from rdf_quad table option (index rdf_quad_sp);`

[2021-03-25 14:28] TallTed commented on #953
@ebremer - That definitely sounds like a corruption of some sort. I would try the other two `select count` queries from that block in the article, to see both whether they succeed or hang, and whether their counts are the same as the first two queries.

The database integrity check comes next, and then backup-and-restore and/or index rebuild(s), depending on these results.

[2021-03-25 14:31] ebremer commented on #953
I went with a
[code]
it will take a while.  After it finishes, I will test and then try them all again.

[2021-03-27 21:39] ThomasThelen commented on #952
Awesome I appreciate the help here! I'm not sure what the state of #814 is; for anyone else that wishes to do authentication on VOS and runs across this issue- I did some testing and found that the [SQL Account digest authentication](http://vos.openlinksw.com/owiki/wiki/VOS/VirtSPARQLProtectSQLDigestAuthentication) is functioning as expected.

[2021-03-28 15:45] ebremer commented on #644
I just tried this with the latest develop/7 and this bug appears to still persist.

[2021-03-28 15:49] ebremer commented on #644
From: [16.17.9. Dump and Reload Graphs](http://docs.openlinksw.com/virtuoso/rdfperfdumpandreloadgraphs/)
I get the error:
[code]

[2021-03-28 16:26] ebremer commented on #644
I changed `env := vector (dict_new (16000), 0, '', '', '', 0, 0, 0, 0);` in the URL
[16.17.9. Dump and Reload Graphs](http://docs.openlinksw.com/virtuoso/rdfperfdumpandreloadgraphs/)
to
`env := vector (dict_new (16000), 0, '', '', '', 0, 0, 0, 0, 0);`

and it now works.

[2021-03-28 16:27] ebremer commented on #644
It appears the documentation needs to be updated.

[2021-03-28 17:42] HughWilliams commented on #644
@ebremer The Wiki [`dump_one_graph()`](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFDatasetDump) documentation has the correct number of params for the `dict_new` function; will have the [docs.openlinksw.com function](http://docs.openlinksw.com/virtuoso/rdfperfdumpandreloadgraphs/) updated to correct that error.

[2021-03-28 19:17] ebremer commented on #644
I'm still getting this error for some of my named graphs.  I have 25 graphs and four of them are throwing that error.  Is there anything else I should look for?

[2021-03-28 19:59] ebremer commented on #644
Nevermind, I figured it out.  I had a partially fixed version of the one that was wrong.  When I swapped the wiki version completely, it worked fine.

[2021-03-29 11:25] ebremer commented on #953
@TallTed @HughWilliams the database rebuild didn't work.  I was able to use dump_one_graph and export all of my data.  From there I started fresh and was able to restore the data and things appear to be working well.  Thank you for your help!

[2021-03-29 11:25] #953 closed, assigned to nobody

[2021-03-30 07:51] nam-vuhoang commented on #728
+1

[2021-03-30 10:00] alsyia commented on #644
Oh, that _is_ an old issue!
It looks like you had a bug opposite to mine @ebremer!

Thanks @HughWilliams for the fix in the docs!

[2021-03-30 16:48] ebremer commented on #644
Perhaps it's time to finally close this issue @TallTed @HughWilliams?

[2021-03-30 17:32] TallTed commented on #644
We'll hold this open until the updated manual page is in place.

[2021-04-01 14:47] timhaynesopenlink commented on #644
Docs updated, sorry for the confusion: http://docs.openlinksw.com/virtuoso/rdfperfdumpandreloadgraphs/

[2021-04-01 14:47] #644 closed, assigned to nobody

[2021-04-08 01:45] zzqiang163 opened #954 "Is there a limit to the number of a graph group?"
Dear sir;
After I created a graph group, I successfully inserted 1000 graphs. When I inserted the 1001th graph, I got the following error:

[2021-04-08 13:03] HughWilliams commented on #954
Hi

What exactly are you doing when getting the error?

As I can add more than 1000 or even 10000 graphs to a graph group using the following simple test:

[code]
So we need to know exactly what you are doing, and what call/function/query/etc. is giving this error?

[2021-04-13 19:22] IS4Code opened #955 "Disable the "External Image" function in the faceted browser"
The `/describe/` service of the faceted browser turns every IRI that ends on a common image extension to an embedded image. Can this feature be disabled or controlled somehow? Disabling it completely would work, or limiting it only to some specific IRI patterns, not just extensions.

[2021-04-15 12:49] IS4Code commented on #728
Would love to see a solution to this.

[2021-04-16 23:16] HughWilliams commented on #955
Are you seeking that just the object IRI values of images are displayed on the `/describe` pages, rather than the images themselves?

[2021-04-17 01:16] IS4Code commented on #955
@HughWilliams Not necessary IRIs, could be labels as well if some are provided. It's nice that some objects are turned into images, but I don't want that for specific IRIs (or all of them if no finer control is possible), I want to see no difference between those IRIs that have an image extension and those that don't. The reason is simple: there are actually no images under those IRIs, as they are

[2021-04-18 17:32] dmacks opened #956 "Update to imagemagick7"
`virtuoso-7.2.5.1` uses some `magickwand` APIs that changed from `magick6` to `magick7`. First, there is already confusion about the header filename: `configure.ac` checks for `wand/magick-wand.h` but `binsrc/samples/image_magick/im.c` was changed to use `wand/MagickWand.h` in 0179c479315f222172c3e3fde5fa5c8a47af5b4e. I'm not sure why `./configure` needs to check for the specific header, given it'

[2021-04-18 18:12] pkleef commented on #956
I do not think it is as easy as changing a few calls in the code, but we would have to do a full investigation and evaluate all the changes between the ImageMagick 6 and 7 APIs.

As the `im.so` plugin is an optional plugin for Virtuoso, and is mainly used by the ODS applications, this is currently not a high priority.  Many current Linux distributions still ship with ImageMagick 6, and although Ap

[2021-04-20 09:27] nieder opened #957 "FTBFS on macOS/Xcode12 with implicit declaration errors"
With Xcode12, Apple turned implicit declaration warnings into errors. This causes the build to fail:
[code]
This is in a clean git pull. Commit 34e6f92667666577137c378dbb4ad42405fbd2b8 took care of some other implicit declaration failures (compared to `7.2.5.1`) but not all. If I turn off implicit function declaration errors, there are some other places that give warnings, such as `sqlbif2.c` and

[2021-04-20 10:59] pkleef commented on #957
I am working on fixing the rest of these compiler warnings/errors and will push additional patches for Xcode 12 shortly. I will post another comment as soon as that second patch is pushed.

For anyone having this problem compiling `develop/7` using the Apple Xcode 12 compiler, the workaround is to add the `-Wno-error=implicit-function-declaration` to your `CFLAGS`.

[2021-04-20 15:30] pkleef commented on #957
As promised, I pushed a patch for XCode 12 support to the `develop/7` branch: Commit 4b0bc13

Please let me know if that resolves your issue.

[2021-04-22 00:05] nieder commented on #957
That seems to have taken care of the ones I saw earlier. Getting several failures now in hosting_perl.c:
[code]
Seems to be unrelated to implicit declarations and prototypes. I can open a new issue for that or give the full failure here.

[2021-04-22 05:53] jakubklimek commented on #944
I ran into this issue even without `ENCODE_FOR_URI`. It therefore seems to be contained to `CONCAT`. Whenever there is a unicode character used in `CONCAT`, the result is badly encoded:
[code]
— produces `ěhttps://data.gov.cz/zdroj/datovÃ©-sady/https---isdv.upv.cz-opendata-upv-package_show-id-vz20210307diff`
while —
[code]
— produces `ehttps://data.gov.cz/zdroj/datové-sady/https---isdv.upv.cz-open

[2021-04-22 07:19] pkleef commented on #957
At this time the *Mono*, *Perl*, *PHP*, *Python* and *Ruby* hosting modules have not been upgraded for a long time due to lack of interest from our user base, or target versions of their respective upstream packages that have since been tagged as _unmaintained_ or _end of life_.

These modules are *optional* enhancements to Virtuoso and are not required for its standard functionality.

Please cons

[2021-04-23 10:00] nieder commented on #957
Got it. With those disabled, the build now finishes cleanly on 10.15/Xcode12.

[2021-04-23 10:24] LutzWeischerFujitsu opened #959 "check fails on AArch64, Fedora 33"
[code]

[2021-04-23 15:19] pkleef commented on #959
I will have a look

[2021-04-23 20:18] pkleef commented on #959
Could you create a zip file with `virtuoso-opensource/binsrc/tests/suite/thttp.ro/thttp.output` and email it to me pkleef@openlinksw.com for analysis

[2021-04-28 11:53] rapw3k opened #960 "bif:contains + optional"
Hi,
while working with SPARQL transformer libraries, i get the query below.
When I try to execute it in my endpoint: https://www.foodie-cloud.org/sparql, I receive error:

This error is just because of the `OPTIONAL` statement: "`OPTIONAL { }`", which in fact is empty. If I remove it or move it up (before any statement with `?labelx`), the query works just fine. However, as this query is generated

[2021-04-28 16:38] TallTed commented on #960
That `OPTIONAL { }` clause is a bit odd, but it shouldn't cause the error you report.  I'm surprised that moving it around removed the error, as that seems unlikely to have put a value into `?label3`.

What is the tool that is automatically generating this query?  Are you running the latest version?

It's possible that there's an error in Virtuoso's query plan and execution.

First thing is to con

[2021-04-28 19:27] rapw3k commented on #960
hi @TallTed
I have the latest release 7.2.6-dev (https://sourceforge.net/projects/virtuoso/files/virtuoso/7.2.6-dev/):
`OpenLink Virtuoso   Server 07.20.3230 Jan  9 2019 aafff5336 -pthreads Linux`

You can see how the query is generated here: https://d2klab.github.io/sparql-transformer/
copy the following json definition :
[code]

I know in dev branch there is now `07.20.3232`. I don't think that

[2021-04-28 22:54] TallTed commented on #960
I see... Of course, none of your data is in the DBpedia instance (which is a much more recent build), but it produces the same error with the auto-generated query, and produces an empty result set (no error) if I move the `OPTIONAL { }` around.

Also interestingly, neither DBpedia instance nor yours produces any actual `EXPLAIN` output when the "Generate SPARQL compilation report (instead of execu

[2021-04-29 15:18] hagt commented on #581
I also face this problem. I have to programmatically insert triples into a Virtuoso instance using Jena’s `UpdateProcessor` and only get `400 Bad Request` errors. When I insert the same data using curl I see the same memory exhausted error. The limit for me was around 220kb. If the query string is less than this size, the `INSERT {GRAPH <....> {...}} WHERE {}` queries succeed.

Does anyone know of

[2021-04-30 08:36] hagt opened #961 "Virtuoso SPARQL Query Editor with new UI does not work if endpoint is not provided under /sparql"
The newly introduced UI features in https://github.com/openlink/virtuoso-opensource/commit/2b9d9710114821f05b1aae2e2e7e04e824955d4f prevent the Query Editor to submit queries to the correct URL in case the sparql endpoint is not offered under <host>/sparql. The html form uses hardcoded "/sparql" links.

[2021-04-30 11:56] pkleef commented on #961
We will have a look.

[2021-05-01 04:56] jakubklimek commented on #944
Still happening in https://github.com/openlink/virtuoso-opensource/commit/8baf8a90afc842c52b7d2f44af0ca99c88d85b68

[2021-05-03 14:44] jakubklimek opened #962 "gethostbyname errors in log for IDN hostnames"
I run a Virtuoso instance on https://slovník.gov.cz, including dereferencable IRIs via `fct`. I keep getting the following errors (tested on https://github.com/openlink/virtuoso-opensource/commit/8baf8a90afc842c52b7d2f44af0ca99c88d85b68) in `virtuoso.log`:
[code]
Other than that, the instance seems to be working normally.
It seems like another Unicode-based problem.

[2021-05-06 11:32] pkleef commented on #957
I am closing this issue.

Please open a new issue if you find any more problems with the build.

[2021-05-06 11:32] #957 closed, assigned to pkleef

[2021-05-06 12:49] rapw3k commented on #960
thanks @TallTed just note that the same happens if the OPTIONAL is not empty. If you change the empty optional with for example:
[code]
you will have same issue....

[2021-05-14 11:05] JervenBolleman opened #965 "Java finalizer usage can block"
From a stack dump in a production setting

From the finalizer thread: Blocked while waiting to lock on a VirtuosoConnection
[code]
While that connection is in use by living code:

[code]

Finalizers should be minimal and their locking should be as constrained as possible.

[2021-05-14 15:20] smalinin commented on #965
You must properly close ResultSets and Statements for avoid this problem with finalizers.
If you don't close ResultSet/Statement in your Java code, we need call **close** in finilalizer for avoid exhaustion free statemets on server side.
p.s.
I need some example, if you don't agree with this.

[2021-05-14 15:29] JervenBolleman commented on #965
I agree with the state that close must be called (and gosh am I looking where that statement is coming from).

However, the finalizer does not guarantee resource exhaustion on the server side. Secondly the way they are calling each other may lead to deadlocks between different parts of the code. Specifically, ordering between of closing sub elements + gc can lead to long lasting locks here. Basica

[2021-05-18 18:08] smalinin commented on #965
@JervenBolleman
I prepared fix based on your pull request.
Not at all updates could be applied.
It will be in git repo soon.

[2021-05-18 18:37] JervenBolleman commented on #965
Sorry about that. I failed to notice that my compile actually failed in the C code, so ended up not testing the java code I thought I was testing.

Would you be open to a pull request reorganizing the java code subdirectories to be more in a more common layout?

[2021-05-26 12:01] IS4Code commented on #936
I think it would be enough to fix VOS to at least turn `P18Y3M` into `P219M` instead of `219` for now. I suppose the reason for this in VEE is efficiency, and I don't find that inherently bad. But it shouldn't *corrupt* the values like VOS does.

As for the loss of format, I presume all recognized primitive datatypes are affected by this, for example `"1"^^xsd:integer`, `"+1"^^xsd:integer`, `"01"^

[2021-05-28 11:48] nleguillarme opened #967 "Inference with Virtuoso"
Hi, I am testing the inference capabilities of Virtuoso.

I have an OWL ontology which defines some concepts using class equivalency axioms, for instance :
[code]

I load this ontology in Virtuoso with its own named graph IRI, let's say
[code]
and create a new rule set using
[code]

Then, I have a `.nq` file containing a minimal example
[code]

In particular, `obo:NCBITaxon_2 = Bacteria` and `obo:

[2021-05-28 15:04] TallTed commented on #967
I do not believe the author of [that tutorial](https://bigdataieee.org/BigData2019/files/Tutorial6.pdf) consulted with us when producing that document.  At a quick scan, some of the specifics found therein don't seem correct to me.

To your specific question -- it is correct that custom reasoning of this sort is not supported in VOS, Virtuoso Open Source Edition.  VOS supports a limited subset of

[2021-05-31 09:02] nleguillarme commented on #967
Hi @TallTed, thank you for this clarification.

[2021-05-31 15:40] TallTed commented on #967
I'll close this issue now. Bugs, patches, and the like are fine to raise or submit here. Questions about Virtuoso usage, features, etc., are probably better raised on [our Community Forum](http://community.openlinksw.com/).

[2021-05-31 15:40] #967 closed, assigned to nobody

[2021-06-09 05:55] AlexTo commented on #947
Same question, this seems to be a quite active project judging from the number and timeline of commits, yet there is no stable release after 3 years :D
If possible could someone advise on when do we expect a new release?
Thanks

[2021-06-09 07:30] openlink commented on #947
We have scheduled a new `stable release` within the next 2 weeks.

Note that the Virtuoso Open Source release gets most of its patches directly from our commercial versions. This means that the bulk of the code has been tested extensively in-house; on our public endpoints such as our Corporate web sites, URIBurner, DBpedia, etc.; as well as by our commercial and open source partners before it gets

[2021-06-09 07:43] openlink commented on #962
The main problem is that functions like `gethostbyname` cannot perform lookups on hostnames with embedded unicode characters.

I am working on a new function that will do lookups that include IDN translation instead.

I will give you a heads-up once the patch is ready for testing.

[2021-06-09 18:16] kuzeko commented on #464
For those passing by here trying to execute `ASK` queries with RDF4J over Virtuoso , the code snippet solving the issue is:

[code]

Thanks to @TallTed

[2021-06-09 20:33] TallTed commented on #464
@pkleef @openlink @HughWilliams -- Please see above, https://github.com/openlink/virtuoso-opensource/issues/464#issuecomment-412894503, for a sometimes viable workaround (just confirmed in the latest comment above), but note that the final resolution of this six year old issue should be a change in the default media type Virtuoso uses for responses to `ASK` queries.

[2021-06-22 11:50] BorderCloud commented on #796
@cainesap I had the same problem. Anaconda installs the version 1.1.1 of OpenSSL and breaks the Virtuoso compilator (configure).
You can downgrad openssl with this command:
`conda install openssl=1.0`
After you can compile Virtuoso.

[2021-06-22 11:58] openlink commented on #796
This has been resolved on the develop/7 branch.

Virtuoso now supports OpenSSL versions 0.9.8e through 1.1.1 as well as LibreSSL

[2021-06-22 13:45] BorderCloud commented on #796
@openlink maybe it's a good idea to update also the branch stable/7.

[2021-06-22 14:18] openlink commented on #796
@BorderCloud @cainesap

We just released a new stable release:

- https://github.com/openlink/virtuoso-opensource/releases/tag/v7.2.6
- https://github.com/openlink/virtuoso-opensource/tree/stable/7

[2021-06-22 14:18] #796 closed, assigned to openlink, pkleef

[2021-06-22 14:31] jakubklimek opened #968 "Problems with FCT after update to 7.2.6"
After update to 7.2.6 (621ef0713bb2e674e5bf599d1a05ee3bcefa3338) I am unable to use FCT.
- Accessing https://dev.nkod.opendata.cz/fct/ times out
- using [/describe](https://dev.nkod.opendata.cz/describe/?uri=https://data.gov.cz/zdroj/datové-sady/45249130/CENIA/c8fafdf59046690fc5d1f1508402dfc3) gives `Error 42000 SR186:SECURITY: No permission to execute procedure DB.DBA.fct_cctr with user ID 107, g

[2021-06-22 14:42] openlink commented on #952
The issue with OAuth tokens has been resolved in the latest `ods_framework.vad` we just released as part of v7.2.6

https://github.com/openlink/virtuoso-opensource/releases/tag/v7.2.6

I pushed a new Docker image to https://hub.docker.com/repository/docker/openlink/virtuoso-opensource-7

[2021-06-22 14:58] openlink commented on #949
The title is incorrect.

Building Virtuoso required `netstat` for building VAD packages as well as running the testsuite. It is not required to launch virtuoso itself.

I have committed some fixes that either eliminate the use of `netstat` in most places, and use it's replacement `ss`  program if this program is available like on the most recent versions of Linux.

See Also:
*  [netstat](https://e

[2021-06-22 15:01] openlink commented on #947
We have just released a new version of Virtuoso v7.2.6 on the stable/7 branch.

https://github.com/openlink/virtuoso-opensource/releases/tag/v7.2.6

[2021-06-22 15:01] #947 closed, assigned to openlink, pkleef

[2021-06-22 15:05] openlink commented on #968
I will check

[2021-06-22 15:31] openlink commented on #968
As a workaround, run the following command via isql:

[code]

[2021-06-22 15:57] TallTed commented on #949
@openlink -- The title was based on the information provided in the linked Stack Overflow post, to wit:

I'll take your changes to be a solution to this issue.

[2021-06-22 15:57] #949 closed, assigned to openlink, imitko, pkleef, timhaynesopenlink

[2021-06-22 17:15] openlink commented on #968
make a hotfix patch, so stable/7 and develop/7 have this patch

[2021-06-22 17:15] #968 closed, assigned to nobody

[2021-06-22 22:43] TallTed commented on #952
Hi, @ThomasThelen -- It would be much appreciated if you have the opportunity and can take the time to test the new build, and confirm whether the OAuth issue is resolved thereby for you.

[2021-06-23 17:11] ThomasThelen commented on #952
I appreciate the time put into looking at this issue! I retested with the latest docker image, using the following docker command.
`docker run -p 8890:8890 -p 1111:1111 -e DBA_PASSWORD=dba openlink/virtuoso-opensource-7:7.2.6-r10-g5a27710-alpine`.

I installed the VAD with the properties shown below, which is also attached in the zip file in my initial message.

<img width="1680" alt="Screen Shot

[2021-06-23 19:34] TallTed commented on #952
@ThomasThelen — Please note that the "New Version" column is populated from the contents of the Virtuoso-local VADs directory as compared with the "Installed Version" column, which is populated from the VADs that have been installed in the active DB.  The "Not available" value does not indicate that you are running the latest version available for pre-built download nor build-from-source; only tha

[2021-06-23 19:42] ThomasThelen commented on #952
Thanks @TallTed that was it! Screenshot below of the response from a successful SPARQL query run through the OAUTH end point, using the instructions in the documentation with the fresh set of VADS. Thanks again for spending time on this issue!

<img width="1680" alt="Screen Shot 2021-06-23 at 12 41 29 PM" src="https://user-images.githubusercontent.com/9289652/123158283-701e2d80-d420-11eb-886d-024d

[2021-06-23 21:19] #952 closed, assigned to nobody

[2021-06-24 09:00] mielvds opened #969 "Handling of rdf_strlang_impl in OPTIONAL"
I have a query where I bind a language tag to a literal, but that literal can be optional, like so:
[code]
Virtuoso throws `Virtuoso 22007 Error Function rdf_strlang_impl needs a bound value as its first argument, not a NULL`

Is this expected behaviour? Shouldn't a `NULL` aka unbound var not just produce a `NULL`? Seems like other triple stores (Blazegraph) handle this differently.
Can I mitigate

[2021-06-28 09:33] ccolonna opened #970 "Allow UPDATE in ```openlink/virtuoso-opensource-7```"
How to allow UPDATE in virtuoso docker image?

 Trying to run:

```CREATE SILENT GRAPH <example:graph_1>```

I get:

```Virtuoso 42000 Error SR186:SECURITY: No permission to execute procedure DB.DBA.SPARUL_CREATE with user ID 107, group ID 107```

[2021-06-28 13:52] TallTed commented on #970
First thing, please note that all of this applies to all Virtuoso instances; none of it is specific to the Docker image, nor to VOS (Virtuoso Open Source).  Also, none of it is new.

Assuming you're trying to do this through the `/sparql` endpoint, the short, _"just make it work!"_ answer is to execute the following through iSQL or similar, while logged in as `dba` or other super-privileged SQL us

[2021-06-28 14:23] ccolonna commented on #970
Thank you @TallTed for fast reply it worked like a charm:

For anyone else precise syntax is:

[code]

isn't there any option i can grant full r/w automatic permission to any user with docker environment variables or param? I'm using [https://hub.docker.com/r/openlink/virtuoso-opensource-7](virtuoso_opensource_7)

Thanks for warning, this is for a local setup not exposed to the open world!

[2021-06-28 15:25] TallTed commented on #970
I don't know enough about docker to answer this question usefully.

Possibly @pkleef @timhaynesopenlink @openlink @HughWilliams can assist?

[2021-06-29 11:10] HughWilliams commented on #970
There are no docker environment variables that can be set to control user access to the SPARQL endpoint or other such resources. Thus you would need to login via the Virtuoso Conductor or "isql" to set or grant such permissions to users if required.

[2021-06-29 11:12] ccolonna commented on #970
Thank you @HughWilliams , you clarified my doubts. You can close the issue if you want!

[2021-06-29 11:13] #970 closed, assigned to nobody

[2021-07-01 09:28] pierrelarmande opened #971 "HTTP 403 error with the faceted browser"
Dear all,

we are facing some `403` issues using the faceted browser.

As you can see in the following example
http://agrold.southgreen.fr/fct/facet.vsp?cmd=set_view&sid=821&type=properties&limit=20&offset=0 by clicking on a property (`is_orthologous_to` or any others) we get a `403` error.
Currently it happens in our 2 virtuoso instances:

http://agrold.southgreen.fr/fct/facet.vsp
http://agrold.s

[2021-07-01 10:52] openlink commented on #971
It looks like your webmaster has made some changes to your firewall, etc., that do not allow your Virtuoso HTTP server to fetch data directly from outside sources. It is possible that you have to configure your Virtuoso HTTP server to use a proxy like [squid](https://en.wikipedia.org/wiki/Squid_(software)), but your webmaster should be able to give you the required information.

When i click on th

[2021-07-01 11:43] pierrelarmande commented on #971
Thanks for your answer. Indeed i suspected something which involved the firewall rules .. i forwarded to the admin sys and the IT security team , hopping they will find a solution,

Thanks
Pierre

[2021-07-01 12:03] openlink commented on #971
Virtuoso has options to use a reverse proxy such as [Squid](https://en.wikipedia.org/wiki/Squid_(software)) or [Socks 4/5](https://en.wikipedia.org/wiki/SOCKS) by adding one of the following setting to `virtuoso.ini` in the `[HTTPServer]` section:

    [HTTPServer]
    ....
    ....
    HTTPProxyServer       = http://user:password@host:port     # for SQUID

    HTTPProxyServer     = socks4://user:

[2021-07-23 05:22] jakubklimek opened #972 "Unicode issues when searching in FCT"
See [this instance](https://slovník.gov.cz/fct/) of FCT and try to search for "částka".
All IRI links and some labels have mangled unicode characters.
![image](https://user-images.githubusercontent.com/718827/126740462-f41f32c6-2e5b-4e11-94d6-3d7f8d18dabe.png)

[2021-07-23 09:40] pkleef commented on #972
I just merged a number of fixes to develop/7 for the fct vad package including a fix for this encoding issue.

[2021-07-23 11:27] jakubklimek commented on #972
@pkleef Thanks. I deployed it and tested, and there are still some issues remaining.
See [this instance](https://dev.nkod.opendata.cz/fct/) and search for e.g. "datová sada".
While the Entity IRIs are OK, the Named Graph IRIs are still mangled, e.g.
`https://dev.nkod.opendata.cz/describe/?url=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2FdatovÃ¡-sada%2Fkvalita-nkod%2Farchiv&sid=23`

[2021-07-23 11:29] jakubklimek commented on #944
Still happening in a7b01eced76532f1fa36fdf665f9f836531bdae0

[2021-07-23 14:13] TallTed commented on #944
@smalinin @pkleef @iv-an-ru @hughwilliams @openlink -- Any estimate of when this will be investigated, if not resolved?  It seems likely to be causing trouble if not blocking a good number of deployments where Unicode is in broader use.

[2021-07-23 14:48] hroptatyr commented on #571
I can confirm it's still an issue in

    14:40:42 OpenLink Virtuoso Universal Server
    14:40:42 Version 07.20.3233-pthreads for Linux as of Jun 22 2021
    14:40:42 uses OpenSSL 1.0.2u  20 Dec 2019
    14:40:42 uses parts of PCRE, Html Tidy
    14:40:43 Database version 3126

and I do have a reproducible set of database and transactions that trigger this bug.

[2021-07-23 15:01] jakubklimek opened #973 "Issues with SPARQL variables containing unicode characters"
When I run a SPARQL SELECT query in Virtuoso's SPARQL endpoint web service, where the result table's column names are the variable names, and those variable names contain unicode characters (common e.g. in Czechia), there are various issues.
Tested e.g. on https://dbpedia.org/sparql:
[code]
results in the column being named `aÅ¾Ã½` instead of `ažý`.

When the variable name starts with a unicode ch

[2021-07-23 15:31] HughWilliams commented on #571
@hroptatyr Are you able to provide the reproducible test case such that it can be setup in-house to debug and fix ?

[2021-07-23 15:46] TallTed commented on #571
@hroptatyr -- Please provide the first stanza of command-line output of `virtuoso-t -?`, as this will confirm the `git_head` of your build (which the log snippet you provided does not).

Alternatively, you can use the [SPARQL query found here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaSparql) to query the running instance, to get the same detail.

[2021-07-23 17:20] hroptatyr commented on #571
@TallTed

    Virtuoso Open Source Edition (Column Store) (multi threaded)
    Version 7.2.6.3233-pthreads as of Jun 22 2021 (111d17e5b)
    Compiled for Linux (x86_64-generic_glibc25-linux-gnu)
    Copyright (C) 1998-2021 OpenLink Software

@HughWilliams https://yadi.sk/d/wVqdUunHyv5xPg

[2021-07-26 21:47] HughWilliams commented on #571
@hroptatyr:  Is the `virtuoso.db` file provided a copy of the original database before the special debug transaction logging was enabled? As I would have expected this query —

[code]

— to return `0` rather than `4`, which indicates the `rdf_quad_pogs` index has missing values compared to the `rdf_quad` primary key index.

[2021-07-27 07:39] hroptatyr commented on #571
You're right, my bad.  Attached a proper version, double checked this time.

https://yadi.sk/d/Vks4seAia9ZzEQ

[2021-07-27 11:48] galgonek opened #974 "Wrong behaviour of SQL WHERE"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the table —

[code]

— then the SQL query —

`select id from test where 0 < (pos_end - pos_start) and 100 > (pos_end - pos_start);`

— returns an empty result. However, `'ID2'` should be returned.

[2021-07-27 11:50] galgonek opened #975 "Variable in T_IN list and corresponding variable in T_OUT get values from columns that are too different"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the tables —

[code]

— and define the mapping —

[code]

— then the SPARQL query —

[code]
— returns the error —

`SQ074: Line 5: SP031: SPARQL compiler: Variable ?_::trans_subj_4_1 in T_IN list and corresponding variable ?_::trans_

[2021-07-27 11:51] galgonek opened #976 "Internal error: ssg_print_box_as_sql_atom (): bad mode"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the table —

[code]
— and define the mapping —

[code]

— then the SPARQL query —

[code]

— returns the error —

`SQ074: Line 6: SP031: SPARQL compiler: Internal error: ssg_print_box_as_sql_atom (): bad mode`

As a workaround, the `

[2021-07-27 11:59] galgonek opened #977 "Missing IS NOT NULL condition"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the tables —

[code]

— and define the mapping —

[code]

— then the SPARQL query —

[code]

— returns the following result —

[code]

However, this result is wrong, because an empty result should be returned.

This is due to the fac

[2021-07-27 12:03] galgonek opened #978 "Incorrect "TOP 1" optimization"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the tables —

[code]

— and define the mapping —

[code]

— then the query —

[code]

— returns the result —

[code]

However, this result is wrong, because an empty result should be returned.

This is due to the fact that the SPARQL

[2021-07-27 12:06] galgonek opened #979 "Wrong behaviour of SPARQL DISTINCT"
While working on a study comparing different approaches to query the neXtProt dataset, I have observed that Virtuoso returns wrong results in some cases.

If I create the table —

[code]

— and define the mapping —

[code]

— then the SPARQL query —

[code]

— does not return a full IRI, but only fragment 'NX_Q15365' is returned.

As a workaround, it is possible to use the following query —

[code

[2021-07-27 12:24] openlink commented on #979
Our development team will review this issue and report back as soon as posible.

[2021-07-27 12:24] openlink commented on #978
Our development team will review this issue and report back as soon as posible.

[2021-07-27 12:24] openlink commented on #977
Our development team will review this issue and report back as soon as posible.

[2021-07-27 12:25] openlink commented on #976
Our development team will review this issue and report back as soon as posible.

[2021-07-27 12:25] openlink commented on #975
Our development team will review this issue and report back as soon as posible.

[2021-07-27 12:26] openlink commented on #974
Our development team will review this issue and report back as soon as posible.

[2021-08-07 00:46] imitko commented on #102
This is already fixed.

[2021-08-07 00:46] #102 closed, assigned to imitko

[2021-08-08 09:45] Invincibled opened #980 "The data support orders of magnitude"
Hello, I would like to ask about the data volume level supported by Virtuoso. Can it support up to TB?
How efficient is it at the TB level? Has it been tested?

Looking forward to your reply. Thank you

[2021-08-09 12:27] HughWilliams commented on #980
Yes, Virtuoso can handle multiple TB data volumes as can been see for some of the publicly hosted instances as detailed in spreadsheet [here](https://docs.google.com/spreadsheets/d/1-stlTC_WJmMU3xA_NxA1tSLHw6_sbpjff-5OITtrbFw/edit#gid=812792186) ...

[2021-08-09 14:42] ebremer commented on #980
I have 20 billion triples loader in my virtuoso instance.  Runs like a champ.

[2021-08-25 14:22] JervenBolleman opened #982 "no prefix, for loaded iri (truncated data)"
In UniProt we sometimes get this error in the return from queries, and this specific case came in from our help desk. By a user which has loaded our data independently.
I am removing all sparql layers to show the issue.
Currently it is showable live with [describe <http://purl.uniprot.org/EMBLWGS/MBP5512258>](https://sparql.uniprot.org/sparql/?query=describe+%3Chttp%3A%2F%2Fpurl.uniprot.org%2FEMBL

[2021-08-25 17:46] TallTed commented on #982
@imitko  @pkleef @openlink -- Please take a look at this...

[2021-08-25 17:50] TallTed commented on #965
@JervenBolleman -- May we consider this issue closed, given the commit above, and your closure of #966?

[2021-08-25 18:01] JervenBolleman commented on #965
@TallTed  yes. I still recommend and am willing to help to eradicate all finalizer uses. But the situation has improved a bit.

[2021-08-25 18:01] #965 closed, assigned to smalinin

[2021-08-25 18:27] TallTed commented on #965
@JervenBolleman -- Your efforts are appreciated!

Unfortunately, due to the patterns of our development work, PRs against the VOS repos can rarely be applied directly or completely -- but reproduction steps for any observable issues are always helpful, as are pointers to and suggested fixes for specific bugs in the code, which do help us resolve them in our internal codebase, and then apply those

[2021-08-29 11:30] imitko commented on #982
This error means no such IRI defined, i.e., the number does not have a corresponding record in `RDF_IRI` and/or `REF_PREFIX` table.

Therefore this error not a bug, it indicates a problem with `O` reported at the beginning about missing record for the IRI `ID` `18428523848`.

The solution is to find the corresponding data for that row in quad table `(G,S,P,O)`; delete that row from `RDF_QUAD`; and

[2021-08-29 11:57] hideki-db commented on #982
The same server responds to the query —
`SELECT * { <http://purl.uniprot.org/EMBLWGS/MBP5512258> <http://purl.uniprot.org/core/encodedBy> ?o . }`
— with a wrong answer, `:no prefixgene-J6X90_02640`, but it responds to the query —
`SELECT * { <http://purl.uniprot.org/EMBLWGS/MBP5512258> ?p <http://purl.uniprot.org/EMBLWGS/MBP5512258#gene-J6X90_02640> . }`
— with the correct answer, `http://purl.uni

[2021-08-29 16:45] JervenBolleman commented on #982
@imitko  For me the issue then should be renamed to `rdf_loader_run(log_enable=>2)` can leave `IRI_ID`s inserted in inconsistent state.

90 billion triples is a significant number to fix after the fact.

[2021-08-29 17:13] imitko commented on #982
@JervenBolleman what is the average number of triples in the source RDF dumps? If not so many, then one always can specify `log_enable=>0` to disable row auto commit mode.

[2021-09-07 15:51] ashepherd commented on #568
I can confirm this issue on `Virtuoso version 07.20.3215 on Linux (x86_64-pc-linux-gnu), Single Server Edition`

RDF Data: [N-Triples](https://github.com/openlink/virtuoso-opensource/files/7122798/n-triples.txt)

SPARQL Query:
[code]

where `?depth` is of datatype `xsd:float`

![Screen Shot 2021-09-07 at 11 43 35 AM](https://user-images.githubusercontent.com/2117576/132373646-97a1a218-ede0-4228-a8

[2021-09-07 18:40] TallTed commented on #568
@imitko @pkleef @openlink @IvanMikhailov -- Please have a look at this.

[2021-09-07 18:56] kidehen commented on #568
Where is the SPARQL Query Results URL for recreating the problem? None of the links in the stackoverflow page produce a solution.

Please produce a specimen (i.e., SPARQL Results URL) before acceptance and assignments are made.

[2021-09-07 18:59] ashepherd commented on #568
Our SPARQL endpoint is open to the public for now. Here's a URL to the query with duplicate results:

https://kg.oceanproteinportal.org/sparql?default-graph-uri=&query=PREFIX+opp%3A+%3Chttp%3A%2F%2Fschema.oceanproteinportal.org%2Fv2%2F%3E%0D%0APREFIX+sosa%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fsosa%2F%3E%0D%0ASELECT+DISTINCT+%3Flabel+%3Fdepth+%3Fstation%0D%0AWHERE+%7B+%0D%0A++%3Curn%3Aopp%3Adataset%

[2021-09-07 19:05] kidehen commented on #568
[Here's a rendition](https://kg.oceanproteinportal.org/sparql?default-graph-uri=&query=PREFIX+opp%3A+%3Chttp%3A%2F%2Fschema.oceanproteinportal.org%2Fv2%2F%3E%0D%0APREFIX+sosa%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fsosa%2F%3E%0D%0ASELECT+DISTINCT+%3Fg+%3Flabel+%3Fdepth+%3Fstation%0D%0AWHERE+%7B+%0D%0A++graph+%3Fg+%7B%0D%0A++%3Curn%3Aopp%3Adataset%3Ametzyme-0.2%3E+opp%3AstoresResultsForSample+%3Fsampl

[2021-09-07 19:11] ashepherd commented on #568
ah, thank you @kidehen, my apologies! apparently, I'm missing good SPARQL knowledge. sorry for the false alarm

[2021-09-07 21:54] TallTed commented on #568
@jordipala -- As @kidehen noted above, the StackOverflow queries bring zero solutions on DBpedia today. Can you update your query, and indicate whether you still see the described issue, or these followups clear up the issue for you, such that we may mark it closed?

[2021-09-09 08:22] joka921 commented on #274
I can confirm that as of today it is still not possible to load `Wikidata` into `virtuoso-opensource` for the reason mentioned above (` RDFGE: rdf box with a geometry rdf type and a non geometry content`). I tried with the latest development version (commit hash  `91f71b07d728697a6da0b6ccc74311da6e97e983` ) .

[2021-09-09 23:22] TallTed commented on #274
@joka921 -- Please try following the steps outlined in [this article](https://community.openlinksw.com/t/loading-wikidata-into-virtuoso-open-source-or-enterprise-edition/2717), and follow up there if you still see issues with the geodata.

[2021-09-20 09:19] NathanHerr opened #983 "Multiple Failed Queries with S1TAT Error and HY008 Error SR203"
Hi,

I am running multiple complex queries to a private server hosting VOS with FreeBase loaded.

I have set the timeout parameter (`sparql.addExtraURITag("timeout", "20000")`) but I am still receiving the following timeout error:

`Virtuoso S1TAT Error RC...: Returning incomplete results, query interrupted by result timeout.`

The following error, I do not know the origin of and would appreciate

[2021-09-20 12:56] HughWilliams commented on #983
Please try setting `sparql.addExtraURITag("timeout", "0")` to disable timeouts, to see if this resolves the `Virtuoso S1TAT Error RC...: Returning incomplete results, query interrupted by result timeout` errors.

This should also resolve the `Virtuoso HY008 Error SR203: Async statement killed by SQLCancel` errors, as they are probably occurring as a result of timeouts and Virtuoso attempting to ro

[2021-09-20 14:05] farshad68 commented on #299
We use this version of Virtuoso.
[code]
Without any configuration and run in this way
[code]
Our algorithm does several queries at the endpoint. They are only select queries, and the problem is that after a while (no regular happening), we receive this error as a result, and for the following queries, the exact response received

[code]

I have no idea what would be the reason for this or how I co

[2021-09-20 18:06] boutros commented on #299
As it stands, I belive your best option is to modify your client to retry the query (after waiting some milliseconds) if it receives a 404 response from the SPARQL endpoint.

[2021-09-20 18:29] TallTed commented on #299
@farshad68 —

First thing, please note that your sample "long" query does not seem likely to be doing what you want, as the sequence of `a <TYPE_URI> ; a <TYPE_URI> ; ...` is an implicit `AND` — and is equivalent to a sequence of `a <TYPE_URI> , <TYPE_URI> , ...` — so it will only match on `?s` entities which are typed as *all* of those `<TYPE_URI>`, the `COUNT` of which I'm pretty sure will be ze

[2021-09-20 20:08] #192 closed, assigned to imitko

[2021-09-20 20:08] #223 closed, assigned to imitko

[2021-09-21 11:17] NathanHerr commented on #983
Hi @HughWilliams and @TallTed,

Thanks for your response.

I will try setting the `timeout` to 0, although I don't want there to no timeout. Some of the queries which I am running are quite complex and will take too long if left unchecked, which is why I opted to set the anytime timeout. Will setting the `timeout` to 0 indicate what the possible causes of the current errors may be?

For the last e

[2021-09-21 13:13] farshad68 commented on #299
@TallTed
Thank you for your hint about the query, but the query is the exact query we need (in this case, it has no result, and for us, it is ok). About the 404 error, yes, the endpoint is available, and it is
[code]
 For running queries (the method is [here](https://github.com/dice-group/COPAAL/blob/restructuring/service/src/main/java/org/dice_research/fc/sparql/query/QueryEngineCustomHTTP.java)

[2021-09-21 20:33] HughWilliams commented on #983
Yes, enabling anytime should be a viable approach to take to enable the return of at least partial results, but we are seeking as a test to disable anytime to let the queries run to completion to determine if they do then return results ?

Regarding the other  `HTTP/1.1 404 File not found` error I see there is another ongoing report of intermittent occurrences of this error in  [gitissue#299](http

[2021-09-23 08:54] NathanHerr commented on #983
@HughWilliams I will let you know what the results are of setting the `timeout` to 0 and will get back to you about the results.

As for [gitissue#299](https://github.com/openlink/virtuoso-opensource/issues/299) - this seems likely to be the same issue! I have read through the entire thread, is there solution to this yet?

[2021-09-23 11:19] Invincibled opened #984 "Striping Segment"
Hi:
Virtuoso version:
[code]
I enabled Striping, but when I started it, I got the following error:
[code]

How do I configure it?

[2021-09-23 12:36] HughWilliams commented on #984
See this documentation on [Virtuoso Database Striping](http://docs.openlinksw.com/virtuoso/ptune/) , which works for me with the Virtuoso Open Source `stable/7` and `develop/7` branches.

Thus how are you setting this up that might be different ?

[2021-09-23 15:06] NathanHerr commented on #983
@HughWilliams I have some more information. After seeing the following query:

 `PREFIX ns:<http://rdf.freebase.com/ns/> SELECT * FROM <http://freebase.com> WHERE {ns:m.094w0s ?r1 ?e1.?e1 ?r2 ?e2.?e2 ?r3 ?e3.?e3 ?r4 ns:m.09v1_r.}`.

result in a

`Virtuoso S1TAT Error RC...: Returning incomplete results, query interrupted by result timeout.`

error I ran the exact same query (on its own this time -

[2021-09-23 22:30] HughWilliams commented on #983
What is the version of the Virtuoso server being used, which can be obtained with the command `virtuoso-t -?`?

What does the output of running the `status();` command run from `isql` report?

Please run the following command to check the database integrity and any possible corruption —

[code]

— and the following commands to check the Primary Key and Indexes on the `RDF_QUAD` table —

[code]

Th

[2021-09-24 05:46] Invincibled commented on #984
Thank you for your reply.

I enabled the Striping function because I want to test it now, so I don't have multiple disks to configure this, is it because of the configuration problem on the same disk?

My virtuoso.ini configuration is as follows:

[code]

[2021-09-24 05:49] Invincibled commented on #984
And the version of Virtuoso I use is `virtuoso-opensource.x86_64-generic_glibc25-linux-gno.tar.gz`, which is a compiled binary file downloaded directly from Github. Is there any problem with using this version?

[2021-09-24 07:28] HughWilliams commented on #984
What striping are you seeking to enable, as `Striping=0` (disabled) in the `[Database]` section  and `Striping=1` (enabled) in the `[TempDatabase]` section of the INI file, with the `[TempStriping]` section commented out, i.e., no segments?

I would have thought it is the database you are seeking to stripe, more than the temp database which is a scratch database that is discarded by the system ove

[2021-09-24 10:14] Invincibled commented on #984
oh sorry , That's  my negligence ,thank you very much .

Let me ask you another question：

If I have two segments (50 gb each) and the two segments have a total size of 100 GB, if I have more than 100 GB of data, the data will continue to be appended to these two segments, right?

[2021-09-24 10:34] Invincibled opened #985 "Index create error"
Hi:

An error occurs when I use the following command to create an index and then import data

command:

[code]

error:
[code]

I'm not sure if the index was created correctly or if the parameters were correct.

My `virtuoso.ini` configuration remains the default, except for the following two configurations:
[code]

[2021-09-24 15:37] NathanHerr commented on #983
The version is:

[code]

Status:

[code]

I ran the command `backup '/dev/null';` and will run the rest of the commands once it has completed.

Thank you again for all your help.

[2021-09-25 20:46] HughWilliams commented on #984
Yes, the initial segment size is what it will be initially created to be and then dynamically grow as required, file system size permitting ...

[2021-09-25 21:02] HughWilliams commented on #985
Why are you seeking to create additional indexes on the `RDF_QUAD` table as the [2 full & 3 partial](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning#RDF%20Index%20Scheme) are found to work for most RDF query work loads / use cases, and it is not advisable to create additional indexes, which are probably unnecessary, consume additional disk space, and have not been validated?

[2021-09-26 02:53] Invincibled opened #986 "Virtuoso Service disruption"
Hi,
Virtuoso had a service interruption while I was importing using `RDF_loader_run ()`， The error message is as follows, There are no obvious errors in the log.
[code]

My `virtuoso.ini` configuration remains the default, except for the following two configurations:
[code]

[2021-09-26 02:53] Invincibled opened #987 "Virtuoso Service disruption"
Hi,
Virtuoso had a service interruption while I was importing using `RDF_loader_run ()`， The error message is as follows, There are no obvious errors in the log.
[code]

My virtuoso.ini configuration remains the default, except for the following two configurations:
[code]

[2021-09-26 16:57] HughWilliams commented on #986
Are you still using the Virtuoso database with the custom RDF index created in [gitissue#985](https://github.com/openlink/virtuoso-opensource/issues/986)?

Is there any indication in the system log file (`/var/log/messages`, etc.) that the Virtuoso server was killed or shutdown by the kernel?

If core file creation is enabled with `ulimit -c unlimited` before starting the Virtuoso server, is a cor

[2021-09-26 16:59] #987 closed, assigned to nobody

[2021-09-27 02:58] Invincibled commented on #986
Thank you for your reply.

No, I didn't customize the index again, I used the default index.

Sorry about that I didn't turn on the tracking service，So, it doesn't look like there's any more information coming out.

Thanks anyway.

[2021-09-27 09:30] NathanHerr commented on #983
@HughWilliams here are the results of the commands:

[code]

[2021-09-27 15:04] NathanHerr commented on #983
@HughWilliams some additional information:

After testing the following query with a `timeout = 0`

`PREFIX ns:<http://rdf.freebase.com/ns/> SELECT * FROM <http://freebase.com> WHERE {ns:m.0dhmm9 ?r1 ?e1.?e1 ?r2 ?e2.?e2 ?r3 ?e3.?e3 ?r4 ns:m.0111gwg0.}`

the following error is received `Virtuoso S1T00 Error SR171: Transaction timed out`. However, when I set the `timeout=10000` or `50000` or `60000`

[2021-09-27 17:30] TallTed commented on #987
Duplicate of #986

[2021-10-01 07:40] MaillPierre opened #988 "Virtuoso 42000 Error GBJON: Partitioned hash table must be of the chash type"
For a research project, I am extracting statistics about the content on RDF bases. To avoid using several nested blank nodes and to be able to gather the stats concerning the same classes and properties from my dozen of queries, I sent to DBpedia the following query where I generate Uris.

[code]

I obtained the following error, that I do not understand:
`Virtuoso 42000 Error GBJON: Partitioned ha

[2021-10-01 15:47] TallTed commented on #988
I see the same error on the DBpedia endpoint. The [EXPLAIN() output for the query](https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=PREFIX+prov%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fprov%23%3E%0D%0APREFIX+earl%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fearl%23%3E%0D%0APREFIX+kgi%3A+%3Chttp%3A%2F%2Fns.inria.fr%2Fkg%2Findex%23%3E%0D%0APREFIX+void%3A+%3Chttp%3A%2F%2Frdfs.org%2Fns%

[2021-10-07 14:08] NathanHerr commented on #983
@HughWilliams any news on this yet?

[2021-10-08 04:10] Invincibled opened #989 "virtuoso deployment in production"
Hi，

We intend to deploy virtuoso Open Source Version in production, however, we do not know best practices.

1. If we enable striping, how many stripings should we divide into and how should we configure the size of each striping?

2. How do we configure Striping I/O queues and how are these appropriate (e.g., how many)?

3. Do temporary databases need striping? How to configure it if necessary?

[2021-10-08 10:11] DDouteaux opened #990 "SECURITY: SPARQL results include graphs protected with read access when no global read access is given"
Hi,

We are using Virtuoso in order to store multiple terminology graphs, and restrict access to some of these graphs. We had to distinguish three kind of access :

1. Graph is accessible to everybody
2. Graph is only accessible to a connected user
3. Graph is accessible to nobody except admin

In order to perform this, we used per graph read access on world graphs (in a first time) splitted betwe

[2021-10-08 16:46] TallTed commented on #989
These questions may be better suited to the [OpenLink Community Forum](https://community.openlinksw.com/) for several reasons, not least being that their answers are not specific to the Open Source Edition.

That said, I will provide brief answers here.

First thing -- in the past, many filesystems limited individual file sizes to 2GB or smaller. This was a good reason to stripe a logically larger

[2021-10-08 17:13] TallTed commented on #990
First thing, this question may be better raised on the [OpenLink Community Forum](https://community.openlinksw.com/), as I believe the nuances you're encountering apply to both Open Source and Enterprise Edition.

Next, please note that the user `nobody` does not actually mean "no-one"; it means "unauthenticated user" (which is distinct from any and all authenticated users).  That alone might be e

[2021-10-09 02:52] Invincibled commented on #989
Hi

Yes, your response has been very helpful, however perhaps we need to find best practices in practice that match our own.

I'll check out the community and maybe ask more details.

Thank you very much.

[2021-10-09 02:52] #989 closed, assigned to nobody

[2021-10-10 19:09] HughWilliams commented on #983
@NathanHerr

When the "entire query set" is in the process of being run, or ideally just before the "Virtuoso S1T00 Error SR171: Transaction timed out" error, can you provide the output of running the `status();` command, to see state of the database at that point?

Please also provide copies of the `virtuoso.ini` and `virtuoso.log` files for review.

[2021-10-11 03:35] Invincibled commented on #871
@jheinecke

hi, I'm a developer , we are currently considering using the Virtuoso Open Source Version.

However, we also need to enable Striping, so I would like to ask, what is your main basis for dividing the 5 segments, and what do you think about the performance of this division?

If you have other suggestions, or best practices, or recommended configurations, I would like to share them with y

[2021-10-11 07:42] jheinecke commented on #871
@Invincibled
Hi, I cannot really remember why I chose 5 segments, I just needed to have the 800M quads read into virtuoso in a reasonable time (which worked at the end). I'm afraid I cannot you help much further, since I was happy with the solution at the time

[2021-10-11 08:58] NathanHerr commented on #983
virtuoso.ini

[code]

[2021-10-11 09:00] NathanHerr commented on #983
[virtuoso.log](https://github.com/openlink/virtuoso-opensource/files/7321082/virtuoso.log)

[2021-10-11 09:01] NathanHerr commented on #983
With regards to running `status();` while the queries are running — I will attempt to get this for you in the meantime. Thanks.

[2021-10-12 16:38] TallTed commented on #990
@DDouteaux -- Some further suggestions from the OpenLink Virtuoso Team follow...

-----

How do the results of your `SELECT COUNT(?code)...` query compare for different users:
- an unauthenticated user (user '`nobody`')
- authenticated user '`connecteduser`'
- user '`dba`'

-----

Could you confirm that the behavior you're seeing is consistent with [16.4.5 Understanding Default Permissions](http:/

[2021-10-12 17:45] TallTed commented on #871
@jheinecke @Invincibled

Fast bulk loading does not necessarily call for striping -- and striping may even cause significant slowdown if all stripes are on a single device, whether HDD or SDD, or if multiple devices share one controller, among other contributing factors.

For best results, we typically recommend using our bulk load tools, with one bulk load process per CPU/thread, up to half the a

[2021-10-13 13:56] jakubklimek opened #991 "FCT & web indexing security issue"
I have encountered a security issue on all (my) deployed fct instances.

When accessing `/describe/?url=http://does.not.exist`, HTTP 404 code is returned when no data is found.
![image](https://user-images.githubusercontent.com/718827/137145503-c38dd0e2-3524-4e30-884d-87c637ecebd8.png)

However, `/fct/rdfdesc/usage.vsp?g=blabla/ddd` returns HTTP 200 and prefixes the query string with `http://` whe

[2021-10-13 18:23] TallTed commented on #991
@pkleef @kidehen @HughWilliams @openlink @imitko --

Please look into this reported vulnerability in FCT

[2021-10-14 10:50] HughWilliams commented on #991
We are looking into the issue and will report back on our findings ...

[2021-10-14 14:20] DDouteaux commented on #990
Hi @TallTed ,

First of all, thank you for both your answers ans your time. Here are the additionnal elements you asked for.

# Usage of `nobody`
Sorry for the misunderstanding concerning `nobody`, we used it as "unauthenticated user", and I was unclear in my post.

# Acces to our DB
I can not give you an URL in order to connect to it. However I can share you a copy of our DB as you have asked and

[2021-10-14 15:44] zidingz opened #992 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@theworstcomrade) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best

[2021-10-14 21:03] TallTed commented on #990
(Tangentially, please note that the query language here is SPARQL, which is a recursive acronym of "SPARQL Protocol and RDF Query Language".  "SparQL" is a common but mistaken capitalization, as there is no "Spar" for which this is the "QL".)

Thank you for the detailed additional information!  I'll leave it to the assigned team member(s) to arrange to get a copy of your database and/or load scrip

[2021-10-14 22:56] kidehen commented on #991
@jakubklimek,

Thanks for spotting the issue.

We are going to get it fixed.

[2021-10-15 05:01] Invincibled opened #993 "Default Graphs"
Hi ,

When I install Virtuoso Open Source, I find that there are already some built-in graphs like the following:

http://www.openlinksw.com/schemas/virtrdf#
http://www.w3.org/ns/ldp#
urn:activitystreams-owl:map
http://localhost:8890/sparql
http://localhost:8890/DAV/
http://www.w3.org/2002/07/owl#

Can these be deleted?

Looking forward to your reply. Thank you.

[2021-10-15 05:28] Invincibled opened #994 "Default Graphs"
Hi ,

When I install Virtuoso Open Source, I find that there are already some built-in graphs like the following:

http://www.openlinksw.com/schemas/virtrdf#
http://www.w3.org/ns/ldp#
urn:activitystreams-owl:map
http://localhost:8890/sparql
http://localhost:8890/DAV/
http://www.w3.org/2002/07/owl#

Can these be deleted?

Looking forward to your reply. Thank you.

[2021-10-15 05:32] #994 closed, assigned to nobody

[2021-10-15 07:57] DDouteaux commented on #990
Thank you for this quick feedback. I'll do the additional testing you asked for today in order to reproduce with a knowable `git_head`. For information, the version I'm using is the artifact downloadable directly from this repo, and was downloaded before the last tests (ie. 2 weeks ago).

I'll keep you up to date today or Monday, depending on when my testing are done.

Regards.

[2021-10-15 10:54] pkleef commented on #991
I [committed a number of fixes on develop/7](https://github.com/openlink/virtuoso-opensource/commits?branch=develop/7&since=2021-10-14&until=2021-10-16) including several fixes for the FCT package.

The patches  you requested are:

   * [return 404 when url does not exist](https://github.com/openlink/virtuoso-opensource/commit/465dba9b900b9cf4d32bfa6bc4e0696b9da73a66)
   * [added noindex on usage.

[2021-10-15 10:54] #991 closed, assigned to nobody

[2021-10-15 11:17] HughWilliams commented on #993
These are "system" graphs used by the Virtuoso RDF Storage and should not be deleted

[2021-10-15 11:17] #993 closed, assigned to nobody

[2021-10-15 14:29] DDouteaux commented on #990
Hi @TallTed,

After double checking my installation script, I noted that I downloaded the Virtuoso archive I use through this link : https://github.com/openlink/virtuoso-opensource/archive/64663f91c657aec14bbdcef8b6e5c9b6ac89cb8b.zip. If I'm right, I do think that this indicates that we are using a version based on the commit `64663f91c657aec14bbdcef8b6e5c9b6ac89cb8b`, which corresponds to the com

[2021-10-15 16:25] HughWilliams commented on #992
We are looking into the issue and will report back on our findings and fix ...

[2021-10-16 21:36] TallTed commented on #990
Hi, @DDouteaux -- Yes, you're correct in your interpretation of what you downloaded and built from, which means that you are running the June 22 version, and don't have the benefit of any of the [commits since then](https://github.com/openlink/virtuoso-opensource/commits?branch=develop/7&since=2021-06-22).  As I noted before, I'm not aware of any specific changes therein which would impact your im

[2021-10-16 21:50] TallTed commented on #994
Duplicate of #993

[2021-10-18 04:28] #984 closed, assigned to nobody

[2021-10-18 14:16] TallTed commented on #984
Hi, @Invincibled --

Something that I noticed just now, worth noting for the future...

[You said](https://github.com/openlink/virtuoso-opensource/issues/984#issuecomment-926363701) —

Please note that the `.tar.gz` filename does not change from version to version (though the complete download link should), and could contain any Virtuoso version from several years of codebase.

In contrast, you [o

[2021-10-19 14:05] ccolonna opened #995 "Docker image with virtuoso and loaded data"
Good morning I need to create a Docker image / container exposing a sparql endpoint, with a KG I have, serialized as `.ttl` and `.owl` files.

Do you have any guide or tutorial to do this ?
Do you think is possible to load triples in `.ttl`, `.owl` fiels in an automated way without opening the web panel ?

[2021-10-19 17:01] HughWilliams commented on #995
This is possible with our latest Docker images I am advised, although not documented yet, so we are going to produce and publish details on how this can be done on our [community forum](https://community.openlinksw.com), and I shall notify you with link when it is complete ...

[2021-10-20 12:00] ccolonna commented on #995
That's a great news! Looking forward to see that!

[2021-11-05 20:24] datamusee commented on #728
Hello
In my work, I need to use `<SERVICE <http://fr.dbpedia.org/sparql>`  to find data relative to strings in my dataset.
My sparql query is processed with Fuseki. For now, I can't find a way to compare my strings to the results in dbpedia
My target is, for example:
`<http://fr.dbpedia.org/resource/La_Rochelle>	<http://dbpedia.org/ontology/postalCode>	"17000"^^<http://www.w3.org/2001/XMLSchema#st

[2021-11-05 21:33] TallTed commented on #728
Note that the way your queries are constructed, the SERVICE clause is the "innermost" subquery, and that gets evaluated before the "outer" subqueries.  This is because SPARQL is evaluated "from the inside out" (sometimes confusingly called "from the bottom up", leading people to think evaluation starts at the lexical bottom of the query).

Also note that putting the `DISTINCT` on the "outer" query

[2021-11-06 08:37] datamusee commented on #728
The `bind` is outside the `service` because it is here just as a sample code to set `?scode` from the "local" dataset. The real pattern/query is more complex and set `?scode` by querying the local dataset, then go to the dbpedia service to get some complementary data.

[2021-11-06 21:27] TallTed commented on #728
I believe I understand what you're trying to do.

The "local" subquery that gives the partial results that are then meant to be used against DBpedia must be executed *before* the remote `SERVICE` subquery.

This means that the "local" subquery must be "lower" or more "inner" than the remote `SERVICE` subquery.

If you provide your actual query, we can provide a suggested SPARQL rewrite.

Alternati

[2021-11-07 11:52] KonradHoeffner opened #996 "How to best execute arbitrary SQL on first startup?"
I want to execute a `setup.sql` on first startup of a Virtuoso docker container, what would be the best method to do this using the official docker image?

In the following, I describe how I do it right now using the tenforce/virtuoso container by using a similar method as they do in their startup script, as they publish the GitHub repository source their image.
However I want to switch to the off

[2021-11-07 20:29] pkleef commented on #996
I would not recommend the method you are using as the standard entrypoint script can basically perform all of these functions and more.

I am actually writing a tutorial on now on how to run scripts on database creation, which i hope to finish in the coming week.

As soon as the draft is ready on our community forum i will post a link here.

[2021-11-08 07:40] KonradHoeffner commented on #996
Great to hear! I will switch to your method as soon as the draft is available.

[2021-11-25 10:49] holycrab13 opened #997 "Change href in the new HTML interface to relative path"
The latest version with the improved HTML interface on the sparql endpoint has an issue with the 'send query' button since it uses an absolute path.

The query send via button always go to `[base_url]/sparql?query...`
However we are providing that interface via a proxy at `/system/sparql` - the absolute path in the button href sends all the queries into the void!

Can this be changed to use a rela

[2021-11-26 13:18] HughWilliams commented on #997
We are looking into this and will report back with update on what can be done ...

[2021-12-06 09:18] KonradHoeffner commented on #995
@ccolonna: If you need that functionality now before the documentation is out, you can accomplish this with the tenforce/virtuoso container by mounting your .ttl files into `/data/toLoad`. I don't know if .owl works too, maybe you need to convert it.

You can also try https://github.com/Dockerizing/virtuoso-import-docker, it is a bit older but it has some special functionality, like continuous upd

[2021-12-15 14:57] SommerEngineering opened #999 "Security (CVE-2021-44228): Log4Shell"
This project seems to contain an outdated version of Log4j (version 1.x), at least according to GitHub's search results 😕 . Does this only affect the test versions or the release versions as well? I downloaded the latest release for Linux as a `*.tar.gz` file and could not find any Log4j library 👍 . Can you confirm that Virtuoso is not affected by this CVE, though? 🙂

[2021-12-15 15:24] smalinin commented on #999
Log4j Java library used by Jena2 and Jena3 (and old Sesame) isn't part of Virtuoso. We distribute only DB access providers for Jena (and old Sesame), and these providers are used by Jena (and old Sesame) applications. The DB access providers for Jena connect to Virtuoso via TCP/IP connection, so CVE may be on Jena app side, but I think that new Jena versions were updated to use more recent Log4j a

[2021-12-15 15:28] HughWilliams commented on #999
See also the following document on  [Evaluation of the Log4J / CVE-2021-44228 vulnerability](https://community.openlinksw.com/t/evaluation-of-the-log4j-cve-2021-44228-vulnerability/2902) on OpenLink products, including Virtuoso ...

[2021-12-15 15:53] SommerEngineering commented on #999
Thank you for your quick responses 👍 🙂

[2021-12-15 15:53] #999 closed, assigned to nobody

[2021-12-15 15:54] pkleef commented on #999
To make absolutely clear, our `Jena`, `Sesame`, `RDF4J` Providers, as well as our `JDBC` Driver, for Virtuoso, do not use this `log4J API` in themselves. Some of the frameworks we used to built our Providers did historically use this API (e.g., for their test suite) which is why you see historical references in the `CLASSPATH` for building these providers.

There *are* references to the `log4j 1.x

[2021-12-15 16:00] pkleef commented on #997
I have committed [an initial fix](https://github.com/openlink/virtuoso-opensource/commit/1414d9dd987cf3f86867fe6dc0092d5119f38e0b) to the develop/7 branch.

Please note that this only fixes the `Execute` button.

Note that other parts of the code that still reference `/sparql` and we have not made a decision on fixing those.

[2021-12-16 07:31] jakubklimek opened #1000 "Bug in binding EXISTS result"
On [this endpoint](https://slovník.gov.cz/sparql) when I execute this query:
[code]
I get `false`. Indeed, in the data, there is no such property path. However, when I bind the result of EXISTS on the same graph pattern, I get `1`:
[code]

A secondary issue with this query is that I need to disable strict checking of void variables, otherwise I get `Virtuoso 37000 Error SP031: SPARQL compiler: The

[2021-12-16 10:59] pkleef commented on #1000
Our development team will have a look at this issue.

[2022-01-01 09:44] debayan commented on #723
Hi,
I am running a set of queries on my DB, but none of them are insert update delete queries, and yet, there is a huge transaction file being created. Any idea why?

[2022-01-02 05:46] TallTed commented on #723
@debayan -- Please delete your comment above (which is not related to this existing issue) and create a new issue here on GitHub, or post your question to the [OpenLink Community Forum](https://community.openlinksw.com/). Please include details, like the specific version of Virtuoso you're running (output of `virtuoso -?` is usually sufficient) and the name and specific version of its host OS, and

[2022-01-02 11:00] debayan commented on #723
Ok bro.

[2022-01-05 00:05] #974 closed, assigned to imitko

[2022-01-05 16:26] TallTed commented on #974
@galgonek -- Does your closure of this issue signal that it's been resolved according to your testing of current builds?

[2022-01-05 16:51] galgonek commented on #974
@TallTed -- Yes, I tested the current build and the issue seems to be fixed. Thank you.

[2022-01-07 12:54] hroptatyr commented on #571
An update.  I ran into the issue again, this time on an empty database.
rdf_loader_run on `evtx.ttl.gz` will reproduce the issue.

    OpenLink Virtuoso Universal Server (Enterprise Edition)
    Version 08.03.3322-pthreads as of Jun  3 2021 (6ceb94f1f5)
    Compiled for Linux (x86_64-generic-linux-glibc25)
    Hosted Runtime Environments:  VDB
    Copyright (C) 1998-2021 OpenLink Software

Somethi

[2022-01-07 13:58] TallTed commented on #571
@pkleef @openlink @HughWilliams -- Please take a look at this.

[2022-01-07 23:47] HughWilliams commented on #571
The evtx.ttl.gz dataset loads fine for me ...

Binary:

[code]

Bulk load:

[code]

Virtuoso log:

[code]

Thus what are the specific steps you are performing and where is the error being seen ?

Might your `virtuoso.ini` config file have any special settings from the default in place ?

What Linux distro and version are you using ?

[2022-01-08 06:56] hroptatyr commented on #571
Thanks for testing.

It's a openSuSE 15.2

    $ /lib/libc.so.6
    GNU C Library (GNU libc) stable release version 2.26 (git 1c9a5c270d8b), by Roland McGrath et al.
    Copyright (C) 2017 Free Software Foundation, Inc.
    This is free software; see the source for copying conditions.
    There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
    PARTICULAR PURPOSE.
    Configured for

[2022-01-08 07:08] hroptatyr commented on #571
Sorry, found another diff in the virtuoso.ini:

    ;VectorSize  = 1000

when using this setting, even if it is `VectorSize = 0` or `VectorSize = 1` it *is* working, i.e. the error does not show up.

[2022-01-08 18:38] HughWilliams commented on #571
You still have not provided the steps being performed to reproduce the problem in your environment, so we can see exactly where the error is occurring when bulk loading the dataset?

With `;VectorSize  = 1000` (i.e., commented out in the INI file), the default value used by Virtuoso is `10000`, as per the [documentation](http://docs.openlinksw.com/virtuoso/vexqrparlconfp/). Commenting out the sett

[2022-01-09 05:28] hroptatyr commented on #571
Sure, I'm doing my experiments in `/var/tmp/vdbe/`. Here's the steps

    $ rm vi*; /opt/virtuoso-enterprise/bin/virtuoso +foreground +debug -c .w.ini

in a second shell:

    $ isql 1112 dba dba PROMPT=OFF CSV=ON load-evts.sql
    OpenLink Virtuoso Interactive SQL (Virtuoso)
    Version 07.20.3229 as of Nov 27 2018
    Type HELP; for help and EXIT; to exit.
    Connected to OpenLink Virtuoso

[2022-01-09 21:35] HughWilliams commented on #571
You omitted the fact that `LiteMode=1` is set in your INI file which is a **significant** difference, as in [LiteMode](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksGuideVirtLiteGuide) Virtuoso runs with minimal resource/memory foot print.

And the setting of `LiteMode=` in conjunction with the `VectorSize` INI file param being commented out with the default of `10000` then being used

[2022-01-09 23:20] hroptatyr commented on #571
Oh, it's been a while that I thoroughly studied ini file parameters, my bad. I was under the impression that LiteMode is a toggle for the sparql endpoint. I specifically set it for the testing environment to exclude another source of potential mishap.

You're right indeed that this minimal file doesn't show the error in the default setup but a much larger file (~40 Mtriples) of the same structure

[2022-01-10 14:00] HughWilliams commented on #571
As indicated in the [`LiteMode`](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksGuideVirtLiteGuide) link, it does a lot more than toggle/disable the `/sparql` endpoint, which is more a side effect than a specific use for `LiteMode`.

By "default setup", I presume you mean with a default INI file, i.e., without `LiteMode=1` set, etc?

If the larger file (~40 Mtriples) is converted to fro

[2022-01-10 14:18] hroptatyr commented on #571
Yes sorry, our jargons are not in sync.  Default setup is `virtuoso.ini` as can be downloaded from this repository here, for instance.

The ntriples version does indeed load (without error), BUT I noticed 2 missing entries in the `rdf_quad_pogs` index.

Thanks for looking into this.

[2022-01-10 23:27] HughWilliams commented on #571
Are you able to provide the dataset with the missing entries in the `rdf_quad_pogs` index, so we can attempt to recreate in-house?

Also, what is the output of the `rdf_quad_pogs` index query, and are any errors reported in the `virtuoso.log` file during the load?

[2022-01-12 01:38] hroptatyr commented on #571
It looks like we're chasing a Heisenbug.  I've been using the file I marked as working, well apart from two missing index entries, and to my surprise it shows the out-of-seg-data error today on a pristine `default.ini`.

Worse, I was able to cut it to about 4% (uniform sample of lines) and (for today at least) the error keeps showing.  File's attached.

Can you confirm? Is this of interest in the

[2022-01-12 10:47] HughWilliams commented on #571
I see the same issue with the "evts.nt.gz" dataset loading into an empty database with default INI file:
[code]

We should also pursue the `missing index entries` with the complete dataset that being what you are actually seeking to load. Thus if you can provide the dataset for local recreation that would be ideal ?

[2022-01-14 12:31] KonradHoeffner opened #1001 "Error in documentation of DB.DBA.RDF_GRAPH_GROUP_CREATE"
The `is_silent` parameter raises an error when set to `0` as expected given the parameter name. However, the web page <http://docs.openlinksw.com/virtuoso/fn_rdf_graph_group_create/> as cited below is written the other way around:

[2022-01-14 12:34] KonradHoeffner commented on #995
@HughWilliams: Is there a rough estimate of when this will be implemented? I looked into the community forum but didn't find it on first glance.

[2022-01-14 12:40] KonradHoeffner commented on #996
@pkleef: Is it possible to share the current state of the draft? I checked the community forum but didn't find it yet.

[2022-01-14 15:16] HughWilliams commented on #1001
@KonradHoeffner: I see what you mean. Thanks for the notification. We shall have that corrected in the documentation ...

[2022-01-14 18:01] HughWilliams commented on #995
@KonradHoeffner: This work is still in progress, checking with the development as to when it will be completed ...

[2022-01-18 11:04] doogyb opened #1002 ".db file not being read after crash"
The `virtuoso-t` process crashed and now it seems as though the `virtuoso.db` file is not being read - none of the graphs or previously ingested triples are available. I've tried the [how to recover a database](http://wikis.openlinksw.com/VirtuosoWikiWeb/HowToRecoverADatabase) from the troubleshooting but no luck.

[2022-01-18 14:00] pkleef commented on #1002
To determine the problem, we require a bit more information.

Please answer the following questions, so we can help you figure out what went wrong.

Q: What version of Virtuoso did you use?

Q: Was this a binary you built yourself from the source tree, or did you use one of the docker images?

Q: What method did you use to ingest triples into this database?

Q: Has the database been cleanly shutdo

[2022-01-19 10:28] doogyb commented on #1002
[code]

I used `virtuoso-opensource.x86_64-generic_glibc25-linux-gnu.tar.gz` found [here](https://github.com/openlink/virtuoso-opensource/releases/tag/v7.2.6.1)

I used the bulk loading method as described [here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader#Related)

Not entirely sure. If this is important I can re-examine the logs or post them to paste bin if that helps.

It was thi

[2022-01-21 13:41] galgonek opened #1003 "Options datatype and language are ignored by Literal classes"
It seems that Virtuoso ignores `datatype` and `language` options in `create Literal class` statements.

If I create the table —
[code]
— and define the mapping —
[code]
— then the SPARQL query —
[code]
--- returns the result ---
| P <br/> LONG VARCHAR | O <br/> LONG VARCHAR | datatype <br/> LONG VARCHAR | lang <br/> LONG VARCHAR |
|---|---|---|---|
| http://example.com/test1 | Virtuoso | http://ww

[2022-01-21 18:55] TallTed commented on #1003
@galgonek -- Please confirm the exact version of Virtuoso in use for this test, with the first stanza of output from the command-line `virtuoso-t -?` or `virtuoso-odbc -?` (or otherwise adjusted to match the Virtuoso executable name in your environment).

@pvk @HughWilliams @imitko @IvanMikhailov @openlink -- Please look into this issue with User-defined Custom Data Types.

[2022-01-21 19:19] galgonek commented on #1003
@TallTed  -- I have tested the last stable version  —
[code]
— and the last devel version  —
[code]

[2022-01-21 19:35] TallTed commented on #1003
@galgonek -- It appears you have built from a packaged download of source from GitHub, which leaves out a key snippet, which you can get with a proper clone -- which changes the `(000000)` seen in the strings above, to a GitHead value (such as `(1963b2bb52)`, which I got from the [current DBpedia backend](https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=PREFIX++bif%3A++%

[2022-01-21 20:04] galgonek commented on #1003
@TallTed

[code]
— and —
[code]

[2022-01-23 16:04] HughWilliams commented on #1002
I downloaded the same VOS binary you used:

[code]

— and loaded an arbitrary dataset —

[code]

— and ran the query you provided, which does not crash my database —

[code]

If you start your Virtuoso instance with `ulimit -c unlimited` to enable core file creation, is a `core` file created from the crash, such that a `gdb` stack trace can be obtained for analysis?

If you can provide the dataset

[2022-01-23 22:44] HughWilliams commented on #1003
I have been able to recreate this problem and reported to development to look into and fix ...

[2022-01-28 10:54] alpae commented on #995
Same here, would love to see how this should be best done with the official docker image. until then, we're stuck with https://github.com/tenforce/docker-virtuoso. We would prefer though to go with the official image

[2022-01-28 15:15] TallTed commented on #995
@HughWilliams @pkleef @openlink -- Any ETA on this documentation for Virtuoso Docker image?

[2022-02-01 13:09] jmkeil commented on #428
Still an issue, but the behavior also depends on the language tag:
[code]
[returns](https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=SELECT+*+WHERE+%7B%0D%0A++VALUES+%3Fv+%7B%22%22+%22a%22+%22b%22+%22%22%40en+%22a%22%40en+%22b%22%40en+%22%22%40de+%22a%22%40de+%22b%22%40de+%22%22%40es+%22a%22%40es+%22b%22%40es+%22%22%40nl+%22a%22%40nl+%22b%22%40nl+%7D%0D%0A++BIND%28lang%2

[2022-02-01 13:09] jmkeil commented on #1003
Might #428 and #946 be related to this?

[2022-02-01 16:04] TallTed commented on #1003
@jmkeil -- Good question.  I've noted this possibility internally, where we're tracking #1003 as bug#19162, and #428 as bug#17168.  (#946 has no internal bug# at this time.)

[2022-02-01 16:08] TallTed commented on #428
Thanks for the extra detail, @jmkeil.  I've connected this with our internal tracker for this issue, bug#17168.

[2022-02-01 16:10] TallTed commented on #946
As noted by @jmkeil, this appears likely to be related to #428 and #1003 (internal tracking issues bugzilla#17168 and bugzilla#19162, respectively).

[2022-02-15 11:08] ssklavos-ed commented on #213
Hello. was this issue finally resolved?  Could you please provide your latest findings if any?

[2022-02-15 11:14] kgardas commented on #213
Hi, sorry, the related project is already over and I do not have any reason not to believe @smalinin claim the issue is fixed.

[2022-02-15 11:14] #213 closed, assigned to smalinin

[2022-02-23 14:50] holycrab13 opened #1005 "Virtuoso RDFZZ Error DB.DBA.SPARQL_REXEC unsupported Content-Type 'application/json'"
`Virtuoso RDFZZ Error DB.DBA.SPARQL_REXEC('[MY ENDPOINT], ...) returned unsupported Content-Type 'application/json'`

when executing a federated query that does local aggregation (`GROUP CONCAT`) over the federated result.
This is the query:

[code]

Running the same query with only one result works (e.g., removing the `'fr'` from the `VALUES` clause)

[2022-02-23 15:00] holycrab13 commented on #1005
Is most likely caused by a proxy not setting the request header correctly when redirecting the SPARQL request, issue can be closed

[2022-02-23 15:00] #1005 closed, assigned to nobody

[2022-02-23 15:10] kidehen commented on #1005
[This SPARQL-FED variant](http://linkeddata.uriburner.com/sparql/?default-graph-uri=&query=PREFIX+dataid%3A+%3Chttp%3A%2F%2Fdataid.dbpedia.org%2Fns%2Fcore%23%3E%0D%0APREFIX+dcv%3A+%3Chttp%3A%2F%2Fdataid.dbpedia.org%2Fns%2Fcv%23%3E%0D%0APREFIX+dct%3A++++%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%3E%0D%0APREFIX+dcat%3A+++%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23%3E%0D%0APREFIX+rdf%3A++++%3Chttp%3A%2F%

[2022-02-23 16:16] TallTed commented on #1005
[The original query](https://linkeddata.uriburner.com/sparql/?default-graph-uri=&qtxt=PREFIX+dataid%3A+%3Chttp%3A%2F%2Fdataid.dbpedia.org%2Fns%2Fcore%23%3E%0D%0APREFIX+dcv%3A+%3Chttp%3A%2F%2Fdataid.dbpedia.org%2Fns%2Fcv%23%3E%0D%0APREFIX+dct%3A++++%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%3E%0D%0APREFIX+dcat%3A+++%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23%3E%0D%0APREFIX+rdf%3A++++%3Chttp%3A%2F%2Fwww

[2022-02-24 10:58] holycrab13 commented on #1005
I was using express and nodejs to implement a proxy for the SPARQL endpoint.

The GET request was just using a pipe from the `request` package and worked fine.
The POST request however had problems to forward the body and thus the query. I had to create a new request in that express route. Here I initially forgot to set the accept header of the new request to the accept header of the initial reque

[2022-02-28 21:24] Tomas2D opened #1006 "Double/float typed-literals are truncated in SPARQL results"
When I retrieve values from the SPARQL endpoint via simple select, the typed-literals with datatype `xsd:double` are truncated.

The same issue has been reported on [StackOverflow](https://stackoverflow.com/questions/37380338/double-values-are-truncated-rounded-in-virtuoso-srarql-results).

Tested with `application/sparql-results+json`.

[2022-02-28 23:52] HughWilliams commented on #1006
Do you have a test case for recreating or live link to see the truncation being encountered with  `application/sparql-results+json` results ?

[2022-03-01 00:17] Tomas2D commented on #1006
Sure, here is one for `application/sparql-results+json` [DBPedia (JSON)](https://dbpedia.org/sparql?query=prefix%20geo%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2003%2F01%2Fgeo%2Fwgs84_pos%23%3E%20%0D%0A%0D%0Aselect%20%3Flat%20%3Flong%20where%20%7B%0D%0A%20%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FLiberty_Tower_%28Manhattan%29%3E%20%20geo%3Along%20%3Flong%3B%20geo%3Alat%20%3Flat%20.%0D%0A%7D&format=applica

[2022-03-01 09:44] Tomas2D commented on #1006
Just to mention that data are stored in the database correctly, only interpretation of results are wrong formats mentioned earlier.

[2022-03-01 09:57] pkleef commented on #1006
Development is looking into this issue

[2022-03-01 19:56] retog commented on #368
Same error with
[code]

[2022-03-01 20:40] TallTed commented on #368
@retog --

I get a syntax error when testing your query on git_head `a2f0f456fa` <https://dbpedia.org/sparql>, but not on git_head `77d8e1d497` <https://demo.openlinksw.com/sparql> ... so we've got a relatively small number of commits to dig into.

Please provide the complete version details of the Virtuoso instance you're testing, i.e., the first stanza of commandline output from `virtuoso-t -?`

[2022-03-01 23:03] imitko commented on #368
@retog

Are you mean following ?
[code]
because in your post no second closing brace.

[2022-03-02 11:41] retog commented on #368
@imitko, well spotted.

However, the error is the same without the extra brace:
[code]

@TallTed, I'm using Version: 07.20.3215. Commenting out the line with git_head I get this result of the query:

name | version | build_date | thread | opsys
-- | -- | -- | -- | --
OpenLink Virtuoso   Server | 07.20.3215 | Nov 15 2017 | -pthreads | Linux

Changing Docker image from `tenforce/virtuoso:1.3.1-virtu

[2022-03-02 15:08] TallTed commented on #368
@retog -- It is amazing the difference 4 years of commits can make. :-)  Glad to hear this is working for you now.

-----

@joernhees -- Your [original query](https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&qtxt=SELECT+%3Fsource+%3Ftarget+WHERE+%7B%0D%0A+BIND%28%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FClergy%3E+AS+%3Fsource%29%0D%0A+BIND%28%3Chttp%3A%2F%2Fdbpedia.org%2Fresour

[2022-03-03 08:46] holycrab13 commented on #571
Hello, I am experiencing the same error. I created a debug repository that can hopefully reproduce the bug (tested on 2 machines) using the vanilla `openlink/virtuoso-opensource-7` docker image.

https://github.com/dbpedia/databus-transfer/tree/insert-stopped-debug

This is the log of the virtuoso after trying to insert 2 files after running
[code]

The second file causes the error but only if it

[2022-03-03 08:51] holycrab13 commented on #571
In some rare cases, the database was corrputed after and failed to start with either

[code]

OR

[code]

[2022-03-03 12:24] HughWilliams commented on #571
We are looking into this issue ...

[2022-03-04 08:26] KonradHoeffner commented on #996
Unfortunately I have not been able to contact @pkleef neither here nor by email, is someone in contact with him and can ask him?

[2022-03-04 15:26] TallTed commented on #996
@pkleef -- Can you please provide an ETA for [the tutorial you had expected to deliver around November 15](https://github.com/openlink/virtuoso-opensource/issues/996#issuecomment-962675756)?

/cc @openlink @HughWilliams

[2022-03-08 15:44] manonthegithub commented on #571
@HughWilliams @holycrab13 Hey guys here is minimal repro snippet in java
JDBC Driver used (http://download3.openlinksw.com/uda/virtuoso/jdbc/virtjdbc4.jar)
virtuoso used (`docker pull openlink/virtuoso-opensource-7`):
[code]

Here is the query:
[code]

output after running:
[code]

[2022-03-08 16:00] chenkuncloud opened #1007 "Is there any way to insert data into Virtuoso in real time, preferably Java or HTTP ?"
Hi,

I have finished installing virtuoso-opensource v7.2.6.1 through docker , in Linux , and can visit http://localhost:8890/sparql .

I want to UPDATE data . I already know how :
	1. ``` GRANT SPARQL_UPDATE TO "SPARQL" ``` . However, /sparql is generally for external services, and the SPARQL_UPDATE permission may not be secure
	2. ``` command or Quad Store Upload ``` . This can import RDF File ,

[2022-03-08 16:09] jakubklimek commented on #1007
`http://localhost:8890/sparql-auth`?

[2022-03-08 16:19] TallTed commented on #1007
There are several...  See [this page of gradually evolving documentation](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFInsert) and/or [section 16.9 of the Virtuoso product manual](http://docs.openlinksw.com/virtuoso/#:~:text=16.9.%20RDF%20Insert%20Methods%20in%20Virtuoso).

Please let us know whether any of these options are sufficient, or if you need further guidance.

[2022-03-08 18:52] chenkuncloud commented on #1007
Hi @jakubklimek ,

Thank you very much for your reply !

How should I use http://localhost:8890/sparql-auth ？
I create an account testdb/testdb , visit http://localhost:8890/sparql-auth , then  Execute Query ``` INSERT { <http://test.cn/> <http://test.cn/> 'test' } ``` :
[code]
Here is my user configuration , I ticked off all the options I thought I had  :

![OVZIGIPD}9N)_ U~J`S9YJD](https://user-

[2022-03-08 19:08] chenkuncloud commented on #1007
Hi @TallTed ,

Thank you very much for your reply !

I want to use   [16.9.2. SPARQL endpoint REST](http://docs.openlinksw.com/virtuoso/rdfinsertmethodshttppost/)  to insert a rdf triple：
[code]
but failed , it shows that ' insufficient user permissions ' :
[code]
I follow the example but do not know what http://localhost:8890/DAV/ means . I just want to insert a triple into the graph . Did I send

[2022-03-08 19:15] chenkuncloud commented on #1007
I can now add through ISQL , but I want to call it in real time from a Java program OR http-sparql-update. Any recommendations?

Best Regards

[2022-03-09 05:07] chenkuncloud commented on #1007
Dear @jakubklimek @TallTed ,

My problem is solved !

I was so stupid ! After I read the document carefully, I found  [16.18.1. Virtuoso Jena Provider](http://docs.openlinksw.com/virtuoso/rdfnativestorageprovidersjena/) is suitable for me .

For the above questions, I also found the answer in [HTTP POST](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFInsert#HTTP%20POST)

Thank you very much for y

[2022-03-09 05:07] #1007 closed, assigned to nobody

[2022-03-09 09:23] slater2022 opened #1008 "Under RDF4J, filter(STR(?label) = special character) is invalid"
Under RDF4J, `filter(STR(?label) = special character)` is invalid

[2022-03-09 10:36] Tomas2D opened #1009 "Add custom namespace prefixes for SPARQL Query Editor"
I was wondering about possibility to add custom namespace prefixes for SPARQL Query.
This would shorter query and also improve common mistakes as forgetting to write a prefix.

[2022-03-09 11:08] HughWilliams commented on #571
Using the latest Virtuoso open source docker image from `docker pull openlink/virtuoso-opensource-7`, I am able to run your test application successfully inserting 100 triples:

[code]
Note: this is starting with an empty database, i.e., new docker instance. Is this where you are starting from, or is yours an existing database with other RDF data already loaded?

[2022-03-09 12:46] holycrab13 commented on #571
The example I posted earlier was tested on two different machines with a clean docker container and the bug occured in both cases.

I have tested the example posted by @manonthegithub and cannot reproduce it with that either. I think the reason why he was able to reproduce it with the posted INSERT statement was that his virtuoso was already in the faulty state from running my repro example.

[2022-03-09 13:36] holycrab13 commented on #571
Here is an example that is reproducing the issue for me on a clean virtuoso:
https://github.com/dbpedia/databus-transfer/tree/insert-stopped-debug

JDBC Driver used (http://download3.openlinksw.com/uda/virtuoso/jdbc/virtjdbc4.jar)
Virtuoso image used (`docker pull openlink/virtuoso-opensource-7`)

with

[code]
and then
[code]

It triggers when doing 2 inserts sequentially.
I pruned both inserts do

[2022-03-09 14:00] manonthegithub commented on #571
@HughWilliams so @holycrab13's example worked for me (reproduced). Please try that one :). I used non empty database as you supposed.

[2022-03-09 14:09] TallTed commented on #1007
I'm glad to hear you were able to find a suitable solution in the docs.

Given your last comments, I think your initial question here (and possibly the question answered by the Jena Provider) was an example of an [XY Problem](https://xyproblem.info/).

Hopefully next time, you'll include a bigger picture description of what you're trying to do, as we may then be able to save you some time and laye

[2022-03-09 14:37] TallTed commented on #1008
Please provide exact versions of all components in use when this is observed, especially —
* Virtuoso version including git_head as from `virtuoso-t -?` or SPARQL query [found here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaSparql)
* [Eclipse RDF4J](https://rdf4j.org/) version
* [Apache Tomcat](https://tomcat.apache.org/) version
* [Virtuoso Provider for RDF4J](http://vos.open

[2022-03-09 14:39] chenkuncloud commented on #1007
Hi ,
Thanks a lot for your advice . I'm very sorry for the delay .
I studied [XY Problem](https://xyproblem.info/) carefully, and try to give you some useful advice in the future if I get the chance .

Best Regards

[2022-03-09 14:41] TallTed commented on #1009
I think your wish is answered by the [Namespaces subtab of the Linked Data tab](http://docs.openlinksw.com/virtuoso/rdfadm/#rdfadmnamesp) of the Conductor.

Please let us know whether that's sufficient....

[2022-03-09 15:19] Tomas2D commented on #1009
I probably overlooked it, thanks.

[2022-03-09 15:19] #1009 closed, assigned to nobody

[2022-03-09 16:03] pkleef commented on #571
I have recreated the issue internally and discussed the matter within development and we will have a closer look to see what is going on internally. I will keep you posted.

[2022-03-09 19:59] RyanOattes opened #1010 "INSERT DATA Performance with MaxQueryCostEstimationTime"
I have an app that runs both `SELECT` and `INSERT DATA` queries against a VOS SPARQL endpoint. Virtuoso is running on EKS Kubernetes on build 3323. We changed deployment methods from mounting a "known good" `virtuoso.ini` file to the docker image to instead passing env vars (`NumberOfBuffers`, etc). As such, we've recently been tripped up due to performance issues with `MaxQueryCostEstimationTime=

[2022-03-09 20:58] TallTed commented on #1010
I want to be sure I understand correctly...

When you mount a `virtuoso.ini` to the docker image, `INSERT DATA` queries execute 10x faster than when you instead use environment variables (such as `VIRT_PARAMETERS_NUMBEROFBUFFERS`) to pass all settings where your desired `virtuoso.ini` value differs from that in the docker image?

This suggests that you've overlooked one or more settings, or have a

[2022-03-09 22:03] Tomas2D commented on #415
Any progress on this @openlink?

[2022-03-09 22:23] RyanOattes commented on #1010
Sorry if I wasn't clear. No, equivalent virtuoso.ini files yield identical results no matter how they are created, the change in deployment method just exposed us to MaxQueryCostEstimationTime which we hadn't had to deal with before as it was commented by default. (I think.)

Regarding the INSERT DATA queries, our testing is using identical queries inserting an identical data set. The only variabl

[2022-03-10 06:27] slater2022 commented on #1008
OpenLink Virtuoso   Server   07.20.3233  Jun 22 2021  -pthreads  Linux
Eclipse RDF4J 3.7.2
OpenLink Virtuoso(TM) Provider for RDF4J(TM) Version 2.1.4 [Build 1.4]
openjdk version "1.8.0_302"

Suddenly unable to query, and in the http://localhost:8890/sparql query is still normal. After being reinstalled, it worked fine again.

[Problem.txt](https://github.com/openlink/virtuoso-opensource/files/8220

[2022-03-10 12:54] HughWilliams commented on #415
This issue is still to be resolved, which I have requested development schedule time to do ...

[2022-03-10 15:14] TallTed commented on #1010
OK.  First thing, it's probably worth testing your scenario with a build from the [latest `develop/7` codebase](https://github.com/openlink/virtuoso-opensource/tree/develop/7), vs the [latest `stable/7` codebase](https://github.com/openlink/virtuoso-opensource/tree/stable/7), which is what you're now running, as you might guess from what you see [here](https://github.com/openlink/virtuoso-opensour

[2022-03-10 17:47] TallTed commented on #1008
Sorry, I was unclear.  Please uncomment (remove the leading `#`) this line --
`# ( bif:sys_stat('git_head')              AS ?git_head )`
-- in the [query I linked before](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaSparql).  This value pins down the exact version of Virtuoso you're running.  (The build date of June 22 2021 does suggest that there have been at least several dozen

[2022-03-10 18:29] RyanOattes commented on #1010
The references I found are pretty old, so perhaps the advice is obsolete.

https://sourceforge.net/p/virtuoso/mailman/virtuoso-users/thread/71FE7E76-5C00-40C7-80DE-797D5AAFFB3A%40openlinksw.com/

https://www.mail-archive.com/virtuoso-users@lists.sourceforge.net/msg07491.html

Your understanding is almost correct. We actually NEVER saw any messages about SELECT or INSERT queries failing due to MaxQ

[2022-03-11 07:34] slater2022 commented on #1008
OpenLink Virtuoso   Server | 07.20.3233 | Jun 22 2021 | 111d17e5b | -pthreads | Linux

[2022-03-11 14:52] TallTed commented on #1008
Thank you; that confirms you're running the latest `/stable/7` to date, which is [119 commits behind the current `/develop/7`](https://github.com/openlink/virtuoso-opensource/compare/stable/7...develop/7).  I don't *think* the commits relative to Unicode functionality apply to your experience, but Development may have other thoughts there.  The [test you provided](https://github.com/openlink/virtu

[2022-03-11 15:03] TallTed commented on #1010
@IvanMikhailov @pkleef @openlink -- Please take a look at this strange issue where Virtuoso SPARQL `INSERT` performance in docker image is severely negatively impacted by having `MaxQueryCostEstimateTime` set either in `virtuoso.ini` or environment variable -- speed of test run is reduced by factor of 10, i.e., 50 mins set vs 5 mins unset.

[2022-03-11 20:59] smalinin commented on #1008
@slater2022
Did you use URL connection string for create VirtuosoRepository or some jdbc DataSource ?
You must to set `charset` attribute to `UTF-8`, if you use DataSource, for properly work with Unicode chars.

[2022-03-14 01:11] slater2022 commented on #1008
Using VirtuosoRepository("jdbc:virtuoso://localhost:1111", "dba", "dba")

[2022-03-14 18:41] smalinin commented on #1008
@slater2022

It is Ok, so it is something on server side.

[2022-03-15 07:58] slater2022 opened #1011 "When TupleQuery sets label of the SelectClause as the language literal, it will throw exception"
When `TupleQuery` sets label of the `SelectClause` as the language literal, it will throw "`org.eclipse.rdf4j.query.QueryEvaluationException: java.lang.IllegalArgumentException: datatype rdf:langString requires a language tag`"

OpenLink Virtuoso Server | 07.20.3233 | Jun 22 2021 | https://github.com/openlink/virtuoso-opensource/commit/111d17e5b79a8ee4797546d3334278dc8b1f1198 | -pthreads | Linux
E

[2022-03-15 08:04] slater2022 commented on #1011
There seems to be a problem：`virtuoso.rdf4j.driver.VirtuosoRepositoryConnection#append(org.eclipse.rdf4j.model.Literal, java.lang.StringBuilder, boolean)`

[2022-03-15 13:39] TallTed commented on #1011
@smalinin @IvanMikhailov -- Please take a look at this.

[2022-03-17 23:17] davidshumway opened #1012 "Missing DB.DBA.SPARQL_INS_OR_DEL_OR_MODIFY_CTOR_FIN permission for DELETE"
Logged in as user: dba.

Running via docker using the instructions from here: (https://hub.docker.com/r/openlink/virtuoso-opensource-7/).

And following along with delete examples from here: (http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksSPARQL11Delete).

The delete command, running through the conductor SPARQL query tab:

[code]

Results in the following error:
[code]

Thus far I've t

[2022-03-17 23:26] kidehen commented on #1012
Please run the following.

[code]

[2022-03-18 02:50] davidshumway commented on #1012
@kidehen That query makes more sense, thanks. But still not working. Now there's a new permissions error, though:

[code]

[2022-03-18 03:33] davidshumway commented on #1012
Also forgot to mention:
[code]

[2022-03-18 04:22] davidshumway commented on #1012
Perhaps the user in my permissions query was the issue?

This didn't work:
[code]

While this appears to have worked:
[code]

[2022-03-18 04:22] #1012 closed, assigned to nobody

[2022-03-18 05:55] davidshumway opened #1013 "Erratic behavior: Multiple repeated rows for single object"
Version: 07.20.3233
Build: Jun 22 2021
(Via docker)

Initially loading data with the bulk loader. But after seeing this issue, noticed that the same issue is appearing in the conductor quad store upload as well. Following the bulk loading guide here: (http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader).

The first three objects inserted show up correctly in a sparql select query. But the f

[2022-03-18 11:13] HughWilliams commented on #1012
@davidshumway: Your `grant ...` command is the same in both cases or should the second case have been as below?

[code]

I presume you were connecting to the `~/sparql-auth` SPARQL endpoint and logging in as "`dba`" which has privileges to perform update operations?

But when you execute your query and encounter the error, is the URL still `~/sparql-auth` or now the `~/sparql` endpoint, owned by t

[2022-03-18 11:58] HughWilliams commented on #1013
Can you provide the output of running the `select * from load_list;`  SQL query run from "isql" to see if the bulk load operations encountered any issues.

What does the output of the following query return as the list of graphs and triple counts for each:
[code]

Please also provide a copy of your `virtuoso.ini` and `virtuoso.log` files for review.

[2022-03-18 15:53] davidshumway commented on #1013
[code]

[code]

[code]

[code]

[2022-03-18 16:10] kidehen commented on #1013
What does the following produce?

[code]

Goal is to determine if the Virtuoso's quad-centric data organization isn't skewing your query solution expectations.

[2022-03-18 16:50] davidshumway commented on #1013
[code]

g | s
-- | --
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1
... | ...
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1
http://www.example.org | 1

(1048576 rows × 2 columns)

[2022-03-18 20:15] kidehen commented on #1013
Okay that eliminates concerns about the quad storage aspect of this issue.

In retrospect, the following would have been fine too i.e., if different from your original then it would indicate effects of data organized as quads.

[code]

[2022-03-19 00:35] davidshumway commented on #1013
[code]

s | &nbsp;
-- | --
1
1
1
1
1
...
1
1
1
1
1

1048576 rows × 1 columns

[2022-03-19 01:54] davidshumway commented on #1013
So it it just an issue with the SPARQL query then?

[2022-03-20 09:39] HuuuNan commented on #805
@AlexTo Checking this [issue](https://github.com/openlink/virtuoso-opensource/issues/299) may help. It seems that you should change the item `CheckpointInterval` from default 60 to 0, to avoid automatical checkpoint process which will cause 404 error.

[2022-03-20 14:04] retog opened #1014 "UNION results in intersection rather than union"
The query
[code]
should result in
| seq |
|-----|
| 3 |
| 4 |
| 5 |
| 6 |
| 7 |
| 8 |
| 9 |

but instead results in
| seq |
|-----|
| 5 |
| 6 |

I'm using the following version:

name | version | build_date | git_head | thread | opsys
-- | -- | -- | -- | -- | --
OpenLink Virtuoso   Server | 07.20.3233 | Jun 22 2021 | 111d17e5b | -pthreads | Linux

[2022-03-20 14:07] retog commented on #1014
Same [result](https://dbpedia.org/sparql/?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=SELECT+%3Fseq+WHERE+%7B%0D%0A++%7B%0D%0A++++VALUES+%3Fseq+%7B5+6+7+8+9+%7D%0D%0A++%7D+UNION+%7B%0D%0A++++VALUES+%3Fseq+%7B+3+4+5+6+%7D%0D%0A++%7D%0D%0A%7D+&format=text%2Fhtml&timeout=30000&signal_void=on&signal_unconnected=on) on dbpedia

[2022-03-21 13:23] HughWilliams commented on #1014
We are looking to this issue and fix ...

[2022-03-22 14:46] TallTed commented on #805
@HuuuNan @AlexTo -- It is important to note that if you disable the automatic checkpoint as was [suggested above](https://github.com/openlink/virtuoso-opensource/issues/805#issuecomment-1073211809), you *must* take responsibility for periodic manual `checkpoint();` execution, especially after any significant changes to the data you mean to have held in the `virtuoso.db`.

Lacking such a `checkpoin

[2022-03-22 15:01] HuuuNan commented on #805
Thanks a lot for your reply. This issue doesn't occur when I use Virtuoso rencently.

[2022-03-22 15:01] HuuuNan commented on #805
Thanks a lot for your reply. This issue doesn't occur when I use Virtuoso rencently.

[2022-03-22 15:02] HuuuNan commented on #805
Thanks a lot for your reply. This issue doesn't occur when I use Virtuoso rencently.

[2022-03-22 15:36] #299 closed, assigned to nobody

[2022-03-22 20:51] davidshumway opened #1015 "Use of regex in SPARQL"
Is use of regex pattern matching in SPARQL enabled?

I see there's some regex documentation but it appears to be for SQL only. Is this correct? e.g. (http://docs.openlinksw.com/virtuoso/fn_regexp_match/)

[2022-03-22 21:04] Tomas2D opened #1016 "ASK query with JSON output - missing procedure"
When running following query from ISQL

[code]

the following error occurs
[code]

I investigated the error inside source code and find out that the definition of `DB.DBA.RDF_FORMAT_BOOL_RESULT_AS_JSON` really does not exist, but it should.

Compiled from commit [79ce054](https://github.com/openlink/virtuoso-opensource/tree/79ce0548d7e9b2df43a60271cd6f0331780acfa7) on MacOS 12.2.1.

[2022-03-22 21:05] Tomas2D commented on #1016
I was able to fix that issue by myself, I have created the missing procedure by following patterns applied at `libsrc/Wi/sparql.sql`.

[code]

Shall I create a pull request or dev team will take care of that? Thanks.

[2022-03-22 21:28] Tomas2D commented on #1015
The syntax is `FILTER regex(?x, "pattern" [, "flags"])`

so for example
[code]

[2022-03-22 22:10] TallTed commented on #1016
@pkleef @openlink @IvanMikhailov @HughWilliams

Please take a look at this suggested patch for lack of `DB.DBA.RDF_FORMAT_BOOL_RESULT_AS_JSON()`.

[2022-03-22 22:17] TallTed commented on #1015
Yes, regex in SPARQL is supported, based on the [SPARQL REGEX syntax](https://www.w3.org/TR/2013/REC-sparql11-query-20130321/#func-regex) (as @Tomas2D provided), and using [Perl Compatible Regular Expressions](https://en.wikipedia.org/wiki/Perl_Compatible_Regular_Expressions).  You may find some of [the discussion here](https://stackoverflow.com/questions/40437602/what-flavor-of-regex-should-be-us

[2022-03-23 12:50] #1016 closed, assigned to nobody

[2022-03-23 13:17] Tomas2D commented on #1016
Thanks!

[2022-03-23 20:26] Tomas2D commented on #1006
Possible connection with #114

[2022-03-24 17:10] Tomas2D opened #1017 "Procedure dump_one_graph does not export files in UTF8"
In case of usage `dump_one_graph` stored procedure (stated here http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFDatasetDump) creates files with encoding `us-ascii` (according to command `file -I data_000001.ttl`).

The output file`s format should be UTF8 and not ASCII.

Thanks in advance

[2022-03-24 17:23] TallTed commented on #1017
@pkleef @openlink @IvanMikhailov @smalinin -- Please look into this.  It seems likely to be a quick fix.

[2022-03-24 18:06] imitko commented on #1017
@Tomas2D
The dump contains Unicode escape sequences, not UTF-8 see:  [Terse RDF Triple Language / string escapes](https://www.w3.org/2007/11/21-turtle#sec-strings) .

/cc @TallTed @pkleef @smalinin
HTH

[2022-03-24 19:18] davidshumway opened #1018 "Inserting triples based on sparql query"
How to add triples for a new relation based on the results of another query? For example, add a new triple showing the number of features within 25km of a selected feature. The goal is to essentially cache the results of a long-running distance query when there could be millions of features, thus reducing the lookup time for this type of count query to a single select statement.

Prefixes:
[code]

[2022-03-24 19:34] davidshumway commented on #1018
Perhaps like this?
[code]

[2022-03-24 19:35] davidshumway commented on #1018
Perhaps like this?
[code]

[2022-03-24 21:54] #1018 closed, assigned to nobody

[2022-03-25 15:11] TallTed commented on #1018
I'm guessing that you found a solution, since you closed this issue.  Would you mind sharing what you learned, to help others along the way?

One important note -- there's no `SELECT` in [SPARQL 1.1 Update `INSERT` syntax](https://www.w3.org/TR/2013/REC-sparql11-update-20130321/#insert).  It's either --
[code]
-- or --
[code]

That may have played a part in your discovered solution...?

[2022-03-25 15:22] davidshumway commented on #1018
Interesting. I used the SELECT query included in my last reply.

On Fri, Mar 25, 2022, 10:11 AM Ted Thibodeau Jr ***@***.***>
wrote:

[2022-03-25 15:29] TallTed commented on #1018
I think this works out because `SELECT` subquery within the `WHERE { GRAPH <graph> { SELECT ... } }` clause gets executed sooner (because SPARQL processing works from inside-out), so by the time the top-level subquery is processed, there's no SELECT within it, only the results obtained from the deeper subqueries.  Thanks for your clarification!

[2022-03-27 04:16] davidshumway commented on #1013
It seems the issue was that the same triples were being loaded into the graph multiple times. Starting over from scratch with a new database and importing the triples appears to resolve the issue.

[2022-03-27 04:16] #1013 closed, assigned to nobody

[2022-03-27 05:44] davidshumway opened #1019 "Re-import / overwrite triples using rdf_loader_run()"
Is there a simple way to re-import triples previously loaded using rdf_loader_run() without going through deleting the existing database or triples?

[2022-03-27 10:27] Tomas2D commented on #1017
@imitko

Okay I see, but if I understand correctly the `ASCII` is a subset of `UTF-8` encoding and thus If I want to convert a file from `ASCII` to `UTF8` the output should remain the same.

Can you please give me a direction of how to "convert" or better "decode" unicode escape sequence to UTF8 characters via some widely used library like `iconv`. I am now able to achieve my desired result via `h

[2022-03-27 20:00] Tomas2D opened #1020 "Database freeze when running UPDATE+DELETE SPARQL query"
I am currently running fresh new build from from `develop/7` branch, commit [c1e8113](https://github.com/openlink/virtuoso-opensource/commit/c1e8113066086114781b04a2a1defe2864dab85f)

When I insert following triples
[code]

Triples are inserted successfully as expected.
But when I run DELETE + UPDATE query - the query execution will never ends and completely freeze database.

[code]

From the last

[2022-03-27 23:05] davidshumway commented on #1019
It appears when using the bulk upload with the same file, triples are added twice. Is there perhaps a parameter to set to disable this such that the original triple is overwritten?

[2022-03-28 02:19] imitko commented on #1019
@davidshumway

If you have unnamed  BNodes in the RDF dump, you will get every time new triple, solution is to use named IRIs or named BNodes, or use `sparql clear <graph-uri>` if you want to re-load the graph.

HTH

[2022-03-28 04:24] davidshumway commented on #1019
With a big graph, it seems to be faster to start over from scratch. Using `docker` that's not a challenge. But similarly, what about deleting virtuoso.db?

Not sure about BNodes. Here's a sample of triples from the `.n3` file:

[code]

[2022-03-28 12:35] HughWilliams commented on #1020
We are looking into this issue ...

[2022-03-28 12:51] imitko commented on #1019
The following contains unlabeled  [blank node](https://www.w3.org/TR/turtle/#BNodes) :
[code]

It could be written like that:

[code]

[2022-03-28 15:21] #973 closed, assigned to nobody

[2022-03-28 18:07] Tomas2D commented on #1020
It is a crucial part of my application. I will be also glad for some workaround meanwhile.

[2022-03-28 18:23] imitko commented on #1020
@Tomas2D
You could fix delete part of your application to delete all referenced triples with just one triple pattern, no need of the redundant overhead of same pattern :
[code]
HTH

[2022-03-28 19:55] pkleef commented on #973
Example: https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&qtxt=select%20distinct%20%3F%C5%BE%C4%8D%C5%99%C5%BE%C3%BD%20where%20%7B%3F%C5%BE%C4%8D%C5%99%C5%BE%C3%BD%20a%20%3FConcept%7D%0ALIMIT%201

[2022-03-28 20:01] TallTed commented on #973
The above is an [example where the variable starts with a Unicode character](https://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&qtxt=select%20distinct%20%3F%C5%BE%C4%8D%C5%99%C5%BE%C3%BD%20where%20%7B%3F%C5%BE%C4%8D%C5%99%C5%BE%C3%BD%20a%20%3FConcept%7D%0ALIMIT%201).

This is an [example where the variable starts with an ASCII character and has a couple of following Unicode char

[2022-03-28 22:18] Tomas2D commented on #1020
This would remove just identifier, but I want to replace all entity images with different images.

[2022-03-28 22:22] Tomas2D commented on #1020
[code]

[2022-03-28 22:43] Tomas2D commented on #1020
I see the point now. I did not count with multiple values being associated with one property, which leads to generating such an uneficient query mentioned earlier.

I updated my application code to make just one triple pattern, as you suggested.
But I think that it is still worth investigating why the original query never completes.

Thank you!

[2022-03-30 02:40] #1019 closed, assigned to nobody

[2022-03-30 02:40] davidshumway commented on #1019
Makes sense. Thanks!

[2022-03-30 12:58] jakubklimek opened #1021 "Virtuoso 42000 Error D1CT0: Hash dictionary memory pool is full, XX exceeded 200000000 bytes"
After update to 357d021429b1073e4d26b02007634e374f3e9d7a I started experiencing:
[code]
error when querying the SPARQL endpoint.

This was caused by 9d87ca62e84609dfda04be201ac755a9af24d26c introducing the 200M limit.
However, even after googling the error, it was unclear what to do about it, as there are not many relevant results. I stumbled on the cause and the solution practically by accident,

[2022-03-30 13:13] HughWilliams commented on #1021
This is a fix made a few days ago to not have the `MaxMemInUse` to be unlimited (i.e., `0`), as that can cause queries that result in bad query plans to consume all the system memory and never return. This is in the `develop/7` and not `stable/7` branch nor commercial yet, so the documentation has not been updated yet, but will be for the upcoming release. Whether 200MB is a large enough default i

[2022-03-31 22:42] davidshumway opened #1022 "Unexpected results using SPARQL GROUP BY"
[code]
g | o | t | prop | val | unit
-- | -- | -- | -- | -- | --
http://www.example.org | http://www.example.org/obs16 | 2014-01-01T08:02:00 | sst | 15.6 | Deg C
http://www.example.org | http://www.example.org/obs17 | 2014-01-01T08:33:00 | sst | 15.6 | Deg C

[code]

prop | avg
-- | --
sst | 15.60000038146973

Any ideas? Not sure where to start.

Continuing further, strangely enough...

[code]

re

[2022-03-31 22:48] kidehen commented on #1022
Trying to deduce what's happening from SPARQL query text and results tables is challenging. Thus, do you have any of the following:

1. A live SPARQL endpoint?
2. A little RDF data sampling -- which you can produce using a `CONSTRUCT` Query
3. Ditto, but from an RDF document you may already have in place

Alternatively, are you able to recreate this issue using our live instance at <https://linked

[2022-03-31 22:49] davidshumway commented on #1022
Agreed. Just edited my original comment to add sample data at the same time that you posted.

Sample data (`.n3.gz`, loaded via rdf_loader_run):

[code]

[2022-03-31 22:51] davidshumway commented on #1022
The only issue I can think of is that `Result` nodes are duplicated in the RDF, simply because it made the original data processing task easier. Perhaps this could be causing an issue?

[2022-04-01 00:07] davidshumway commented on #1022
[code]

prop | val | unit
-- | -- | --
sst | 15.6 | Deg C
sst | 123.553 | Deg C

[code]

prop | val | unit
-- | -- | --
sst | 15.6 | Deg C
sst | NaN | Deg C

[code]

prop | val | unit
-- | -- | --
sst | 15.6 | Deg C
sst | -9.46663e+35 | Deg C

And ...

[code]

prop | val | unit
-- | -- | --
sst | 15.6 | Deg C
sst | NaN | Deg C

[code]

prop | val | unit
-- | -- | --
sst | 15.6 | Deg C
sst | 0.0 |

[2022-04-01 00:53] davidshumway commented on #1022
By changing from **xsd:float** to **xsd:decimal** to represent the result, all of the above queries return successfully:

[code]

[2022-04-01 00:54] davidshumway commented on #1022
So is there a recommendation against use of xsd:float?

[2022-04-01 08:30] pkleef commented on #1021
We have reverted the default setting back to unlimited for existing installations, and documented the setting in the default `virtuoso.ini` file for future reference.

We will be posting some setting guidelines on what values should be reasonable to use, based on our own set of live databases such as DBpedia and others.

In commit 266fd723af6647fa1c329b60f58ec0a40fe9fde3, we also added some settin

[2022-04-01 17:35] rogargon commented on #428
Experiencing the same issue regarding literals with language tag, `datatype(?literal)` is `NULL` instead of `rdf:langString`. Please, note that this issue is not among the test cases listed in #946 by @jakubklimek

[2022-04-05 13:30] RyanOattes opened #1023 "Poor query performance after INSERT"
I have an application loading data into a new graph in Virtuoso using INSERT DATA queries for a total of about 8M triples. After that is done, I run a test query that spans 5 classes, does a COUNT, and returns about 3000 rows. (The details of the test query don't seem to matter, but this is the minimum level of complexity where the issue I'm describing below is obvious.) This is on a Virtuoso node

[2022-04-05 15:27] TallTed commented on #1023
I don't understand the above sentence...  Could you rephrase it?

The exact steps of your data load, and of your Virtuoso restart, may provide an explanation of your experience, which is not typical.  Examination of Virtuoso's active INI and LOG files, along with key details of the runtime environment (such as total system RAM; RAM reserved for Virtuoso; storage device types [e.g., HDD vs SSD], in

[2022-04-05 15:55] RyanOattes commented on #1023
Sorry, mangled that sentence. I meant to indicate that Virtuoso has 4cpu and 16GB ram.

### Virtuoso Detail:
Virtuoso is running on Kubernetes with this image: `openlink/virtuoso-opensource-7:latest`
The pod has 4 cpu and 14000Mi memory assigned. Storage is an EBS persistent volume. The underlying EC2 compute node is 8 cpu, 32GB ram. Virtuoso.ini is attached.

### Process Details:
To load the data

[2022-04-05 17:35] TallTed commented on #1023
From a quick look over things, I note you're running from the latest `stable/7` codebase, which is about 9 months old.  There are a [raft of improvements](https://github.com/openlink/virtuoso-opensource/compare/stable/7...develop/7) in the latest `develop/7` codebase, which is being prepped for a new `stable/7` release, but that's still some days away at best.  I'm not aware of any commits that ar

[2022-04-06 01:05] RyanOattes commented on #1023
No luck so far. The checkpoint didn't make a difference. I haven't tried the develop/7 codebase, but I'll do that next.

I did, however, confirm my earlier observation about the query plans being different. I ingested one graph, restarted virtuoso, then ingested another graph. Running the same query against both (modifying for IRI's) yeilded totally different SQL and query plans. The plans are gre

[2022-04-06 15:12] TallTed commented on #1023
Interesting. There does appear to be something weird going on. I don't think it's the indexes, as they aren't automatically rebuilt/updated on shutdown nor on startup. If your test with a build from the current `develop/7` codebase doesn't resolve this, I think it will need a deeper look by Development.

[2022-04-06 23:57] RyanOattes commented on #1023
Found a few more details, but no answers yet. Some background: My app can begin an ingestion job in a couple of ways based on what kind of changes in configuration it detects since the last run. If it has a clear idea of data that needs to be removed before ingesting, it runs some targeted `DELETE` SPARQL queries first then `INSERT DATA` queries. If there are changes it doesn't fully support, it r

[2022-04-07 15:09] TallTed commented on #1023
We do not currently publish `develop/7`-based docker images, nor pre-built `develop/7` binaries, so I think our team will need to do further testing with this locally.

Would you mind [getting a test license](https://shop.openlinksw.com/c/9D623SG) and trying with Enterprise Edition v8?  We *do* publish [Enterprise Edition v8 docker images](https://hub.docker.com/r/openlink/virtuoso-closedsource-8)

[2022-04-08 10:01] natan-cox-cognizone commented on #982
Thank you, @imitko. I have a similar problem.
What does "not so many" mean? Is 20 million still acceptable?

[2022-04-08 13:17] jakubklimek opened #1024 "GPF: vec.c:1189 extending dc past max batch size"
In f8aa59cd4ac29983f7afad7c32120e7f2552128b when I run `rdf_loader_run();` on previously created nquads dumps using [`dump_nquads`](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFDumpNQuad), I get a crash:
`GPF: vec.c:1189 extending dc past max batch size`.
Originally, I tried with 7 loaders (I have an 8-core machine, so I run 7 loaders in parallel), but I get a crash even with one.
Full log star

[2022-04-08 13:48] pkleef commented on #1024
Development is looking into this issue.

[2022-04-08 14:02] jakubklimek opened #1025 "Weird SPARQL query behavior"
I have encountered a weird SPARQL query behavior. Commenting out some `OPTIONAL` clauses or adding a value to `VALUES` causes some relevant results to go missing.
Tested on 3 instances, running f8aa59cd4ac29983f7afad7c32120e7f2552128b and 60ea9a93988502e77452854f04bf64840864a3aa, on top of the same `virtuoso.db` - maybe it got corrupt?
1. https://dev.nkod.opendata.cz/sparql (60ea9a93988502e7745285

[2022-04-08 16:04] kidehen commented on #1025
Please confirm that [this `SELECT` Query](https://pod-test.mvcr.gov.cz/sparql?default-graph-uri=&query=PREFIX+dcat%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23%3E%0D%0APREFIX+dcterms%3A+%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%3E%0D%0APREFIX+foaf%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2F%3E%0D%0A%0D%0ASELECT+*%0D%0AWHERE+%7B%0D%0A++++++++VALUES+%28%3Fdataset+%29+%7B+%0D%0A++++++++++++++++%28+%3

[2022-04-08 18:23] Tomas2D commented on #1006
When typed literal `xsd:decimal` is being used, no truncation happens.
Tested on commit https://github.com/openlink/virtuoso-opensource/commit/15478c9b56ee8252d3e44d6578cfd06d3784b845

[2022-04-08 18:31] Tomas2D commented on #1006
Also want to mention, that next possible workaround would be to do something like this
[code]

because client will receive correctly typed literal which can be then converter to corresponding data type in a concrete programming language.

[2022-04-09 14:09] Tomas2D opened #1026 "Incorrect handling of UTF8 characters on SPARQL HTTP endpoint"
Running following query on latest Virtuoso HTTP SPARQL endpoint, no triples are returned, however running following query via JDBC driver  the expected triples are returned.

[code]

[2022-04-09 18:04] HughWilliams commented on #1026
Is this a query that was working with a previous VOS build, as I have the same problem with the current `stable/7` build?

And can [recreate against our one of our public endpoints (URIBurner.com)](https://linkeddata.uriburner.com/sparql?default-graph-uri=&query=SELECT+*%0D%0AWHERE+%7B%0D%0A+++SERVICE+%3Chttps%3A%2F%2Fruian.linked.opendata.cz%2Fsparql%3E+%7B%0D%0A++++%3Chttps%3A%2F%2Fruian.linked.

[2022-04-09 18:52] Tomas2D commented on #1026
I did not try this query with the build on stable branch, so I cant tell.

[2022-04-09 21:20] Tomas2D opened #1027 "SPARQL - Correct result in JDBC driver, but not in ISQL / SPARQL HTTP endpoint"
Running following query from ISQL console
[code]

gives me an empty result.

However, running the same query via JDBC driver gives me the following output

[code]

The `floorCount` is suddenly 1 however running mentioned query on target HTTP SPARQL Endpoint https://linked.opendata.cz/sparql gives me an empty result. This can be also verified via running `DESCRIBE <https://ruian.linked.opendata.cz/

[2022-04-09 21:22] Tomas2D commented on #1027
It looks like that the values are probably random, because running the query mentioned before just with predicate
`<https://ruian.linked.opendata.cz/slovník/početBytů>` results in number `145` (JDBC driver), but that triple does not exists on a target triple store (checked via describe and running same query from ISQL).

[2022-04-09 21:43] Tomas2D commented on #1027
It looks like that the JDBC driver gives me a correct result, because the corresponding HTML representation https://vdp.cuzk.cz/vdp/ruian/stavebniobjekty/22088181 shows numbers received from JDBC.

![Snímek obrazovky 2022-04-09 v 23 42 42](https://user-images.githubusercontent.com/15633909/162592460-2aaf6fbf-77c8-4155-abb3-c0c2b00ca684.png)

Can you please give me some insights or is this all hap

[2022-04-10 17:24] HughWilliams commented on #1027
By `ISQL console`, I presume you mean the Conductor "Database -> Interactive SQL" tab UI? which returns —

[code]

But, if the same query is run from the actual Virtuoso command line "isql" program, it returns —

[code]

— which is the same as for your JDBC connection as was seen in https://github.com/openlink/virtuoso-opensource/issues/1026, and would be expected.

So it looks like a problem with

[2022-04-10 18:32] Tomas2D commented on #1027
Exactly as you said. Running the query from "Interactive SQL" yields to an empty result set.

[2022-04-11 11:33] KonradHoeffner commented on #996
@pkleef: Is there an update on this? I still cannot find it on the forums.

[2022-04-11 14:01] Tomas2D commented on #371
Any progress on this? I am affected by this issue as well.

[2022-04-11 17:52] RyanOattes commented on #1023
Sorry for the delay. We have a release happening this week and I haven't been able to try v8 yet. Will do that and let you know.

Whether that resolves or doesn't resolve the issue, I can provide the data we're using. It's a set we use for performance testing our product at customer installations, so nothing private in it. I could provide you access to a Virtuoso instance with the data already ing

[2022-04-12 12:21] #1026 closed, assigned to nobody

[2022-04-12 12:22] pkleef commented on #1026
This has been fixed in develop/7 commit id c67527f12746b1c9b6c61b83a85ef0adce364600

[2022-04-12 12:35] pkleef commented on #1027
I rechecked this issue after applying the fix for #1026 and it looks like this issue is resolved.

The /sparql endpoint, the iSQL page from the Conductor and the iSQL command line now all return the same data:
[code]

[2022-04-12 12:35] #1027 closed, assigned to nobody

[2022-04-12 12:58] jakubklimek commented on #944
@pkleef any chance of looking into this when you are dealing with unicode related issues? :)

[2022-04-12 12:59] Tomas2D commented on #1027
Perfect, thank you!

[2022-04-13 10:07] jakubklimek commented on #1025
@kidehen @TallTed Thank you for the alternatives, they all work fine (but note that you have omitted the nesting of the `distribution` related `OPTIONAL`s).

However, I do not understand why there is a difference and whether or not you are saying that this behavior is expected.

To be specific, I do not understand how adding (uncommenting) a `VALUES` option can actually remove results. In this cas

[2022-04-13 12:25] kidehen commented on #1025
Just share the query that provides the problematic solution, and we can reply in kind, i.e., conceding a bug or explaining to you what's happening re Virtuoso's Quad- (rather than Triple-) oriented organization of data for constructing default graphs used to compute query solutions.

Basically, a SPARQL Query results page will do.

[2022-04-13 12:50] jakubklimek commented on #1025
OK, [this is the first query from the issue - `SELECT` version](https://pod-test.mvcr.gov.cz/sparql?default-graph-uri=&query=PREFIX+dcat%3A+<http%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23>%0D%0APREFIX+dcterms%3A+<http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F>%0D%0APREFIX+foaf%3A+<http%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2F>%0D%0A%0D%0ASELECT+*%0D%0AWHERE+{%0D%0A++++VALUES+(%3Fdataset+)+{+%0D%0A++(+<https%3A%2F%2Fdata.

[2022-04-13 14:05] imitko commented on #1025
@jakubklimek Testing with TriG dumps do not show problem as you indicated. So, bearing in mind Virtuoso RDF store is a quad store, when specify `graph ?g { ... }`, it groups the triple patterns inside to a graph group, therefore can get such effect if some triples from `optional` are in fact from some other graph.

[2022-04-13 14:23] kidehen commented on #1025
I've fixed the [live URL of my original response query](https://pod-test.mvcr.gov.cz/sparql?default-graph-uri=&query=PREFIX+dcat%3A+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23%3E%0D%0APREFIX+dcterms%3A+%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%3E%0D%0APREFIX+foaf%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2F%3E%0D%0A%0D%0ASELECT+*%0D%0AWHERE+%7B%0D%0A++++++++VALUES+%28%3Fdataset+%29+%7B+%0D%0A++++++++

[2022-04-14 05:20] jakubklimek commented on #1025
@imitko I am not sure if I understand correctly. Are you saying that, e.g.
[code]
can match a triple that is actually not in `?g`, which then gets excluded later, resulting in the missing value? Shouldn't it also match the combination with the value?
I.e. would it need to be explicitly like this?
[code]

[2022-04-14 14:16] Tomas2D opened #1028 "SPARQL - Federated query fails although SILENT keyword presented"
Running a simple federated query on a non-existing endpoint fails, although the SILENT keyword is presented.

[code]

Results in the following error: `Virtuoso HTCLI Error HC001: Connection Error in HTTP Client`.

By [SPARQL 1.1 Federated Query](https://www.w3.org/TR/sparql11-federated-query/), section 2.3.

[2022-04-14 15:20] TallTed commented on #1028
Would you please provide the specific version of Virtuoso on which this was observed?

A few quick tests suggest this was broken between internal engine versions 3322 and 3233, as I see the behavior you describe [on URIBurner.com](https://linkeddata.uriburner.com/sparql/?default-graph-uri=&qtxt=PREFIX+foaf%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2F%3E%0D%0A%0D%0ASELECT+DISTINCT+%3Fs+%3Fmbox%0D%0

[2022-04-14 17:41] Tomas2D commented on #1028
[code]

[2022-04-14 21:41] plegault3397 opened #1029 "HTTP response code: 503"
I keep getting this error. I can restart at the same place it fails and it goes through, then fails in another spot.
Error: Unkown error
Endpoint:  /sparql
HTTP response code: 503

[2022-04-15 06:08] sylxjtu opened #1030 "Segmentation fault when accessing long geometry object using SPARQL"
Hi, I encountered a problem when trying to access a long geometry object. First, I imported the object using this nt file https://gist.github.com/sylxjtu/291d47f49cbbfb09c7f42c70df99ac4c. Then I use the query:

[code]

The query returns ?o=0, which is not true.

Then I tried

[code]

This query caused the virtuoso-t program to segfault.

The version of the virtuoso is 7.2.5.1 (commit 17c4ba1). OS

[2022-04-15 11:33] pkleef commented on #1030
I did a quick test against the current `develop/7` branch and both queries return the correct result.

The version you are currently running appears to be from 2018, so i would recommend building a new binary from the `develop/7` branch.

We are currently working on a new stable release which will come out in the next few weeks.

[2022-04-15 11:56] sylxjtu commented on #1030
Thank you, I'll try to update my version.

[2022-04-15 12:39] Tomas2D commented on #1028
I just did a fresh compilation from develop branch and the issue still persist.

[2022-04-15 13:32] TallTed commented on #1028
Well, that's frustrating!  Development will have to take a look at this.

[2022-04-15 13:43] TallTed commented on #1029
I'm sorry, but you've provided insufficient information for us to analyze and resolve this issue.

The more detail you can provide, including specific versions of all software involved, including but not limited to the Virtuoso server itself, and any client libraries or tools (ODBC, JDBC, ADO.NET driver/provider; web browser; etc.).

Best case, a step-by-step which consistently produces this 503 i

[2022-04-15 14:23] plegault3397 commented on #1029
@TallTed
Sorry should have added those details
MediaWiki | 1.35.5
PHP | 7.4.15
Semantic MediaWiki | 4.0.1
Red Hat Enterprise Linux release 8.5
Virtuoso Version: 07.20.3233

Following their instruction here https://www.semantic-mediawiki.org/wiki/Help:SPARQLStore/RepositoryConnector/Virtuoso

I do not have any issues using the same with an earlier release

MediaWiki | 1.35.5
PHP | 7.4.15
Semantic M

[2022-04-15 14:37] plegault3397 commented on #1029
virtuoso.ini:
[code]

[2022-04-15 16:51] pkleef commented on #1029
One of the reasons for the HTTP status code 503 is the fact that Virtuoso from time to time needs to perform a checkpoint.  As soon as virtuoso starts a checkpoint, the http server will return HTTP status code 503 on each request, until the checkpoint has completed.

Assuming your application fills the database by performing  inserts/queries via the /sparql endpoint, this is a likely scenario.

Yo

[2022-04-15 18:24] plegault3397 commented on #1029
@pkleef
When using Virtuoso Version: 07.20.3230, I did not experience this issue. Is this new to Virtuoso Version: 07.20.3233?
Yes this is the initial ingestion of the data. is the interval in minutes?
The ingestion phase for the current server takes over 8hr

[2022-04-15 18:41] pkleef commented on #1029
Checkpoint has been part of virtuoso since version 3 or 4 at least.

At this time i have no idea why you did not have this with the older v7 binary.

The interval is in minutes, but setting it to 0 like i showed you via the isql tool or setting it in the virtuoso.ini disables the automatic checkpointing.

Note this does not influence the integrity of the database, however it can cause delays in st

[2022-04-15 18:54] plegault3397 commented on #1029
Does not make sense that I use the older version of virtuoso and it runs 8+ hrs without interruption, when I switch the same server to the new version of virtuoso, and it stops with the error. It seems the pause from the MediaWiki server is happening in the old but not the new.
Thanks for clarifying what the cause is.

[2022-04-15 22:46] davidshumway opened #1031 "Odd behavior using geof:distance and filter"
Works:
[code]

aWkt | bWkt | gt
-- | -- | --
POINT(-117.127 32.5745) | LINESTRING(77.907918 33.992098,-77.910471 33.984074) | type1
POINT(-117.13333 32.86667) | LINESTRING(77.907918 33.992098,-77.910471 33.984074) | type1
... | ... | ...

Also works:
[code]

aWkt | bWkt | distance | gt
-- | -- | -- | --
POINT(-117.127 32.5745) | LINESTRING(77.907918 33.992098,-77.910471 33.984074) | 3.38837e+06 |

[2022-04-15 22:51] davidshumway commented on #1031
Although putting the distance binding in the select appears to be working. Odd?

[code]

aWkt | bWkt | gt | distance
-- | -- | -- | --
POINT(-117.127 32.5745) | LINESTRING(77.907918 33.992098,-77.910471 33.984074) | type1 | 3.38837e+06
POINT(-117.13333 32.86667) | LINESTRING(77.907918 33.992098,-77.910471 33.984074) | type1 | 3.38082e+06

[2022-04-15 23:18] davidshumway commented on #1031
Apparently this works (i.e. both filter and distance are returned as expected):

[code]

aWkt | bWkt | gt | distance
-- | -- | -- | --
POINT(-117.98561 33.87154) | LINESTRING(-118.5833 34.0379,-118.5762 34.0395) | type1 | 57533.9
POINT(-118.5 34.008) | LINESTRING(-118.5833 34.0379,-118.5762 34.0395) | type1 | 7814.85
... | ... | ... | ...