[2022-04-16 10:46] sylxjtu commented on #1030
I tried to update my version, although the above sparqls still returns invalid results, doing a re-import seems to fix the problem. Thank you!

[2022-04-16 10:46] #1030 closed, assigned to nobody

[2022-04-19 09:03] imitko commented on #1023
@RyanOattes

In addition to the query execution plan, you can do `PROFILE([query_text])`  to get timings on each step of the plan. An explanation and example can be found in [this article](http://docs.openlinksw.com/virtuoso/ptune/#readingqueryprofile).

Another way to do a SQL/SPARQL query profile is to connect to the database with command-line `isql` tool, then do following sequence:
[code]
Some

[2022-04-19 15:25] plegault3397 commented on #1029
@pkleef:
I downloaded the tar file Virtuoso Open Source Edition v7.2.6 and installed it fresh.
Why does the version still show Virtuoso Version: 07.20.3233?

[2022-04-19 23:15] plegault3397 commented on #1029
I'm not sure what the issue is with the latest build from git hub,https://github.com/openlink/virtuoso-opensource.git.

However I downloaded the tar https://github.com/openlink/virtuoso-opensource/releases/download/v7.2.6.1/virtuoso-opensource-7.2.6.tar.gz  instead and now it work as it should.

[2022-04-19 23:16] #1029 closed, assigned to nobody

[2022-04-22 13:48] KonradHoeffner commented on #1001
It seems to still have the misleading text.

[2022-04-24 20:02] Tomas2D opened #1032 "SPARQL - Performance issue with filters"
Hello, I am having a strange issue with SPARQL performance.

Some background info:
* Graph A: around 10 000 triples,
* Graph B: around 8 099 315 triples.
* Compiled from `develop/7` branch.

With the first query, execution time is around 1 minute. With two filter blocks, it is approximately 4 minutes.

[code]

second try with the `MINUS` operation:

[code]

The second query takes about 1-2 seconds

[2022-04-25 09:25] jakubklimek opened #1033 "Virtuoso crash on general protection fault"
I am not sure whether or not this issue description is helpful, but today, our Virtuoso OS instance (f8aa59cd4ac29983f7afad7c32120e7f2552128b) crashed on general protection fault.
This is everything I got from `/var/log/syslog`:
[code]
There is nothing from that time in `virtuoso.log`

[2022-04-25 11:32] HughWilliams commented on #1033
Is `ulimit -c unlimited` set to enable core file creation, and if so, is a core file generated, from which [gdb stack trace](https://community.openlinksw.com/t/virtuoso-open-source-gdb-core-file-stack-trace-generation/1341) can be obtained for analysis?

[2022-04-25 11:38] HughWilliams commented on #1032
Can  you please [generate SPARQL Query Compilation Report from a Virtuoso /sparql Endpoint](https://community.openlinksw.com/t/generate-sparql-query-compilation-report-from-a-virtuoso-sparql-endpoint/1046) for both queries for analysis ?

[2022-04-25 15:08] jakubklimek commented on #1033
`ulimit -c unlimited` yes, but I did not find any core file. I am running on Ubuntu 21.10. When following the link and configuring Virtuoso with:
`./configure --prefix=/usr/local/ --with-readline --program-transform-name="s/isql/isql-v/" --with-layout=Debian --enable-fct-vad --with-debug` on c67527f12746b1c9b6c61b83a85ef0adce364600 (I just added `--with-debug`) I get a bulid error:

[code]

[2022-04-25 18:31] pkleef commented on #1033
Unfortunately your output does not show the error the compiler reported.

However i believe commit 0f8a8c376d0635d3c3efde290ee91c7b6492d246 fixes this problem, so please pull the latest fixes from  the `develop/7` branch and try again.

[2022-04-25 19:54] Tomas2D commented on #1032
Because the output files are large, I have crated a gist with both queries (full HTML output).

https://gist.github.com/Tomas2D/adeafa03a09625f5d08f2a52ac805a33

[2022-04-26 05:24] jakubklimek commented on #1033
@pkleef thanks. Yes, after the update, it builds successfully. I will see if it generates a core file now.

[2022-04-27 06:14] jakubklimek commented on #663
Now, it is building with OpenSSL up to 1.1.1. Support for OpenSSL 3 is missing, but that is another issue.

[2022-04-27 06:14] #663 closed, assigned to nobody

[2022-04-27 11:07] pkleef commented on #663
@jakubklimek OpenSSL 3.0.x is now supported via commit 7d66d58e38145aafc2f0a47b996d6cfbf3a5728e

There is one testsuite item failing as it is using a very old encryption scheme that is not anymore supported on OpenSSL 3.0, but we are working on a fix.

Other than that my testing on Ubuntu 22.04 LTS (Jammy Jellyfish) looks ok.

[2022-04-27 11:51] serasset opened #1034 "Inconsistent anytime response headers behaviour on SPARQL endpoint"
We are trying to query a dataset while taking care of anytime feature (we indeed want to get partial results rather than errors in case we hit some limits).

Queries are executed on the same virtuoso instance at http://kaiko.getalp.org/sparql

Q1:
[code]

Q2:
[code]

**Without timeout value specified**

- Q1 succeeds after 22 seconds spent (which is less than the server timeout of 60 seconds).
[co

[2022-04-27 13:50] TallTed commented on #1034
First thing, I see that [your endpoint](http://kaiko.getalp.org/sparql?default-graph-uri=&query=PREFIX++bif%3A++%3Cbif%3A%3E%0D%0A%0D%0ASELECT%0D%0A++%28+bif%3Asys_stat%28%27st_dbms_name%27%29++++++++++AS+%3Fname+%29%0D%0A++%28+bif%3Asys_stat%28%27st_dbms_ver%27%29+++++++++++AS+%3Fversion+%29%0D%0A++%28+bif%3Asys_stat%28%27st_build_date%27%29+++++++++AS+%3Fbuild_date+%29%0D%0A%0D%0A%23%23+++The+fo

[2022-04-27 19:35] serasset commented on #1034
I recompiled virtuoso on my debian machine with :
[code]

Then an access to http://kaiko.getalp.org/sparql led to Virtuoso 42001 Error SR185: Undefined procedure WS.WS.SPARQL_ENDPOINT_GENERATE_FORM

I regenarated the whole db from scratch using the newly compiled virtuoso, same problem. Any idea ?

[2022-04-27 20:52] pkleef commented on #1034
When switching from `stable/7` to `develop/7` some of the build environment needs to be regenerated.

Please run the following command:
[code]

Followed by the following commands to rebuild and install VOS:
[code]

[2022-04-28 06:12] serasset commented on #1034
Yes, I did that, but the distclean seams to keep some files. So I fetched a clean git clone and the compilation went well. I'll try the queries now.

[2022-04-28 06:57] serasset commented on #1034
With Virtuoso version 07.20.3233 on Linux (x86_64-pc-linux-gnu) Single Server Edition (142 GB total memory, 17 GB memory in use) :

**Theoretical results** (obtained through isql with no timeout) :
Q1:
- time 27s
- results: 1000 rows (obviously...)
Q2:
- time: 9 m 36s
- results : 3140 rows

**Through SPARQL endpoint without timeout**
Q1:

[code]

This is analoguous to the previous result and expec

[2022-04-28 11:10] pkleef commented on #1034
We will attempt to recreate this issue in house and see what is going on.

[2022-04-28 17:05] delenius commented on #951
I have encountered what I think is the same issue, using the dockerized `openlink/virtuoso-opensource-7:7.2.6-r10-g5a27710`. Some property paths work in conjunction with `GRAPH`, but it seems especially the `*` constructor is problematic. I can provide an example if it helps, but it looks you've already got one above. Following.

[2022-04-28 20:01] wouterbeek opened #1035 "Distinct keyword in sub-select breaks limit/offset behavior"
### Observed

Using the `distinct` keyword in sub-selects silently breaks `limit`/`offset` functionality.

For example, the following query returns 150 results, while 50 results are expected:

[code]

In another example, the following query does not apply `limit`/`offset` at all:

[code]

### Expected

Correct behavior of `distinct` when applied to a sub-select, also when `limit` and/or `offset` a

[2022-04-29 12:13] holycrab13 commented on #571
Any updates on this?

[2022-04-29 13:49] TallTed commented on #1035
Interesting.  Quick tests confirm your observation on Open Source Edition 07.20.3233 (0431ba360) built Feb 25 2022 and Enterprise Edition 08.03.3322 (e6bb7a8b23) built Apr 19 2022.  Development will have a look.

[2022-04-29 13:57] TallTed commented on #571
@manonthegithub @holycrab13 -- This is still on Development's task list. /cc @pkleef

As an aside -- please be aware that your notes —

— do not provide static information, as the driver and image retrieved from those locations will vary over time.  In future, please instead provide your local output of `java -jar virtjdbc4.jar` for the JDBC driver, and `virtuoso-t -?` for Open Source Edition or `

[2022-05-02 07:49] serasset commented on #1034
If you need to recreate the exact `dbnary` server settings, all dataset is available at http://kaiko.getalp.org/static/ontolex/latest/ and the database is created using script available at https://gitlab.com/gilles.serasset/dbnary/-/blob/master/kaiko/virtuoso/rotate-virtuoso-db.sh

(Sorry, I do not have a docker setting available (yet).)

[2022-05-02 08:29] serasset opened #1036 "Plans for docker images distribution (develop branch, arm64) ?"
With the now almost complete arm M1 set of computers from apple (including hi-end server-like machines), will openlink try to distribute the official docker images as multi-architecture images with both amd64 and arm64 architectures ?

Alternatively, could the Dockerfile of virtuoso-opensource-7 image be distributed so that we may rebuilld an equivalent image for arm64 architecture. This will also

[2022-05-02 09:40] pkleef commented on #1036
OpenLink will publish official multi-architecture docker images for VOS with the upcoming new stable release.

If you are interested to testing a BETA docker and giving me some feedback, try:
[code]

[2022-05-02 09:48] serasset commented on #1036
Thanks, I'll give it a look. No plan to opensource the Dockerfile I assume?

[2022-05-04 10:24] kurzum commented on #571
ok, I also reproduced the bug now. I made a test set for bash:
[code]
[i1.sparql.txt](https://github.com/openlink/virtuoso-opensource/files/8619401/i1.sparql.txt)
[i2.sparql.txt](https://github.com/openlink/virtuoso-opensource/files/8619403/i2.sparql.txt)

I am using:
[code]

I split the triples and ran them individually:
[code]
seems like it is definitely the "preview" triples. When run individua

[2022-05-04 16:06] TallTed commented on #571
@kurzum — I notice that you're using a Release 6 iSQL, which is statically linked to the `06.01.3127 OpenLink Virtuoso ODBC Driver`, though you're working with Release 7 Virtuoso.  This is unlikely to be the cause of the described crash, and should *generally* work, but may lead to other issues over time, and certainly doesn't include enhancements that have been made in more recent components. We

[2022-05-04 20:12] kurzum commented on #571
@TallTed
I wouldn't use the old isql client anywhere in production really and also not mix versions. I just wanted to dig into this issue here, so I just ran `apt-get install virtuoso-opensource` quickly to get the client for bash scripting.

I am unsure about the commit. I ran
[code]
and I have the code for the image:
[code]
Can't get the commit hash at the moment. I hope that is enough.

[2022-05-04 20:57] TallTed commented on #571
@kurzum — I think that's enough detail for this issue. For future reference, as we document in the docker hub details —

— and the `git_head` is revealed in this example as [`4d226f4`](https://github.com/openlink/virtuoso-opensource/commit/4d226f484fee6ac09e1d0be5aa4e46408ca91055).

You can also use the [SPARQL query documented here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaS

[2022-05-04 22:36] pkleef commented on #571
@kurzum

I checked docker hub and found the image you are using:

[code]

Note that docker does not automatically check for newer versions, unless you perform another pull command:

[code]

This will give you the latest stable version of VOS 7.2.6 from June 22, 2021.

We are currently finalizing the 7.2.7 release which will be ready soon, and will also be released as a new docker image.

[2022-05-05 05:34] kurzum commented on #571
Thanks for the hints, I am still a docker newbie, just using it & never build something serious with it.  a11a8e37b is the right version. Jan and Kirill might have used others as well.

[2022-05-06 01:33] kidehen commented on #112
We haven't gone for `206` because too many HTTP apps code for `200 OK`; i.e., anything other than that is considered a failure.

If you want to ensure there are no partial solutions, subject to the hard timeout configured for the target instance, simply set your query timeout to 0 or any value less than 1000 msec.

For instances like DBpedia (available to a cocktail of user agents and query profil

[2022-05-06 12:31] kidehen commented on #112
We could consider letting an instance owner configure their preferred response codes in relation to modalities associated with hard-timeouts (as demonstrated by DBpedia's '_Fair Use Policy_') and "Anytime Query", etc.

[2022-05-06 21:20] jmkeil commented on #112
Adding my key points from our [discussion on Twitter](https://twitter.com/janmartinkeil/status/1521451595350880257), I think it would be the best to respond the results with HTTP status 200 in case of complete results and with some fixed, custom 3xx status in case of partial results due to time (Anytime Query) or size (MaxRows) constraints. This way, adapted SPARQL clients will be able to exploit

[2022-05-06 23:01] kidehen commented on #112
Do these requests apply to DBpedia or Virtuoso?

If they apply to Virtuoso, note that you can actually alter the SPARQL endpoints behavior to suit whatever you desire, by writing a custom stored procedure that alters HTTP response codes, etc.

If they apply to DBpedia, then we are back to a deliberate "Fair Use" behavior and the following alternatives:

- Make your own Virtuoso + DBpedia instance

[2022-05-09 10:18] kurzum commented on #571
@TallTed @pkleef I did some more digging and produced a smaller set of triples.

# setup
isql-vt as before `Driver: 06.01.3127 OpenLink Virtuoso ODBC Driver. OpenLink Interactive SQL (Virtuoso), version 0.9849b`.
I updated docker image, it is now:
[code]
I am restarting the docker image with:
[code]

# Issue 1: -- More than 0 parameters, ignoring all the rest of the statement #line 1
[more.sparql.

[2022-05-10 10:43] elfring opened #1037 "reserved identifier violation"
I would like to point out that identifiers like “[`__DLF_H__`](https://github.com/openlink/virtuoso-opensource/blob/5c50483b18a2bdc89b3444452a6116aee6c63680/libsrc/plugin/dlf.h#L28 "Update candidate")” and “[`_IID`](https://github.com/openlink/virtuoso-opensource/blob/5c50483b18a2bdc89b3444452a6116aee6c63680/binsrc/virtuoso_sink/SmtpEvent_i.c#L71 "Another update candidate")” [do not fit](https://w

[2022-05-10 11:40] elfring opened #1038 "Complete build options for Pthread API"
Would you like to add the configuration script “[AX_PTHREAD](https://www.gnu.org/software/autoconf-archive/ax_pthread.html "How to build C programs using POSIX threads")” to [your build specification](https://github.com/openlink/virtuoso-opensource/blob/7d66d58e38145aafc2f0a47b996d6cfbf3a5728e/configure.ac#L531 "Update candidate")?

[2022-05-10 12:18] elfring opened #1039 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [fputs](https://pubs.opengroup.org/onlinepubs/9699919799/functions/fputs.html "Put a string on a stream") ⇒ [file_emit](https://github.com/openlink/virtuoso-opensource/blob/5c50483b18a2bdc89b3444452a6116aee6c63680/libsrc/util/logmsg.c#L575)
- [malloc](https://pubs.opengroup.org/onlinepubs/9699919799/fu

[2022-05-10 12:49] pkleef commented on #1038
Please note that this particular file is licensed as `GPLv3 or newer` which is not compatible with the `GPLv2 only` license we use for VOS at this time.

Note that VOS has always been portable to a large number of systems that use some version of pthreads, including AIX, IRIX,  HP/UX, Solaris, Linux, and Mac OS X. We also support native Windows threads and mutexes.

If you have a particular portin

[2022-05-10 12:49] #1038 closed, assigned to nobody

[2022-05-10 13:01] elfring commented on #1038
Functions are called also according to the POSIX thread programming interface.
Thus I would expect that some checks should be performed for a safe build system.

How do you think about to distinguish the licence versions any further for your build specification?

[2022-05-10 13:49] elfring opened #1040 "Protect against spurious wakeups"
I have seen that [no loop is used around a call](https://github.com/openlink/virtuoso-opensource/blob/5c50483b18a2bdc89b3444452a6116aee6c63680/libsrc/Thread/sched_pthread.c#L1549 "Update candidate: gprof_pthread_create()") of the function “[pthread_cond_wait](http://pubs.opengroup.org/onlinepubs/9699919799/functions/pthread_cond_wait.html "Wait on a condition")”.
Would you like to reuse anything f

[2022-05-11 07:16] elfring commented on #1038
Would you like to reuse functionality from the configuration script “[AX_PTHREAD](https://www.gnu.org/software/autoconf-archive/ax_pthread.html "How to build C programs using POSIX threads")” (without bundling it for your software build system)?

[2022-05-11 10:31] pkleef commented on #982
A fix (b5e1ddbbef20a74f712d2d07604899e003a23881) has been committed to the `develop/7` branch and will be part of the upcoming new stable release.

This patch fixes two problems in Virtuoso:

1. When Virtuoso was upgraded to use 64-bit `IRI_ID`s around v6.0.x, we forgot to upgrade the `RDF_IRI` table to use a 64-bit prefix ID. This meant that Virtuoso could only store around 2 billion distinct pre

[2022-05-11 10:31] #982 closed, assigned to imitko

[2022-05-11 14:00] elfring commented on #1039
:crystal_ball: How will chances evolve to benefit any more also from [the means of aspect-oriented software development](https://sourceforge.net/p/virtuoso/feature-requests/3/ "Suggestion")?

[2022-05-11 14:17] kurzum commented on #571
# Regarding the more than 0 params
seems like this was additionally introduced by me, testing with isql-vt. pkleef send me these lines:
[code]
which makes this go away

# RDF_QUAD_POGS slice 0

seems fixed in
[code]

So I can verify the fix (done with the test data above).

[2022-05-12 11:51] holycrab13 commented on #571
the image `pkleef/virtuoso-opensource-7:latest` resolved the bug for me

[2022-05-12 11:53] pkleef commented on #571
@holycrab13 That is good to hear. We are one step closer to a new stable release.

[2022-05-12 15:06] ldesousa opened #1041 "`geof:buffer` producing unexplainable results"
The `geof:buffer` function is producing unexplainable results. A full example is at the end of this message. Whatever the function is returning, it is certainly not a 10 metre buffer around the point. I experimented different distances and the results are always different from the expected. Only with a distance of 0 is it producing a sensible result (empty polygon).

I am using version 07.20.3233.

[2022-05-12 19:50] HughWilliams commented on #1041
As asked in the source forge email thread, do you have a minimal test case for recreating the issue ?

[2022-05-12 20:13] ldesousa commented on #1041
Hi again Hugh,

yes, the test case is in the issue report at GitHub.

Regards.

--
Luís

------- Original Message -------
On Thursday, May 12th, 2022 at 9:50 PM, HughWilliams ***@***.***> wrote:

[2022-05-13 12:55] HughWilliams commented on #1041
OK,  see what you mean, the reference to the source forge issue confused me as it talk about another related issue with "`geof:sfIntersects`".

Anyway I have been able to recreate the issue you logged with "`geo:buffer`" and have reported it to development to look into ...

[2022-05-13 21:58] davidshumway opened #1042 "Starting over from scratch using same docker container"
It takes at least 10 minutes to delete the triples using `sparql clear graph <...>;`. But deleting `virtuoso.db` and `virtuoso.trx`, then restarting the container, is instantaneous. Is there any issues with going with the latter method?

[2022-05-16 13:36] HughWilliams commented on #1042
How many triples are you deleting (`CLEAR`ing) in the graph? If a large number, are you using the `log_enable(3)` option as detailed in the Virtuoso document on [deleting large graphs](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksGuideDeleteLargeGraphs) from a Virtuoso data store?

If the single graph being cleared is the only graph or other resource in the Virtuoso database, then you

[2022-05-16 19:03] davidshumway opened #1043 "Transaction aborted because it's log after image size went above the 50000000 bytes limit"
Occurs during SPARQL inserting triples via CURL endpoint.

[code]

Error:

Explain:
[code]

Any ideas?

[2022-05-16 19:07] davidshumway commented on #1043
http://docs.openlinksw.com/virtuoso/virtuosotipsandtrickssparulupdatestrl/

[2022-05-16 19:09] davidshumway commented on #1043
The insert is taking place through the SPARQL CURL endpoint. Is it somehow possible to set ` log_enable (2);` via the CURL request? I tried using `isql` and setting it there but it doesn't appear to affect the operation taking place over the CURL endpoint.

[2022-05-16 19:19] davidshumway commented on #1043
Setting `TransactionAfterImageLimit = 5000000000` (default * 100) in `virtuoso.ini` resolved the issue.

[2022-05-16 19:19] #1043 closed, assigned to nobody

[2022-05-16 19:24] TallTed commented on #1043
You can also use the [`DEFINE sql:log-enable N`](http://docs.openlinksw.com/virtuoso/rdfsparqlimplementatioptragmas/#rdfsparqlimplementatioptragmasccg) pragma (one of several [related pragmas](http://docs.openlinksw.com/virtuoso/rdfsparqlimplementatioptragmas/)) at the start of a SPARUL command, as `DEFINE sql:log-enable 2`.

[2022-05-17 01:33] davidshumway commented on #1043
I was curious about how to do that. Good to know, thanks!

[2022-05-17 16:17] serasset opened #1044 "Error RDFXX on a HTTP/1.1 307 TEMPORARY REDIRECT response"
I'm loading an ontology in a virtuoso instance that resolves using content negociation with HTTP1.1 307 Temporary Redirect response.

## Behaviour in latest virtuoso release (from docker)

[code]
then connect to the running container, start isql and evaluate:

[code]

So far so good !

## Behaviour in develop/7 virtuoso release (using pkleef docker)

[code]
then connect to the running container, s

[2022-05-17 17:14] pkleef commented on #1044
Ok, i will have a look.

[2022-05-17 17:52] davidshumway opened #1045 "Optimizing merge of spatiotemporal datasets"
Time period: 10 years.
Location: State of CA.

Dataset 1: 300 NOAA weather stations (located in CA). Daily summary of up to 15 variables (e.g. avg air temperature, avg wind speed, max air temperature). Not every variable present per day per station. Roughly 6 million observations in total.
Dataset 2: 600 buildings (also located in CA). Single daily observation per building. Most buildings make aro

[2022-05-17 20:21] pkleef commented on #1044
This is fixed in commit a01fb790c4f2953dcd92ad4d7782a17291bba345 and will be part of the imminent stable release.

[2022-05-17 20:21] #1044 closed, assigned to pkleef

[2022-05-17 23:55] davidshumway commented on #1045
Assuming distances are precomputed between every building and weather station, one attempt might look like:

[code]

[2022-05-18 05:38] davidshumway commented on #1045
So the query is taking too long to finish. Profiling shows the following:

[code]

Does that look... good? Bad?

[2022-05-18 18:12] davidshumway commented on #1045
In terms of performance is there any advantage to storing the two (large) datasets in separate graphs?

[2022-05-19 02:45] davidshumway commented on #1043
Is it necessary to call `checkpoint` or add another [DEFINE sql:log-enable N](http://docs.openlinksw.com/virtuoso/rdfsparqlimplementatioptragmas/#rdfsparqlimplementatioptragmasccg) pragma at the end of the SPARUL command?

[2022-05-19 10:09] pkleef commented on #1043
Adding a `DEFINE sql:log-enable N` to the start of your SPARUL statement only changes the transaction mode for that particular statement. Virtuoso will automatically reset it back to the mode your database was in before the statement was executed.

By default, SPARUL commands run in manual-commit mode (`sql:log-enable 1`), which means that Virtuoso needs to have enough memory available in its inte

[2022-05-19 11:08] HughWilliams commented on #1045
There would generally be no performance advantage in having separate graphs for each dataset.

More importantly, what is the size of your datasets in total triples? Have you [Performance Tuned](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning) your Virtuoso instance for hosting that many triples in memory, so as not to have to swap to and from disk? Performance will always be degr

[2022-05-19 16:45] davidshumway commented on #1045
Some notes:

- Version:

- I setup memory usage for 8GB of free memory. Thus far I haven't run into any queries requiring use of swap.
- I didn't try altering the indexing.
- The database is stored on a SSD.

Number of triples:

- Building observation: 4 triples per x 200,000 = 800,000
- Weather station observation: 7 triples per x 6 million = 42 million
/
- Building geometry: 3 triples per x 600

[2022-05-19 20:15] TallTed commented on #1045
50 million triples should be quite happy in 8 GB RAM, as we generally recommend a minimum of 10 bytes per triple, or 500 MB for your 50 million triples.

That said, your query may have some surprising optimizations awaiting.  Note, for instance, that SPARQL queries are processed "inside-out"; basically, the innermost subquery is processed first, and the outermost subquery last.  This is sometimes

[2022-05-19 21:37] davidshumway commented on #1045
Thanks for the feedback! Not sure what you mean with inverted subqueries?

I've tried performing the query starting with the weather observations as the innermost subquery and then processing the building subquery last but didn't see much difference in terms of performance. I'm not sure what kind of optimizations are available at this point, hence my reaching out for advice here.

[2022-05-19 21:56] kidehen commented on #1045
Do you have a live query service endpoint that we could interact with?
Do you have the datasets in question in an http-accessible location so that we could upload to one of our instances?

[2022-05-20 09:56] KonradHoeffner commented on #1042
I think the most appropriate way using docker is to delete the volume instead.
For example, in my docker compose setups, I always do `docker compose down -v` to delete all volumes and the docker compose setup is configured as to add all the data on startup if it isn't already there.
However if for some reason you insist on the clear graph method, can you try if it is faster using Virtuoso 7.2.7? A

[2022-05-20 09:59] KonradHoeffner commented on #1036
Since May 18, you can now use the official release openlink/virtuoso-opensource-7:7.2.7, which supports both amd64 and arm64.

[2022-05-20 10:08] KonradHoeffner commented on #995
Is there any update on this? I looked at the following sources but didn't find information on how to load the data on startup:

* https://community.openlinksw.com/t/virtuoso-open-source-7-2-7-release-notes/3143
* https://community.openlinksw.com/t/virtuoso-enterprise-edition-docker-quick-start-guide/285
* https://community.openlinksw.com/t/virtuoso-enterprise-edition-docker-reference-guide/286

I

[2022-05-21 03:35] davidshumway commented on #1045
Randomly generated data but should suffice. weatherObs.n3.gz is the only generally large file. The script to generate the files is here: https://gist.github.com/davidshumway/23c098cbd52bdf0a84c8530b3353f647. Note that in this example the locations are not restricted to CA.

buildingObs.n3.gz https://drive.google.com/file/d/1-6nOTCTlIzINa1LyjIu22q-fzWvrnrk7/view?usp=sharing
[code]

weatherObs.n3.gz

[2022-05-21 18:00] davidshumway commented on #1045
I'm also a little perplexed about a query (using similar data as above) which performs much better by querying for smaller parts of the result (1/6th to be exact) rather than attempting to retrieve the full result all at once. Neither query runs into any memory issues (i.e. swapping) and both appear to run on a single CPU core. I'd assume execution time would be similar but querying for smaller pa

[2022-05-23 14:19] HughWilliams commented on #1045
We have downloaded and loaded your data into graph `<urn:git1045:data>` in our public [https://geosparql.demo.openlinksw.com/sparql](https://geosparql.demo.openlinksw.com/sparql) instance, and can [run the test query you provided directly against the SPARQL endpoint](https://geosparql.demo.openlinksw.com/sparql/?default-graph-uri=&qtxt=prefix+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-

[2022-05-23 19:15] #1042 closed, assigned to nobody

[2022-05-23 19:18] davidshumway commented on #1042
Perhaps 50 million triples.

Good to know. Thanks!

[2022-05-25 14:34] RyanOattes opened #1046 "ANYTIME timeouts triggers by short queries"
This behaviour popped up starting yesterday in a system running **7.20.3233**. Our application service runs a variety of user-defined queries against Virtuoso. Quite suddenly, approximately half their queries (across multiple graph URIs) stopped working. Virtuoso logs showed a ton of anytime timeouts, but a) the logs looked different than I'd seen before, and b) based on eyeball observation and ex

[2022-05-25 17:01] HughWilliams commented on #1046
What is the version for the [Virtuoso Open Source Docker Container](https://hub.docker.com/r/openlink/virtuoso-opensource-7) image being used?  The docker image was updated with the latest [`stable/7` branch ](https://github.com/openlink/virtuoso-opensource/tree/stable/7) updates, some of which included Anytime query [updates/fixes](https://sourceforge.net/p/virtuoso/virtuoso-opensource/ci/f8aa59c

[2022-05-25 17:24] RyanOattes commented on #1046
Hi Hugh. They were running **7.2.6.3233**, which if I'm not mistaken was the latest until a week ago.

I had a look at the `sparql_io.sql` you linked, but I'm not sure I understand the codebase well enough to know where some of those parameters are coming from: `hard_timeout`, etc. Can you elaborate on the condition this recent change is meant to address? Is it issue #983? That ticket doesn't real

[2022-05-25 21:54] HughWilliams commented on #1046
The latest Virtuoso Open Source docker container version is `Version 7.2.7.3234-pthreads as of May 18 2022 (031118cc2)` as per [the docker hub site](https://hub.docker.com/r/openlink/virtuoso-opensource-7#:~:text=virtuoso%2Dopensource%2D7-,To%20check%20the%20version,-of%20the%20Virtuoso), so you are not using the latest version with the latest anytime fixes ...

[2022-05-26 05:37] jakubklimek opened #1047 "Loading of data via Bulk loader slowed down significantly after update"
After update from f8aa59cd4ac29983f7afad7c32120e7f2552128b to e65b85c5514960afd4b5c24b72abe8f58160c047 (and still happening with [current stable/7 branch](031118cc2953117da5f3e7f2e2d33050c7e177ae)), loading of data slowed down significantly.

Loading [this file](https://data.gov.cz/soubor/nkod.trig) (~ 1GB TriG file) used to take about 1 minute and now it takes about 4 hours.

The loading is done

[2022-05-26 05:57] jakubklimek commented on #1047
Yes, this was it. So, no issue after all.

[2022-05-26 05:57] #1047 closed, assigned to nobody

[2022-05-26 20:01] Tomas2D commented on #1006
This issue has been resolved in version [7.2.7](https://github.com/openlink/virtuoso-opensource/releases/tag/v7.2.7).

Thanks!

[2022-05-26 20:01] #1006 closed, assigned to pkleef

[2022-05-27 13:56] jakubklimek opened #1048 "Cannot build with OpenSSL 3.0.x"
_Originally posted by @pkleef in https://github.com/openlink/virtuoso-opensource/issues/663#issuecomment-1110870783:_

@pkleef I get an error building VOS on Ubuntu 22.04 with just OpenSSL 3.0.x (stable/7):
[code]

I did the build like so:
[code]

And still, only manually adding `libssl1.0` and `libssl1.0-dev` (from an old Ubuntu or Debian repository) solves the issue.

[2022-05-27 14:01] jakubklimek commented on #1048
Also I am not sure if https://github.com/openlink/virtuoso-opensource/blob/develop/7/README.OpenSSL.md is still up to date with the update to OpenSSL 3.0.x

[2022-05-27 14:40] pkleef commented on #1048
Thanks for reporting.

The fix has been committed to develop/7 branch

[2022-05-27 14:59] #1048 closed, assigned to nobody

[2022-06-04 21:49] edom opened #1049 "Translation of {a SPARQL SELECT query involving BIND, conditional-or, and multiple EXISTS} produces a SQL syntax error"
### Version

[code]

### How to reproduce

1. Open https://dbpedia.org/sparql/ in a browser.
2. Replace the content of the "Query Text" text area with this:
[code]
3. Click "Execute Query".

### Actual result

[code]

### Expected result

[code]

[2022-06-04 22:30] HughWilliams commented on #1049
We have been able to recreate this issue and are looking into it ...

[2022-06-07 09:47] jmkeil commented on #114
Any progress on this? The XSD standard requires to at least maintain a precision of 16 for xsd:decimal for [limited conformance](https://www.w3.org/TR/xmlschema11-2/#partial-implementation), and arbitrary precision for [full conformance](https://www.w3.org/TR/xmlschema11-2/#decimal). Currently, Virtuoso maintains a precision of 15 ([example query](https://demo.openlinksw.com/sparql?default-graph-u

[2022-06-07 11:08] jmkeil commented on #112
It applies to Virtuoso. DBpedia was just an example. Same issues occur on https://demo.openlinksw.com/. For example, the execution of `SELECT ?s ?p ?o WHERE {?s ?p ?o}` ([with timeout=0](https://demo.openlinksw.com/sparql?query=SELECT+%3Fs+%3Fp+%3Fo+WHERE+%7B%3Fs+%3Fp+%3Fo%7D&format=application/rdf+xml&timeout=0) and [without timeout parameter](https://demo.openlinksw.com/sparql?query=SELECT+%3Fs+

[2022-06-07 11:27] imitko commented on #112
@jmkeil

This behaviour is related to the config parameter [ResultSetMaxRows](http://docs.openlinksw.com/virtuoso/dbadm/#ini_sparql), and since 206 (partial content) can be only if range requested the 200 response is returned with `X-SPARQL-MaxRows`.

HTH

[2022-06-07 11:31] jmkeil commented on #112
As I wrote [on May 6 (above)](https://github.com/openlink/virtuoso-opensource/issues/112#issuecomment-1120015758) —

[2022-06-08 17:02] ebremer opened #1050 "Slow parallel loading"
I did a fresh install of develop branch.  Implemented the fix from https://github.com/openlink/virtuoso-opensource/issues/742#issuecomment-528871495
as this was needed last year to address a crashing problem I was having.
I'm now reloading about 15 billion triples (which had been loaded on this same server before the clean wipe) and using 22 loaders (64-core server).
The loading process which usua

[2022-06-08 18:08] HughWilliams commented on #1050
You indicate having performed a "clean wipe" for this database load, what does that mean? I am assuming you mean the previous database was deleted/discarded and a new empty database started with the new Virtuoso `stable/7` binary for this new load of the data?

There was one change made in the new Virtuoso `stable/7` release to upgrade the [`RDF_IRI` table to use 64-bit prefix IDs](https://communi

[2022-06-08 18:31] ebremer commented on #1050
In short, it's a new installation.  I moved the old installation to another drive, did a `git pull` (from `develop/7`), recompiled, and only used the same `virtuoso.ini` file from the old installation as it had all of the memory settings for this server.  I'm restarting the server and the load process again.  I will check the `status();` then.

[2022-06-08 20:32] ebremer opened #1051 "Conductor Authentication options missing DIGEST"
I did a fresh download and build of develop/7.  I tried to add password protection to /sparql, but the digest method is missing and disabling doesn't seem to work.

[2022-06-08 20:37] ebremer commented on #1051
Nevermind, messed up and selected the "Default SSL Web Site" instead of the 0.0.0.0 bind to 8890.  All is well

[2022-06-08 20:37] #1051 closed, assigned to nobody

[2022-06-08 21:41] ebremer commented on #1050
I decided to delete the original `develop/7` repo I had and do a fresh `pull` (as oppose to `git pull` on old repo).  I still applied #742, but now, it's loading fast again with 20 loaders atm.  I will close this issue out once the load finishes, but so far, so good.

[2022-06-09 16:59] ebremer commented on #1050
Load worked fine.

[2022-06-09 16:59] #1050 closed, assigned to nobody

[2022-06-12 22:10] edom opened #1052 "Wrong result of SPARQL queries with UNION and OPTIONALs"
## Version

[code]

## How to reproduce

1. Open two tabs of https://dbpedia.org/sparql/ in a browser.
2. Uncheck "Strict checking of void variables" in both tabs.
2. Run Q1 below in tab 1.
3. Run Q2 below in tab 2.

Q1:

[code]

Q2 (Q1 with swapped OPTIONAL clauses):

[code]

## Actual result

Tab 1:

[code]

Tab 2:

[code]

## Expected result

Both queries should produce the following result (mo

[2022-06-13 08:44] HughWilliams commented on #1052
We have been able to recreate this issue and are looking into it ...

[2022-06-16 17:38] ebremer opened #1053 "`count()` malfunctioning"
I have multiple named graphs loaded into the latest develop Virtuoso.  If I do the following query:
[code]
it will yield plenty of results.
just adding count() to the select:
[code]
and i get nothing.  Something is not right here.

[2022-06-16 19:16] ebremer commented on #1053
Weird, if I drop ":00080050 ?Accession" modifying the query to:
[code]
I will get a count.  This still isn't making much sense.

[2022-06-16 19:19] pkleef commented on #1053
@ebremer
Is this a publicly accessible dataset, or do you have a public endpoint i can use for a quick experiment?

[2022-06-16 19:20] ebremer commented on #1053
Unfortunately, I'm unable to share.  Very un-public.

[2022-06-16 19:32] pkleef commented on #1053
No problem.

Please follow the steps from the following document:

https://community.openlinksw.com/t/generate-sparql-query-compilation-report-from-a-virtuoso-sparql-endpoint/1046

save the output from the sparql endpoint, check to make sure there is nothing sensitive in the output and then email it to me pkleef@openlinksw.com if you are comfortable.

[2022-06-16 19:43] ebremer commented on #1053
@pkleef report has been sent to you.

[2022-06-16 19:49] pkleef commented on #1053
@ebremer i received your report. I will discuss the matter within development and let you know the outcome.

[2022-06-22 07:45] holycrab13 commented on #571
Is there a new way of enabling federated queries on `pkleef/virtuoso-opensource-7:latest`?

Federated queries don't work on the experimental image after running the usual
[code]

[2022-06-22 14:56] ebremer commented on #1053
@pkleef any update on this?

[2022-06-25 04:53] 2213500360 opened #1054 "Data disappeared after restarting the computer"
I spent several hours loading my data, and after shutting down and restarting the computer I found that all the data had disappeared.
Then after several tests, I found that after loading the data with the `rdf_loader_run()`, I have to run `shutdown()` once and the data will not disappear after reboot.
I'm afraid the data loaded later will disappear again, because it takes a lot of time to load dat

[2022-06-26 09:21] imitko commented on #1054
@2213500360,

You should either use `log_mode` `1` or `3` or do a `checkpoint` after loading. Please see [`log_mode`](http://docs.openlinksw.com/virtuoso/fn_log_enable/) notes.

HTH

[2022-06-26 09:21] #1054 closed, assigned to nobody

[2022-07-04 11:58] cecemel opened #1055 "Delete data and Language-tagged strings"
We're having problems with DELETE DATA queries and language-tagged strings.
It seems batching statements doesn't work as expected.
Sample data set:
[code]
Executing delete
[code]

Checking the result:
[code]
No triples removed

However splitting the batched DELETE DATA as:
[code]
Removes the expected triple.

Virtuoso version
[code]

Can anyone reproduce this issue?
thanks!

Note: with untyped str

[2022-07-04 12:07] pkleef commented on #1055
I have been able to reproduce against the latest version of VOS.

I will discuss it with the development team.

[2022-07-04 12:08] cecemel commented on #1055
Thanks for your swift reply!

[2022-07-05 11:11] KonradHoeffner commented on #996
Any news about this feature?

[2022-07-06 02:57] slater2022 opened #1056 "Error in append literal of VirtuosoRepositoryConnection"
[code]
When `lit` has a language tag, `lit.getDatatype()` is `"http://www.w3.org/1999/02/22-rdf-syntax-ns#langString"`, will not execute `"else if (lit.getLanguage() != null)"`

[2022-07-06 10:49] HughWilliams commented on #1056
We are looking into this ...

[2022-07-06 11:00] imitko commented on #1056
@slater2022

I don't think you can have both language tag and datatype IRI ref, as per [RDFLiteral](https://www.w3.org/TR/rdf-sparql-query/#rRDFLiteral) rule. Thus the if switch have to be transposed.

HTH

[2022-07-06 15:34] pkleef commented on #1056
This has been fixed in df1cf9f0e22afe4625243f71227557039df60980 on the `develop/7` branch.

[2022-07-06 23:34] hussien opened #1057 "The requested subsequence of BLOB is longer than 10Mb, thus it cannot be stored as a string"
I have Microsoft academic graph loaded in a local Virtuoso endpoint. The graph is 10B+ triples. When I try to use `isql` to execute SPARQL query like —

`/isql 127.0.0.1:1111 dba dba exec="set blobs on; sparql define output:format '"TSV"' SELECT DISTINCT ?s ?p ?o from <http://mag.org> WHERE { ?s a <http://mag/paper>. ?s ?p ?o. } "   > output.tsv`

— and export the results into a TSV file, I got th

[2022-07-07 08:37] slater2022 commented on #1056
Okay, it's working

[2022-07-07 08:37] #1056 closed, assigned to nobody

[2022-07-07 15:11] HughWilliams commented on #1057
Can you provide:

1. The output of running the following query to check the max length of the object values in the `RDF_OBJ` table:

   `select max (length(RO_LONG)) from RDF_OBJ;`

2. Run `__dbf_set ('callstack_on_exception', 1);`, which should provide more details on the source of the error, and then re-run your query.

Also, does the error occur when other output formats are chosen?

[2022-07-11 20:58] hussien commented on #1057
Hi @HughWilliams , thanks for your reply, here are the outputs:

1.   `max (length(RO_LONG)) = 165124`

2. after enabling the call-stack the detailed Error is `Error 22023: [Virtuoso Driver][Virtuoso Server]HT057: The STRING session in string_output_string is longer than 10Mb. Either use substring to access it in parts or place less data in it. in string_output_string:(BIF), DB.DBA.RDF_FORMAT_RESU

[2022-07-12 14:55] pkleef commented on #589
OpenLink has published its Virtuoso JDBC drivers as well as its Jena and RDF4j providers to maven central:

https://community.openlinksw.com/t/openlink-virtuoso-java-artifacts-on-maven-central

[2022-07-12 14:55] #589 closed, assigned to openlink, smalinin, pkleef

[2022-07-12 14:55] pkleef commented on #249
OpenLink has published its Virtuoso JDBC drivers as well as its Jena and RDF4j providers to maven central:

https://community.openlinksw.com/t/openlink-virtuoso-java-artifacts-on-maven-central

[2022-07-12 14:55] #249 closed, assigned to openlink, smalinin, pkleef

[2022-07-12 22:05] HughWilliams commented on #1057
Thanks for the additional information , we are looking into  the cause of the error ...

[2022-07-13 14:46] pkleef commented on #1036
The latest version of  [`openlink/virtuoso-closedsource-8`](https://hub.docker.com/r/openlink/virtuoso-closedsource-8) and [`openlink/virtuoso-opensource-7`](https://hub.docker.com/r/openlink/virtuoso-opensource-7) docker images are multi-arch and support both **amd64** as well as **arm64**.

[2022-07-13 14:46] #1036 closed, assigned to nobody

[2022-07-13 15:29] pkleef commented on #996
The latest version of  our [`openlink/virtuoso-closedsource-8`](https://hub.docker.com/r/openlink/virtuoso-closedsource-8) and [`openlink/virtuoso-opensource-7`](https://hub.docker.com/r/openlink/virtuoso-opensource-7) docker images contain support for running a combination of shell (`.sh`) and Virtuoso PL (`.sql`) scripts as part of the initialization of the database before it goes "online".

Thi

[2022-07-13 16:01] pkleef commented on #995
The latest version of  our [`openlink/virtuoso-closedsource-8`](https://hub.docker.com/r/openlink/virtuoso-closedsource-8) and [`openlink/virtuoso-opensource-7`](https://hub.docker.com/r/openlink/virtuoso-opensource-7) docker images contain support for running a combination of shell (.sh) and Virtuoso PL (.sql) scripts as part of the initialization of the database before it goes `online`.

This fe

[2022-07-13 16:01] #995 closed, assigned to nobody

[2022-07-13 16:02] #1002 closed, assigned to pkleef

[2022-07-14 06:47] jakubklimek opened #1058 "Incorrect IRI handling in fct when doing content negotiation"
I use IRIs in my RDF and fct to browse and do content negotiation, e.g. for `text/turtle`.
However, there is an issue with inconsistent handling of unicode characters in `Location:` header in the HTTP redirect.
When I do:
`curl -i -H "Accept: text/turtle" https://linked.opendata.cz/resource/knowledge-graph-browser/view/uk/nadřazená-pracoviště`
I get:
`
location: https://linked.opendata.cz/sparql?q

[2022-07-14 09:53] pkleef commented on #1058
Thanks for the report. We will have a look at what is going on there.

[2022-07-19 19:02] kidehen commented on #112
Here's an idea regarding this matter:

When “Anytime Query” is deemed enabled, the following occurs:

1. HTTP Requests (comprising Range Header) sent to server
1. HTTP 206 Response returned from server

Thoughts and comments welcome.

[2022-07-25 10:23] KonradHoeffner opened #1059 "Turtle loader syntax error with numbers"
I use `ld_dir_all()` together with `rdf_loader_run()` to successfully load several files.
However when I include a file with a number, it gives me an error.
For example, the turtle file containing the single line `<x> <y> 1.` generates the error:

`PL LOG:  File data/shacl.ttl error 37000 [Vectorized Turtle loader] TURTLE RDF loader, line 2: SP029: TURTLE RDF loader, line 2: syntax error`

Accordi

[2022-07-25 12:19] pkleef commented on #1059
I will check the turtle parser and let you know

[2022-07-25 12:56] KonradHoeffner opened #1060 "Plugins section of virtuoso.ini gets overwritten in Docker setup"
Half a year ago, I reported [strange behaviour when trying to deactivate plugins using the `TenForce` container](https://github.com/tenforce/docker-virtuoso/issues/34). However I thought this was due to some Docker inexperience on my behalf and I waited for the official OpenLink image to be available with the new guide on how to set up a fully working endpoint with configuration and data.

Now tha

[2022-07-25 13:02] KonradHoeffner commented on #996
Thank you, this guide works perfectly, except for the virtuoso.ini but I made a separate issue for that at <https://github.com/openlink/virtuoso-opensource/issues/1060>.

[2022-07-25 13:02] #996 closed, assigned to pkleef

[2022-07-25 13:08] pkleef commented on #1060
I will have a look if we can turn this off when you have a custom `virtuoso.ini`.

The current entrypoint script rewrites the `virtuoso.ini` file and rewrites the <code>[PLUGINS]</code> section with the actual plugins that are installed in the hosting directory. Note that Virtuoso actually has more plugins, but on a default docker image, only the ones for working with GeoSPARQL data are installed.

[2022-07-25 13:20] KonradHoeffner commented on #1060
Thanks for the quick reply! Sorry, I just type random names that come to mind when I debug problems like these; `meo`, `beo`, and `scheo` don't actually exist as plugin names. I just want to deactivate them.

As a user, I find it very hard to debug problems when there is undocumented "magic" happening in the background, especially if there are other layers involved, such as Docker and caching. At

[2022-07-25 13:23] KonradHoeffner opened #1061 "How to modify the log level of the console?"
Using `ErrorLogLevel` in `virtuoso.ini`, I can change the verbosity of `virtuoso.log`. However it does not have any effect on the console and thus on the Docker / Docker compose log. How can I set the error log level for the console instead or in addition to the log file?

[2022-07-25 16:01] pkleef commented on #1060
Our [Virtuoso Docker Reference Guide](https://community.openlinksw.com/t/virtuoso-enterprise-edition-reference-guide-for-docker-deployment/) already mentioned that the `VIRT_*` **environment** variables overrule the content of the virtuoso.ini file after it has been installed from either the `VIRTUOSO_INI_FILE` setting or the `default virtuoso.ini` file. I changed it to also include the rewriting

[2022-07-25 20:42] pkleef commented on #1061
The OpenLink docker images run Virtuoso with the `+foreground` flag which will make sure virtuoso does not spawn itself into the background. It also creates a secondary log channel to `stderr` where all log messages up to and including `DEBUG` log messages are  shown.

There are additional functions in the Virtuoso Procedure Language (PL) such as [`dbg_printf()`](http://docs.openlinksw.com/virtuos

[2022-07-26 07:14] KonradHoeffner commented on #1060
Thank you for the quick help, this works perfectly!

[2022-07-26 07:14] #1060 closed, assigned to pkleef

[2022-07-26 08:15] KonradHoeffner commented on #1061
Thank you for the detailed explanation! However disabling all Virtuoso logging output is indeed not what I want, as I would like to see warnings, but not debug messages.

Is it possible to change this secondary log channel level from DEBUG to WARNING or ERROR? Given that there exists the ErrorLogLevel entry in virtuoso.ini, it seems to me as if this mechanism is already in place for the file chann

[2022-08-02 13:16] BenediktHeinrichs opened #1062 "Numerical Datatypes are inconsistent between storing and retrieval"
## Problem

We are currently experiencing a problem when storing different numerical datatypes.

When a user of us pushes an integer-like number as e.g. a xsd:decimal, such a number will be returned as a xsd:integer.

Since we are validating the input (using [SHACL](https://www.w3.org/TR/shacl/)), it is very inconvenient that on retrieval of the data, it has changed the datatype because this break

[2022-08-02 14:40] HughWilliams commented on #1062
We are looking into this ...

[2022-08-03 18:05] ebremer opened #1063 "Differing results on a SPARQL INSERT"
I have a server with 8,509,163,105 triples.  I wanted to convert a text property, in this case, a patient MRN into an URN as seen in the first query.
[code]
I expected 34,229,566 triples to be added but got only 9,999,014 tripled added.  Even with repeat executions.
I changed the query to this adding a MINUS to prevent the insertion of the same triples and then I got all 34,229,566 triples expecte

[2022-08-03 21:52] HughWilliams commented on #1063
Is you build from the `develop/7` branch as of Aug 1 2022 ? Please provide the gitid of the build being used which is part of the version string in the Virtuoso server binary `virtuoso-t -?` output.

How do you know there should be 34,229,566 triples added, is that the number matching to the triple pattern to be changed ie

[code]

I assume you insert queries completed successfully, how long does

[2022-08-04 00:14] ebremer commented on #1063
Yes, develop/7.  v7.2.7-36-g0224008e1 (git describe)
virtuoso-t -?
Virtuoso Open Source Edition (Column Store) (multi threaded)
Version 7.2.8-dev.3234-pthreads as of Aug  1 2022 (0224008e1)
Compiled for Linux (x86_64-pc-linux-gnu)

Yes, the 34,229,566 comes from a query such as you described and it completed in a few minutes.  I've extended the max execution times to handle much longer running que

[2022-08-04 17:15] ebremer commented on #1063
First query:
[code]
Second query
[code]

[2022-08-05 06:19] galgonek opened #1064 "Some SPARQL queries are not evaluated correctly if the xsd:string datatype is present"
I use Linked Data Views and I observed that some SPARQL queries are not evaluated correctly if they contain string literals with the xsd:string datatype. Without this datatype (i.e., if simple literals are used), the queries work as expected.

For example, the query —
[code]
— returns the empty result. However, the query —
[code]
— returns results as expected.

On the other hand, the query —
[code

[2022-08-05 09:17] galgonek opened #1065 "Specific expressions in filter conditions cause crashes of Virtuoso"
If I create the table —
[code]
— then the SQL query —
[code]
causes that the Virtuoso server crashes (SIGSEGV).

[2022-08-05 13:06] #1065 closed, assigned to nobody

[2022-08-05 14:00] Suichoku opened #1066 "How to get username (and possibly other information) for the current session"
I am having a problem using virtuoso with react webapp, I want to somehow fetch information about authentication using JavaScript. For example if I authenticate using "_.../sparql-auth/login.vsp?action=login_" or "_.../sparql_" (which uses the default authentication.vsp for the authentication) as "_dba_", session is valid (I get the "_sid_" cookie). But I haven't found any way of requesting authen

[2022-08-05 15:48] TallTed commented on #1066
You didn't provide the SPARQL query in which you tried to use the [`username()` function](http://docs.openlinksw.com/virtuoso/fn_username/), but perhaps the examples below will provide enough clues for you to make progress...

[code]

[code]

[2022-08-05 18:22] HughWilliams commented on #1064
When I load your tables and generate default RDF Views from the tables all the SQL queries return no data:

[code]

Thus how are you creating your RDF Views ?

What is the version number and gitid of the binary being used, which can be obtained from the output of running `virtuoso-t -?`

[2022-08-05 18:26] #1063 closed, assigned to nobody

[2022-08-05 18:37] HughWilliams commented on #1063
Development indicate that your query is hitting a 10million max vector size limit when performing a SPARQL insert/update query, for which an error should have been reported indicating the SPARQL query did not complete which they are going to fix.

Development also indicate that for such huge batch operation it is better done with a stored procedure writing new triples as  NTriple dumps as is done

[2022-08-05 19:01] galgonek commented on #1064
I do not use the automated generation of Linked Data Views, I have created Linked Data Views manually. However, my database has more than 100 GB, and it is not easy to prepare a small example to demonstrate the issue because the issue depends on a selected execution plan that is typically different for small databases.

But I have observed that the issue is related to the SQL query evaluation. Thu

[2022-08-05 19:32] TallTed commented on #1064
@galgonek -- Please execute the command `virtuoso-t -?` and provide the full first stanza of output, which includes both the simple version you've provided and the exact `gitid` of the codebase from which it was built (as there may be dozens if not hundreds of commits made to the `/develop/7` branch between, for instance, `7.2.7.3234` and `7.2.7.3235`).  You can also [get the `gitid` through a SPA

[2022-08-05 19:59] galgonek commented on #1064
As I just checked, the issue is present in both stable and development versions:

`Version 7.2.7.3234-pthreads as of Aug  5 2022 (031118cc2)`

`Version 7.2.8-dev.3234-pthreads as of Aug  5 2022 (4b1e6fa24)`

[2022-08-05 20:08] TallTed commented on #1064
Thank you!  Those details will be helpful to our ongoing testing and analysis.

[2022-08-07 02:58] ShengdingHu opened #1067 "No var folder in virtuoso-opensource"
I am  installing virtuoso in Ubuntu22.04

After I run
[code]
I found that only share folder is in /usr/local/virtuoso-opensource

<img width="679" alt="image" src="https://user-images.githubusercontent.com/32740627/183272963-15854206-735f-4c61-88d6-3881890d364d.png">

Does anyone know what should I do?

[2022-08-07 03:38] ShengdingHu commented on #1067
This  has been solved after I switch to develop/7,   may be related to the bug mentioned in issue #1048

[2022-08-07 03:38] #1067 closed, assigned to nobody

[2022-08-08 12:06] Suichoku commented on #1066
Thank you so much. This seems to have fixed my problem.

[2022-08-08 12:06] #1066 closed, assigned to nobody

[2022-08-12 16:16] ebremer opened #1068 "System crash on "Generate SPARQL compilation report""
When using the function "Generate SPARQL compilation report" (instead of executing the query) for the query:
[code]
causes an immediate Virtuoso crash:
[code]
this happens even after a fresh reboot and restart of Virtuoso.  Other queries run fine, but when trying to run the above query, it was taking a long time which is why I was trying to get a compilation report.

Server info:
virtuoso-t -?
Vir

[2022-08-12 18:08] HughWilliams commented on #1068
I can recreate this issue against the develop/7 branch and we are looking into it ...

[2022-08-15 09:38] jmkeil commented on #112
This will not work out for the following reasons:
1. Clients will not send requests with range header, as they have no reason to do so.
2. There is no way to convert a range of rows/bindings into a range of bytes without knowing the content beforehand.

If clients only want specific rows, they would use the SPARQL keywords `LIMIT` and `OFFSET`. [Range request header](https://developer.mozilla.org/

[2022-08-15 12:09] #1068 closed, assigned to nobody

[2022-08-15 13:26] ebremer commented on #1068
Confirmed fixed.

[2022-08-15 13:26] ebremer commented on #1068
Thank you very much!

[2022-08-15 21:19] ebremer opened #1069 "Slow `select distinct ?g where {graph ?g {?s ?p ?o}}`"
`select distinct ?p where {graph ?g {?s ?p ?o}}`

took 13.5 minutes to run.

on
[code]
8,509,163,105 triples over multiple graphs.

[2022-08-16 12:33] HughWilliams commented on #1069
How long did the query take to execute with the previous binaries used ?

Can you provide the SPARQL query compilation report for the slow running query ?

Can you try list the predicates with the following SQL query against the `RDF_QUAD` table:

[code]

What does the output of the `status();` command report if run whilst the original slow query is running ?

[2022-08-16 14:40] ebremer commented on #1069
The query used to take less than a minute.

SPARQL query compilation report

[code]
This is running super slow
[code]
status() while "select distinct ?g where {graph ?g {?s ?p ?o}}" is running
[code]

[2022-08-17 11:31] HughWilliams commented on #1069
1. What is the version and gitid of the binary that takes about 1 min to run the same query ?

2. In the title of this issue you state the query being run is `select distinct ?p where {graph ?g {?s ?p ?o}}` whereas in your query compilation report the query being run is `select distinct ?g where {graph ?g {?s ?p ?o}}`, which is the query normally run?

3. In which case how long do the following qu

[2022-08-17 12:25] ebremer commented on #1069
[code]

My bad, it is the query `select distinct ?g where {graph ?g {?s ?p ?o}}`.  I changed the title of the issue.

`172.31.8.192` is the vpn address I am coming in remotely on.  The queries were all run locally on the host.

No, not at this time.  The machine has few users (usually just me) doing heavy queries.
FYI - server is Ubuntu with 688GB RAM and 64 cores

[code]

[2022-08-17 20:49] ebremer commented on #1053
This problem still persists.  I have another query which involves a query in the form:
`select distinct ?DICOM where {complex pattern)`
and it will yield, say 1.4 million solutions, but adding a count:
`select count(distinct ?DICOM) where {complex pattern)`
and it will yield 2.3 millions values.
Current running version
[code]
compilation report for failing query:
[code]

[2022-08-17 20:59] HughWilliams commented on #1069
Did you try running the following alternative queries suggested previously ?

[code]

[2022-08-17 22:43] ebremer commented on #1069
`select distinct ?g where {graph ?g {?s a ?t}}`
This ran quickly but only returned the below.  Not all of my named graphs contain a `a ?t` pattern mind you.
[code]
`select distinct id_to_iri(g) from rdf_quad;`   (executed from `isql`) yielded
nothing yet and has been running for an hour and a half.  I'll check it later to see if it finishes or crashes.

[2022-08-17 23:15] ebremer commented on #1069
The result are in from `select distinct id_to_iri(g) from rdf_quad;`
[code]

[2022-08-19 17:03] HughWilliams commented on #1069
The slow running `select distinct ?g where {graph ?g {?s ?p ?o}}` query is caused by the  `AdjustVectorSize=1` parameter setting in your INI file. Setting `AdjustVectorSize=0` which is the Virtuoso default and restarting the Virtuoso instance, the query runtime drops from about 8mins to 2.9 secs in my testing.

Development will be checking to see what has changed that is causing the `AdjustVectorS

[2022-08-22 09:36] #1069 closed, assigned to nobody

[2022-08-23 14:53] ebremer commented on #1069
Confirm working on both AdjustVectorSize (1 or 0)!  Thank you!

[2022-08-29 12:38] srlin5 opened #1070 "Service failed to start, "protocol" error"
[code]
## Log:
[code]
===

Anybody know how to fix this and/or what it means? The webserver seems to be running though.

[2022-08-29 13:39] pkleef commented on #1070
Can you show me the output of the following command:

[code]

I also would like to know more about what operations you performed on the database prior to the restart?

Is this a newly created database, or an existing db?

Do you have a backup of the database?

[2022-08-29 15:23] srlin5 commented on #1070
No output on this command.

We didn't perform anything prior, it's an existing database and yes we have a backup.

[2022-08-29 16:19] srlin5 commented on #1070
Could it be the old version we're using:

    Version: 07.20.3217
    Build: Sep 7 2016

[2022-08-29 16:21] srlin5 commented on #1070
The log was showing some more errors later on:
[code]
Seems the `hosting` directory is missing as well.

[2022-08-29 17:24] TallTed commented on #1070
* That VERY old binary (and supporting binaries, etc.) could certainly be a contributing factor.  An update is likely to be in your future.

* @pkleef requested output of `/opt/bin/virtuoso-t -?` because it generally helps us to know the last commit made to the code from which your binary was built. This `git_head` is revealed in the parentheses at the end of the `Version` line in that command's o

[2022-08-30 08:14] srlin5 commented on #1070
[code]

[2022-08-30 14:47] pkleef commented on #1070
First lets focus on the following message in the log file:

[code]
This error occurs when another process already has this port 8890 open on the server. This could be another virtuoso instance, or a third party application.

Since you stated:

we can assume there is already a Virtuoso process running using the same port(s). This will prevent the systemd service from starting Virtuoso using the `vi

[2022-08-31 10:42] srlin5 commented on #1070
@pkleef Thanks, we'll check all of the points.

[2022-09-01 12:39] RESDXChgfore9hing opened #1072 "Question: Does Virtuoso-OpenSource support GraphQL query?"
at wikipedia it seems to say there is support but looking at the readme doesnt seems to gives any hint about its existence

[2022-09-01 14:25] kidehen commented on #1072
Native support is on its way. It will be part of the next release which is due out any minute now.

[2022-09-02 03:23] RESDXChgfore9hing commented on #1072
awesome,i will try out virtuoso then.and will close this issue

[2022-09-03 04:40] #1072 closed, assigned to nobody

[2022-09-03 04:49] RESDXChgfore9hing opened #1073 "Question: How to actually close the `virtuoso-t` server? Is there a basic guide?"
The readme only teaches up until how to get it running and authenticate at the local server web view.

I tried
[code]

As you can see, I have no clue how to close it. How do we restart?

Is there a way to manage where the path to db with cli?

Can we disable the local host webview? For example, if we are in production, we just need to do sql query from cli/api and gets the result ASAP.

[2022-09-03 11:10] HughWilliams commented on #1073
On Windows, Virtuoso is installed as a [Windows Service](https://en.wikipedia.org/wiki/Windows_service) and can be stopped and started with the Windows [Service Control Manager](https://en.wikipedia.org/wiki/Service_Control_Manager) UI, or via an **Administrator** command line session with the commands detailed in the [Virtuoso Windows Services](https://vos.openlinksw.com/owiki/wiki/VOS/VOSUsageWi

[2022-09-04 04:07] RESDXChgfore9hing commented on #1073
awesome thanks,it actually works as expected. huge thanks,will continue explore.

[2022-09-04 04:09] #1073 closed, assigned to nobody

[2022-09-14 03:41] slater2022 opened #1074 "Binding an IRI consisting of special characters can cause a syntax error"
[code]
In `VirtuosoRepositoryConnection.append(IRI uri, StringBuilder sb, boolean inTriplePattern)`, `escapeString` changes `queryStr` to `“ select ?p ?o  where {  <http://dbpedia.org/resource/\u5317\u4EAC> ?p ?o.  }”` causing  syntax error

[code]

[code]

[code]

[2022-09-17 17:24] KonradHoeffner opened #1075 "`ld_dir_all` does not work with graph name `NULL` as described in the docs"
According to the [Virtuoso documentation of `ld_dir_all`](https://docs.openlinksw.com/virtuoso/fn_ld_dir_all/):

However in practise, using the docker image `openlink/virtuoso-opensource-7`, this works differently.

## `NULL` as graph name will not load anything

    ld_dir_all ('/rdf/', '*.ttl', NULL);

## Using any string as graph name will work correctly, using the given graph name as fallback

[2022-09-21 06:17] jakubklimek opened #1076 "Cannot build latest develop/7"
With ea438d29950979d63d7802974fd994932c74b81b I end up with (probably caused by https://github.com/openlink/virtuoso-opensource/blame/24851e5a052be23c1da4a1c47cfbba3419b1b7e2/libsrc/Wi/srvstat.c#L1972):
[code]

[2022-09-21 08:39] #1076 closed, assigned to nobody

[2022-09-22 09:35] rogargon commented on #420
We are trying to enable full-text search through Virtuoso in our RDF exploration tool Rhizomer. Our idea is to use `bif:contains` but we are blocked because we send the SPARQL query programmatically through Jena and it fails if the `bif` prefix is not defined.

If we define the prefix using the URI pointed out by @kidehen, like:
[code]

We get the following error:
[code]

The query works if we omi

[2022-09-22 09:52] imitko commented on #420
@rogargon

You should use `PREFIX bif:  <http://www.openlinksw.com/schemas/bif#>` instead.

HTH

[2022-10-04 08:18] ffritsche opened #1077 "Bus error after checkpoint"
Hello,

We got in our virtuoso a "bus error" a few secounds after a checkpoint.
Our version is aa01ef278b2a4093cbe74cf7ef23729af3e7fedf.

Log:
[code]

Is there something I can provide to find the error?

Thanks

[2022-10-04 10:57] HughWilliams commented on #1077
Can you please recompile your Virtuoso open source build in debug mode and force core file generation from which a gdb stack trace can be obtained with detailed information as to the cause of the "Bus error", as described in this [document](https://community.openlinksw.com/t/virtuoso-open-source-gdb-core-file-stack-trace-generation/1341/6) ...

[2022-10-07 17:06] kidehen commented on #112
There's a new note about changes we've made to the "Anytime Query" feature of Virtuoso.

Goal:
To reduce confusion by offering more configuration options and use of HTTP response code.

Read: https://community.openlinksw.com/t/technology-update-virtuoso-anytime-query-functionality-for-query-scalability/3388

[2022-10-09 07:19] slater2022 opened #1078 ""graph" leads to inconsistent results of property path query."
[code]
use only the original data.
 query 1:
[code]
query result:
[code]
query 2:
[code]
query result:
[code]
The results of the two queries are different

[2022-10-09 20:27] imitko commented on #1078
@slater2022

Not a bug. When you use `graph ?g { ... }`, this means triple patterns inside are belong to same graph, therefore you *do not* query across all graphs. Note Virtuoso RDF store is a QUAD store, not a triple store.

HTH

[2022-10-10 01:34] slater2022 commented on #1078
query
[code]
query result
[code]
The query result is the same as query 2

SPARQL 1.1 Query Language

<html>
<body>

elt? | ZeroOrOnePath | A path that connects the subject and object of the path by zero or one matches of elt.
-- | -- | --

</body>
</html>

no path matching zero rdfs:subClassOf

[2022-10-10 15:35] smalinin commented on #1074
Fixed bcca9fca6b79c312188d3e95d07ac9d51e7d9996

[2022-10-10 15:35] #1074 closed, assigned to nobody

[2022-10-11 15:16] daniel-dona commented on #309
Is this still not fixed?

[2022-10-12 17:10] TallTed commented on #1078
@imitko — Please take a look at @slater2022's followup...

[2022-10-14 16:11] arnikz commented on #1072
@kidehen: Do I understand it correctly that the next Virtuoso OSE release will include GraphQL-based data access? Thank you.

[2022-10-20 10:57] arnikz commented on #1072
Yes 🎉 It's there: https://github.com/openlink/virtuoso-opensource/tree/v7.2.8

[2022-10-20 11:16] pkleef commented on #1072
You can read more about this new feature in the following articles on our community forum:
  *  [GraphQL Introduction](https://community.openlinksw.com/t/introducing-native-graphql-support-in-virtuoso/3378)
  *  [GraphQL Usage Guide](https://community.openlinksw.com/t/usage-guide-virtuoso-graphql-views-creation-management/3381)

[2022-10-21 17:19] excursus commented on #571
Any updates on this? I'm still experiencing this bug in `openlink/virtuoso-opensource-7:7.2.8-r14-geef1fc5-ubuntu`.

[2022-10-21 18:12] TallTed commented on #571
@excursus — Would you please provide the version details obtained from `virtuoso-t -?` or [this SPARQL query](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaSparql)? It is particularly important that we know the `git_head` value of your Virtuoso binary.

[2022-10-21 18:15] excursus commented on #571
Sure, `virtuoso-t -?` returns this:

[code]

[2022-10-24 15:33] excursus opened #1079 "`datatype(?o)` is empty"
I initially posted this question on [stackoverflow](https://stackoverflow.com/questions/74176062/why-is-datatypeo-empty-in-this-query?noredirect=1#comment130963105_74176062) and was advised to open a ticket here since it might be caused by "a relatively recently introduced bug".

I noticed that running the following query on dbpedia:
[code]
returns a response in which the column for `datatype(?o)`

[2022-10-25 10:56] pkleef commented on #1079
Development is looking into this issue

[2022-10-27 15:17] RESDXChgfore9hing opened #1080 "Question:guide for CRUD operation with virtuoso"
I saw that graphql support is implemented I wanted to start create database with some data and try utilizing it.
However I am unsure how to do it.

[2022-10-27 16:02] HughWilliams commented on #1080
Have you read the Virtuoso GraphQL [Introduction](https://community.openlinksw.com/t/introducing-native-graphql-support-in-virtuoso/3378) and [Usage](https://community.openlinksw.com/t/usage-guide-virtuoso-graphql-views-creation-management/3381) guides as starting points ?

[2022-10-27 16:02] kidehen commented on #1080
Have you read any of [the Virtuoso GraphQL guide ](https://community.openlinksw.com/t/usage-guide-virtuoso-graphql-views-creation-management/3381)about how GraphQL Mappings and view creation?

We've also published [a repo](https://github.com/OpenLinkSoftware/SPASQL-Utility-Showcase-Queries/tree/master/graphql) comprising various sample mappings used in the public demos associated with the followin

[2022-10-28 12:54] RESDXChgfore9hing commented on #1080
awesome will try it out and see if I can reproduce the results then maybe implementing my own database for my personal stuff,

[2022-10-28 12:54] #1080 closed, assigned to nobody

[2022-11-10 00:40] rennisoliveira commented on #959
Hi,
I had the same error. Could I send erro to mail?

Ubuntu 22, Virtuoso 7.2.8

[2022-11-10 12:38] jmkeil commented on #112
That is little progress, but it does not really solve the problems:

* [ ] behavior is not standard compliance with default configuration
    * This use of status 206 is not compliant to the standards:
        * the [quoted phrase from RFC 9110](https://www.rfc-editor.org/rfc/rfc9110#section-15.3.7) says that "a server might want to send [in response to a range request] only a subset of the data r

[2022-11-10 15:24] TallTed commented on #112
Thank you for the detailed update, @jmkeil. I'll leave a detailed response to others.

Please do be aware that when providing Virtuoso version info, it's important to include the `git_head` value which pins down the exact code from which a running binary was built. Without this value, the binary may have been built from any codepoint over weeks or even months. You can get the `git_head` with [the

[2022-11-10 15:45] TallTed commented on #959
@rennisoliveira -- Yes, please do create and email the described zip, with reference to this issue in your subject line.

[2022-11-11 09:25] jakubklimek commented on #936
I also ran into related issues.
With the query:
[code]
On https://dbpedia.org/sparql (Virtuoso 8) I get:
[code]
which is invalid duration.
On VOS endpoints such as `https://data.gov.cz/sparql` I get an error:
[code]
Actually loading the triple
[code]
into VOS however converts it to `"1.0"^^<http://www.w3.org/2001/XMLSchema#duration>` as well.

[2022-11-13 19:17] HughWilliams commented on #936
We are looking into the reported issues ...

[2022-11-24 22:07] rogargon commented on #209
Is this issue still unsolved? I'm currently experiencing an empty response to `datatype()` when applied to a string with a language tag like `"test"@en`

Virtuoso version 07.20.3233 on Linux (x86_64-pc-linux-gnu) Single Server Edition

[2022-11-27 21:14] HughWilliams commented on #209
If you want the language tag for a string object value, using `LANG(?o)` directly in the select list should return it, i.e. —

[code]

[2022-11-28 08:05] rogargon commented on #209
No, the problem is not with the language tag. The issue is that we get an empty response to `datatype()` when applied to a language string. This differs from the behaviour of other SPARQL engines and breaks our semantic data explorer tool [Rhizomer](https://rhizomer.rhizomik.net).

Rhizomer builds faceted views with differentiated ranges and this doesn't work for strings with a language tag becaus

[2022-11-28 10:25] HughWilliams commented on #209
Do you have a sample test SPARQL query running against the Virtuoso hosted http://dbpedia.org/sparql endpoint that demonstrates the problem being encountered by your application, to enable the problem to be seen directly against the SPARQL endpoint  ?

[2022-11-28 12:01] rogargon commented on #209
For instance, just tried the following query using DBpedia SPARQL (version 08.03.3326):
[code]

The result for `?datatype` is empty, so it appears that version is experiencing the same issue.

With Fuseki (versions 4.3.2 and 4.6.1) I'm getting the expected result: `<http://www.w3.org/1999/02/22-rdf-syntax-ns#langString>`.

With our Virtuoso deployment (version 07.20.3233), we are getting also an e

[2022-11-28 13:33] HughWilliams commented on #209
Virtuoso supports SPARQL 1.1, which is based on the RDF 1.0 specs, where a literal cannot have both a `lang` and `datatype`; this is what Virtuoso currently supports. In RDF 1.1, literals are allowed to have both `lang` and `datatype`, which is what you appear to be seeking support for?  Adding such support is not a simple process, as it would have side effects on the Virtuoso SPARQL/RDF ecosystem