[2018-01-05 15:46] JJ-Author commented on #704
Hi Hugh,
thanks a lot for your fast reply. I did not know about that anytime query feature, so I'm sorry for that.
This is just my personal opinion but it might be useful to show a message or warning about incomplete results in the HTML view or even as comments in RDF.

To come back to question 2:  I prepared a little example.
1. Load the RDF resource http://dbpedia.org/resource/Library_of_Parliam

[2018-01-08 06:16] logicfish commented on #652
I've tried with the latest from git - no change.

[2018-01-08 14:58] roland-c commented on #663
Same here on Ubuntu 16.04. Is there any resolution on a workaround?

[2018-01-08 15:09] idimopoulos commented on #663
Disclaimer: I don't know if it will work for you and honestly, I don't remember if it happened that way exactly.
For ubuntu I had a workaround but I do not know if it still works. When I installed Ubuntu half a year ago, I checked the openssl package that came with the OS and it was still 1.0.2. It only upgraded to 1.1.0 when I enabled the ppa:ondrej/php repo. I think that if you remove that repo

[2018-01-09 10:58] roland-c commented on #663
Thanks man, that worked!
I removed the repo, removed openssl and reinstalled from the original Ubuntu repo. Now VOS compiled without any problem.

[2018-01-11 12:49] yyz1989 opened #705 "regex filter with case insensitive flag does not match letters with accents"
Hi,

Given a string literal containing letters with accents like "Wärme", the query
[code]
does not match the literal. While
[code]
does so, but we cannot match different cases any more. This should be a bug.

Interestingly,
[code]
works properly.

Many thanks for the investigation.

Best regards,
Yang

[2018-01-11 17:14] HughWilliams commented on #705
@yyz1989: I have been able to recreate this issue inserting the following triple into a Virtuoso database:

[code]

and reported to development to look into ...

[2018-01-12 10:57] ThomasMic commented on #578
hello. some news !

forget about the point our data is coming from a crashed `.db` :

We can now reproduce this Broken index RDF_IRI issue from a significant amount of "not valid" IRI in Ntriple files using the `rdf_loader`.

We found this "common factor" to reproduce our ~~(and i suspect yours)~~ issue  :

when the file you try to load generates an "important" (only one invalid triple is not enou

[2018-01-12 10:58] ThomasMic commented on #578
when looking at your datas, it seems the contains these kind of warnings :
C:\Users\michaux\Downloads\apache-jena-3.6.0\bat>riot.bat --sink --strict --stop C:\1.ttl\1.ttl
11:47:38 WARN  riot                 :: [line: 2, col: 1 ] Bad IRI: <C:\1.ttl\1.ttl> Code: 4/UNWISE_CHARACTER in PATH: The character matches no grammar rules of URIs/IRIs. These characters are permitted in RDF URI References, XML

[2018-01-12 11:00] ThomasMic commented on #578
we have warnings in the files we are trying to `rdf_load`, once an important number of these files are loaded (no errors signaled by virtuoso), you can't do a backup

[code]

[2018-01-12 11:17] ThomasMic commented on #578
test file to reproduce
[gsl20171003000001.zip](https://github.com/openlink/virtuoso-opensource/files/1625829/gsl20171003000001.zip)

[2018-01-12 20:00] HughWilliams commented on #578
What is the `gsl20171003000001.zip` file meant to produce -- the warning messages above, or the broken index, or both -- as it is not clear from your posts?

[2018-01-12 20:42] ThomasMic commented on #578
Warnings messages come from the Jena RIO parser. Virtuoso will load the file via bulk load without any error or log messages.

 But once you loaded this file in an empty database you won't be able to make à successull backup using `+backup-dump` option.

 I think a lot of "bad" IRI results in breaking the IRI index in VOS

 Thomas.

[2018-01-12 20:51] HughWilliams commented on #578
I loaded the database and could perform a `+backup-dump` on the database:

[code]
Shutdown database and perform the `+backup-dump`:

[code]

[2018-01-17 04:10] dikshantshahi commented on #249
+1

[2018-01-20 08:37] asanchez75 commented on #409
I had the same problem but it is possible to workaround it by running SQL queries directly against the underlying database. It would be something like:

`DELETE FROM DB.DBA.RDF_QUAD where P = iri_to_id('http://rdf.freebase.com/ns/type.object.type') and G = iri_to_id('http://freebase.com')`

[2018-01-21 11:17] retog commented on #126
I've notived that this operation has no effect

[code]

while this one actually adds  triples:

[code]
Is this also this issue?

[2018-01-21 20:48] HughWilliams commented on #126
Note this issue is resolved in the new SPARQL engine available in Virtuoso 8 which is currently ONLY available in commercial form:

[code]

[2018-01-22 13:30] JJ-Author commented on #704
any news on that?

[2018-01-25 15:29] smalinin commented on #687
It looks, that patch for Git was missed. The fix has been added and Git sources was updated.

[2018-01-25 15:29] #687 closed, assigned to nobody

[2018-01-29 11:19] iesnaola commented on #249
+1

[2018-01-31 11:25] dayures opened #706 "unexpected mix / max value from SPARQL query"
(Virtuoso version 07.20.3217 on Linux (x86_64-pc-linux-gnu), Single Server Edition)
After uploaded the example data in the graph `<http://example.org/graph>`:
[code]

It is wanted to obtain the min and max values. So, this SPARQL query is used:

[code]

The values expected are:
[code]

but the result obtained is
[code]

Any ideas of this behaviour?

[2018-02-01 11:16] vimaldarjiv26 commented on #249
when the JDBC driver and the Jena provider via maven central repository available?

[2018-02-02 09:46] dikshantshahi opened #708 "Virtuoso Jena Provider: VirtGraph.getBulkUpdateHandler() method not available"
I downloaded Virtuoso Jena Provider For Jena 3.0.x and later from URL http://vos.openlinksw.com/owiki/wiki/VOS/VOSDownload#Jena%20Provider. The class in the jar file doesn't contain the VirtGraph.getBulkUpdateHandler() method.

Has the API changed or something is missing? The provided example VirtuosoSPARQLExample7 provides an usage example though.

[2018-02-02 13:08] smalinin commented on #708
The method Graph.getBulkUpdateHandler() was deprecated in Jena3 API and the example  VirtuosoSPARQLExample7 isn't existed in Jena3 provider sources => https://github.com/openlink/virtuoso-opensource/tree/develop/7/binsrc/jena3/virtuoso_driver .
You could to use another Jena3 methods, for example from VirtModel class
[code]
or etc.

[2018-02-02 13:08] #708 closed, assigned to nobody

[2018-02-05 00:59] ieyasu109 opened #709 "Date problem with JDBC driver"
Date data in a date type (e.g. 2018-02-02) is stored in the Virtuoso.
When we get the date data with JDBC driver, the data of one day ago (e.g. 2018-02-01) is acquired.

This problem has occurred since we upgraded a JDBC driver to the one attached to v7.2.4.2.
There was no problem with the one attached to v7.2.1.

Do you have any related known issues or information with this problem?

[Please see

[2018-02-05 08:44] smalinin commented on #709
Where is your JDBC code sample? Did you look the Virtuoso Jena3 or RDF4J providers source code for compare your sources with code in the providers?
The next is from Jena3 provider sources:
[code]
the next link is JDBC test for DataTime types https://github.com/openlink/virtuoso-opensource/blob/develop/7/libsrc/JDBCDriverType4/testsuite_4.0/TestDateTime.java

[2018-02-06 06:17] ieyasu109 commented on #709
Our jdbc has not been built from source code.
We downloaded a file "virtuoso-opensource-7.2.4.2.tar.gz" from the site of "https://github.com/openlink/virtuoso-opensource/releases", and then we applied a jdbc driver "libsrc/JDBCDriverType4/virtjdbc4.jar" in the archives of above downloaded file.

[2018-02-06 07:13] smalinin commented on #709
I didn't mean the Virtuoso JDBC driver sources. I did mean your code, where you get Date from JDBC driver ResultSet. The extracting Date value from SPARQL query ResultSet is differ a little from SQL query ResultSet. The examples above show, how it may be done.

[2018-02-07 04:04] ieyasu109 commented on #709
I'm sorry. The following is an example:

[code]

[2018-02-07 13:44] smalinin commented on #709
Ok, I rechecked, the issues was with handle timezoned date in JDBC driver. The bug was fixed, it was commited in Git soon.

[2018-02-07 14:24] dikshantshahi commented on #697
We are also facing the same issue with Virtuoso Jena adapter. The same code is working in one environment but throwing the below error in another environment. Virtuoso fails to upload even a small ttl and the instance crashes.

[code]

Below is the code block:

[code]

Upload from connector works in the failing environment.

[2018-02-07 16:36] jpmccu commented on #581
Is there any progress on this? This is preventing me from using Virtuoso in my knowledge graph framework, since we use SPARQL update as a standardized interface for graph edits.

[2018-02-07 17:02] openlink commented on #709
Fix has been committed on develop/7

You can download a new JDBC driver (assuming you are using JDK 1.8) from:

https://github.com/openlink/virtuoso-opensource/raw/develop/7/libsrc/JDBCDriverType4/virtjdbc4_2.jar

[2018-02-07 17:02] #709 closed, assigned to nobody

[2018-02-07 17:32] HughWilliams commented on #697
A fix for this issue is in the git develop/7 branch, see:

   https://github.com/openlink/virtuoso-opensource/commit/a6719e8f4e3e056235cb1b5aac574d63b82b46e3

[2018-02-07 19:06] kotheoha opened #710 "TURTLE RDF loader ERROR: Obsolete format of language for "ko_rm""
Hi,

I use the function "DB.DBA.TTLP_MT(..)" in isql-v to load a .n3 file in virtuoso stable 7 edition. The loading stops when it finds a triple of the form A: <subject_name> <property_label> "object_name"@ko_rm.

The exact error message is: "Error 37000: [Virtuoso Driver][Virtuoso Server]SP029: TURTLE RDF loader, line 910: Obsolete format of language; this error can be recovered if proper parser

[2018-02-08 00:27] HughWilliams commented on #710
As indicated in the document at:

    http://docs.openlinksw.com/virtuoso/fn_ttlp_mt/

There are various "FLAGS" that can be passed to the DB.DBA.TTLP_MT function to controlling parsing behaviour. With the FLAG value 32 enabling the triple type to be loaded:

[code]

[2018-02-08 09:51] JervenBolleman commented on #450
@kidehen I respectfully disagree. [LIMIT](https://www.w3.org/TR/sparql11-query/#modResultLimit) only puts an upper bound on the number of results returned.
An aggregate query max returns 1 result so a LIMIT > 1 is equivalent to a LIMIT 1. However, that is not how it is implemented today.  I think that pushing down a LIMIT predicate into an aggregate query is an optimizer bug one that does affect o

[2018-02-08 12:31] kidehen commented on #450
@JervenBolleman ,

I'll have this issue looked at again. Basically, its been updated internally as a bug to be fixed.

[2018-02-08 22:45] IvanMikhailov commented on #450
The issue is now fixed, the patch is on the usual route to next update.

[2018-02-08 22:56] #697 closed, assigned to nobody

[2018-02-09 04:07] ieyasu109 commented on #709
Thank you for the bug fix.
Is there a JDBC driver for JDK 1.7 or earlier?

[2018-02-09 10:06] smalinin commented on #709
All new Virtuoso JDBC are in dir https://github.com/openlink/virtuoso-opensource/tree/develop/7/libsrc/JDBCDriverType4/

[2018-02-09 13:13] ieyasu109 commented on #709
I found it. Thank you very much.

[2018-02-11 08:11] lkq1992yeah opened #711 "Virtuoso performance issue when hosting Freebase"
I have set up a virtuoso server for hosting Freebase data, and encountered performance issues.
Let's consider this scenario: find the largest location (probably a county, denoted by ?var1) in Wisconsin State (m.0824r), where ?var1 contains at least one location (denoted by ?var2) with the type "place_with_neighborhoods".
I wrote the SPARQL query as follows:

    PREFIX fb: <http://rdf.freebase.com

[2018-02-12 03:33] TallTed commented on #711
Next time, please provide the same information here as [you did on StackOverflow](https://stackoverflow.com/questions/48729471/how-to-make-sparql-queries-faster-on-virtuoso-by-controlling-query-execution-ord) -- especially, the [link to your active server](http://202.120.38.146:8999/sparql), which is running VOS 07.20.3217, built Jan 5 2017.

There appears to be a query plan issue with `OPTIONAL`

[2018-02-12 05:43] lkq1992yeah commented on #711
@TallTed Thank you so much for your explanation, and I'll definitely follow your suggestion in the next time!

[2018-02-12 10:14] H-B-Schmidt opened #712 "Compile error of latest git checkout"
The latest git checkout no longer does compile with Ubuntu 16.04 LTS :

[code]

[2018-02-12 10:59] timhaynesopenlink commented on #712
Hi,

Confirmed; replicated in-house on two distros. We'll see what we can do.

Thanks,

~Tim

[2018-02-12 11:23] openlink commented on #712
A fix has been pushed

[2018-02-12 11:23] #712 closed, assigned to nobody

[2018-02-12 22:06] TallTed commented on #711
@lkq1992yeah I have been trying to recreate this against a current build of Virtuoso, without success. I note that you're running a year-old build of a similarly aged code-base. Can you build a fresh binary, from the [current codebase](https://github.com/openlink/virtuoso-opensource/tree/develop/7), and retest with your database?

[2018-02-13 09:55] lkq1992yeah commented on #711
@TallTed Sure I will have it a try. Will update this comment once I get some result.

Update on 03/09/18: Issue was solved using the [current codebase](https://github.com/openlink/virtuoso-opensource/tree/develop/7).
Virtuoso version: Version 7.2.5-dev.3217-pthreads as of Mar  9 2018 (000000)

[2018-02-20 15:53] dayures opened #713 "add support for an alias: "tsv"as valid value for the parameter "format" in SPARQL SELECT queries"
Using "csv", it is working
http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=++++SELECT+%3Flabel+%3FwikiPageID%0D%0A++++WHERE+%7B%0D%0A++++%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FAsturias%3E+rdfs%3Alabel+%3Flabel+%3B%0D%0A+++++++++%3Chttp%3A%2F%2Fdbpedia.org%2Fontology%2FwikiPageID%3E+%3FwikiPageID%0D%0A++++%7D%0D%0A&format=csv

Using "tsv", the value is discarded, and it

[2018-02-20 17:28] TallTed commented on #713
TSV output is delivered if you use the MIME type, i.e., `format=text%2Ftab-separated-values`.

Try [this query](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&qtxt=++++SELECT+%3Flabel+%3FwikiPageID%0D%0A++++WHERE+%7B%0D%0A++++%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FAsturias%3E+rdfs%3Alabel+%3Flabel+%3B%0D%0A+++++++++%3Chttp%3A%2F%2Fdbpedia.org%2Fontology%2FwikiPageID%3E+%3Fw

[2018-02-20 19:18] dayures commented on #713
"text/tab-separated-values" is a nice feature, but I am asking for an "alias" for the value "text/tab-separated-values" (as "json", "n3", "turtle" or "csv" are alias of another mimetypes).

As far as I have tried, Virtuoso is not supporting a correct Accept header (as "text/tab-separated-values") and an unexpected "output"/"format" parameter value (as "tsv").

[2018-02-21 01:37] ieyasu109 opened #714 "CPU load goes up to 100% when Virtuoso runs its look up processing"
After we updated Virtuoso from v7.2.1 to v7.2.4.2,
the CPU load became to go up to 100% when we run its look up processing via SPARQL.

With Virtuoso v7.2.4.2, the CPU load goes up to 100% during the look up processing is running,
and it takes 3 times longer than v7.2.1.
The number of stored data is 2000.

The spec of server is as follows:
 - CPU: Intel Xeon X5670 2.93GHz
 - RAM: 7.5GB

It is real

[2018-02-21 21:42] TallTed commented on #714
First guess is that your INI file has not been [tuned properly for available memory (which is not equal to installed memory)](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning) ... though it seems unlikely the default settings would lead to such issues with only 2000 quads (is that number correct?).

Are you using Virtuoso Open Source (VOS) or Enterprise Edition?  If the latter, a

[2018-02-21 22:03] TallTed commented on #713
Ah, the alias is a very different request.  It didn't seem that you were aware of the existing support for TSV output files.

If the `Accept:` header isn't being respected, that's a possible bug report.  If you're using Enterprise Edition, can you please create a Support Case about this?  If using VOS, a separate issue would be appropriate.  It will help if you can provide the steps you took, incl

[2018-02-21 23:44] ieyasu109 commented on #714
The setting of the INI file (/usr/local/virtuoso/var/lib/virtuoso/db/virtuoso.ini) is as follows.

[code]

We are using Virtuoso Open Source (VOS). The result of `virtuoso-t -?` is as follows.

[code]

[2018-02-22 12:05] timhaynesopenlink commented on #714
Hi,
Ultimately the way to solve this is to generate an explain output of the SPARQL query: see https://medium.com/virtuoso-blog/generate-sparql-query-compilation-report-from-a-virtuoso-sparql-endpoint-5a54f73ebdd0

Meanwhile, one thing to think about: as a general rule, queries run faster if you eliminate the greatest number of rows in the earliest constraint. For example,
[code]

is it possible t

[2018-02-22 17:37] TallTed commented on #714
The INI file settings and Virtuoso version look OK.

Starting queries with `rdf:type` (or `a`) patterns can lead to a lot of extra processing.  Assuming that `odp:spot-type` and `odp:spot-category` apply only to resources that are `rdf:type odp:Spot` (and so will inherently serve the same purpose as `?s a odp:Spot`), I suggest you try removing the `?s a odp:Spot` from your query.  If other `rdf:ty

[2018-02-23 11:43] dayures opened #715 "Accept header isn't being respected if an unexpected alias is provided in the URL parameter "format""
It looks like the the `Accept` header isn't being respected

`curl -I "http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=SELECT+%3Flabel%0D%0AWHERE+%7B%0D%0A<http%3A%2F%2Fdbpedia.org%2Fresource%2FAsturias>+rdfs%3Alabel+%3Flabel+.%0D%0A%7D&format=tsv"`
returns Content-Type: application/sparql-results+xml; charset=UTF-8

`curl -H "Accept: text/tab-separated-values" -I "http:

[2018-02-23 11:47] dayures commented on #713
Thanks @TallTed

I have created an issue for the not respected Accept header if an unexpected alias is provided in the URL parameter "format" #715

And I will keep this issue open as a request of the "tsv" alias.

[2018-02-23 16:37] ebremer opened #716 "Monitor: High disk read (2)"
I'm bulk loading with (but with one loader) into a Virtuoso v7.2.4.2 instance.  It's approximately 6 billion triples loading onto a 322GB RAM server with 32 cores.  After a day of loading, below comes up on the virtuoso console output.  Also, if I query select count(*) where {?s ?p ?o} on the named graph I'm  uploading to, the count fluctuates wildly up and down.

09:42:51 * Monitor: High disk rea

[2018-02-23 17:09] TallTed commented on #716
This is likely to be a significant part, if not all, of your issue --

[code]

Note that the last two lines over-ride the preceding values for these keywords.  You must comment out the last two.

[2018-02-23 17:19] TallTed commented on #715
Looks like we could add better error handling for some edge-cases, like this one.  The bad `&format` value seems to divert handling of the `Accept:` header value.

Meanwhile, I suggest you use the `Accept:` header (where I think you'll agree that a MIME type is the correct value, rather than `tsv` or any other alias) and leave the `&format` out of the URI, as --

`curl -I -H "Accept: text/tab-sepa

[2018-02-23 20:12] ebremer commented on #716
I'm an idiot.  I took the time to calculate the 2/3 rule for those two parameters and I forgot to comment out the defaults.  Thanks Ted, I'm re-running the upload now.

[2018-02-24 13:50] kotheoha opened #717 "Openlink Virtuoso site is not working"
Hi,

I noticed today that Virtuoso official site is not working. For instance, documentation page cannot get loaded at all. Does someone knows what happens or noticed the same thing?

Thanks,
KT.

[2018-02-24 14:16] kotheoha opened #718 "Cannot Delete geometry triples"
Hi,

I build the below procedures for insert and delete RDF triples of any kind (including geometry triples):

create procedure INSERT_PROC (in base_graph varchar, in batch_file varchar) {
  declare dict_BT dictionary;
  dict_BT := DB.DBA.RDF_TTL2HASH(file_to_string_output (batch_file), '', 'http://batch_graph.com');
  declare batch_triples vector;  batch_triples := dict_list_keys (dict_BT, 1);

[2018-02-24 20:24] TallTed commented on #717
Machines get rebooted, bugs bite, maintenance happens, etc.

In reports like this, it is VERY helpful if you can include specific URLs that you're having issues with.

As of this writing, "[Virtuoso official site](https://virtuoso.openlinksw.com/)" is fine; "[documentation page](https://docs.openlinksw.com/)" is undergoing some work, and should return shortly.

[2018-02-24 21:19] kotheoha commented on #717
Hi TallTed,

thanks for your reply!

Actually whatever is under documentation page does not load. Namely, documentation page has the problem. Specifically I cares about RDF spatial support, loading, inserting & updating rdf triples, appendix functions, isql-v and stuff like that and all these are under documentation and are not working.

Further, Virtuoso documentation page has many interconnected

[2018-02-24 23:34] TallTed commented on #717
Your update did not include any specific URIs, only topics.  It is difficult to check the status of a topic -- which may be addressed by pages on multiple servers, with very different URIs.

In future, *please* include a specific URI -- such as http://docs.openlinksw.com/ or http://vos.openlinksw.com/owiki/wiki/VOS/VirtSpongerLinkedDataHooksIntoSPARQL or whatever page (or service) you try that doe

[2018-02-25 19:04] TallTed commented on #717
@kotheoha - Please close this issue once you've confirmed that the previously problematic services are answering.

[2018-02-25 20:54] kotheoha commented on #717
Hi TallTed,
I checked the links and now documentation page it works, so everything is fine.
Thank you for your response!,
KT.

[2018-02-26 06:28] jbkoh commented on #660
Just noticed this note. While fully understanding Virtuoso is a commercial solution that should have paid features, I wonder if there will be a plan to open the features. I am looking for triple stores for buildings (brickschema.org), which support SHACL. Virtuoso has been the best so far for the performance (especially for transitive queries), and I wish I can use SHACL on top of it.

Thanks!

[2018-02-26 10:21] HughWilliams commented on #660
There are no plans currently to make the Virtuoso Custom Inferencing Rule engine, and hence SPIN/SHACL support, an Open Source feature ...

[2018-02-26 14:57] #717 closed, assigned to nobody

[2018-02-26 16:10] ebremer commented on #716
That worked.  6,204,086,892 tripled loaded.  There still were some:
16:56:15 * Monitor: High disk read (2)
16:56:15 * Monitor: CPU% is low while there are large numbers of runnable threads

in the console log, but it looks like it is working much better.  Thanks!

[2018-02-26 16:10] #716 closed, assigned to nobody

[2018-02-26 17:06] ebremer opened #719 "Blank distinct count"
I get the following results on a large graph for the following queries:

select count(*) where {?s ?p ?o} limit 1
6,204,086,892
select count(?id) where {?s :id ?id} limit 1
53,789,314
select count(distinct ?id) where {?s :id ?id} limit 1
blank screen

Why would I be getting a blank result on the last one?

[2018-02-26 17:57] TallTed commented on #719
Knowing only what you've pasted here, I'd bet on a [query timeout](http://docs.openlinksw.com/virtuoso/anytimequeries/) for the last (though you would not ordinarily get a blank screen; more reproduction details may provide the reason for this).

For fastest confirmation, you can copy the URI for that query's result page from your browser, and do a `curl -LI "that-URI"`.  Look for the `X-SQL-State

[2018-02-26 19:10] ebremer commented on #719
It was that.  I increased the maximum query execution time in virtuoso.ini to 15 minutes and the query completed (not that it needed 15 mins, but more than the default).  The blank screen displayed the usual results "callret-0" but with no value rather than the explicit timeout error.  I did not know about the results headers above but they confirmed a timeout condition.

[2018-02-26 19:10] #719 closed, assigned to nobody

[2018-02-26 20:40] #298 closed, assigned to nobody

[2018-02-26 20:41] #195 closed, assigned to iv-an-ru

[2018-02-26 20:41] #466 closed, assigned to nobody

[2018-02-26 21:36] akuckartz commented on #195
@ebremer How was this resolved?

[2018-02-26 21:38] akuckartz commented on #466
@ebremer How was this resolved?

[2018-02-27 00:01] ieyasu109 commented on #714
Thank you for the advice.
However, despite the same SPARQL we want to know why the lookup performance got worse.
Is there information such as incompatibility and a doubtful cause, etc?

[2018-02-27 01:33] ieyasu109 opened #720 "UTF-8 character problem with JDBC driver"
UTF-8 character (Japanese) is not stored correctly when accessing SQL (NOT SPARQL) via latest JDBC driver (virtjdbc4.jar).
When the data stored in the database is acquired, it is displayed as "?".
It is the same even if it is acquired using isql.

There was no problem with the one attached to v7.2.4.2.

Do you have any related known issues or information with this problem?

[2018-02-27 15:29] TallTed commented on #714
@ieyasu109 It is difficult to impossible to say what caused your specific experience, unless you provide much more information about your data (e.g., do you really only have 2000 triples/quads stored in Virtuoso?), the complete configuration files (not just the few lines excerpted above) for the two instances, more details about the host environment(s) (such as whether the 7.5 GB mentioned is the

[2018-02-27 15:37] TallTed commented on #720
Please provide complete version information for the two JDBC drivers in question.  This is easily gathered with the `java -jar </path/to/jar>` command, as --

[code]

Please also provide the complete version information of the Virtuoso server, such as --

[code]

(We don't need to see the usage info that follows.)

[2018-02-28 02:32] ieyasu109 commented on #720
The complete version information of the JDBC driver with problem is as follows.
[code]

The complete version information of the JDBC driver with no problem is as follows.
[code]

The complete version information of the Virtuoso server is as follows.
[code]

[2018-02-28 09:35] smalinin commented on #720
What kind of URL connection string is used ?

[2018-02-28 12:43] kotheoha opened #721 "isql-v: *** The statement has grown too long on lines 243534 - 244911. Goodbye!"
Hi all,

I execute various insert sql commands in graph 'http://test_graph.com' of the form:
SPARQL INSERT DATA IN \<http://test_graph.com\> { \<subject\> \<predicate\> \<object\> . };

The above commands are included in an sql file one after another. Each file includes 1000 such commands. E,g, 'INSERT_1.sql' file includes the first 1000 sql commands, 'INSERT_2.sql' file includes the next 1000 sql

[2018-02-28 12:46] kotheoha commented on #721
Correction:
SPARQL INSERT DATA IN http://test_graph.com { <subject> <predicate> <object> .  }; ( 1 )

[2018-02-28 13:49] kotheoha commented on #717
Hi all,

documentation page http://docs.openlinksw.com/virtuoso/ is again out of
order. Do you know when we will have a recovery?,

Best,
KT.

On Mon, Feb 26, 2018 at 3:58 PM, OpenLink Software <notifications@github.com

[2018-02-28 13:57] HughWilliams commented on #717
@kotheoha: The docs server is back online ...

[2018-02-28 14:16] HughWilliams commented on #721
@kotheoha: You seem to be seeking to perform a bulk load operation thus have you considered creating RDF datasets and loading them ? - as detailed at:

    https://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtBulkRDFLoader

With regards to the error it seems to imply there is an insert statement with `Already 233744 bytes read without encountering a semicolon or ampersand` , which is a

[2018-02-28 14:22] kotheoha commented on #721
No, I do now want loading...I have already loaded my RDF data with DB.DBA.TTLP_MT(..). INSERT above is only one case, I have also DELETE and UPDATE files, in the same form as INSERT. The problem occurs in all these files.

Looking the errors, I see that Virtuoso has problems with some characters within objects like $, ---, \\. Is there any way to tell virtuoso to ignore that characters and not abo

[2018-02-28 23:25] HughWilliams commented on #721
@kotheoha: What is the error you get loading that SPARQL query from a .sql file with isql ? As I get the following error:

[code]

whereas it insert fine when I use the Conductor SQL Interface ...

[2018-02-28 23:52] kotheoha commented on #721
I did not get nothing more than that:

isql-v: *** The statement has grown too long on lines 243534 - 244911.
Already 233744 bytes read without encountering a semicolon or ampersand
in the end of line! Goodbye!

Anyway, as I said Virtuoso does not recognize some special characters within objects, like "---" in the above example case and aborts the execution. So, I try to delete them and repeat the

[2018-03-01 09:23] ieyasu109 commented on #714
@TallTed  Thank you for you advice.
Following the suggeted procedure, I obtained respective information.
Each of the followings is the information obtaining procedure:

  1. Translate a SPARQL query into the correspondent SQL;
  2. Generate compilation plan of an SQL query;
  3. Generate compilation and execution plan of an SQL query.

Could you please check the information?
I sincerely wish this

[2018-03-01 11:15] HughWilliams commented on #721
The isql tool which is a SQL interface to Virtuoso, was not written to handle such special characters in SPARQL/SPASQL queries. we can try to make it work with such characters which would require work by development to see how this can be done without breaking other features of the isql tool.

The Virtuoso SPARQL engine does support these special character as seen by the insert working via the Con

[2018-03-01 12:56] kotheoha commented on #721
Is there a way to "making a direct SPARQL or SQL connection to Virtuoso and performing the SPARUL operations directly against the Virtuoso database" without using the Conductor?

For instance, till now, I used isql-v in terminal and then use the commands I wanted within isql-v. Is there a similar way to do what you mentioned above without using a graphical interface (like Conductor)?

If there is,

[2018-03-01 13:09] timhaynesopenlink commented on #721
Hi,

Yes, plenty of ways. Pick a client language/environment of choice:

Web-based: there is a SPARQL endpoint at /sparql e.g. `http://localhost:8889/sparql`

C, Python  => you probably want ODBC

R => you want either ODBC or SPARQL (there is an RSPARQL library)

Java, Open/LibreOffice => look into JDBC (direct access) or Jena (wraps SPARQL)

You can read more about the available options at https:

[2018-03-01 13:16] kotheoha commented on #721
Ok, thank you for the info I will check them!
Best,
KT.

[2018-03-01 15:57] TallTed commented on #714
@ieyasu109 - The `EXPLAIN()` and `PROFILE()` output is only part of the picture. To be clear, I also need --

1. Confirmation of total machine RAM, as well as RAM available to Virtuoso
2. The complete INI file for the active Virtuoso 7.2.4.2 instance
3. The complete INI file for the previous Virtuoso 7.2.1 instance, if different from (3)
4. An accurate count of quads, produced by output of --
[cod

[2018-03-02 04:11] ieyasu109 commented on #714
Here is the answers for your confirmation.
Thank you for your continuous support.

1.Confirmation of total machine RAM, as well as RAM available to Virtuoso The implemented RAM size is 7.5GB.
And based on the result of "free" command with Virtuoso being in stop status, we suppose the memory which can be assigned to Virtuoso is 7.1GB at maximum.
(Please see the line "-/+ buffers/cache" below.)
[cod

[2018-03-02 09:14] #702 closed, assigned to nobody

[2018-03-02 16:06] TallTed commented on #714
OK. It generally makes sense to leave a bit of wiggle room in RAM allocations, so please change —

    NumberOfBuffers          = 611669
    MaxDirtyBuffers          = 458752

— to —

    NumberOfBuffers          = 595000
    MaxDirtyBuffers          = 446250

Everything else looks OK to this point.  There are many possibilities remaining.  As I'm sure you can understand, it's difficult to compare

[2018-03-02 17:03] timhaynesopenlink commented on #714
Hi,

In addition to TallTed's comments, I've spoken with development and have a couple of further angles of attack.

First: there are (at least) 3 ways of executing a SPARQL query: there's commandline `isql` and there's two HTTP endpoints at `/sparql` and `/sparql-auth`. Does your query run equally slowly in both isql and either of the HTTP endpoints (logging in as dba in the case of `/sparql-auth

[2018-03-03 16:51] smalinin commented on #720
The next example was executed with latest version of JDBC driver `Version 4.0 [Build 3.107]`
Test table:
` create table demo..test_uni(id integer, f1 nvarchar(50)) `

Java example:
[code]
Java output log:
[code]

Execute the select query via conductor interface http://localhost:8890/conductor/isql_main.vspx
` select * from demo..test_uni `
[code]

So I don't observe any problem with new version of

[2018-03-03 16:51] #720 closed, assigned to nobody

[2018-03-03 20:42] kotheoha opened #723 "How to avoid checkpoints in Virtuoso?"
Hi,

Is there a way to avoid checkpoints during a big series of queries in Virtuoso? I would like after executing all the queries, to do manually one checkpoint in the end. Right now, Virtuoso automatically do checkpoints and make unfair the execution time among queries.

Best,
KT.

[2018-03-04 00:05] HughWilliams commented on #723
@kotheoha: The `checkpoint_interval(-1)` function can be used to dynamically disable checkpointing  which can the reset to occur automatically at a specified interval using the same function as detailed at:

   http://docs.openlinksw.com/virtuoso/fn_checkpoint_interval/

[2018-03-04 11:21] kotheoha commented on #723
Hi,

Ok, still is there any risk to my queries validity results if I disable all checkpoints? How a checkpoint is related with the database (graph) that my queries modify?

In other words, If I have a graph G, a checkpoint C,  PREV = {set of queries before C that modify G} , NEXT = {set of queries after C that modify G}, I would achieve the same result by enabling or disabling C?

Generally, when

[2018-03-04 12:28] HughWilliams commented on #723
@kotheoha: Not sure what you are asking ... checkpoint simply controls when the transactions in the "virtuoso.trx"  (transaction log file) since the last checkpoint are committed to the virtuoso.db ( virtuoso database file ) , but does not affect  graph/rdf or SQL behaviour.

The main reason people disable checkpointing when performing long/bulk query activities is because checkpointing is an atom

[2018-03-04 12:33] HughWilliams commented on #723
also read: http://docs.openlinksw.com/virtuoso/checkpointparams/

[2018-03-05 09:58] frmichel opened #724 "Evaluation of multiple SERVICE clauses"
Dear all,

I'm noticed that Virtuoso adopts what seems to me a very inefficient strategy to evaluate a SPARQL query containing multiple SERVICE clauses with independent graph patterns (no common variable): each SERVICE clause is invoked once for each solution retrieved from previously evaluated SERVICE clauses.
This ends up in a multiplication of SERVICE invocations, although they return the same

[2018-03-05 13:53] HughWilliams commented on #724
@frmichel: Please provide the exact version of Virtuoso being used with the command:
[code]

Are you saying that if the limit in the second service call query was increased to 10 , then the first service query would get called 10 times ie the call rate is based on Limit clause ?

What RDF Store is being used for hosting the https://erebe-vm2.i3s.unice.fr/sparql-ms SPARQL endpoint points ?

[2018-03-05 14:26] frmichel commented on #724
Hi @HughWilliams,

The exact version is 7.2.5-dev.3217-pthreads, Mar 16 2017.

Yes.

Not on the limit clause but on the actual number of solutions returned by the SERVICE clause. I've set a LIMIT to avoid to many calls, but that is what happens.
Without limit, the first SERVICE returns 10 solutions, and the second 28 solutions.
It seems that the second SERVICE clause is called first; then, the fir

[2018-03-05 19:31] HughWilliams commented on #724
@frmichel: What about the details of the RDF Store is being used for hosting the https://erebe-vm2.i3s.unice.fr/sparql-ms SPARQL endpoint points ?

Note the following documents on improving Virtuoso SPARQL-FED query performance:

   http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksDiscoverSPARQFedCapabilities
   http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksDiscoverSPARQFedCap

[2018-03-06 12:17] frmichel commented on #724
Hi Hugh,

The endpoints behind the https://erebe-vm2.i3s.unice.fr/sparql-ms are regular SPARQL 1.1 endpoints implemented with an in-house engine : Corese-KGRAM (http://wimmics.inria.fr/corese, https://github.com/Wimmics/corese).

Unfortunately, the documents you point to seem indeed specific to Virtuoso but do not apply to other implementations. Do they?

Franck.

[2018-03-06 12:47] kotheoha commented on #723
In http://docs.openlinksw.com/virtuoso/fn_checkpoint_interval/ it is mentioned that:
By setting checkpoint interval to 0, the checkpoint will only be performed after roll forward upon database startup. A setting of -1 will disable all checkpointing.

So, I set CheckpointInterval = -1 to the virtuoso.ini file. I performed a series of long/bulk query activities and the system did not make checkpoint

[2018-03-06 15:04] TallTed commented on #723
The transaction log, `virtuoso.trx`, will continue to grow and accumulate transactions — which will need to be replayed at each instance launch — until a checkpoint is run.

I would recommend that you —
1. set `CheckpointInterval = -1`
2. run your bulk inserts and other changes
3. manually run a `checkpoint;` before you shut down the instance
4. set `CheckpointInterval = 360` or something else mor

[2018-03-06 15:18] kotheoha commented on #723
Ok, I will try that, however I want to ask the following.

If I do 3. after 2. finishes, the time I will wait for that manual checkpoint to finish will be similar to the time I am waiting now for the previously mentioned transactions? If yes, it's the same thing, I do not earn something. If transactions (derived from roll forward) depend on the last checkpoint, I think that in both cases I will wa

[2018-03-06 15:44] TallTed commented on #723
The transaction log, `virtuoso.trx`, holds every change action performed against the `virtuoso.db` until a `CHECKPOINT` writes those changes to the  `virtuoso.db` -- at which point the transaction log is emptied.

`virtuoso.db` is unchanged until that `CHECKPOINT` runs.  If you discard the transaction log prior to a `CHECKPOINT`, it is as if those changes were never made.

Yes, the `CHECKPOINT` wi

[2018-03-06 16:10] kotheoha commented on #723
Ok, I see, one last question for a thing that seems confusing to me:

Since I perform various INSERT, UPDATE, DELETE sql commands to a graph G within virtuoso.db and each next command depends from the way that the previous command affected G, virtuoso.db get affected by my batch execution. The same happen as you say in virtuoso.trx.

Since, if we approximately say, that each that command correspon

[2018-03-06 16:58] TallTed commented on #723
I think you're misunderstanding the ways Virtuoso and other database management systems work.

Users do not interact with `virtuoso.db`, as such.  At instance start, the running process combines the content of `virtuoso.db` with the content of `virtuoso.trx` (again, this is the "playback"); this ephemeral combination is what users interact with.

`virtuoso.db` is static from its initial (empty) st

[2018-03-06 17:06] kotheoha commented on #723
Ok,
Thank you very much for your explanations!,
KT.

[2018-03-08 17:52] #711 closed, assigned to nobody

[2018-03-09 00:06] ieyasu109 commented on #714
@TallTed @timhaynesopenlink Thank you for your advice.

1. We changed INI file as below.
[code]
2. No error occured by `backup'/dev/null'` of iSQL,
so that we did not rebuild DB with `+restore-crash-dump`,
but rebuild it with `+restore-backup`.

By dealing as above, the problem was not solved.
During execution QUERY, it takes 58 seconds, CPU utilization is always 100%.
We attached the result of `S

[2018-03-09 10:01] ieyasu109 commented on #720
@smalinin Sorry for being so late in reply.

We tried the above sample.
The result of the Java program looks correct.
[code]

However, the result of SELECT query by iSQL looks incorrect.
[code]

[2018-03-09 10:04] ieyasu109 commented on #720
The following is the our program.
(It looks almost the same as the sample program above.)
[code]

[2018-03-09 13:50] smalinin commented on #720
The connection option `CHARSET=UTF-8` is ONLY for working with SPARQL.
The problem with ISQL looks like a bug in ISQL tools.
I tried to execute query via Virtuoso ODBC driver with Windows cppdemo program(it is installed with commercial version of Virtuoso, source code https://github.com/OpenLinkSoftware/virtuoso-opensource-installer/tree/develop/7/windows/distr_src/cppdemo) and it works properly v

[2018-03-09 13:54] smalinin commented on #720
And note, my example inserts/selects data to NVARCHAR - unicode enabled columns.
Did you use NVARCHAR columns or VARCHAR ?

[2018-03-11 18:53] berezovskyi commented on #660
Thank you for the clarification, @HughWilliams

[2018-03-12 04:43] ieyasu109 commented on #714
@timhaynesopenlink Thank you for the advice.
The confirmed sparql is executed in two ways, isql and JDBC driver.

[code]

Both isql and JDBC driver are slow.
HTTP endpoints are not used.

`git checkout develop / 7` is not yet executed, but I will consider it.

[2018-03-12 04:57] ieyasu109 commented on #720
@smalinin We use VARCHAR columns.
However, the past JDBC driver (Version 4.x [Build 3.66]) did not have any problem.
This time, problems are occurring in VARCHAR or NVARCHAR as well.

[2018-03-12 17:33] silvae86 commented on #337
Hahaha @SpencerNorris the problem is when shutting down the container screws up the database. Docker only postpones the problems!!

Trying out @IvanMikhailov 's solution.

[2018-03-12 18:34] silvae86 commented on #723
@TallTed can you guarantee that:

- Whenever we issue a CHECKPOINT; command to isql;
- With the CheckpointSyncMode=2 setting in virtuoso.ini;
- and properly wait for the response from Virtuoso,

all transactions in the .trx file are committed BEFORE the server responds?

I am seeing a case with Virtuoso 7.2.4 where i issue the CHECKPOINT; command to a docker container, the server responds and ever

[2018-03-12 20:27] TallTed commented on #723
@silvae86

At first glance, this seems like it should be a new [issue](https://github.com/openlink/virtuoso-opensource/issues/) or [question](https://stackoverflow.com/questions/tagged/virtuoso) or [support-case](http://support.openlinksw.com/support/online-support.vsp).

We would certainly be interested in more information about your described scenario.  I immediately wonder how you have determin

[2018-03-12 20:27] TallTed commented on #723
@kotheoha

Would you say that your questions have been answered, such that this issue may be closed?

[2018-03-13 12:10] kotheoha commented on #723
Hi TallTed,
yes I am covered, you can close the issue,
KT.

[2018-03-13 12:11] ifourvimal opened #725 "virtuoso.jdbc3.VirtuosoException: SP029: NQuads RDF loader, line 1: Whitespace is required after dot if dot is not inside decimal number, string or IRI at .@ processed pending to here."
While running the query I am getting this error,

[code]
In my Turtle file, it's having prefix and triples.
Can I get any help?

[2018-03-13 12:23] ifourvimal opened #726 "virtuoso.jdbc3.VirtuosoException: HC001: Connection Error in HTTP Client"
While running query I am getting an error,

[code]

[code]

[2018-03-13 14:35] #723 closed, assigned to nobody

[2018-03-13 14:42] smalinin commented on #726
It looks, that you tried to use some local path `src/main/webapp/resources/inputfile/sparqlTest.ttl` with SPARQL LOAD command. It will not work, it must be URI ! https://www.w3.org/TR/sparql11-update/#load
If you want to load data from some local file on client side, you must to use Jena or RDF4J Virtuoso providers and a special API (from Jena/RDF4J) for this.

[2018-03-13 15:28] SteffRhes opened #727 "How to format output when using isql?"
When querying virtuoso via the isql shell, is there a way to format the output to the console in such a way that after each variable / column of a 'select' a newline is printed? (As  in mysql with '\G' for example)

We have rather long URIs in our virtuoso instance and when printing those to the console each result line can easily span two console lines, thus making it hard to read.

[2018-03-13 15:50] timhaynesopenlink commented on #727
Hi,

Nice and simple:

    SQL> set VERT_ROW_OUTPUT=ON;

HTH!

[2018-03-13 15:51] SteffRhes commented on #727
Exactly what I hoped for!! Thanks a lot!

[2018-03-13 15:53] #727 closed, assigned to nobody

[2018-03-13 19:25] TallTed commented on #725
Viewing your data is the only way to explicitly advise on fixing this.

That said, the error message seems clear --

You appear to have an instance of the string `.@` within the first line (that is, before the first `CR`/`LF`/`CRLF`) of your Turtle file.  To resolve the immediate error, insert a line feed, or a space, or a tab, or other whitespace between the `.` and the `@`.

[2018-03-14 04:17] saleem-muhammad opened #728 "Matching strings without xsd:string"
I am not sure the problem has been reported before or not. I am running Virtuoso 07.20.3217 for Linux as of Dec 15 2017. And encountered the following problem.

I am able to correctly get the results for the given query.
``
SELECT ?T where {?T bb:hasName "Department6Study_Track0"^^xsd:string}
``
However, removing the `xsd:string` from the query gives me empty results. In RDF 1.1, strings without `

[2018-03-14 04:36] ifourvimal commented on #725
Here is a sample data which I am using,

[code]

[2018-03-14 14:46] SteffRhes opened #729 "Is there a way to optimize this particular query?"
Hi all,

We have a working query for the following case, but it becomes very slow when querying our productive dataset.

Basically we want to have the triples returned where the subjects have `<rdf:type>` property defined somewhere, but we don't want _only the triples returned where these type properties are defined._ e.g., assuming the following data:
[code]
So we want to have returned:
[code]
si

[2018-03-14 14:54] timhaynesopenlink commented on #729
Hi,

I don't know about runtime performance optimization, but it could certainly be written more elegantly:

[code]

Note how `?class` is used but not returned.

I'd be interested to hear about relative performance as well.

HTH

[2018-03-14 15:05] TallTed commented on #729
It's not clear what data is being assumed, in this presentation. It is helpful to use Turtle notation for sample data and sample results.

If I understand your question correctly, you want to get full descriptions of every entity which has an `rdf:type` property.  You might try something like

[code]

That returns very quickly on [DBpedia](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fd

[2018-03-14 15:20] SteffRhes commented on #729
@timhaynesopenlink  This query we tried out at first but it produces unwanted triples when there are similar triples (but connected to different graphs). e.g. assume the nquad:
[code]
that query
`select ?s ?p ?o ?g { graph ?g { ?s a ?class; ?p ?o . } }`
returns:
[code]
This is some behavior of sparql which I found very confusing at first anyway, and as far as I interpret it is due to substitution

[2018-03-14 15:31] SteffRhes commented on #729
@TallTed thanks for your input, but unfortunately on the test data set your query returns 2330 rows while mine returns 2327.
I'll look into those different rows and try to understand your query and also the reason behind the different results and will comment it here once I found out.

[2018-03-14 15:44] TallTed commented on #729
Generic placeholder data is often difficult to work with, especially when trying to understand how SPARQL works (which is *related* to, but very much *not the same* as SQL).

I encourage you to conduct these experiments against live data that we can also see, such as [DBpedia](http://dbpedia.org/sparql), the [LOD Cloud Cache](http://lod.openlinksw.com/sparql), or [URIBurner](http://linkeddata.urib

[2018-03-14 15:46] timhaynesopenlink commented on #729
Hi,

Your output and query do not match. You've said a query involving `?s` `?p` `?o` `?g` but you list `?class` in the result.

As with SQL, if there are variables used in the pattern selections and omitted in the output fields, duplication will occur - think "`distinct` _`over`_ `?g`".

My query as stated will give all the triples about entities that have a defined type. That includes the type a

[2018-03-14 15:58] TallTed commented on #725
Is that an accurate and exact representation of the first 10 lines of the Turtle file you're trying to load?  It does not explain the error, if so.

I wonder if there are any control or other invisible but non-white-space characters in your data file, following the trailing dots of the `@prefix` declarations...

If your file (or a gzipped archive of it) is small, I suggest attaching it to this iss

[2018-03-14 17:01] LOBsTerr opened #730 "Virtuoso 7 make breaks"
### Problem
When I ran `make` command, it breaks it certain moment, with such errors

[code]

### How to reproduce
1) `./autogen.sh`
2) `CFLAGS="-O2 -m64"`
    `export CFLAGS`
3) `./configure`
4) `make`

### Local configuration
OS: Ubuntu 18.04
Branch: stable 7

[2018-03-14 17:10] timhaynesopenlink commented on #730
Hi,

Looks like you have OpenSSL 1.1 installed; Virtuoso (especially the stable branch) requires 1.0.

```sudo apt install libssl1.0-dev```

HTH

[2018-03-14 17:37] SteffRhes commented on #729
@timhaynesopenlink : Oops, I had that edited manually before to resemble your statement. Now I've corrected it, and also executed that query exactly like it is on the small test data set, leading to the same results though.

Also to be sure I ran another try:

test data as nquad:
[code]
I've altered the query again to :
` select ?s ?p ?o ?class ?g { graph ?g { ?s a ?class; ?p ?o . } }`
to be sure

[2018-03-15 00:15] HughWilliams commented on #728
The following query shows that a literal string with no type does default to `xsd:string`:

[code]

Thus please provide steps to reproduce the problem you are experiencing ...

[2018-03-15 02:56] saleem-muhammad commented on #728
Ok consider  querying the following single triple pattern --

[code]

The query --
[code]
-- gives 1 result. While the query --
[code]
-- gives zero results.

[2018-03-15 04:34] ifourvimal commented on #725
Please find a below attachment of turtle file,

[test.zip](https://github.com/openlink/virtuoso-opensource/files/1813969/test.zip)

Thanks for the help.

[2018-03-15 08:37] LOBsTerr commented on #730
@timhaynesopenlink Thank you! It helped!

[2018-03-15 08:38] #730 closed, assigned to nobody

[2018-03-15 10:46] HughWilliams commented on #728
I can see what you are reporting with that test case (please always use isql to show exactly what you are doing):

[code]

But then if you insert a triple with a literal string with no datatype specified, its datatype is actually `xsd:string` by default; it is just not stored with `xsd:string` physically in the database:

[code]

This being how Virtuoso works ...

[2018-03-15 10:49] timhaynesopenlink commented on #725
Hi,

Thanks for that. Obviously it is valid TTL as `rapper` can parse it fine; the unzipped file loads directly in my instance:
[code]

I see you're using JDBC. Can you tell us more about your environment, including

- the version information of virtuoso being used - run `virtuoso-t -\?` and paste the top chunk with build date etc
- what application you're using, how it gets or generates its TTL f

[2018-03-15 11:46] saleem-muhammad commented on #728
Now i see the problem.  Explicitly specifying `xsd:string` with literals in the RDF datasets would cause problems in Virtuoso, although RDF allows to do so.  There are many RDF datasets that explicitly mention the string type with literals. May be it can be fixed in the next release?

[2018-03-15 12:32] ifourvimal commented on #725
Hi @timhaynesopenlink,

I have provided information as you asked.

- The version information of virtuoso being used,

[code]

- I am using two dependencies,

[code]

- I am using eclipse IDE to run the code.

- Below is my code snippet which I am using,

[code]
- I have tried to run your code,
[code]
but I don't know how to pass local TTL file path to source path.is there any place where I have to

[2018-03-15 18:48] TallTed commented on #725
Is there something preventing you from upgrading from that very old VOS (Virtuoso Open Source) v6, to the [nearly-current v7.2.4.2](http://vos.openlinksw.com/owiki/wiki/VOS/VOSNews) (`stable/7`) or [v7.2.5 or later](https://github.com/openlink/virtuoso-opensource/tree/develop/7) (`develop/7`)?

This upgrade is strongly recommended, as there have been [many dozens if not several hundred fixes and e

[2018-03-15 21:01] TallTed commented on #729
First off, your latest SPARQL query result in reply to @timhaynesopenlink  contains no duplicates -- each row is unique (this is easily seen, if you focus on the `?o` and `?class` columns).  If some of the columns in this result set are not important to you, then remove them from your `SELECT` clause.  You can also change your query to `SELECT DISTINCT` to make Virtuoso ensure that each row is uni

[2018-03-16 13:02] SteffRhes commented on #729
Ah, well, you're right, there is indeed no duplicates in the exhaustive result of the query by @timhaynesopenlink. But on the other hand two subsets still contain duplicates, i.e. looking only at `?s ?p ?o` or `?s ?p ?class` triples, which are essentially those though I'm interested in as an end-result.
Also simply removing `?class` still results in duplicated `?s ?p ?o ` triples as detailed in my

[2018-03-28 07:41] JervenBolleman opened #731 "Cast of a variable to an IRI does not match in BGP but works with filter"
[code]
Fails to return results, while the equivalent where the `BIND(?start AS ?protein)` is commented out and the `FILTER(sameTerm(?protein, ?start))` commented in does.

On <http://lod.openlinksw.com/sparql/>, both seem to fail the "Strict checking of void variables" check.

[2018-03-28 17:19] HughWilliams commented on #731
If I move the `BIND` call below the triple pattern (i.e., where the `FILTER` clause is), then it does return a row same as the `FILTER` clause does, i.e. —

[code]

[2018-03-30 12:39] rapw3k commented on #671
Thanks @HughWilliams,  all,  I upgraded to the latest build 3217, and still Entity Label Lookup & Entity URI Lookup is not working.

I also executed the command `urilbl_ac_init_db()` which [says that is the procedure to periodically populate label lookup tables and activate the Label text box of the Entity Label Lookup tab](https://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtFacetBrows

[2018-03-31 21:53] HughWilliams commented on #671
You appear to have updated the Virtuoso binary to the latest `develop/7` build, but not the Faceted Browser and any other VADs to the latest `develop/7` builds.

As you current FCT version is:
[code]

where as the version from my last build is:
[code]

Thus please build and upgrade to the latest version ....

[2018-04-03 09:43] JervenBolleman commented on #731
@HughWilliams yes, that returns a result but is not guaranteed to be correct. Also if you have a more stringent sparql parser one will get an error like  `BIND clause alias '{}' was previously used` or `BIND: Variable used when already in-scope: ?protein in BIND(?start AS ?protein)`. You used virtuoso specific syntax to override the value of `?protein` not to join on it. See e.g. the results [here

[2018-04-03 12:12] rapw3k commented on #671
Dear @HughWilliams , all, this might be a basic question, but where can I find the latest release or source of the FCT ? The only place I find is https://virtuoso.openlinksw.com/download/ . Is this the correct version? I cannot see which version is it...

Note that for the installation of the latest version of virtuoso, I downloaded the latest release from https://github.com/openlink/virtuoso-open

[2018-04-03 23:28] HughWilliams commented on #731
@JervenBolleman: OK, I shall have development look into and comment on this ...

[2018-04-04 10:28] jakubklimek commented on #663
@HughWilliams any news on supporting OpenSSL 1.1.0? Due to this issue we have been unable to update Virtuoso for 10 months already (unless running a VM with an older OS release)

[2018-04-04 17:46] rapw3k commented on #671
hi again,
I tried with two different versions I was able to find (version 1.13.91 couldnt find it anywhere.):
* version 1.15_git65 available from https://virtuoso.openlinksw.com/download/ or http://opldownload.s3.amazonaws.com/uda/vad-packages/7.2/fct_dav.vad
* version 1.13.88 available from https://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VOSDownload

First I upgraded to version 1.15_g

[2018-04-05 13:17] rapw3k commented on #671
This issue has been solved... It was not related to the fct but with a proxy configuration. There are two related issues/questions, but maybe they require different thread?

1. Where to find fct version 1.13.91?

2. There is an issue with fct version 1.15_git65 when opening (describe) a resource:
[code]

[2018-04-05 13:41] TallTed commented on #671
Hello, @rapw3k --

For VOS, the latest pre-built VAD packages are available via <http://vos.openlinksw.com/owiki/wiki/VOS/VOSDownload> or <http://download3.openlinksw.com/index.html?prefix=uda/vad-vos-packages/>, and the latest pre-built FCT for VOS 7.2 is <http://download3.openlinksw.com/uda/vad-vos-packages/7.2/fct_dav.vad>.

(Note -- the latest pre-built VAD is older than you will get by buildi

[2018-04-05 14:54] rapw3k commented on #671
Thanks for the clarification @TallTed .
Now I am wondering how to build myself the VAD package.
As a test, I tried building virtuoso from develop7 branch in my mac, but it only generates conductor_dav.vad and isparql_dav.vad. How to build the fct package?

[2018-04-05 15:08] TallTed commented on #671
@rapw3k - You should just need to add `--enable-fct-vad` (or `--enable-all-vads`) to your `./configure ...`

[2018-04-06 08:09] rapw3k commented on #671
Great, thanks @TallTed, didn't know about those options.

[2018-04-06 08:09] #671 closed, assigned to nobody

[2018-04-06 10:40] HughWilliams commented on #663
@jakubklimek: A fix to support OpenSSL 1.1 is planned for the next Virtuoso Open Source release which is currently being prepared.  In the meantime, are you not able to install the OpenSSL 1.0.x dev tools on your current system, as they are only required for the compilation?

[2018-04-06 11:33] iv-an-ru commented on #731
Hello Jerven,

The SPARQL queries can be calculated from inner groups to outer, so first `BIND(?start AS ?protein)` uses an unbound variable `?start` making `?protein` unbound, then `?protein a up:Protein .` binds nothing because there is no such thing as triple without subject. The rest is not important --- even if `?start` is eventually bound, that can not increment the (zeroed) number of result

[2018-04-06 14:33] TallTed commented on #671
For future reference, `./configure --help` reveals lots of potentially interesting info...

[2018-04-07 12:18] kanihal commented on #112
any update on this?
has the new header indicator for partial results been implemented?

[2018-04-08 12:39] smalinin commented on #720
@ieyasu109
I could download the lalest version from https://github.com/openlink/virtuoso-opensource/tree/develop/7/libsrc/JDBCDriverType4
It will resolve issue with **[Build 3.107]**, the insert to VARCHAR columns will work like with **[Build 3.66]**,  but your way will not portable to another DBMS, if you will do it in the feature.

[2018-04-08 12:40] #726 closed, assigned to nobody

[2018-04-09 09:50] JervenBolleman commented on #731
Hi Ivan,

The basic query below fails the strict checking of void variables.

[code]

Also the following fails to return a result
[code]
That looks almost correct but I think it is not. This optimization seems to assume the FILTER applies to the whole OPTIONAL group but it should not. The optional group is 3 BGP sets by my counting not one. This because a BIND closes an BGP. Otherwise yes, a FILTE

[2018-04-09 17:22] TallTed commented on #726
@ifourvimal - [SPARQL `LOAD`](https://www.w3.org/TR/sparql11-update/#load) requires an IRI be used to specify the file to be loaded.

You can use a `file:` scheme IRI for this, *if* the file is both

- on the Virtuoso server host
- in a directory included in `DirsAllowed` in the `[Parameters]` section of the Virtuoso server INI file

If the file is client-side, there are various other methods you

[2018-04-13 03:42] takanori-ugai opened #733 "false and 0"
Virtuoso 7.2.4.2
[code]
gets

s | o
-- | --
http://localhost/p0 | "0"^^<http://www.w3.org/2001/XMLSchema#int>
http://localhost/p1 | "0"^^<http://www.w3.org/2001/XMLSchema#int>

and

[code]
gets

s | o
-- | --
http://localhost/p0 | "false"^^<http://www.w3.org/2001/XMLSchema#boolean>
http://localhost/p1 | "false"^^<http://www.w3.org/2001/XMLSchema#boolean>

[2018-04-13 10:47] timhaynesopenlink commented on #733
Obvious typos fixed but problem replicated internally - bug raised. I'll keep you posted what development have to say about it.

Thanks,

[2018-04-16 02:56] takanori-ugai commented on #733
Thank you for pointing the typos. I fixed them in the issue.

[2018-04-19 20:06] melkamar opened #734 "Server crashes with Segmentation fault when running SPARQL federated query"
Latest Virtuoso server crashes with segmentation fault when running the following query containing a federated sub-query.

When the I comment out the `SERVICE{}` block, the query runs correctly.

[code]

The error message is not very helpful:
[code]

[2018-04-19 20:16] TallTed commented on #734
Please provide the complete version string, i.e., the first full "paragraph" of output from the relevant command, for the instance with the segfault --

    virtuoso -?
    virtuoso-t -?
    virtuoso-iodbc-t -?

I also note -- the remote `SERVICE`, <https://ruian.linked.opendata.cz/sparql>, appears to be down.

[code]

[2018-04-19 20:23] melkamar commented on #734
Yes, I tried running this query on that endpoint because I assumed my local setup is wrong, but it crashed that server as well.

[code]

I am running Virtuoso in docker, using an image built just now using instructions at http://vos.openlinksw.com/owiki/wiki/VOS/VirtuosoDocker

The query itself is correct, when using Jena Fuseki, it finishes without a problem.

[2018-04-19 21:21] TallTed commented on #734
(After they restart...) What happens if you run just the subquery (`LIMIT` added here, for first test) on the other instance?

[code]

[2018-04-20 07:35] melkamar commented on #734
That finishes correctly, I get 10 results.

What I forgot to mention (not sure if it's important) is that I had to uncheck the "Strict checking of void variables" checkbox to run the original query. When I had it checked, I kept getting a compiler error below:

[code]

[2018-04-22 00:35] jbkoh opened #735 "Planned version update on 7.2 release?"
Dear Openlink,

The released version, 7.2 has not been updated for 544 commits since the last release. Is there any plan to update the released opensource version?

Thanks!

[2018-04-22 14:20] HughWilliams commented on #735
A new stable/7 branch is being prepared for release from the current develop/7 branch in the coming weeks ...

[2018-04-22 22:52] jbkoh commented on #735
That sounds great. Thanks!

[2018-04-22 22:52] #735 closed, assigned to nobody

[2018-04-23 08:35] abourdon commented on #126
@kidehen, when do you plan to add this fix into the opensource version?

[2018-04-23 12:28] jakubklimek commented on #663
@HughWilliams You are right, somehow, I did not realize that a simple ```sudo apt-get install libssl1.0-dev``` would fix the issue 🤦‍♂️

[2018-04-24 00:56] ieyasu109 commented on #720
@smalinin
Thank you! this is very much appreciated.

[2018-04-24 07:50] ieyasu109 commented on #714
As per your advice, we are now confirming the behavior of the latest develop branch of Virtuoso.
Could you please tell us following 2 points:

1. We are considering to use v7.2.1 for Virtuoso engine, beside using develop7 branch for JDBC driver.
   Does this combination work without any contradiction or confliction?

   Our intention of the combination above is as follows:
     - Virtuoso engine o

[2018-04-24 16:29] TallTed commented on #714
1. There should be no conflict with using the more recent JDBC driver against the older Virtuoso engine.  That said, upgrading the engine remains recommended, and will be more so with the upcoming stable VOS release.

   Please note that if you're running current Java (i.e., Java 8 a/k/a 1.8.x), you should be using `virtjdbc4_2.jar` rather than `virtjdbc4.jar`; version output should show `OpenLink

[2018-04-25 08:03] ieyasu109 commented on #714
Thank you for your advices.
I understand that the recent several updates of JDBC don't involve any modification related to the I/F toward Virtuoso engine.
Is my understanding correct?
Then I shall continue the confirmation of the combination which I mentioned above.

By the way, I have one more question related to your advice.
You adviced to change the query ``?s a odp:Spot ;`` to ``?s # a odp:Spo

[2018-04-25 13:44] TallTed commented on #714
@ieyasu109

The inserted ` #` makes the remainder of that line a comment.

The effect is the same as changing these two lines —
[code]
— to these two —
[code]
— or this one —
[code]

[2018-04-27 01:49] ieyasu109 commented on #714
Thanks for the advice.
I corrected the query as indicated, the effect was confirmed.
Because Java is using 7, the JDBC driver will use `virtjdbc4_1.jar`.

[2018-04-27 14:15] TallTed commented on #714
@ieyasu109 - When you say, "the effect was confirmed," do you mean, that the CPU spike was resolved by removing the `a odp:Spot` clause?  If so, would you say that this issue may be considered Closed?

[2018-04-28 05:24] TheNavigateur commented on #350
@Jan-Marcek

In performing your commands (as root) followed by `sudo aptitude install virtuoso-opensource` I got:

[code]

What is your solution that made this work as expected? I'm using Ubuntu Server 16.04. (I tried apt upgrade to no avail).

[2018-05-01 04:43] TheNavigateur opened #736 "Cannot get virtuoso working (new install, Ubuntu 16.04)"
Followed all the steps OK up to:

[code]

...upon which I get:

[code]

`virtuoso-t` is in the appropriate `bin` folder, but I'm not expecting to have to apt install 6.1 since I'm already cloning 7.2.5-dev.

What step/steps do I need to take to make this work as indicated?

[2018-05-01 18:11] TallTed commented on #736
I'm betting your `PATH` environment variable doesn't include `/var/lib/virtuoso/bin` (which I believe is what you meant by "the appropriate `bin` folder").

Thus you need to execute one of these --

    cd /var/lib/virtuoso/db
    /var/lib/virtuoso/bin/virtuoso-t -f

-- or --

    cd /var/lib/virtuoso/db
    ../bin/virtuoso-t -f

-- or --

    cd /var/lib/virtuoso/db
    export PATH=/var/lib/virtu

[2018-05-02 09:30] TheNavigateur commented on #736
OK. Just curious, does the make process normally add it to the path automatically? I (had to) ran make as sudo, and it still didn't seem to happen. Any clues why it might not have?

[2018-05-02 13:52] TallTed commented on #736
No, the `make` process does not normally change the `PATH` variable, neither typically nor in our particular case.

Many tools do use `make install` to put their executable into a directory which is already in `PATH` (and their libraries into a directory which is already in `LD_LIBRARY_PATH`); we do not do this, for a number of reasons.

[2018-05-02 17:15] GeraldGrootRoessink commented on #490
I'n experiencing this following the 'official'  examples in [https://www.w3.org/TR/ldp-primer/]. It has been more the two years. Is there a solution yet?

[2018-05-03 05:43] TheNavigateur commented on #736
OK! It'd be great to update the README accordingly, as my build felt broken, even though it probably isn't.

[2018-05-03 20:23] silvae86 opened #737 "Persistent namespaces not so persistent"
Hello,

I am seeing errors both in the develop/7 release and also at the latest commit, showing that although namespaces are present in the virtuoso conductor, they are not found when running SPARQL queries.

## To replicate

I have built a dockerfile based on the tenforce/virtuoso dockerfile for deploying an application.

Please run it as such:

[code]

Access the conductor at 127.0.0.1:8890, log

[2018-05-04 10:29] knoan opened #738 "connection.prepare*Query() baseURI parameter not handled by RDF4J provider"
# Environment

- Virtuoso Open Source v07.20.3217
- Virtuoso RDF4J Provider preview as provided https://github.com/openlink/virtuoso-opensource/issues/702#issuecomment-353118432
- Virtuoso JDBC driver v4.0

# How To Reproduce

Run the following java snippet on a fresh database:

[code]

# Expected Output

[code]

# Actual Output

[code]

# Notes

- affects all prepare<Type>Query() variants (Boolea

[2018-05-04 15:32] TallTed commented on #738
Looks like there's a typo (or three) in [the Provider source](https://github.com/openlink/virtuoso-opensource/search?utf8=%E2%9C%93&q=%22input%3Agraph-base%22&type=).

The `'input:graph-base'` parameter there should be `'input:grab-base'`, as [documented](http://vos.openlinksw.com/owiki/wiki/VOS/VirtSpongerLinkedDataHooksIntoSPARQL#INPUT%20Pragmas) and in the [engine source](https://github.com/ope

[2018-05-08 08:45] ieyasu109 commented on #714
Yes. You may close it.
Thank you very much.

[2018-05-08 12:25] silvae86 commented on #737
I think i figured it out. Before shutting down the docker container you need to issue a checkpoint; command, as such:

[code]

Otherwise, it seems like some of the data is cached and will not be persisted to the hard drive. Quite a caveat!

[2018-05-08 13:42] HughWilliams commented on #737
I am not able to recreate this issue against the VOS `develop/7` branch --

[code]

-- which is what I would expect as setting the 3rd `bit` param in the `DB.DBA.XML_SET_NS_DECL ()` function to `2` persists the param to a system table as detailed at --

     http://docs.openlinksw.com/virtuoso/fn_xml_set_ns_decl/

-- and I can't see the use of docker having anything to do with it ...

The only rea

[2018-05-08 14:01] #714 closed, assigned to nobody

[2018-05-10 11:25] mnieuwland commented on #350
I have the exact same error when installing virtuoso-opensource-7. Wasn't able to install the dependencies manually...... So I'm stuck.

[2018-05-10 12:01] TheNavigateur commented on #350
@mnieuwland I just installed virtuoso opensource 7 from source code as indicated [here](https://github.com/openlink/virtuoso-opensource) .

I had [this](https://github.com/openlink/virtuoso-opensource/issues/736) issue (resolved as answered) and it's working fine now.

I did not resolve the issue with being able to do apt-get as in this thread.

I am fairly pleased because it means I can get the l

[2018-05-10 12:49] TheNavigateur commented on #736
In case anyone's reading this, my root directory is `/usr/local/virtuoso-opensource`, so the commands are as indicated [here](https://stackoverflow.com/a/7221514/280177).

[2018-05-10 13:33] mnieuwland commented on #350
Thanks @TheNavigateur

That worked for me. Does take a lot of extra time though....

[2018-05-11 06:55] VladimirAlexiev commented on #455
`geosparql:crs` is not mentioned in the [GeoSPARQL standard](https://portal.opengeospatial.org/files/?artifact_id=47664), nor the [ontology](http://www.opengis.net/ont/geosparql). What's the purpose of using a non-standard property, and where is it described?

[2018-05-11 07:38] rtroncy commented on #455
Correct, ```crs``` is not a property defined by GeoSPARQL. You may want to use instead the property ```<http://data.ign.fr/def/geometrie#crs>``` which does exactly this.

[2018-05-12 00:14] jbkoh commented on #693
I have the same issue. Is there any progress with this issue?

Thanks!

[2018-05-13 17:14] ebremer opened #740 "extemely slow query"
I have a v7.2.4.2 installation with 7,004,173,873 triples (32 core machine with 322GB RAM and 1 TB SSD server RHEL 7.X).

The following query takes seconds (there are about 2 dozen named graphs):
[code]
however, this query has yet to complete (http://graphA.com and http://graphB.com both exist)
[code]
it seems like it should go quicker.

[2018-05-13 23:19] HughWilliams commented on #740
@ebremer: Can you please provide the profile and SPARQL-to-SQL translation for both queries for comparison [as documented](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksAanalyzingSPARQLQuery).

Also, what is the purpose of the second query as on it own it doesn't make sense, but I would assume there is some other query using `from named` you are seeking to use which is giving similar p

[2018-05-14 00:18] ebremer commented on #740
It was a silly query to understand the nuances of `from` and `from named`.  Remarkably, I've been able to avoid using them until this time when I have a meaningful use case for them.  I initially applied them to a more complex query which also didn't finish.  Stripping it down to something simple, I was trying to figure out if it was my understanding of them or something else.  I will get you the

[2018-05-14 00:24] ebremer commented on #740
I was expecting it to come back fairly quick with the two names of the graphs that are specified in the query.

[2018-05-14 14:07] VladimirAlexiev commented on #455
GeoSPARQL mandates the CRS should be embedded as URL in the WKT (and I guess similarly for GML). What is the purpose of also putting it out as a separate property?

[2018-05-14 14:37] p1d1d1 commented on #455
CRS is part of the asWKT (and GML) representation.

``
"<http://www.opengis.net/def/crs/EPSG/0/4326> Point(33.95 -83.38)"^^<http://www.opengis.net/ont/geosparql#wktLiteral>
``

The CRS URI is optional and if missing, then CRS84 is assumed. Meaning if you have something else than CRS84, then you have to declare the URI of your CRS.
This is my understanging of [1] chapter 8.5

[1] https://portal.ope

[2018-05-14 14:41] rtroncy commented on #455
The added value of having the crs value in a separate property is to simply avoid to parse a string to locate the CRS URI! As some people prefer to encode the geometry in structured properties rather than a complex literal to parse

[2018-05-14 14:43] IvanMikhailov commented on #455
Virtuoso supports EWKT , i.e. "SRID=nnnn; FEATURETYPE(details)" syntax, the support of IRI prefix is coming soon, the support of details of an arbitrary custom CS as a prefix is delayed because it has some scalability issues (now Virtuoso assigns 16-bit IDs to coordinate systems, that's more than enough for all well-known SRIDs around the world but the use of arbitrary CS-es with rounding errors e

[2018-05-14 15:10] TallTed commented on #738
Resolved by 2af7f30

[2018-05-14 15:10] #738 closed, assigned to nobody

[2018-05-15 07:08] knoan commented on #738
Do we have a download link for the updated jar?

[2018-05-15 08:04] HughWilliams commented on #738
It is in the git sources as are all the prebuilt jar files  ie https://github.com/openlink/virtuoso-opensource/tree/develop/7/binsrc/rdf4j for the RDFJ Provider ...

[2018-05-15 08:07] knoan commented on #738
Got it. Thx

[2018-05-15 09:01] VladimirAlexiev commented on #455
@rtroncy But GeoSPARQL is a standard that repositories (are supposed to) follow. If you also find value in putting the CRS in a separate property then fine, but you need to do this in addition to conforming to the standard (i.e. redundantly). http://data.ign.fr/def/geometrie#crs is just as non-standard as a made-up prop geo:crs. RDF's freedom to add properties doesn't mean freedom not to follow st

[2018-05-15 09:58] rtroncy commented on #455
@VladimirAlexiev Standards are evolving. This new property does not come from out of the blue, but from IGN, the French National Geographic Institute which is also one of the main contributors to standards. It was heavily discussed by the W3C/OGC joint group on Spatial on the Web, and having this explicit property is recognized as a good practice in standards, read [here](https://www.w3.org/TR/sdw

[2018-05-15 10:33] VladimirAlexiev commented on #455
@rtroncy At that reference I see discussion of the importance of CRS, but not a recommendation to put it in a separate prop, can you quote?

GeoSPARQL hasn't evolved since 2012-04-27, and still the state of adoption by data providers is lacking (see linked issues). Complying to ONE standard by the wide user communities is hard, complying to several is harder...

A cursory examination of http://dat

[2018-05-17 12:55] mybyte opened #742 "Segfault /paging issue for DBs with big buffers"
When setting the buffers to high numbers, virtuoso crashes with a segfault:
[code]
It seems to crash around 670 GB of virtual memory.
[code]

Tested with different builds (commits from beginning of 2017 up until latest) of VOS. On different machines (RHEL, Fedora). RHEL builds seem to be less verbose about the cause, but segfaults (and memory consumption at which they occur) seem to be consistent.

[2018-05-17 15:03] ffritsche commented on #742
The Redhat maschine was not so verbose.
[code]

/var/log/messages:
`kernel: traps: virtuoso-t[38243] general protection ip:ad36ce sp:7ffefe99e3e0 error:0 in virtuoso-t[400000+e19000]`

gdb dump:
[code]

Same virtuoso.ini as above:

Package Dependencies:
[code]

htop while core dumping:
[https://imgur.com/WwqBih6](https://imgur.com/WwqBih6)

I hope someone can help us

[2018-05-17 15:29] TallTed commented on #742
How much memory (both in-total and [available-to-Virtuoso](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning#How%20to%20determine%20available%20Memory)) is actually installed in your test environments?

Have you tweaked "[swappiness](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning#Linux-only%20--%20%22swappiness%22)"?

[2018-05-17 16:25] ffritsche commented on #742
The host machine has 1,5 TB memory
The dedicated vmware guest has 1100 GB memory

swappiness is still at default. It's worth a try, but the seqfault always happens at 666/333 GB.

[2018-05-17 19:51] mybyte commented on #742
Yep. Same here. VMWare guest at about 800 GB of memory. Virtuoso crashes at about 674 gb virtual memory allocation. Way before the machine runs out of memory or feels any need to swap.
If I'd have to guess - "Row ref 256" sounds too much of a magic number to ignore. Could it be that virtuoso runs out of space for page pointers to allocate that many pages?

[2018-05-18 14:23] cuddihyge commented on #395
I am also seeing this on virtuoso7.   I run a `select distinct` query where one of the values is a  `float = 280.0`.
I get the same row of data three times even though it is `SELECT DISTINCT`.

Problem happens with **http://www.w3.org/2001/XMLSchema#float**

Problem does not appear with **http://www.w3.org/2001/XMLSchema#double**

The data / query is proprietary, so it would take some time to dupl

[2018-05-21 04:41] byronwwang opened #743 "virtuoso conductor error"
Can anyone help me on this? Thank you in advance.
[code]

[2018-05-22 07:06] ffritsche commented on #742
free -m:
[code]

[2018-05-22 08:36] jakubklimek opened #744 "error: storage size of `ctx` isn't known"
Error when building current develop branch on Ubuntu 18.04:
[code]

[2018-05-22 08:38] jakubklimek commented on #744
Ahh, sorry, duplicate for https://github.com/openlink/virtuoso-opensource/issues/663

[2018-05-22 08:38] #744 closed, assigned to nobody

[2018-05-22 09:28] jakubklimek opened #745 "Error S0022: SQ200: No column RES_CREATOR on opening Conductor"
In ea35084579a8b3820cb346941c168b5935840e80 when I go to ```http://localhost:8890/conductor/``` I get:
[code]

[2018-05-22 09:41] timhaynesopenlink commented on #745
Hi,

This is a known issue. I encountered the same thing yesterday and development are looking into it now. Hoping for a fix soon.

HTH,

~Tim

[2018-06-05 19:59] TallTed commented on #743
Sorry for not answering sooner...

It looks like you're trying to install a Conductor VAD built for a newer version of Virtuoso (e.g., 8.0) on an older Virtuoso binary (e.g., 7.0).

If you provide the full version string for your Virtuoso binary, we can provide appropriate links/recommendations.

[2018-06-08 14:46] TallTed commented on #743
@byronwwang -- To speed things along...

We provide VADs for all versions of [Enterprise Edition](http://download3.openlinksw.com/index.html?prefix=uda/vad-packages/) and [Open Source Edition (VOS)](http://download3.openlinksw.com/index.html?prefix=uda/vad-vos-packages/).

If you cannot figure out which VAD to download, please do provide the specific version of your Virtuoso binary (the first "par

[2018-06-08 17:21] shedy2 opened #746 "How to add extra-column to RDF_QUAD with access from sparql query?"
Hi! From here http://docs.openlinksw.com/virtuoso/virtuosofaq13/ i've found, that it's possible to add some extra data to triple.. and create some kind of megaQuad :).

I need to store somewhere SingletonProperty Uri for storing metadata (in other words - id of every triple).
We use singleton property methodology from here https://www.slideshare.net/ntkimvinh7/www2014-singleton-propertyfinal .

No

[2018-06-12 12:39] pkleef commented on #745
I pushed a fix to develop/7 that fixes this problem

[2018-06-12 13:41] jakubklimek commented on #745
Confirmed

[2018-06-12 13:41] #745 closed, assigned to nobody

[2018-06-14 05:46] jakubklimek opened #747 "After restart, latest develop loses language tags"
After update to fa9e8ca8cea6e92bf903fa51e9388402ab0d9b44 from ea35084579a8b3820cb346941c168b5935840e80, all language tags went missing from the database. I had to reload the data to fix it.

[2018-06-14 09:41] HughWilliams commented on #747
@jakubklimek: We are going to try and recreate this issue and will let you know the outcome or if additional information is needed ...

[2018-06-14 23:48] kotheoha opened #748 "kNN queries in Virtuoso [Problematic Geometry Evaluation]"
Hi,

I have loaded in Virtuoso two RDF triple datasets **A** & **B**. Both datasets have spatial and non-spatial triples. Regarding spatial triples, **A** includes POINT, LINESTRING and POLYGON geometies, while **B** has POINT and MULTIPOINT geometries.

I also have some kNN queries, divided in two classes. The first class **C1**: points, the second class **C2**: non-points. The C1 queries ask for

[2018-06-15 13:44] TallTed commented on #748
First key question... With what version of Virtuoso are you seeing this behavior?  Please provide the first "paragraph" of output from the commandline `virtuoso-iodbc-t -?` or `virtuoso-t -?`, or the result of a [related SPARQL query](http://vos.openlinksw.com/owiki/wiki/VOS/VirtCheckSvrVersionViaSparql).

[2018-06-15 14:47] kotheoha commented on #748
The output from `virtuoso-t -?` is:

[code]

I had installed the Virtuoso branch _stable/7_.

So, I would like a solution for kNN queries on _stable/7_, since we have done a series of time-consuming update experiments in that branch, and we have no time to re-do them for another branch (you may propose).

I selected _stable/7_, since it is the last stable Virtuoso version.,

KT.

[2018-06-15 19:22] cuddihyge commented on #354
I still see this in NaN bug in 7.20.3217

Results of query:
[code]

Exact same when I select JSON as the results format.  Notice the NAN in the first line.
[code]

[2018-06-15 23:24] TallTed commented on #748
As you will have noticed, the last commit to the [`stable/7`](https://github.com/openlink/virtuoso-opensource/tree/stable/7) branch was applied Apr 25, 2016, and this branch is now some 600 commits behind [`develop/7`](https://github.com/openlink/virtuoso-opensource/tree/develop/7).  We are currently preparing a major update for `stable/7` -- which I expect will include most if not all of those 60

[2018-06-18 03:49] mediaprophet opened #749 "How to install CertBot"
Couldn't find any information about how to install CertBot?

Target Platform - LINUX (UBUNTU)

[2018-06-18 15:29] kotheoha commented on #748
I have checked kNN queries in [develop/7](url) edition.

Now, the output from `virtuoso-t -?` is:

[code]

The problem persists! The only thing that changed is that instead of getting the error: "_Function st_distance() expects a geometry of type 1 as argument 0, not geometry of type 4_" (mentioned above for **B**), I get a zero result, as also happened in **A**.

So, as a general conclusion, it s

[2018-06-18 18:04] TallTed commented on #749
A starting point is ... [CertBot's docs for webservers on which they haven't yet focused](https://certbot.eff.org/all-instructions), for their supported versions of Ubuntu (you didn't say which you're running) --

- [None of the above on Ubuntu 17.10 (artful)](https://certbot.eff.org/lets-encrypt/ubuntuartful-other.html)
- [None of the above on Ubuntu 16.04 (xenial)](https://certbot.eff.org/lets-e

[2018-06-18 22:09] TallTed commented on #748
Thank you for the additional information.  It will help speed our efforts, if you can provide us with (the smallest possible subset of) the datasets and the (simplest) queries that demonstrate these issues.

If there's any concern about data confidentiality, you can use [our Support Center](http://support.openlinksw.com/support/online-support.vsp) to create a case, and submit these extra details d

[2018-06-19 02:05] kotheoha commented on #748
We took two different samples from LGD repository [2015-11-02](https://hobbitdata.informatik.uni-leipzig.de/LinkedGeoData/downloads.linkedgeodata.org/releases/).

This dataset has only POINT and LINESTRING geometries. So, we converted some of the LINESTRING geometries into POLYGON and MULTIPOINT geometries. **A** & **B** mentioned above are two different variations of LGD.

Below, I provide an ind

[2018-06-19 14:56] TallTed commented on #748
Forgive me if I was unclear.

I believe I understand your explanation of the issue, but in order to address it properly and quickly, we need a quick path to test -- dataset(s) to load, query(ies) to execute, and an idea of, if not the exact, expected results -- both to reproduce the issue, and to test our fix(es).

Every step you can save us toward that reproduction, will speed the process.  That

[2018-06-19 16:00] pkleef commented on #747
@jakubklimek Is it possible to email me some sample data so i can see what combination of types and languages you are using in your data?

[2018-06-20 06:23] jakubklimek commented on #747
@pkleef This happend with and instance which had [this dump](http://data.gov.cz/soubor/nkod.trig) loaded. A sample can be seen e.g. in https://data.gov.cz/zdroj/datová-sada/https---data.cssz.cz-api-3-action-package_show-id-kontroly-plneni-povinnosti-zamestnavatelu-v-oblasti-socialniho-zabezpeceni or any other dataset from https://data.gov.cz.

[2018-06-20 14:41] kotheoha commented on #748
Ok,

I can provide an analytic guide for you to find and correct this bug.
Still, I am on a June end deadline, and I estimate I can provide my answer in 10 days from now.

Apart from queries, I will also provide the exact datasets. The first has 2.5 GB, the second has 18 GB. Would you provide me with a confidential Virtuoso repository to upload those datasets?

I provide my answer in almost 10 day

[2018-06-20 14:53] pkleef commented on #747
I have attempted to recreate the issue by loading the data from nkod.trig into a fresh database using virtuoso:

    Version 7.2.5-dev.3217-pthreads as of Jun 19 2018 (ea35084)

After that i ran the following small query to check for language tags:

[code]
Next i did a proper shutdown and then i started the following virtuoso binary:

    Version 7.2.5-rc1.3217-pthreads as of Jun 19 2018 (fa9e8ca)

[2018-06-20 16:12] jakubklimek commented on #747
@pkleef Thanks for trying. Actually now I found one instance which is still on ea35084579a8b3820cb346941c168b5935840e80 and the error is already there - no language tags. According to my git log, the version before that was actually f46a3f7213848499a06109f86a0a86058b10b194. So the sequence was having f46a3f7213848499a06109f86a0a86058b10b194, loading the TriG file, and then upgrading to ea35084579a

[2018-06-20 19:32] TallTed commented on #748
I am looking into an appropriate upload destination for these large datasets.

I am sorry to keep asking for extra details, but can you please provide the output of the following SPARQL query against the Virtuoso 7.2.4.2.3217 instance you performed most of your testing on, and again against the newly built 7.2.5-rc1.3217?

[code]

[2018-06-20 20:20] kotheoha commented on #748
**Version 7.2.4.2.3217-pthreads** output:
`version`: 07.20.3217
`build_date`: Jan 30 2018
`git_head`: No system status variable git_head

**Version 7.2.5-rc1.3217-pthreads** output:
`version`: 07.20.3217
`build_date`: Jun 16 2018
`git_head`: 000000

KT.

[2018-06-20 22:38] AndreaWesterinen commented on #704
I have seen this problem also. In my case, a query of the form ...

[code]

has the same binding sets returned REGARDLESS of whether the line, `?className rdfs:subClassOf* prefix1:ClassName1`, is present in the query or not.  Obviously, this means that lots of individuals that are not sub-classes of `prefix:ClassName` are also returned.

[2018-06-21 11:43] mediaprophet opened #751 "Develop/7 Branch - Make / Compile Error - odbcsdk - Ubuntu 16.04"
"libtool:   error: cannot determine absolute directory name of 'libsrc/odbcsdk/lib'"

Any known solutions?

log file: http://webcivics.net/config.txt

[2018-06-21 15:23] timhaynesopenlink commented on #751
Hi,

Happens for me too. I'll ask development to have a look.

Thanks,

~Tim

[2018-06-21 22:07] mediaprophet commented on #679
I found this thread useful when installing on Ubuntu 16.04.
The main thing i found was that v6 works, v7 does not.

[2018-06-23 02:32] mediaprophet commented on #749
Certbot installed and working locally on https://webcivics.net/  but currently stuck on https://github.com/openlink/virtuoso-opensource/issues/751 (I turn the droplet on/off, whilst i'm waiting for it to be doing what its intended to do - post successful build).

Will get back to you once the current issue is resolved.
NB also: https://github.com/WebCivics/Install_VOS_OS/projects/1

[2018-06-24 13:31] HughWilliams commented on #704
@AndreaWesterinen Can you please provide a simple test case for recreating the problem being observed ?

[2018-06-24 18:24] ghost opened #752 "Virtuoso RDFZZ Error DB.DBA.SPARQL_REXEC"
I get the following response whenever I try to run a federated query from my sparql endpoint.

the response and the value I am querying is returned but in a format I am not expecting. I am running VOS version 07.20.3217

[2018-06-25 14:23] TallTed commented on #752
It looks like you're not targeting a SPARQL endpoint in your [`DB.DBA.SPARQL_REXEC()`](http://docs.openlinksw.com/virtuoso/fn_sparql_rexec/) call.  I think you just need to replace `'http://data.15926.org/rdl'` with `'http://68.71.136.105/sparql'` (which is the SPARQL endpoint linked from the HTML page at <http://data.15926.org/rdl>).

[2018-06-25 19:10] ghost commented on #752
When I used the actual sparql endpoint I don't get the result back from the query only the variable name as a heading.

Query with sparql endpoint:

[code]

Result  =
[code]
Query without sparql endpoint:

[code]

Result =
`Virtuoso RDFZZ Error DB.DBA.SPARQL_REXEC('http://data.15926.org/rdl', ...) returned Content-Type 'text/html' status 'HTTP/1.1 200 OK`

`   316 STAINLESS STEEL`   <=== Data I wo

[2018-06-26 14:11] TallTed commented on #752
You're issuing this query directly against the SPARQL endpoint holding that data, so it doesn't need any `SERVICE` clause, because you're already talking to that `SERVICE`.  [See it here](http://68.71.136.105/sparql?default-graph-uri=&qtxt=SELECT+%3FMaterial+%0D%0AWHERE+%7B+%3Chttp%3A%2F%2Fdata.15926.org%2Frdl%2FRDS2221635%3E+rdfs%3Alabel+%3FMaterial+%7D%0D%0A%0D%0A&format=text%2Fhtml&timeout=0&de

[2018-06-26 14:41] ghost commented on #752
I think my issue is far simpler than what I thought going through the your response I checked my stored procedures and noticed `DB.DBA.SPARQL_REXEC()` does not exist. Where can I find the create script for this call?

[2018-06-26 16:11] TallTed commented on #752
I think you're looking far more deeply than needed.  Perhaps if you start by describing what you're actually trying to achieve?

(Here is the creation of [`DB.DBA.SPARQL_REXEC()`](https://github.com/openlink/virtuoso-opensource/blob/173c3721fcb886f008888ad3bac7877b524d3572/libsrc/Wi/sparql_io.sql#L532), and the creation of the rather more substantial [`DB.DBA.SPARQL_REXEC_INT()`](https://github.co

[2018-06-26 16:29] ghost commented on #752
My apologies, I am trying to run a sparql query from my sparql endpoint that queries a remote endpoint to resolve some label names of classes which I used in my triple store. I originally looked at [Sparql Federated query](https://www.w3.org/TR/2013/REC-sparql11-federated-query-20130321/#simpleService) to build my query which is why I was using SERVICE.

[2018-06-26 16:55] TallTed commented on #752
OK, so *your* SPARQL endpoint hasn't been referenced above at all.  I'll call it `http://example.com/sparql` going forward.

If I now understand correctly you're trying to run a SPARQL query on that SPARQL endpoint (`http://example.com/sparql`), which will bring results that include data from a remote SPARQL endpoint (`http://68.71.136.105/sparql`; which is not the same service as `http://data.159

[2018-06-26 17:11] senaarpinar commented on #249
+1

[2018-06-26 19:09] ghost commented on #752
Yes, this is exactly what I would like to do. Problem is when I run the exact same query from my sparql endpoint. I only see Material but no value.
![image](https://user-images.githubusercontent.com/10689920/41933821-fb4688b4-7995-11e8-9405-79eb69b325d4.png)

[2018-06-26 19:33] pkleef commented on #751
I pushed some fixes that should resolve the problem.

After you pulled the latest changes from the develop/7 branch you will need to run the following commands to regenerate the various files needed to build:

[code]

Please let me know how this works for you

[2018-06-26 19:50] TallTed commented on #752
That cannot be the "exact same query" as the column header is "MaterialName".

I think you may have used my query as a sub-query in your overall query -- and that masks the result of my query.  In other words, please try executing my exact query above, on its own.

If this doesn't get you working, is your endpoint accessible over the wire?  Can I run some quick test queries there?

I am wondering

[2018-06-26 19:54] pkleef commented on #752
Please read the following document on [SPARQL-FED capabilities in VOS](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksDiscoverSPARQFedCapabilitiesSPARQL)

Next, use the `isql` tool to connect to your local Virtuoso instance and perform the following command:

[code]
This will add the necessary permissions to the SPARQL endpoint to be able to run SPARQL-FED queries.

Next, you need to ru

[2018-06-27 03:45] kulnor opened #753 "Some make check test fail on Alpine Linux"
I built the stable/7 branch in an Alpine Linux docker container after applying the patch described in issue #570. All looks overall fine but I see 8 / 8935 tests fail when I run `make check` (see below).
This seems minor but anything I should be concerned about.  Note that the patch documented in #570 does not seem to be in the current develop/7 branch.
thanks!

[code]

[2018-06-27 04:53] ghost commented on #752
my [endpoint]( http://18.216.183.78:8890/sparql)

Test Result
![image](https://user-images.githubusercontent.com/10689920/41953576-85d4c77e-79e7-11e8-98fd-c9956966bd7a.png)

[2018-06-27 06:05] ghost commented on #752
@pkleef I followed the instructions as mentioned and still have the same result. I am no sure what I am doing wrong anymore. Maybe I should try to run a federated sparql query against another endpoint as a test?

This works for me which is interesting:

[code]

Result:

![image](https://user-images.githubusercontent.com/10689920/41955607-bea0ae7e-79f1-11e8-82ee-c33aad6904ff.png)

[2018-06-27 08:21] mediaprophet commented on #751
It lives...

NB: didn't like perl or python - but got it working;  now, Init script needs to be updated...

will lodge seperate issue.

cheers.

[2018-06-27 08:21] #751 closed, assigned to nobody

[2018-06-27 15:14] TallTed commented on #752
I ran [your latest query against your endpoint](http://18.216.183.78:8890/sparql?default-graph-uri=&qtxt=SELECT+*%0D%0A++%7B%0D%0A++++SERVICE+%3Chttp%3A%2F%2Fdbpedia.org%2Fsparql%3E%0D%0A++++++%7B+SELECT+%3Fmovie+%3Ftitle+%0D%0A++++++++WHERE+%7B%0D%0A++++++++++++++++%3Fmovie+rdfs%3Alabel+%3Ftitle+.%0D%0A++++++++++++++++FILTER+LANGMATCHES%28LANG%28%3Ftitle%29%2C+%22EN%22%29%0D%0A++++++++++++++%7D%0

[2018-06-27 15:35] pasqLisena commented on #232
Same issue, I give you my test case.

Endpoint: http://data.doremus.org/sparql

Query: (- [result](http://data.doremus.org/sparql?default-graph-uri=&query=PREFIX+dbp%3A+%3Chttp%3A%2F%2Fdbpedia.org%2Fproperty%3E%0D%0APREFIX+dbo%3A+%3Chttp%3A%2F%2Fdbpedia.org%2Fontology%2F%3E%0D%0A%0D%0Aselect+*+WHERE+%7B%0D%0A+++%3Fid+foaf%3AisPrimaryTopicOf+%3Fwikipedia+.+%0D%0A++++%0D%0A+++%0D%0A++++SERVICE+%3Cht

[2018-06-27 21:08] jbkoh opened #754 "Compile failure of the release version in Ubuntu 18.04"
Hi,

I got an error message while compiling virtuoso-opensource-7.2.4.2.tar.gz in Ubuntu 18.04
GCC version is 7.3.0

[code]
It's been successful in 16.04, but I don't know why it's happening at 18.04.

I did
[code]
I received the above error message during ``make``.

Does anybody have an idea?

Thank you!

[2018-06-28 08:27] ghost commented on #752
I see another user (pasqLisena) who posted on github a [similar Issue](https://github.com/openlink/virtuoso-opensource/issues/232#issuecomment-400720404) seem like there is already an internal ticket made for this, but sure if it is exactly my issue.

[2018-06-28 13:09] HughWilliams commented on #754
@jbkoh This is probably the issue with the openssl 1.1 lib in this later Ubuntu version which you can get around by installing the older openssl 1.0 version as indicated in git issue https://github.com/openlink/virtuoso-opensource/issues/730 ...

ie  ``` sudo apt install libssl1.0-dev```

[2018-06-28 15:07] TallTed commented on #752
@Rshr -

Issue #232 is specifically about Unicode characters in URIs that are part of a SPARQL-FED query, which characters get incorrectly encoded when relayed to the remote `SERVICE`, which encoding is not an element of this issue #752.

Re-reading this issue, it looks like you have provided *part* of each error message you received.  You can help our analysis a lot by including the complete quer

[2018-06-29 02:21] mediaprophet opened #755 "WebID General & WebID-OIDC Support"
Any pointers to the tutorial for setting-up WebID-TLS / WebID-TLS + Delegation Support?

I've installed https://github.com/openlink/virtuoso-opensource/issues/749 and its running successfully on Apache (on the same server); i'm a bit stuck on figuring out how to go from successfully installing VOS to setting-up HTTPS & WebID-TLS support, using the certificate chain.

Also - is WebID-OIDC supported

[2018-06-29 02:25] mediaprophet opened #756 "SoLiD Support - Documentation?"
I was looking for some sort of Documentation about using / Configuring VOS as a SoLiD Server, and taking advantage of the other features built into VOS simultaneously.

I think https://github.com/solid/solid-spec might be a bit out of date; therein, a constituent / pointer to 'what is SoLiD'.  (/RWW)

Therein also - https://github.com/openlink/virtuoso-opensource/issues/755 being a relative consti

[2018-06-29 03:38] mediaprophet commented on #755
NOTE: VOS = http://docs.openlinksw.com/virtuoso/voauthserver/ (&& https://oauth.net/core/1.0/ ) vs. https://github.com/solid/webid-oidc-spec ??

[2018-06-29 10:35] HughWilliams commented on #755
WebID-TLS / WebID-TLS+Delegation Support is not part of Virtuoso Open Source Edition (VOS); it is a feature of [Virtuoso Enterprise Edition](https://virtuoso.openlinksw.com/features-comparison-matrix/), which is [available for free evaluation download](https://shop.openlinksw.com/license_generator/virtuoso-download/).

WebID-OIDC will also be Enterprise Edition only (not in VOS), and support for t

[2018-06-29 10:52] mediaprophet commented on #755
Wow.

K.

Does this make the open-sourced version "Lite"?

[2018-06-29 10:56] HughWilliams commented on #755
It is "open source" with a limited feature set, i.e., some features are considered to be Enterprise/Commercial only and have to be licensed for use. See the [Virtuoso Version Feature Comparison Matrix](https://virtuoso.openlinksw.com/features-comparison-matrix/).

See also the [List of Solid servers and tools](https://github.com/solid/solid-platform) which states Virtuoso Enterprise Edition is req

[2018-06-29 11:02] mediaprophet commented on #755
IMHO; you need to find a balance, which I call a "human rights" license,
that I'm defining via http://internet.org.au (isoc-au with the intention to
extend internationally) that I hope, to the extreme, you get involved with.

Best.  Tim.

[2018-06-29 14:36] mediaprophet commented on #755
On 6/29/18 6:52 AM, Timothy Holborn wrote:

To be clear here:

Use of WebID-TLS, WebID-TLS+Delegation, and WebID-OIDC protocols for our
advanced Attributed-based Access Controls security is a commercial
edition only feature.

Virtuoso Open Source Edition covers core multi-model RDSBMS engine.

See Virtuoso Feature Matrix across the different product genres:

[1] https://virtuoso.openlinksw.com/fea

[2018-06-29 14:49] mediaprophet commented on #755
The links say WebID works, but ABAC is a premium feature?

I understand it's not too silly to be confused...?

I am seeking SoLiD compatibility to be clear...

Tim.

[2018-06-29 15:08] jbkoh commented on #754
Okay, thanks it works!

[2018-06-29 15:08] #754 closed, assigned to nobody

[2018-06-29 15:56] kidehen commented on #755
On 6/29/18 10:49 AM, mediaprophet wrote:

Solid Compatibility means what though?

The integration points for Solid are:

[1] Mounting solid pods -- where Virtuoso is talking LDP via a mount
point to a folder deployed via a Solid-Server instance

[2] Solid pods mounting Virtuoso WebDAV/LDP folders -- you require
"davfs" on Linux or any other WebDAV driver and then you can mount
Virtuoso to a folder

[2018-06-29 15:59] mediaprophet commented on #755
I'll take a look.  But am surprised by the commercial strategy whilst
appreciative of your long term investment.

SoLiD compatibility definition is undeclared. Imho, it's still being
defined.

Tim.

On Sat., 30 Jun. 2018, 1:57 am Kingsley Idehen, <notifications@github.com>
wrote:

[2018-06-29 17:39] kidehen commented on #755
@mediaprophet,

Solid not SoLiD.
Terminology problems are solved via glossaries.
I will publish a Solid Glossary to my solid-pod, look out for an announcement on Gitter.

[2018-06-29 23:29] mediaprophet commented on #755
Distinct to https://m.wikidata.org/wiki/Q2583627  Or sameAs?

Np.  Look forward to it.

On Sat., 30 Jun. 2018, 3:39 am Kingsley Idehen, <notifications@github.com>
wrote:

[2018-06-30 01:57] wangqingbin opened #757 "can not load plugin files"
[code]

[2018-06-30 17:43] AndreaWesterinen commented on #704
@HughWilliams I cannot share my current db. Do you have any obfuscation capabilities? Otherwise, I will try to create a simple test case. The error is 100% reproducible for my current data.

[2018-06-30 17:49] AndreaWesterinen opened #758 "How to know the release when an issue's comment is "fixed" and "on the usual path" to release?"
Also, if this comment is in the issues list, is it a safe assumption that the fix is for the open-source code base?

[2018-06-30 21:00] AndreaWesterinen opened #759 "Processing a query with UNIONs and two rdfs:subClassOf* statements (for different variables) returns false positives"
For example, the query:
[code]

Returns many incorrect results. The results are equivalent to the same query running with the 2nd subClassOf* statement being ignored. BUT this is ONLY TRUE if the subClassOf* is itself part of a UNION. If the last UNION (dealing with ?o's label) is removed and the rdfs:subClassOf* check becomes a mandatory condition, then the results are correct.  Or, if the query

[2018-07-02 12:13] HughWilliams commented on #758
@AndreaWesterinen: Probably the "commits" would be the best place to look for what fixes are in what branches/releases ie https://github.com/openlink/virtuoso-opensource/commits ...

[2018-07-02 12:18] HughWilliams commented on #704
@AndreaWesterinen: We don't have obfuscation per se, but do have a ability to provide statistics on the queries that have been executed against a given database without the need to provide its data, with the [`stat_export()`](http://docs.openlinksw.com/virtuoso/fn_stat_export/) function. Development can [analyze its output to determine the cause of problems with various queries](http://vos.openlin

[2018-07-02 13:06] HughWilliams commented on #759
@AndreaWesterinen: Looking at the 2 queries, the only real difference I see is the addition of the `?s a ?type .` triple pattern after the `VALUES` clause; is that correct?

Can you provide the query execution plan and SPARQL-to-SQL text for both queries for comparison to see how they might differ, [as detailed here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksAnalyzingSPARQLQuery)?

[2018-07-02 13:19] jakubklimek commented on #747
@pkleef Now I tested some more and realized it is not connected to the upgrade process, the issue is much simpler. The newer versions loose language tags simply when restarted.
Data: [data.zip](https://github.com/openlink/virtuoso-opensource/files/2155374/data.5.zip)
When loaded, the language tags are there. Just to be sure, I run `checkpoint;` and stop the virtuoso service. When I run it again, t

[2018-07-02 13:24] AndreaWesterinen commented on #759
@HughWilliams More than that is different ... I changed the query in the second case by moving the `UNION` to the top level. So, the two sets of `UNION`-ed statements are disconnected. In the 1st case, there is a `subClassOf*` for `foo:Foo` and then two sets of statements that are `UNION`. The `subClassOf*` check for `bar:Bar` should still be dealing with the bound `?s` from the first statement in

[2018-07-02 20:00] TallTed commented on #757
Translated from Chinese via Google -

The plug-ins that show here as `FAILED` are expected to be so -- unless you have explicitly built and/or installed the WikiV, MediaWiki, and/or CreoleWiki VADs and/or plug-ins.

The output provided actually shows a full launch failure.  As it says, this is either because the `dell` user does not have permission to create the file `/var/lib/virtuoso-opensource-

[2018-07-03 02:11] wangqingbin commented on #757
@TallTed
Thank you very much, i have solved this problem. Beacause I did not use the sudo command, so I do not have permission to create the file `/var/lib/virtuoso-opensource-7/db/virtuoso.lck`. But now I have another problem,  the command

`isql 1112 dba dba` always failed, when i input `isql` command, i can not enter the SQL prompt. Could you give some suggestions for this problem?

[2018-07-03 13:18] JJ-Author commented on #704
I created a simple scenario in [my post from January](#issuecomment-355586849). Please see my post again...

[2018-07-03 13:56] TallTed commented on #757
Please check your `virtuoso.ini` for the correct port value to use in your `isql` command.  It will look something like this —
[code]
Note that the default `ServerPort` in `[Parameters]` is `1111` — not `1112`, as your command targets.

[2018-07-03 14:05] wangqingbin commented on #757
@TallTed OK, thank you very much

[2018-07-03 14:31] TallTed commented on #757
Please confirm whether this issue may now be considered **Closed**...

[2018-07-04 15:20] Polymathronic commented on #728
+1. This is a deviation from the RDF standard, and can be a really nasty one for application developers, especially when you don't have full control over your data.

[2018-07-05 08:59] boutros commented on #515
Would be great to have this fixed. Any pointers to where to look in the code if I where to have a go at it?

[2018-07-05 14:30] CAROLZXYZXY opened #761 "Unable to load plugin"
Hi, I cannot load the plugin.  I'm using MacOS Sierra.

I want to use the open source code here: https://github.com/CAROLZXYZXY/QuestionAnsweringOverFB. And it says that I need to download the virtuoso engine to query everything here: https://www.dropbox.com/sh/zxv2mos2ujjyxnu/AAACCR4AJ1MMTCe8ElfBN39Ha?dl=0.

This is what I do:
1. homebrew install virtuoso
2. I change the `DatabaseFile`, `ErrorLog

[2018-07-05 21:12] TallTed commented on #761
Hello --

The issue you're hitting has nothing to do with Plugins.  You should be able to simply comment out (add leading `;`) the lines for `Load1`, `Load2`, `Load3` to eliminate those confusing messages.

It looks like the files @syxu828 put on Dropbox came from a Virtuoso 6.x instance.  It's unfortunate they didn't consult with OpenLink, as we could have helped them provide a better kit.  As th

[2018-07-06 13:06] ffritsche commented on #742
Today I compiled the last git version and have now the same error at around 666GB as @mybyte.
[code]

Nobody here who could help us?

[2018-07-08 15:24] ghost commented on #752
@TallTed I checked out a local version I had setup same version and it works correctly. I get the response as intended, before I rebuild from the current code I would like to know what port if any I need to have open on my web server.

[2018-07-09 08:37] bertvannuffelen commented on #728
+1. It would be great if Virtuoso would be agnostic to `xsd:string`. RDF1.1 defines plain literals as syntactic sugar for typed literals with type `xsd:string`. Options that can be taken are:
 * on insert: add the type `xsd:string` for plain literals (internally in the DB all are explicitly typed).
 * on querying: add the type `xsd:string` to plain literals in the query

[2018-07-09 10:34] HughWilliams commented on #728
I have logged an internal ticket for this, such that development can look into it ...

[2018-07-09 13:26] bertvannuffelen commented on #728
thanks Hugh, looking forward to it.

[2018-07-09 15:04] IvanMikhailov commented on #728
So far, Virtuoso is [RDF 1.0](https://www.w3.org/TR/rdf-concepts/#section-Literal-Equality), and "[6.5.1 Literal Equality](https://www.w3.org/TR/rdf-concepts/#section-Literal-Equality)" of RDF 1.0 states that --

RDF 1.0 also permits an implicit cast of XML text-only fragments to `xsd:strings`:

-- but Virtuoso does not support that because it supports generic entities as XML resources (i.e., XMLs

[2018-07-09 15:07] TallTed commented on #752
I'm glad to hear that a fresh DB appears to do the right thing.

I am not sure I understand your question about "what port if any ... to have open on my web server".

A typical web server must accept client connections to the web server's port `80` for `http`, and port `443` for `https`, and sometimes other ports for other and/or custom services (i.e., http and https may also be served over other

[2018-07-09 17:35] ghost commented on #752
@TallTed your response is more than sufficient, I am going setup a fresh DB from the current code. Thanks you for your time and patients.

[2018-07-09 18:12] TallTed commented on #752
Happy to help, @Rshr. I'll close this issue now.

[2018-07-09 18:12] #752 closed, assigned to nobody

[2018-07-10 10:51] pkleef commented on #753
These tests are minor and are known to  fail at times without having an impact on the overall stability of your build.

[2018-07-10 12:24] bertvannuffelen commented on #728
Hi Ivan,

thanks for taking care for this request. More and more tools en libraries in the RDF ecosystem apply RDF1.1. We face now difficulties to when combining RDF1.0 and RDF1.1 tools. It is good that we get on this topic more alignment.

Is there anything we can do ourselves of your suggestion?

[2018-07-10 13:28] pkleef commented on #753
Note that the patch described in #570 has been committed to develop/7 branch and will be part of the upcoming new stable release.

[2018-07-10 14:09] pkleef commented on #747
@jakubklimek I created a new database and used the bulkloader to load that `data (5).ttl` file into the named graph you indicated. However when i try to run your query i get no rows back.

Can you please check your query to make sure it is correct to be run on the small `data.zip` you provided, so i can focus on the label issue.

[2018-07-10 14:23] jakubklimek commented on #747
@pkleef Sorry about that, the data (5).ttl file is actually the output of the query. The input data is this:
[seznam-ovm.zip](https://github.com/openlink/virtuoso-opensource/files/2180730/seznam-ovm.zip)

[2018-07-10 15:01] FabienPuig commented on #734
Hello, any progress on this issue? I have the exact same issue.... suspecting a network configuration issue between the 2 servers.... :(

[2018-07-10 15:02] pkleef commented on #747
@jakubklimek  OK. so I  loaded that `.trig` file into the database. Then I ran your SPARQL query (before and after a shutdown) and saved output. In both cases, I see as first triple --

`<https://data.gov.cz/zdroj/ovm/zakla_1446>      <http://purl.org/goodrelations/v1#legalName>    "Z\u00E1kladn\u00ED \u0161kola a Mate\u0159sk\u00E1 \u
0161kola Olomouc, Gork\u00E9ho 39, p\u0159\u00EDsp\u011Bvkov\u

[2018-07-10 15:16] kulnor commented on #753
Thank you for checking on this and the feedback. Much appreciated.

[2018-07-10 15:16] #753 closed, assigned to openlink, pkleef

[2018-07-10 17:00] pkleef commented on #742
@ffritsche development is currently looking into this crash. i will advice as soon as we have a solution

[2018-07-10 17:09] jakubklimek commented on #747
Actually, I see labels too, only before shutdown, they have language tags and after shutdown they do not.
I run the query through `/sparql`, and I see the difference also when browsing using `/fct`. I select Turtle output.

[2018-07-10 18:36] jakubklimek commented on #747
OK, restested with a00138aef035f4e20ad532520895fd619012f5cd. I discovered that when I really only load the one file, it works as expected and the language tags are there after restart. The problem was that I was initializing the db using a batch job, which loaded not only the one file, but also [other files](http://mvcr2.opendata.cz/soubor/rdf.zip). After loading them all using the bulk loader and

[2018-07-10 19:53] TallTed commented on #734
@FabienPuig - Network issues are extremely unlikely to lead to the GPF reported here.  Additional details of your experience would be helpful for our analysis, such as:
* Did you build from the current `develop/7` codebase, or an earlier point?
* What is your query?
* Is your endpoint and/or the remote `SERVICE` endpoint accessible to us (or can they be made so)?

[2018-07-10 21:09] TallTed commented on #734
@melkamar - I'm sorry; I overlooked [your last update](https://github.com/openlink/virtuoso-opensource/issues/734#issuecomment-383009477).

I have just noticed something else I had overlooked previously.  You have an illegal character in two CURIes in your query.  `ruian:adresníBod` should be either `ruian:adresn\U00EDBod` with the encoded Unicode character, or the full IRI, `<https://ruian.linked

[2018-07-11 06:56] ffritsche commented on #742
Thanks a lot!

[2018-07-20 15:33] JJ-Author commented on #704
@AndreaWesterinen that is interesting. you have too many results? for me it was vice versa. see my "minimal non-working example" above

[2018-07-24 21:41] AndreaWesterinen opened #762 "COUNT with rdfs:subClassOf* statement may be incorrect"
Processing a query with a `SELECT` statement that includes `COUNT(?s)` or `COUNT(*)` and a sub-class check (for the counted variable) may return a much larger count value than exists.

For example, comparing results when the following query is executed ...

[code]

Versus if the `SELECT` statement is changed to `SELECT (COUNT(distinct ?s) as ?count) ?type ... ` results in most `COUNT` values being

[2018-07-24 22:16] TallTed commented on #762
If I understand your writeup correctly, then these results are as expected, and `DISTINCT` is the correct way to address this, for the data as you've described it.

The `COUNT()` function evaluates the rows in your result set.

If you query without the `COUNT()`, i.e. —
[code]
— I believe you'll find 136 rows with `event:Wedding`, while if you query without the `COUNT()` and with the `DISTINCT`, i

[2018-07-24 23:02] AndreaWesterinen commented on #762
How does that make sense?  There are 68 individuals of type, `event:Wedding`.

If I do the query without the `subClassOf* event:Event` statement, there are 68 individuals.

Only in very restricted ontologies should an individual be limited to a single superclass. If Virtuoso is designed with that assumption, then this is a serious limitation.

[2018-07-25 03:58] TallTed commented on #762
Entities are not restricted to a single class nor superclass, not by Virtuoso nor in general. I did not intend to imply such.

The reason for the apparent multiplication is that property paths are syntactic sugar, and make complex things appear simple.

Your query is asking for every `?s ?type` pair where there is a `{ ?type rdfs:subClassOf [ ?type1 . ?type1 rdfs:subClassOf [ ?type2 . ?type2 rdfs:

[2018-08-03 10:16] roelj opened #764 "Problem uploading gzipped RDF using curl"
Dear virtuosi,

I'm trying to upload RDF using HTTP, which works fine for uncompressed data, but when uploading a gzip'ed file, the upload fails.

Here's the `curl` command for the uncompressed file:
[code]

[code]

And here's the `curl` command for the same file, except that it's gzip'ed:
[code]

[code]

I tried this with Virtuoso `7.2.4.2`, and also with version `7.2.5-rc2` (from commit `2125bdf

[2018-08-03 11:00] roelj commented on #764
Looking at `libsrc/Wi/http.c` line `2491` I figured out that I was missing `Transfer-Encoding: chunked`.  So the following works for me:
[code]

Great!

[2018-08-07 18:00] pkleef commented on #747
@jakubklimek i cannot download all of the files as some are password protected. Can you contact me on mailto:pkleef@openlinksw.com or skype:pvk715 so we can discuss some details in private.

[2018-08-07 21:11] TallTed commented on #762
@AndreaWesterinen - Did my latest update answer your remaining questions/concerns on this matter?  Please let us know, either way, so we can take appropriate next steps.

[2018-08-08 08:07] tillea commented on #511
Hi,
what is the status of this issue?  Is this fixed in any later version that was released?
Kind regards, Andreas.

[2018-08-08 13:18] AndreaWesterinen commented on #762
@TallTed The [definition of COUNT in SPARQL 1.1](https://www.w3.org/TR/sparql11-query/#defn_aggCount) is:
[code]

The cardinality of my ?s is 68. And, I have tried this query against other data stores (such as Stardog) and they all return 68. I still believe that this is a bug.

Andrea

[2018-08-09 14:10] bilalix commented on #663
I have the same issue, I'm running Fedora 28, I installed `openssl-devel` but it didn't work.

[2018-08-09 14:29] TallTed commented on #663
@bilalelhoudaigui -

Note that installing `openssl-devel` currently gets you the `openssl 1.1` dev tools.

You need the `openssl 1.0` dev tools.  I believe you will find success if you do this before building Virtuoso —

    sudo dnf install compat-openssl10-devel --allowerasing

If you then need to build other things that require openssl 1.1, do this after building Virtuoso —

    sudo dnf instal

[2018-08-09 14:44] bilalix commented on #730
I'm running Fedora 28 and I have the same issue, `yum install openssl-devel` didn't solve my problem because it install `openssl-devel-1:1.1.0h-3.fc28` I didn't find a way to install version 1.0

**Edit :**
I tried to remove `openssl-devel-1:1.1.0h-3.fc28` using the command `yum remove openssl-devel` and  install [openssl-devel-1.0.1e-57.el6.x86_64](https://centos.pkgs.org/6/centos-x86_64/openssl-

[2018-08-09 15:16] TallTed commented on #730
@bilalelhoudaigui -

Please pick one issue, whether preexisting or new, for the challenge you're facing.

Your earlier comment on issue #663 did not include everything you said here, but my advice there stands, i.e., --

If `dnf` does not work for you, and you cannot figure out the equivalent `yum` command, please let us know, and we'll advise further.

[2018-08-09 16:36] bilalix commented on #730
@TallTed
Thank you it worked, but now I'm getting the following error:

    Making all in VirtuosoClient.Net
    make[2]: Entering directory `/home/username/virtuoso-opensource/binsrc/VirtuosoClient.Net'
    Makefile:39: *** commands commence before first target.  Stop.
    make[2]: Leaving directory `/home/username/virtuoso-opensource/binsrc/VirtuosoClient.Net'
    make[1]: *** [all-recursive] Er

[2018-08-09 19:21] TallTed commented on #730
@bilalelhoudaigui - Yes, we will add more details about how to address the OpenSSL 1.0 build requirement.

Your new output snippet does not appear to be related to OpenSSL, so I will ask that you create a new issue for this.  When you do, please provide the complete and exact commands you used — and their full output — from the `configure` (or `autogen`) onward.  As this will be a large number of

[2018-08-10 09:22] bilalix opened #765 "make error when "Making all in VirtuosoClient.Net""
I'm using **Fedora release 28 (Twenty Eight) 64-bits**.
* RAM : 32Gb
* Free Hard disk space : 37Gb
* Intel Core i5-7500 CPU 3.40GHz × 4

After cloning the `develop/7` repo, I typed the following commands successively:

    ./autogen.sh
    CC=cc
    CFLAGS="-O2 -m64"
    export CFLAGS CC
    ./configure
    make

The output of : [`./autogen.sh` ](https://pastebin.com/MzH9qYfT), [`./configure`](htt

[2018-08-10 09:24] bilalix commented on #730
@TallTed Done #765, Thank you !

[2018-08-10 09:49] HughWilliams commented on #765
Do you have `--enable-mono` set for your build? This would trigger the attempt to build the `VirtuosoClient.Net` (the Mono/.Net Virtuoso provider), and should be disabled by default, as indicated from the `configure --help` output:
[code]
Building this provider requires that [the Mono Framework](https://www.mono-project.com/) be installed on your system.

[2018-08-10 12:37] cuddihyge opened #766 "In version 7.20.3217 Query sometimes returns NaN for doubles in JSON, fine in XML"
This is an elusive difficult-to-reproduce error that happens with queries returning doubles.
But, it pops up every few weeks...

Results of query:
[code]

Exact same when I select JSON as the results format.  Notice the NAN in the first line.
[code]

[2018-08-10 13:42] HughWilliams commented on #766
When you say "elusive difficult-to-reproduce error" , does that mean that JSON output for the same query sometime returns the expected double value, but intermittently returns the "NaN" value ?

What is the exact version and build date of the Virtuoso open source binary being used which can be obtained by running the following command from the "bin" directory of your installation:

[code]

as ther

[2018-08-10 13:48] ge-semtk commented on #766
Yes.  The query usually succeeds.  Occasionally it is sprinkled with NaN's.

[code]

Is there a later version with a ** confirmed ** fix?

[2018-08-10 13:50] cuddihyge commented on #766
Yes.  The query usually succeeds.  Occasionally it is sprinkled with NaN's.

[code]

Is there a later version with a **confirmed** fix?

[2018-08-10 15:12] TallTed commented on #765
@bilalelhoudaigui - For future pastebins and similar, please be sure to copy-and-paste terminal output without formatting codes and command characters, which obscure the needed content. For instance, `[1mOptions(B[m` should just be `Options`.

As @HughWilliams suggests, it seems that you may have enabled the disabled-by-default build of the ADO.NET Provider, which requires Mono in non-Windows e

[2018-08-10 15:30] HughWilliams commented on #766
The fixes I was referring to are general fixes for NaN issues seen before, and not specifically for this issue which we would need a test case for ideally ?

[2018-08-10 15:36] cuddihyge commented on #766
If I had a reliable test case, I would be happy to share.   But this occurs intermittently over a large set of queries that return doubles.  I haven't found a pattern of which queries it is, or what causes them to suddenly/intermittently fail.
Hence it is show-stoppingly serious, but elusive.
I could think about running some queries thousands of times overnight and automatically checking for NaN,

[2018-08-10 15:56] TallTed commented on #766
This issue (#766) appears to be a duplicate of #354.

@ge-semtk - The NaN fixes most likely to have brought resolution were made in September, so are not in your current build, made in July.

That said, if you can provide us with any query (and associated data) that has intermittently shown the issue with your July build, that will help us analyze the possible causes, and check whether we believe

[2018-08-10 16:11] bilalix commented on #765
@HughWilliams - Even though I installed Mono it didn't work.

	$ mono --version
	Mono JIT compiler version 5.14.0.177 (tarball Sat Aug  4 08:32:47 UTC 2018)
	Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
		TLS:           __thread
		SIGSEGV:       altstack
		Notifications: epoll
		Architecture:  amd64
		Disabled:      none
		Misc:          softdebug
		Inter

[2018-08-10 17:12] TallTed commented on #765
@bilalelhoudaigui - OK, so rather than renaming, we need to edit the `/home/bil/git/virtuoso-opensource/binsrc/VirtuosoClient.Net/Makefile`.  There's probably a tab indent on line 39 that should be replaced with spaces.

[2018-08-11 12:03] ssj0126 opened #768 "When loading a large RDF Bulk into Virtuoso, the loading speed is getting slow"
I'm here since I have several problems.

I tried to load Freebase dump to `virtuoso-opensource-6-1` db several times, but I have failed due to very long time. When virtuoso db file size is larger than about 80GB, its loading speed is suddenly getting slow. So, I followed performance tuning tips mentioned in official website. According to available free memory size (about 48GB ; server spec 64GB),

[2018-08-11 21:37] pkleef commented on #747
@jakubklimek I pushed a fix from development that resolves this issue to develop/7.

Your database has language tags; it was just some cache initialization that was missing.  Please rebuild `virtuoso-t`, start with the database we created during our Skype session, and run your query to confirm language tags are then shown in its Turtle output.

[2018-08-11 22:54] TallTed commented on #768
Virtuoso 6.1 hasn't been updated since [December 2013](http://vos.openlinksw.com/owiki/wiki/VOS/VOSNews2013#2013-12-10%20--%20Virtuoso%20Open-Source%20Edition%206.1.8%20Released).

My first suggestion is therefore to update to at least the latest [`stable/7`, v7.2.4.2 from April 2016](https://github.com/openlink/virtuoso-opensource/tree/stable/7).  Better would be the latest [`develop/7`, now v7.2

[2018-08-13 05:55] ssj0126 commented on #768
As  @TallTed explained, I installed virtuoso `develop/7`.  Now I am loading RDF dump to the db.
But there are some issues like below:
[code]
The curious things are:
1) Compared to virtuoso6-1, the size of `virtuoso.db` file is relatively lower.
Each of split dump file size is about 12.5GB (total 35 files, 425GB).
Although the loading processes are almost done (31 files / 35 files), the current siz

[2018-08-13 06:34] jakubklimek commented on #747
@pkleef I confirm that now it works as expected.

[2018-08-13 08:20] bilalix commented on #765
@TallTed - When I replaced Tab with spaces I got this error:

    Making all in VirtuosoClient.Net
    make[2]: Entering directory '/home/bilal/git/virtuoso-opensource/binsrc/VirtuosoClient.Net'
    Makefile:39: *** missing separator.  Stop.
    make[2]: Leaving directory '/home/bilal/git/virtuoso-opensource/binsrc/VirtuosoClient.Net'
    make[1]: *** [Makefile:405: all-recursive] Error 1
    make

[2018-08-13 09:20] #747 closed, assigned to nobody

[2018-08-13 14:43] TallTed commented on #663
As @bilalelhoudaigui [noted in #730](https://github.com/openlink/virtuoso-opensource/issues/730#issuecomment-411819956), my earlier suggestion resolved their build issue with OpenSSL.

[2018-08-13 15:25] TallTed commented on #765
@bilalelhoudaigui -

Snippets are hard to analyze, not least because clues to resolving things often come before the error message.

Please zip or gzip `/home/bil/git/virtuoso-opensource/binsrc/VirtuosoClient.Net/Makefile` in its original form (i.e., with the content that produced the `recipe commences before first target` error), and attach the archive to this issue.  I'm asking for this as an ar

[2018-08-13 15:45] #411 closed, assigned to nobody

[2018-08-13 15:58] TallTed commented on #768
Addressing each of your questions...

0. I believe the log messages are OK.  That said, please provide the values you've set for `NumberOfBuffers` and `MaxDirtyBuffers` in your INI file, as these may need [some adjustment](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning).

1. Virtuoso 7.x brought significantly better internal compression, among other improvements, so much more da

[2018-08-14 02:20] ssj0126 commented on #768
Thanks,
All is resolved!

[2018-08-14 02:20] #768 closed, assigned to nobody

[2018-08-14 12:57] zeginis commented on #464
Any update on this? It has passed more than 2 year and the bug still exists.

[2018-08-14 13:47] HughWilliams commented on #464
There is no resolution to this issue yet, which is still to be looked into by development ...

[2018-08-14 14:36] TallTed commented on #464
@zeginis, @saleem-muhammad, @tfrancart, @knoan --

The originally reported issue does persist in current Virtuoso 7 and Virtuoso 8 (both of which I've just tested).  The default response content type for `ASK` queries is currently `text/html` (though the literal content is just 4 characters, `true`), where [the spec says](http://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-success) it

[2018-08-14 19:46] TallTed commented on #214
@mwauer - Forgive an RDF4J/Sesame novice question...

Your log output starts with a `Adding Host request header` section (here, trimmed to just the headers) --
[code]

Did these headers come directly from RDF4J/Sesame, or from something you put in play?  I ask because --

1. `text/boolean` is not a [valid content type](https://www.iana.org/assignments/media-types/media-types.xhtml).  `text/plain`

[2018-08-14 20:23] TallTed commented on #464
@zeginis, @saleem-muhammad, @tfrancart, @knoan --

Also see my update to #214.

[2018-08-15 07:25] aishahasmoh opened #769 "Nested Query performance"
# Nested query performance on Virtuoso

## Introduction
I am using `isql-vt` to query my local OpenLink Virtuoso server.

### Twittter graph query

I am trying to run a query on a Twitter graph to find the tweets of tweeters who have only 250-300 tweets. Specifically I am trying to find the (content, tweeter, hashtags, mentions, and URIs) in the tweets of the tweeters who have 250-300 tweets. I ra

[2018-08-15 10:22] timhaynesopenlink commented on #769
Hi,
Just a quick thought: the data is quite duplicated.
Just picking a random person, see http://dbpedia.org/page/Abraham_Robinson
All dates doubled-up, 2 birthplaces, 3 death places.
There may be much better solutions overall, but as a suggestion: if you can add a `distinct` somewhere in the middle there, it might make life a bit faster.

HTH

[2018-08-15 15:17] TallTed commented on #769
0. First thing, the software you're running is named **OpenLink Virtuoso**, or more properly, the **Virtuoso Universal Server from OpenLink Software** (not "virtuoso open-link").

1. Next, am I correct in thinking that your reproduction with the DBpedia dataset was performed on your own local Virtuoso instance?  I would like to check the version of this instance, as revealed by one of the followin

[2018-08-15 19:23] jakubklimek opened #770 "make install fails on latest develop/7"
`make install` fails on 3f4cdd3912482aff01a11e9f4bba75a276d8b53f (latest develop/7)

[code]

It installs fine on bcb796e5a031255d7200106ec680a8514696bac3

[2018-08-15 20:01] pkleef commented on #770
@jakubklimek

This is probabley due to some changes to the documentation files which i made for the new 7.2.5 release i just pushed.

Please run the following commands:

[code]
which will regenerate the various Makefiles and then run:

[code]

If the latter still fails, skype me the make.out file for analysis.

[2018-08-15 20:10] balaneshin commented on #770
@pkleef @jakubklimek

[code]

It failed and this is what I got.

[2018-08-15 20:13] pkleef commented on #770
@balaneshin what Linux distribution are you running?

[2018-08-15 20:16] balaneshin commented on #770
@pkleef I am running Amazon Linux AMI release 2016.09.

[2018-08-15 20:23] pkleef commented on #770
@balaneshin Can you show me the content of your config.nice file

[2018-08-15 20:25] balaneshin commented on #770
@pkleef

config.nice:

[code]

[2018-08-15 20:28] pkleef commented on #770
@balaneshin what is the exact command you use for `make install`

[2018-08-15 20:29] balaneshin commented on #770
`sudo make install`

[2018-08-15 20:31] balaneshin commented on #770
@pkleef
These are the exact steps:
[code]

[2018-08-15 20:33] pkleef commented on #770
@balaneshin I am wondering how your prefix is set to subdirectory of your Git clone since this is not standard procedure. Can you show me the output of `env` so i can see if this is some environment setting

[2018-08-15 20:34] jakubklimek commented on #770
@pkleef It failed again (actually I do this exact same process with every update).
Actually, the `make.out` file only contains this (same as @balaneshin ):
[code]

I run on Debian 9. `config.nice`:
[code]

[2018-08-15 20:44] balaneshin commented on #770
[code]

[2018-08-15 20:45] balaneshin commented on #770
@pkleef there were names in env and I had to remove them...

[2018-08-15 20:50] balaneshin commented on #770
@pkleef I tried without setting prefix to subdirectory of my Git clone and followed all the defaults. I am getting still the same result.

[2018-08-15 21:04] balaneshin commented on #770
@pkleef @jakubklimek I went back to version 7.2.5-rc1 by running `git checkout fa9e8ca8cea6e92bf903fa51e9388402ab0d9b44` and I was able to run make install. I tried earlier commits, but I was getting the same error.

[2018-08-15 21:23] pkleef commented on #770
@jakubklimek I think the problem is a "feature" of this latest `/usr/bin/install` program.

As we have a list of README, it is possible I listed some files twice.

For some reason, the developers of this new `install` program thought it was a good idea to block copying the same file twice in short succession.

[2018-08-15 23:21] pkleef commented on #770
@jakubklimek @balaneshin

I pushed a small fix for `Makefile.am` to `stable/7` and `develop/7` that fixes the problem you reported.

[2018-08-15 23:21] #770 closed, assigned to nobody

[2018-08-16 08:37] aishahasmoh commented on #769
Thank you for your response. It is very helpful.

1. Yes I am running it on my local virtuoso server.

   The version of the instance as revealed by the `virtuoso-t -?` command is:
[code]
   In my INI file:
[code]
   The amount of RAM available as revealed by `cat /proc/meminfo` command is:
[code]

2. When I run your query on my machine without adding `DISTINCT`, I get the same 79640 Rows I got be

[2018-08-16 18:59] TallTed commented on #769
OK...

1. Please note that Virtuoso 6.1 hasn't been updated since [6.1.8 of December 2013](http://vos.openlinksw.com/owiki/wiki/VOS/VOSNews2013#2013-12-10%20--%20Virtuoso%20Open-Source%20Edition%206.1.8%20Released) -- which is still more than a year younger/better than the [6.1.6 of August 2012 (though built in September 2013)](http://vos.openlinksw.com/owiki/wiki/VOS/VOSNews2012#2012-08-02%20--%2

[2018-08-17 16:36] bilalix commented on #765
@TallTed - Sorry for the late reply.

[Here is the Makefile.zip](https://drive.google.com/open?id=11x0x1V89MVFZPqkgU7I0yPasOUaQqOqh) and [the complete output](https://drive.google.com/open?id=1LW5DP1nxmWKayim4f8m2RxCehb0TdaO6) of the `make` command.

[2018-08-17 18:35] pkleef commented on #765
Hi @bilalelhoudaigui

I have checked the `Makefile` you just sent and it looks like it was not properly generated.

Considering you reported using Fedora Core 28, I created a new VM to test the build and I see —

[code]

— yet the `Makefile` you sent has as a first line —
[code]

There could be some incompatibility there, so we first need to identify why your system has such a very old version ins

[2018-08-20 07:26] jakubklimek commented on #643
This is resolved in d76ab20f8cdee8b7660bf1b653fda85d08e5153c.

[2018-08-20 07:26] #643 closed, assigned to nobody

[2018-08-20 07:31] jakubklimek commented on #646
Fixed in d76ab20f8cdee8b7660bf1b653fda85d08e5153c

[2018-08-20 07:31] #646 closed, assigned to nobody

[2018-08-20 07:34] jakubklimek commented on #334
Fixed a long time ago

[2018-08-20 07:34] #334 closed, assigned to nobody

[2018-08-20 07:36] jakubklimek commented on #294
Fixed in d76ab20f8cdee8b7660bf1b653fda85d08e5153c

[2018-08-20 07:36] #294 closed, assigned to nobody

[2018-08-20 07:39] jakubklimek commented on #26
Works in d76ab20f8cdee8b7660bf1b653fda85d08e5153c

[2018-08-20 07:39] #26 closed, assigned to iv-an-ru

[2018-08-20 07:40] jakubklimek commented on #40
Not happening anymore

[2018-08-20 07:40] #40 closed, assigned to imitko

[2018-08-20 07:41] jakubklimek commented on #52
Works now as expected

[2018-08-20 07:41] #52 closed, assigned to imitko

[2018-08-20 07:42] jakubklimek commented on #105
Is not happening anymore.

[2018-08-20 07:42] #105 closed, assigned to imitko

[2018-08-20 07:45] jakubklimek commented on #128
Still happening in d76ab20f8cdee8b7660bf1b653fda85d08e5153c

[2018-08-20 07:57] jakubklimek opened #772 "Bad handling of UTF-8 IRIs in faceted browser"
This relates to #141, #142, #345, #346. Faceted browser `1.13.91` (latest in `develop/7` since a few years back) is still having issues handling UTF-8 characters in IRIs.

Here: [https://data.gov.cz/zdroj/datová-schránka/x7cab34](https://data.gov.cz/zdroj/datová-schránka/x7cab34); look at the entity type:
![image](https://user-images.githubusercontent.com/718827/44327313-8f213780-a45e-11e8-8232-6e

[2018-08-20 11:39] pkleef commented on #772
@jakubklimek I did not have enough time to merge this into the 7.2.5 release, but i have scheduled to merge this as part of the current development cycle.

[2018-08-21 21:50] HughWilliams commented on #128
@jakubklimek: What is your current test case for recreating? Can it be recreated with the last datasets you provide to @pkleef for the language tag issue?

[2018-08-22 05:45] jakubklimek commented on #128
@HughWilliams I don't have a well defined test case, as this issue happens gradually over longer time. All I know is that the instance running https://data.gov.cz/sparql (latest develop) behaves the same way as described in the issue when up for e.g. 20 days. The machine has 16GB RAM available, and 16GB swap. Virtuoso is set up like this:
[code]
and over time, it takes up all RAM and majority of s

[2018-08-22 12:23] HughWilliams commented on #128
@jakubklimek: Looking back through this issue, in my comment at https://github.com/openlink/virtuoso-opensource/issues/128#issuecomment-40549219, I asked if the `delete` operations were being run with `log_enable(3)` -- which minimises memory consumption during `delete` operations -- and never got a response?

[2018-08-22 14:36] jakubklimek commented on #128
@HughWilliams Yes, it is used for the clear graph operations.

[2018-08-22 20:32] HughWilliams commented on #128
@jakubklimek: Can you provide the script or command that is being run nightly and we can setup a test case in-house with the dataset you provided previously and repeatably run  while monitoring memory usage ?

[2018-08-22 23:10] ashepherd opened #773 "Possible to turn off geometry support?"
Hi,
I am getting the error as on issue #274 for a MultiLineString WKT literal.

[code]
For Virtuoso version:
[code]
**Is there any way to disable the geometry checking so I can load these triples as is?**

RDF: https://www.bco-dmo.org/node/741296/rdf/xml
[code]

Thanks for any help you can provide!

[2018-08-23 11:40] roelj commented on #764
It turns out that even though Virtuoso returns `201 Created`, it doesn't actually add the data.

[2018-08-23 16:19] TallTed commented on #431
@Aklakan - Can you please confirm whether this issue #431 was resolved, and thus whether it may be closed?

[2018-08-23 16:20] TallTed commented on #773
To be sure this hasn't already been addressed -- are you able to try this with the latest (just released) 7.2.5.1 in `stable/7`?

[2018-08-24 06:56] coolcoolhua opened #774 "Cant install"
<img width="564" alt="image" src="https://user-images.githubusercontent.com/8847878/44569648-aab57680-a7ad-11e8-9b75-07eb23912e2c.png">
<img width="434" alt="image" src="https://user-images.githubusercontent.com/8847878/44570826-ac813900-a7b1-11e8-9955-ddceec7c82e0.png">

After this time's update, every time I wanna install virtuoso and it just stuck in this step and can't forward for more than 1

[2018-08-24 07:58] jakubklimek commented on #128
We have a LinkedPipes ETL pipeline which does that. Basically, we select all graphs to be deleted, e.g. like this:
[code]
Then, one by one, we run via the SQL endpoint:
[code]

Finally, we load the trig file via bulk loader.

[2018-08-24 09:58] timhaynesopenlink commented on #774
Most common reason is you have a virtuoso-t process lingering from a previous make.

```pkill virtuoso```

There may be other reasons - if it persists, check for logfiles in the `binsrc/yacutia/` directory.

HTH

[2018-08-24 13:09] coolcoolhua commented on #774
You are right. It works now.

Thank you for your answer!

[2018-08-24 13:09] #774 closed, assigned to nobody

[2018-08-24 13:38] HughWilliams commented on #764
@roelj : Have you tried with the Graph Protocol curl examples at:

    http://vos.openlinksw.com/owiki/wiki/VOS/VirtGraphProtocolCURLExamples

as these do work ?

[code]

[2018-08-24 14:01] roelj commented on #764
@HughWilliams I can confirm that it works when the content is not gzipped.  In your case, you're uploading an uncompressed Turtle file.  This also works for me.

But the problem I have is related to the `gzip` encoding.  So if you gzip `books.ttl`, and then uploading it using `curl` with the extra headers I specified in the previous example, then Virtuoso doesn't create the triples.

[2018-08-24 15:31] bilalix commented on #765
@pkleef - I'm the one who explicitly installed automake version 1.9 as written in the ReadMe file (I did the same with autoconf, libtool etc) I thought this may help avoiding incompatibilities issues.

I reinstalled the correspond versions shown in your `sh ./autogen.sh` output, run it afteward and got the same output as yours.
Next, I didn't find `./config.nice` file so I run the normal `./config

[2018-08-24 21:22] ashepherd commented on #773
Thanks @TallTed, I tried 7.2.5.1 and got the same error. It seems to work with other geometry types but this specific geometry fails despite being a valid `MultiLineString`.

That's ok. I set the datatype to be something in our namespace that says it's a `rdfs:subPropertyOf <http://www.opengis.net/ont/geosparql#wktLiteral>`. Doing so loads into Virtuoso. and solves our problem. Although there does

[2018-08-25 16:26] HughWilliams commented on #128
@jakubklimek Thanks. We are setting up a test case for this ...

[2018-08-25 16:27] HughWilliams commented on #764
@roelj Ok, we shall look into why the gzip uploads are failing ...

[2018-08-27 09:18] ffritsche commented on #742
An update from my side.
I installed the new 7.2.5.1 precompiled version on a fresh Redhat 7.5 Server with 1GB Ram and have the same problem.
Segmentation fault at around 666GB virtual size and 333GB resident size.

[2018-08-27 14:38] TallTed commented on #742
@ffritsche Just confirming a probable typo -- you said "a fresh Redhat 7.5 Server with 1GB Ram", where I think you meant "with 1TB RAM"?

[2018-08-27 15:22] ffritsche commented on #742
yeah 1TB
So much RAM ^^

[2018-08-27 19:30] rapw3k opened #775 "ST_Intersects with MultiPolygons returns 42000 Error GEO"
Hi,
Some months ago, I had an issue with `ST_Intersects` with complex polygons, I got error:

`Virtuoso 42000 Error GEO..: for after check of geo intersects, some shape types (e.g., polygon rings and curves) are not yet supported`; see https://www.mail-archive.com/virtuoso-users@lists.sourceforge.net/msg08182.html

@HughWilliams recommended to upgrade virtuoso. After I did it, this issue got solve

[2018-08-27 19:51] rapw3k commented on #775
I have to clarify that the outer intersect in the query: `FILTER(bif:st_intersects(?coordPlotFinal, ?coordWBody, 0.00025))`, works over `MULTIPOLYGON` shapes (both `?coordPlotFinal` and `?coordWBody` return `MULTIPOLYGONs`).

Each of the inner queries (`?graph1` and `?graph2`) work fine individually. So the problem is in the outer intersect

[2018-08-27 19:58] TallTed commented on #775
Please note that **`7.20.3229`** is current, and this does include a number of GeoSPARQL-related fixes, relative to your 7.20.3217.  I would therefore encourage testing with the current `stable/7`, if not `develop/7`.

[2018-08-27 20:42] kidehen commented on #775
Do we have a Turtle doc containing the data  in question so we can load  and test so our URIBurner instance?

[2018-08-27 22:09] virtuosou commented on #604
Hi @HughWilliams Can you please help me to set an option

I did not see in isql function but i need to set it true manually from web page.
Thank you

[2018-08-28 15:26] TallTed commented on #604
@virtuosou - Looks like you also [asked on StackOverflow](https://stackoverflow.com/questions/52050757/virtuoso-create-sparql-endpoint-via-isql-missing-option)...  I am researching, and expect to post answers here and there.

[2018-08-28 15:50] timhaynesopenlink commented on #604
Hi, @virtuosou --

[code]

You need to specify both the `def_page` and `'noinherit','yes'` options as above; the page will then be filled-in and the box will be checked.

Top tip: there's an **Export** button beside each vdir definition. :)

HTH

~Tim

[2018-08-29 16:10] TallTed commented on #769
@aishahasmoh - Were you able to act on my latest suggestions?  Did these help?  Please let me know, so we can take appropriate next steps.

[2018-08-29 16:58] TallTed commented on #775
@rapw3k - We'd like to work on this further with you. To do so, we'll need a [data dump](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFDumpNQuad) that we can load locally, for best analysis. If you don't want to make such a dump public, you can [email a private download link to us](mailto:technical.support@openlinksw.com).

[2018-08-30 14:25] rapw3k commented on #775
Thank you @TallTed @kidehen , I found an issue in two geometries of the original dataset, so, I will first try reloading the dataset, to discard any geometry related issue, and then if the problem persist I will come back to you. I also plan to upgrade our virtuoso in the next few days.

[2018-08-30 14:45] #765 closed, assigned to nobody

[2018-09-02 07:49] aishahasmoh commented on #769
Thank you for your response.
I have been trying to work on it.

First, I shut down virtuoso and checked the memory that I have and it is
[code]
So, I do have around 180GB of RAM available for virtuoso.

Second, Yes my Twitter graph is in the same file on the same instance.

Third,
I tried to update to version 7 stable but I faced some errors that I couldn't resolve while trying to update to versio

[2018-09-03 11:12] rapw3k commented on #775
Hi @TallTed @kidehen, I loaded new datasets and made sure no geometry related issues were in other ones. Then I upgraded virtuoso to latest version 07.20.3229 .

Now it is worse. I cannot even query previous datasets that were working fine.
I am about to revert to previous version of virtuoso.

See sample file (nt) that you can download and use it for testing.
https://box.psnc.pl/f/78a4d75f37/?raw

[2018-09-03 13:05] HughWilliams commented on #775
@rapw3k The current Virtuoso 7 open source versions only supports points and does not support other geometry shapes/types.

Support for additional geometry types like polygon, multi-line strings, multi-polygons, geometry collections and GeoSPARQL has been added to the latest  Virtuoso 8.1+ commercial product, thus loading your dataset into our uriburner.com instance, the query you provide above do

[2018-09-03 14:11] rapw3k commented on #775
Hi @HughWilliams , I am pretty sure, support for other geometry types including polygon and multi polygon were supported. This was working (in most cases) before upgrading to latest version.

I made several demoes using points, polygons and multi-polygons.

Also documentation supports this claim:
http://docs.openlinksw.com/virtuoso/sqlrefgeospatial7enchance/#sqlrefgeospatial7enchancedtsupported

S

[2018-09-03 14:50] HughWilliams commented on #775
@rapw3k: The only way this could have previously work is if you had built form the old "v7fasttrack" R&D branch:

     https://github.com/v7fasttrack/virtuoso-opensource

where some of this functionality had been made available sometime ago as detailed at:

      http://docs.openlinksw.com/virtuoso/sqlrefgeospatial7enchance/#sqlrefgeospatial7enchanceplgcomp

and the productisation has not been com

[2018-09-03 15:02] rapw3k commented on #775
@HughWilliams
I am now getting very confused.
How is then possible that the query below works in my current installation 07.20.3229 ?
This is only working over polygons and multi-polygons.

Besides, the documentation says that the v7fasttrack is only needed for the Virtuoso v7proj4 plugin module that is required for performing transformation between different co-ordinates systems using the ST_Tran

[2018-09-03 15:29] HughWilliams commented on #775
@rapw3k: Correction, my mistake ... the work on polygons and other shapes was added to open source and commercial when the first phase was done a few years ago as I have used it in both ...  but the necessary plugins modules for  GeoSPARQL support/compliance and performing CRS transformations in the v7fasttrack branch were not completed ... they are now completed and currently available in the lat

[2018-09-03 15:38] rapw3k commented on #775
Hi @HughWilliams , sorry but your answer is still not clear to me...
1.  GeoSPARQL support in (latest) open source v7 is available, correct? I have used it many times and with many different datasets...

2. performing CRS transformations  in latest open source v7 is NOT available, correct? I am not interested at the moment in the CRS transformations...And my initial query is not performing any tra

[2018-09-03 15:48] rapw3k commented on #775
You can also see the release notes from https://github.com/openlink/virtuoso-opensource/blob/stable/7/NEWS.md#february-17-2015-v720

GEO functions

Added support for SPARQL INSERT with GEO literals
Added support for upcoming proj4 plugin
Fixed issue with rdf box with a geometry rdf type and a non geometry content
Fixed calculation of serialization lengths for geo boxes
Fixed compilation of a query

[2018-09-03 16:29] HughWilliams commented on #775
@rapw3k

2015 is when the support for the additional geometry shapes/functions was added to open source and commercial to improve our Geo Spatial support in Virtuoso (SPARQL & SQL) ...

Note the release note says "Added support for *upcoming* proj4 plugin" , which is what has been added to Virtuoso 8 commercial now and then needs to also be added to open source ...

What do you mean by GeoSPARQL (

[2018-09-03 16:55] rapw3k commented on #775
For my purposes it was enough for now to use the bif: geo functions to manipulate geospatial data....
I will try reversing to previous version, which was slightly better.....
In any case this is rather sad and disappointing after all demoes I have made and published using virtuoso see e.g., [1] [2].

To conclude, I understand you cannot support me with these issues because I am using v7 open sourc

[2018-09-03 17:28] HughWilliams commented on #775
@rapw3k: It is planned than these updates will be made to the existing Virtuoso 7 open source code base and this will be soon, although no date has been set for it yet ...

[2018-09-03 20:20] rapw3k opened #776 "Maximum size for property value (triple object) in Virtuoso — example with property geometry `asWKT`"
I didnt want to mix the issue  https://github.com/openlink/virtuoso-opensource/issues/775.

I have a few features with very large geometry value (`asWKT`) and they are not loaded in Virtuoso using the batch loading `rdf_loader_run();`. NOTE: no error is recorded in `DB.DBA.load_list` after loading finishes.

The issue is most probably because the value is quite large (about 36MB). So, I want to kn

[2018-09-03 21:15] rapw3k commented on #775
Yes that was my guess...

I was hoping you had also a v7 uriburner for support....

Nevertheless, the question: Why the same simple query for practical effects (intersects between polygon and multipolygons) works for one graph [2] and not for another [1] is unclear

I also point out that the less accurate bif:st_may_intersect works even with the initial (more complex) query.

[1] https://github.co

[2018-09-03 22:05] HughWilliams commented on #776
@rapw3k : I can see the problem with both Virtuoso 8 (commercial) & 7 (open source) ...

The 36MB file contains a single multi-polygon triple:

[code]

which on bulk load takes a significant amount of time, reports the load is successful but then no triple is loaded:

[code]

This has been reported to development to look into and determine why it silently fails to load ...

[2018-09-04 11:28] rapw3k commented on #775
I reverted to 07.20.3217, and is much better, all simple queries above work. I just come back to my original issue, that the complex query sometimes works but sometimes it throws error, depending on the input polygon in the intersect...

As a temporal workaround (until either v8 updates are pushed to virtuoso OS, or other solutions like Straton are tested) -> when there is an error, we can use the

[2018-09-06 08:37] pfps commented on #700
I don't see how you are getting 20 million results, as that is bigger than the `MAX_BOX_ELEMENTS` limit [mentioned by iv-an-ru](#issuecomment-351846621).

[2018-09-10 09:17] ffritsche commented on #742
I have an other update.
Our DB runs now 1 month with a config for 600 GB free memory.
[code]

Virtuoso starts with this configuration at around 400GB virtual size and 200GB resident size memory.
After 1 month our DB is now at 747 VS and 721 RS memory, thus over the 666 GB without segfault.
It only gets a segfault on startup with more than 666GB.
The other question is, why does it consume so much m

[2018-09-12 08:19] QiAnXinCodeSafe opened #778 "A possible NPD?"
Hi all,

This is Qihoo360 CodeSafe Team, we found a possible null pointer dereference at
https://github.com/openlink/virtuoso-opensource/blob/d76ab20f8cdee8b7660bf1b653fda85d08e5153c/libsrc/Wi/bif_ldapcli.c#L746. These is a null-check at line 739, but this check does not cover line 746. So when `passwd.bv_val` is null, there will be a null pointer dereference at line 746. The same problem arises a

[2018-09-12 08:48] QiAnXinCodeSafe opened #779 "A possible NPD?"
Hi all,

This is Qihoo360 CodeSafe Team, we found a possible null pointer dereference at
https://github.com/openlink/virtuoso-opensource/blob/d76ab20f8cdee8b7660bf1b653fda85d08e5153c/libsrc/Wi/CLIodbc3.c#L1489. When the program execute at line 1489, the there are tree states about `bAppDesc` and `ValuePtr`  as shown below:

- `bAppDesc` is null, `ValuePtr` is null
- `bAppDesc` is not null, `ValueP

[2018-09-12 09:14] QiAnXinCodeSafe opened #780 "A possible NPD?"
Hi all,

There is another possible null pointer dereference found by Qihoo360 CodeSafe Team, see
https://github.com/openlink/virtuoso-opensource/blob/d76ab20f8cdee8b7660bf1b653fda85d08e5153c/libsrc/Wi/CLIsql1.c#L1294. When `stmt`, `con` and `env` are all false, `err` will be null.

So is there a gurantee that `stmt`, `con` and `env` can't be null at the same time? I didn't dive into this problem d

[2018-09-12 22:13] nfairoza opened #781 "Virtuoso installation error"
We are trying to install Virtuoso stable/7 on an Ubuntu machine. We have already installed the pre-requisites, including Openssl v.0.9.8e. However, when we run "./configure", we get the following error:

`checking OpenSSL version... configure: error: OpenSSL version 0.9.8e or greater is required.`

We also checked the version of Openssl:

`# openssl version
OpenSSL 0.9.8e 23 Feb 2007`

We got the

[2018-09-13 01:39] TallTed commented on #781
While this is an apparent bug in the configure script, which we will look into, we would actually recommend you use the latest OpenSSL 1.0, as described in [`README.OpenSSL`](https://github.com/openlink/virtuoso-opensource/blob/develop/7/README.OpenSSL.md).  (OpenSSL 1.1 is not yet supported.)

The current [README](https://github.com/openlink/virtuoso-opensource/blob/develop/7/README) may suggest

[2018-09-13 05:33] aishahasmoh commented on #769
Update: I did download the binary executable of version 7 and it did execute the query on the Twitter Graph in 2.56 sec.
Thanks a lot.

[2018-09-13 05:33] #769 closed, assigned to nobody

[2018-09-15 15:25] HughWilliams commented on #742
@ffritsche:  Note the `NumberOfBuffers` INI file param only controls the amount of memory available for hosting the database working set; there are other INI file params and activities for which Virtuoso will allocate memory. See [this spreadsheet](https://docs.google.com/spreadsheets/d/1-stlTC_WJmMU3xA_NxA1tSLHw6_sbpjff-5OITtrbFw/edit#gid=812792186) which details the memory consumption based on I

[2018-09-16 05:49] TheNavigateur opened #782 "virtuoso.jdbc4.VirtuosoException: SQ074: Line 2: SR127: Can't convert CAST to numeric"
When executing the following query (that simply inserts a big decimal as far as I can tell):

[code]

...where there is no `?existingValue` entry (so as far as I can tell it's a fresh insert)...

I get the following crash in Virtuoso 7.2.4:

[code]

Can Virtuoso handle these big numbers? If not, can Virtuoso handle arbitrary precision decimals (say 1.00001234...)? If yes to both, then what do you

[2018-09-16 11:36] bergos opened #783 "Add support for chunked upload"
I'm trying to upload N-Triples using curl and the Graph Store interface. This works for curl file uploads, but fails if stdin should be used. I think it's a problem with the chunked transfer. curl switches to chunked transfer for data from stdin, as it can't know the content size. Virtuoso closes the connection in that case. If chunked transfer is not supported, I would expect an http error. Even

[2018-09-17 05:25] TheNavigateur commented on #782
Exactly the same issue on the latest version of virtuoso-opensource so far: 7.2.6-dev (which I pulled and installed).

Any and all help, from anybody, would be appreciated at the moment!...

[2018-09-17 08:14] QiAnXinCodeSafe opened #784 "A series of `sizeof` issues?"
Hi all,
There are some `sizeof` issues found by Qihoo360 CodeSafe Team.
Details as bellow:

### 1.Memory Allocation
There are two non-fatal issues about memory allocation, see
https://github.com/openlink/virtuoso-opensource/blob/d76ab20f8cdee8b7660bf1b653fda85d08e5153c/libsrc/util/buildarg.c#L119. Result of `s_realloc`, i.e. `realloc` is converted to `char**`, which is incompatiable with the sizeo

[2018-09-17 10:49] QiAnXinCodeSafe opened #785 "What the self-assignment used for?"
Hi all,

There are about 90 self-assignments in `virtuoso-opensource`, they are all located in for-loop, like
https://github.com/openlink/virtuoso-opensource/blob/d76ab20f8cdee8b7660bf1b653fda85d08e5153c/libsrc/Wi/chash.c#L1681.

Self-assignment is useless, and compiler is most likely optimize it away. So I want to know what the self-assignment used for here?

Thanks in advance!

[2018-09-17 13:30] HughWilliams commented on #649
@joernhees This issue has been resolved in the latest Virtuoso 7.2.5 open source stable/7 release made in Aug 2018 , see http://vos.openlinksw.com/owiki/wiki/VOS/

[code]

[2018-09-17 13:30] #649 closed, assigned to nobody

[2018-09-17 15:39] IvanMikhailov commented on #784
1. Yes these two should be tweaked.

2. Oops! Our fault. Indeed it's supposed to be `sizeof (src_buffer)` that is a bit bigger than `sizeof (buffer)`, so it was possible to get up to 8000 times more calls of functions inside the loop. E.g. `read_wides_from_utf8_file()` makes it right way.

`memset (opts, 0, sizeof (opts));` is totally redundant, because `opts = ...dk_alloc_box_zero ()` above conta

[2018-09-17 15:43] IvanMikhailov commented on #784
BTW what sort of tool is used to catch these issues, esp. `sizeof (buffer)`?

[2018-09-17 20:26] TallTed commented on #782
First thing please confirm the versions of all the client components in use -- JDBC driver, and any other Virtuoso Java libraries (Jena provider, RDF4J Provider, etc.) -- are current.

Assuming that doesn't resolve things, I am guessing that the issue may be due to this number being unusually large to be typed and treated as an `xsd:decimal`, especially as there are no digits to the right of the d

[2018-09-17 20:50] TallTed commented on #783
First thing I notice is that you're running a rather elderly Virtuoso `07.20.3215` (from before 2016-05-20).

Can you test this scenario with a build from the latest `/stable/7` (`7.2.5.1` a/k/a `7.20.3229`) or current `/develop/7` (`7.2.6-dev` a/k/a `7.20.3229+`) branches?  Updating to one of these versions is strongly recommended in any case.

[2018-09-18 03:31] QiAnXinCodeSafe commented on #784
Thank you for your quickly feedback, IvanMikhailov! These issues found by our own symbolic-execution-based static analyzer.

In addition, there is an open source analyzer `clang static analyzer`, see [clang static analyzer][1]. You can write your own checker for these `sizeof(buffer)` cases.

[1]: https://github.com/llvm-mirror/clang/tree/master/lib/StaticAnalyzer

[2018-09-18 05:46] TheNavigateur commented on #782
@TallTed Hi!

Unfortunately it's mandatory for me to use a decimal since I need unlimited precision - the "gap" value needs to half itself an arbitrary number of times. The example I gave was somewhat contrived since it will eventually become e.g. 0.0000000000000000000000000000000000000000000000000000000037508425... etc.

I tried adding ".0" at the end, and got the same crash.

Worse though, is th

[2018-09-18 06:21] TheNavigateur commented on #782
I can confirm I get all the same problems (most alarmingly for me loss of precision in small decimal numbers) when executing through conductor.

[2018-09-18 08:24] roelj commented on #783
The exact same problem occurs with the 7.2.5.1 release as described in issue #764 .
So, when specifying `Transfer-Encoding: chunked`, Virtuoso returns `201 Created` without adding the data.

[2018-09-18 20:57] TheNavigateur commented on #782
@TallTed The query crashes with the same error when I try to do a SPARQL to SQL translation. But I'm really more concerned with the loss of precision in tiny numbers. Maybe I mistakenly thought decimal had unlimited precision like a BigDecimal? Can you confirm the precision limit for the decimal type? The precision loss definitely happens when the query with a lot of decimal places is executed via

[2018-09-18 21:25] bergos commented on #783
I tried again with the 7.2.5.1 [ docker image](https://github.com/tenforce/docker-virtuoso/tree/virtuoso7.2.5) and also made my own image based on commit `120e9021074b526da434b827cfab9d57189c0a64`. Same result for both cases.

[2018-09-19 16:13] IvanMikhailov commented on #782
Unfortunately, max precision for SQL `DECIMALs` in database schema is restricted to 40 digits with scale 15 digits. To protect from rounding errors, 5 "extra scale" digits are kept internally, giving a total of 45, and intermediate in-memory (and even disk-resident) decimals can be twice longer in order to save us from disasters on occasional multiplication of two big decimals.
[code]
is 38 digits

[2018-09-20 05:41] TheNavigateur commented on #782
Could Virtuoso ever support unlimited precision in its RDF decimal or is that just not feasible?

[2018-09-21 08:27] dayures opened #786 "Unexpected 406 in Virtuoso 8 for JSON-LD Accept header"
While I was preparing some test for SPARQLWrapper module, I get this unexpected error. It seems like the order of values in the `Accept` header is the source of this issue.

### Virtuoso 7 + `Accept: application/ld+json, application/x-json+ld`
`curl -d "query=%20%20%20%20PREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0A%20%20%20%20PREFIX%20rdfs%3A%20%3Chttp%3A%2F

[2018-09-21 10:44] TheNavigateur commented on #782
@TallTed @IvanMikhailov Could Virtuoso ever support unlimited precision (from finite strings obviously) in its RDF decimal or is that just not feasible?

[2018-09-23 20:21] IvanMikhailov commented on #785
That's after text macroprocessor. As you may see, all those loops have similar structure: first there are runs grouped in four items; then up to three last items are in short non-grouped loop. There were a series of experiments with different sizes of groups, etc., all made from one source but with different macroexpansion; the benchmark winner is in the source tree. The macroprocessor was not pro

[2018-09-24 18:18] pkleef commented on #781
@nfairoza What operating system and distribution are you building on?

Can you run the following command and show me the output so i can see what is going on:
[code]

[2018-09-24 19:03] pkleef commented on #780
This code is part of the ODBC driver which is called from an ODBC Driver Manager. As [the ODBC specification states](https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/return-codes-odbc), the Driver Manager will check if at least one of the handles is valid before calling the Virtuoso driver; else it will return the error `SQL_INVALID_HANDLE`

As such we did not feel the need to progr

[2018-09-25 03:34] QiAnXinCodeSafe commented on #780
Thank you for your detailed explanation, pkleef! It make sense to me.

[2018-09-25 06:21] QiAnXinCodeSafe commented on #785
Hmm, I see, thanks for your help!

[2018-09-25 13:24] TallTed commented on #785
@360CodeSafe - Please close this issue, to confirm that [the above explanation](#issuecomment-423845059) was sufficient for you.

[2018-09-25 13:25] TallTed commented on #780
@360CodeSafe - Please close this issue, to confirm that [the above explanation](#issuecomment-424088322) was sufficient for you.

[2018-09-26 01:36] #785 closed, assigned to nobody

[2018-09-26 01:36] #780 closed, assigned to nobody

[2018-09-26 01:57] #784 closed, assigned to nobody

[2018-09-30 03:43] HuuuNan commented on #743
@TallTed Hello，TallTed.
I encountered the same problem，the PL LOG said i should update my server version.But i dont know how to check and update my version of Virtuoso binary.
Use command "virtuoso-iodbc-t -?" or "virtuoso-t -?" to check the version?But cannot find the command "virtuoso".

[2018-09-30 19:54] TallTed commented on #743
@HuuuNan - In the Virtuoso installation `/bin/` directory, there should be at least one binary, named `virtuoso-iodbc-t` (for Enterprise Edition) or `virtuoso-t` (for Open Source Edition).

Our installation scripts typically create a symlink from `virtuoso` in the same directory, but this may not be present for you for various reasons.

You can simply adjust the command to include the full path to

[2018-10-01 03:59] nandana commented on #295
Hi,

I am using OpenLink Virtuoso Server VOS `07.20.3229` and run into the same problem while loading Wikidata. Is there any workaround for this issue until GeoSPARQL support implemented?

So based on what I read from @ma-garcia, if I convert

[code]

to

[code]

I should be able to load the data without an issue to Virtuoso, right?

The other option, according to GH-773, it says that if a new dat

[2018-10-01 10:47] HughWilliams commented on #295
Base GeoSPARQL support was added to the Virtuoso open source `develop/7` branch last month, as indicated at --

* https://github.com/openlink/virtuoso-opensource/blob/develop/7/README.GeoSPARQL.md
* https://twitter.com/pkleef/status/1042859635089268736

-- and will soon be added to the `stable/7` branch.

Thus I would suggest building Virtuoso and the required Geospatial plugin from the `develop/7

[2018-10-01 12:11] p1d1d1 commented on #295
@nandana where is this property coming from?

By the way, I'm on Virtuoso `07.20.3217` and can load geodata (e.g., https://github.com/p1d1d1/p1d1d1.github.io/blob/master/triples/cantons84.nt).
Data type is changed from `wktLiteral` to `virtrdf#Geometry`.

[2018-10-01 15:46] TallTed commented on #67
For future reference -- there are repositories of prebuilt VADs for Virtuoso, for both [Open Source (VOS)](http://download3.openlinksw.com/index.html?prefix=uda/vad-vos-packages/) and [Enterprise Edition](http://download3.openlinksw.com/index.html?prefix=uda/vad-packages/).

[2018-10-01 15:49] TallTed commented on #67
For future reference -- there are repositories of prebuilt VADs for Virtuoso, for both [Open Source (VOS)](http://download3.openlinksw.com/index.html?prefix=uda/vad-vos-packages/) and [Enterprise Edition](http://download3.openlinksw.com/index.html?prefix=uda/vad-packages/).

@agbeltran, @jakubklimek -- Can you confirm whether the current [Faceted Browser v1.13.91 for VOS](http://download3.openlink

[2018-10-01 15:54] jakubklimek commented on #67
@TallTed It does behave as expected regarding this issue (data from multiple graphs) since https://github.com/openlink/virtuoso-opensource/issues/67#issuecomment-34735392. However, there are [other issues with FCT](https://github.com/openlink/virtuoso-opensource/issues?q=is%3Aissue+is%3Aopen+facet+author%3Ajakubklimek), mainly regarding unicode in IRIs, which still make it hard to use for simple b

[2018-10-01 17:19] TallTed commented on #67
Thanks, @jakubklimek.  I'll mark this issue closed on that basis.  The other issues are in the queue, but I cannot provide ETAs on their fixes.  Suggested patches are welcome!

[2018-10-01 17:19] #67 closed, assigned to imitko

[2018-10-01 17:29] nandana commented on #295
Hi @p1d1d1 @HughWilliams

I just took that from the previous example. Now I looked at the actual data I was loading from Wikidata, most of them are like the following and they are parsed without any error.

[code]

But there are few other statements (related to the coordinates of Mars, I guess) like the following:

[code]

They are not parsed correctly and they lead to the following error.

[code]

[2018-10-01 17:52] TallTed commented on #295
@nandana - The described error is expected with VOS prior to the 7.2.6 update, or without the new plugin. Please let us know how things go with the latest `develop/7`!

[2018-10-02 11:36] pkleef commented on #772
@jakubklimek As promised i merged a number of fct related patches into develop/7 tree so i invite you to have a look when you have a moment.

[2018-10-02 11:38] pkleef commented on #67
Note i have merged a number of i18n and other assorted fixes for the faceted browser to the current develop/7 branch

[2018-10-02 13:19] jakubklimek opened #787 "Error 42S22 in fct 1.16.99"
When I click on "documents" in fct, I get:

Error 42S22
SQ063: No column q_txt.

[2018-10-02 13:52] jakubklimek commented on #772
@pkleef Regarding IRIs after upgrade to fct 1.16.99 it seems that there was no improvement.
See https://slovník.gov.cz/legislativní/sbírka/424/1991/pojem/politická-strana

![image](https://user-images.githubusercontent.com/718827/46352907-2cc17680-c65b-11e8-95a1-6c41324d7575.png)

The IRI of the class is still mangled, the data space URL does not support Punycode and then there is the new issue #7

[2018-10-02 20:05] nandana commented on #295
Thanks @TallTed !

I've installed the latest version from develop/7 and following the guide to set GeoSPARQL.

In the startup, it seems that those plugins are loaded correctly.

[code]

but I still get the same error.

[code]

Here's the content I am loading.

[code]

Do you see any reason for the error?

[2018-10-02 21:05] TallTed commented on #295
@nandana - It is often helpful to columnize your Turtle, as this can reveal oddness in the data that isn't so easy to see when the text is more tightly spaced.

    wds:Q56632442-fbfdcfd3-4b72-0026-1889-4cd40279f4fd
        a               wikibase:BestRank ;
        wikibase:rank   wikibase:NormalRank ;
        ps:P625         "<http://www.wikidata.org/entity/Q111> Point(1.13 3.83)"^^geo:wktLiter

[2018-10-02 21:53] nandana commented on #295
It looks odd to me too, but isn't such URIs are allowed in the WKT representation of geometry? For example, [here](https://www.w3.org/2015/spatial/wiki/Coordinate_Reference_Systems#GeoSPARQL) it is says

or the following example from the [GeoSPARQL spec Sec 8.5](https://technodocbox.com/Databases/71896458-Open-geospatial-consortium.html)

This was taken directly from the Wikidata dump. If someone

[2018-10-03 04:57] TallTed commented on #295
@nandana -

I see.  You're correct, the GeoSPARQL spec does permit any valid URI to be used in this position (which seems silly, as it could lead to all sorts of nonsense data).  I'm not sure why this data is not being accepted.

@pkleef, @IvanMikhailov -- Any comment?

---

That said, I note that `<http://www.wikidata.org/entity/Q111>` isn't a URI for a CRS (Coordinate Reference System); it's a U

[2018-10-03 05:12] TallTed opened #788 "typo -- "registring" should be "registering""
[Line 2061 of `geo_shapes.c`](https://github.com/openlink/virtuoso-opensource/blob/dedeb209867d02b3c2f187423eccd18a51199878/libsrc/Wi/geo_shapes.c#L2061)
[code]

Even better, change the message to include that IRI, as --

    CRS IRI <{iri}> is not known consider registering it via DB.DBA.SYS_PROJ4_SR_IRIS

-- e.g., --

    CRS IRI <http://example.com/my_crs> is not known; consider registering it

[2018-10-04 06:30] nandana commented on #295
Thanks @TallTed !

One quick question related to Virtuoso + GeoSPARQL plugins. When VOS complains about a certain error, is there a way to get an idea about which line it is about (similar to the info given for syntax errors)?

E.g.

These are files with ~24 million lines each and it is impossible to detect where the errors are using manual inspections. I could check for the previous type of error

[2018-10-04 20:29] TallTed commented on #295
@nandana - I see your point about the error message, and have raised it internally to development.  You may want to create an issue specific to that, so we can be sure to notify you when that enhancement is implemented.

[2018-10-04 21:42] nandana opened #789 "More informative error messages when parsing GeoSPARQL content"
I am using Virtuoso Open-Source 07.20.3230 with [GeoSPARQL support](https://github.com/openlink/virtuoso-opensource/blob/develop/7/README.GeoSPARQL.md) for loading Wikidata content as discussed in #295 .

When VOS complains about a certain error, is there a way to get an idea about which line it is about (similar to the info given for syntax errors)?

These are files with ~24 million lines each an

[2018-10-05 01:11] nandana commented on #295
Thanks @TallTed ! I just created an issue for this.

[2018-10-05 07:05] p1d1d1 commented on #295
That wikidata Triple is IMHO not correct GeoSPARQL, since the URI is not an URI for a CRS.
The error in Virtuoso is related, by the way, to the presence of this URI. Virtuoso doesn't support so far wkt serializations with the CRS-URI (PS: this URI is nor mandatory)

[2018-10-05 07:18] p1d1d1 commented on #295
... and I'd personally avoid having this URI in the geometry serialization. Most geo-libraries won't read this as valid wkt

[2018-10-08 07:32] HuuuNan commented on #743
@TallTed
I am sorry to reply to your message late.I find the reason,I installed the version 6.18 of Virtuoso before and now I solve my problem.Thank you!

[2018-10-08 13:51] retog commented on #516
* When setting the `Accept` header to `application/n-triples` one gets a 406 message
* When setting the `Accept` header to `text/plain` one gets n-triples  with Content-Type `text/plain`
* When setting the `Accept` header to `application/n-triple,text/plain` one gets turtle with the `content-Type`header set to `text/plain`
* When setting the `Accept` header to `text/turtle` one gets turtle with th

[2018-10-09 08:21] pkleef commented on #789
I pushed a patch to develop/7 that should return a more informative error message on such errors

[2018-10-09 08:29] HuuuNan opened #790 "Use isql command load data error."
I use isql command `ld_dir_all` to load data, but error:

It means I should configure the file `virtuoso.ini`? Can anyone help me, thanks!

[2018-10-09 09:48] timhaynesopenlink commented on #790
Hi,
Yes, check the `DirsAllowed=`  directive in `virtuoso.ini`.

HTH
~Tim

[2018-10-09 09:52] HughWilliams commented on #790
@HuuuNan  You should see the `DirsAllowed` INI file parameter to allow Virtuoso access to to the `/home/hh/data` directory where the datasets reside and restart Virtuoso, as detailed in the RDF Bulk Loader [Prerequisites](http://vos.openlinksw.com/owiki/wiki/VOS/VirtBulkRDFLoader#Prerequisites) section of the docs ...

[2018-10-09 10:37] pkleef commented on #295
When you try to load the following data using the latest version of virtuoso from develop/7:

[code]
you receive the following error:

[code]

The reason as correctly explained by @p1d1d1 is that this IRI does not represent a correct [Coordinate Reference System (CRS)](https://en.wikipedia.org/wiki/Spatial_reference_system) URI.

Without a well defined coordinate system, these points are as useful

[2018-10-09 11:22] p1d1d1 commented on #295
@pkleef very nice implementation

[2018-10-09 13:57] nandana commented on #295
@pkleef thanks for the patch! I will try it out.

@p1d1d1 I certainly agree with you. I will try to raise the issue in the Wikidata side too!

[2018-10-10 08:08] HuuuNan commented on #790
@timhaynesopenlink @HughWilliams Thanks a lot!

[2018-10-10 08:08] #790 closed, assigned to nobody

[2018-10-10 16:56] TallTed commented on #295
@pkleef - It appears to me that 9cb9e2bbd298bb7313163c1e1861ad7e50538bd9 closes #789, not #295.

[2018-10-10 16:56] TallTed commented on #295
@pkleef, @p1d1d1 -

My reading of GeoSPARQL is that *any* URI may be used as a CRS URI within a `wktLiteral` -- i.e., there is no reference to a canonical list/registry of acceptable/valid CRS URIs.

This makes *some* sense, as all possible CRS do not yet exist, so future CRS can be supported without needing to update GeoSPARQL.  I would think it better if there were a registry of CRS (similar to

[2018-10-11 07:32] tevbrasch opened #791 "Sparql modify fail when using concat with object"
I'm trying to update some objects in a graph using a SPARQL `MODIFY` and need to concatenate a variable with a 'space' (since I need to select `ski kommune` only, and not `ski` and `skien`). I've written a `SELECT` which seems to work fine, but when I include that in the `MODIFY`, I just get a 'connection reset' error message. So this select works:
[code]
but the following `MODIFY` query just cras

[2018-10-11 12:24] p1d1d1 commented on #295
@TallTed you're right, according to GeoSPARQL

But then it also says:

So URI identifying Mars are not ok for me. This lead as you say to nonsense data.
I personally don't 100% agree with the OGC approach putting URI in the wkt serialization, since such a kind of strings are non read as valid wkt by desktop GIS and I gues also by web-mapping libraries (to be tested). I'd have preferred an addition

[2018-10-11 14:05] nandana commented on #295
@p1d1d1 Yes, I agree this might not be the best design decision from GeoSPARQL on how to represent CRS information in RDF. But I am more inclined towards what @TallTed said. Though they are not optimal, I think they are legal according to the current spec. I don't read the second paragraph you cited as OGC maintains an *exclusive* set of CRS URIs and nothing else is accepted.

[2018-10-11 14:25] rnavarropiris opened #792 "Update Jena version"
The Jena provider was rebuild recently, but the target version ([apparently 3.1.1](https://github.com/openlink/virtuoso-opensource/blob/b7a5711132856847321c461926d8be1baacd98c2/binsrc/jena3/Makefile.am)) is almost 2 years old.

Are there any plans to update this for version `7.2.6`?
Or any future version?

Thanks in advance!

[2018-10-11 14:53] HughWilliams commented on #791
@tevbrasch : I note you are running a 07.20.3217 binary, which is from 2016, thus I would recommend upgrading to the latest git [07.20.3229 stable/7](https://github.com/openlink/virtuoso-opensource/tree/stable/7) build as detailed in the document on [How to Build](http://vos.openlinksw.com/owiki/wiki/VOS/VOSBuild), and repeat the test ...

[2018-10-11 16:04] TallTed commented on #295
@p1d1d1 - As @nandana says, the spec says that the "OGC maintains **_a_** set of CRS URIs", it does not say the "OGC maintains **_the_** set of CRS URIs" — i.e., there is nothing that says that only URIs from that OGC list are valid CRS URIs.

As things stand, the user is responsible for avoiding nonsense data, which may be painful for them, but this also means that they have the flexibility to ad

[2018-10-11 16:43] #743 closed, assigned to nobody

[2018-10-11 17:15] TallTed commented on #516
@retog, @jindrichmynarz -- checking [your latest test reports](https://github.com/openlink/virtuoso-opensource/issues/516#issuecomment-427841764) (which isn't trivial, as they were posted as descriptive text, rather than as command + result, as shown below)...

I ran these against VOS [`07.20.3230 (036b7b9) as of Sep 20 2018`](https://vos.demo.openlinksw.com/sparql?default-graph-uri=&query=PREFIX+

[2018-10-11 17:17] HughWilliams commented on #792
@rnavarropiris: Will check with development, but generally we do check new Jena versions (latest is [3.9.0](https://jena.apache.org/download/index.cgi) it seems) but would only build against it if there are specific changes in the API used by our provider, requiring such, so that we have best compatibility with earlier versions, still being used by others.

The [Jena 3 Provider](https://github.com

[2018-10-12 09:22] rnavarropiris commented on #792
I was just wondering, since the `RDFConnection` feature introduced in `3.2.0` is a very good addition in which I'm really interested, as it allows to combine several SPARQL operations (query, update and/or GSP) under a common interface (without removing previous tools such as `QueryFactory` and `UpdateFactory`) in a single transaction (thanks to the `Transactional` interface).

In a quick test I d

[2018-10-12 15:51] HughWilliams commented on #792
@rnavarropiris: Thanks for the information, I shall have development check against the latest Jena 3.9.0 version for any new features and look into implementing support for `RDFConnection` ...

[2018-10-12 17:51] jindrichmynarz commented on #516
Yes, this looks good:

[code]

[2018-10-12 17:51] #516 closed, assigned to nobody

[2018-10-12 20:05] nandana commented on #789
@pkleef I have checked with the new version and it provides the line number of the error. This issue can be closed now.

[2018-10-12 20:05] #789 closed, assigned to nobody

[2018-10-12 20:24] nandana commented on #295
@TallTed @p1d1d1
TL;DR - is there a way to (a) turn off this validation of `geo:wktLiteral` or (b) make Virtuoso continue parsing a file ignoring the erroneous triple?

Long version:
I want to load the Wikidata dump to Virtuoso to do some performance benchmarks comparing it with other triplestores such as Blazegraph. This issue is blocking me from loading Wikidata into Virtuoso. As a quick hack (w

[2018-10-12 21:11] TallTed commented on #295
@nandana — I am not immediately aware of a way to switch off these data checks; @IvanMikhailov or @pkleef may have a suggestion.

That said — assuming that all the data you have to load is similar to the above, and that the CRS-including `geo:wktLiteral` values are predicate+value lines which end with semicolons, you could run a slightly different `grep/sed` to simply remove those entire lines, le

[2018-10-23 08:59] zfyu opened #794 "why does the program automatically shutdown? Why does the program roll forward when I restart the program?"
shutdown log

[code]

=================
Roll forward log

[code]

[2018-10-23 12:31] HughWilliams commented on #794
Hi

It is not rolling back; it is replaying the transaction log file (`virtuoso.trx`) to apply all pending transactions against the actual database (`virtuoso.db`) file. Typically, the `CheckpointInterval` param in the INI (`virtuoso.ini`) file is set to `60` (minutes), such that these transaction are committed every hour.

What is your `CheckpointInterval` value set to? Also note that it is gener

[2018-10-23 14:01] zfyu commented on #794
Thank you very much, it's very helpful!

Firstly, I have checked that the `CheckpointInterval` param is the default value, `60`.

Secondly，I just started using this software, so I am not very familiar with how to use it. Before I started importing 300G data, I experimented with importing 1G data. I can successfully import 1G data using the following code.

    isql 1111 dba dba exec="ld_dir_all('`

[2018-10-23 15:46] HughWilliams commented on #794
@zfyu: What resources are available on the machine hosting Virtuoso, in terms of available memory and CPUs? For loading large databases, there must be enough memory available to host the dataset(s) in memory for it to be performant.

Have you [performance tuned](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning) your Virtuoso instance based on the memory available on the system? No

[2018-10-23 21:59] TallTed commented on #794
@zfyu -

Please note -- at instance restart, Virtuoso is "Rolling *forward*" the content of the `.trx` file -- which would include the 300GB data you loaded previously, so this may take another several days to fully "replay".  (This is part of why it is so important to run a `CHECKPOINT;` immediately following a successful bulk load.)

A "rollback" (which is basically an "undo" -- a transaction ca

[2018-10-24 01:57] zfyu commented on #794
@HughWilliams -

My CPU is Intel(R) Xeon(R) CPU E5-2643 v4 @ 3.40GHz.
And I have changed the param as below.

[code]

@TallTed -

**Now my problem is that when the roll forward is over, the system exits again. When I restart the program with code `virtuoso-t -f -c virtuoso.ini &`, roll forward starts again.**
The log is as follows.
[code]

Now, I am very confused about what should be done, should

[2018-10-24 13:15] thomasdegroot18 opened #795 "SERVICE clause not working with limits higher than 1"
While writing queries I came by an error that looks like something that happens in virtuoso, as I can not figure out why this query does not work. I am trying to retrieve all the heights of a set of buildings from two different datasets. But while the code works for one example as shown in the code below. The code breaks when the limit is set to 2. It looks as if the service query changes with whe

[2018-10-24 13:56] TallTed opened #796 "openssl version check delivers incorrect error message"
See [this StackOverflow post](https://stackoverflow.com/questions/52969379/virtuoso-open-source-installation-problem/52970734#52970734).

User installed --

    openssl version OpenSSL
    0.9.7i 14 Oct 2005

-- (having misunderstood the "minimum version" list in the README; would have been avoided if #767 were merged), and got this from `make` --

[code]

Message should be --

[code]

[2018-10-25 15:13] TallTed commented on #794
@zfyu -

I suggest you try one of these commands, such that Virtuoso will launch, replay the transaction log, run a checkpoint (which zeroes the transaction log), and exit cleanly.

    virtuoso-t +configfile virtuoso.ini +checkpoint-only +foreground

    virtuoso-t -c virtuoso.ini -C -f

At this point, you should see a very large `virtuoso.db` and a very small (virtually if not exactly zero) `vir

[2018-10-25 20:04] TallTed commented on #795
@thomasdegroot18 -

I noticed that you have two `LIMIT` clauses -- one on the overall query, and one of the internal `SELECT`.  What happens if you make both of these (not just the inner) `LIMIT 2`?

I see that the `SERVICE` instance is running `07.20.3217` built Nov 15 2017.  If possible, that instance should be upgraded to the [recent `7.2.5.1` on `stable/7`](https://github.com/openlink/virtuoso

[2018-10-28 03:43] joernhees opened #797 "SPARQL PrefixedNames containing 2 colons don't parse"
[DBpedia endpoint](http://dbpedia.org/sparql?qtxt=prefix+ns1%3A+<http%3A%2F%2Fdbpedia.org%2Fpage%2F>%0D%0Aselect+*+{+%3Fs+%3Fp+ns1%3ACategory%3ASoftware_bugs+}&format=text%2Fhtml&CXML_redir_for_subjs=121&CXML_redir_for_hrefs=&timeout=30000&debug=on&run=+Run+Query+):
[code]

On closer inspection `ns1:Category:Software_bugs` is however both: a valid [CURIE](https://www.w3.org/TR/curie/) and a valid

[2018-10-29 14:28] SteffRhes opened #798 "Is it possible to save results from a query and reuse them in a separate query?"
With Virtuoso, is there some way to temporarily save results from a query and reuse them in a separate query later again? Similar to views in SQL but with temporary persistence and without interfering with the rest of the persisted data?

Probably I could use `CONSTRUCT` and `INSERT` somehow to persist results manually to the store, but if possible I would want to avoid that as I'd prefer this dat

[2018-10-30 15:48] TallTed commented on #798
The typical way of achieving this is persistence to a Named Graph, which can be dropped once its utility ends.  Qualifying your queries with `FROM` or `FROM NAMED`, or including `GRAPH <graph-ID>` clauses, is a good way to avoid the sort of "interference" you foresee.

If that doesn't seem viable for your project, perhaps you could provide more detail of what you're trying to do, such that we migh

[2018-10-31 07:54] SteffRhes commented on #798
Ted, thanks for your reply.

The use-case I'm having, is that I want to go traverse big numbers of nodes and edges to map their overall flow. But when doing this in one single query, virtuoso usually times out (and we have already increase the limit to several hours, after which there would be problems with connections anyway) or it puts too much strain on the server overall. Thus I would like to

[2018-11-01 18:50] TallTed commented on #795
@thomasdegroot18 -

Please provide the above details, so we have some chance of reproducing the issue.

Assuming that your local instance is running `7.2.5.1` or later, it will likely help if you can provide a [full explain and profile plan](http://vos.openlinksw.com/owiki/wiki/VOS/VirtTipsAndTricksAnalyzingSPARQLQuery) for the two queries -- the one that runs without error (with `LIMIT 1`) and wi

[2018-11-01 19:03] TallTed commented on #798
@steffres - I wonder first whether your Virtuoso instance is [properly tuned to use local memory](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning).

I also wonder whether your queries might be optimizable to some degree.  This is very difficult if not impossible to discern from the textual description of what you're trying to do.  Possibly you might try using subqueries -- revers

[2018-11-04 00:44] namedgraph commented on #231
Same issue still on DBPedia:
[code]

[2018-11-05 18:42] HughWilliams commented on #231
Problem does not occur when the query is run against the [dbpedia-live](http://dbpedia-live.openlinksw.com/sparql) endpoint which is hosted by the latest Virtuoso 8.2 release with an updated SPARQL query engine.  See: https://bit.ly/2OsCjxp ...

[2018-11-06 10:31] rogargon opened #799 "Limited complexity of SPARQL queries with Virtuoso"
Trying the following query with a clean deployment of Virtuoso from tenforce/virtuoso:latest docker image, version: 07.20.3217

I get the error:
Virtuoso 37000 Error SP031: SPARQL: Internal error: The length of generated SQL text has exceeded 10000 lines of code

There is another open issue related with this error, however in that case it was pointed out that the issue might be related with reload

[2018-11-06 22:21] TallTed commented on #799
VOS Version 07.20.3217 [dates from 2016-04-25](https://github.com/openlink/virtuoso-opensource/commit/53b08d4aac506b4712ebd6f28207493e5bc96314).

Can you retest your query with a current build of [VOS 7.2.5.1 (stable/7)](https://github.com/openlink/virtuoso-opensource/tree/stable/7) ([prebuilt binary](https://sourceforge.net/projects/virtuoso/files/virtuoso/7.2.5/) is an option here -- you can rep

[2018-11-06 22:30] TallTed commented on #664
Hi, @beppem --

I'm wondering whether this issue resolved for you?

Assuming you're still having this issue with some build(s) of 7.2.4, it would be helpful to know what your experience is with a current build of [VOS 7.2.5.1 (stable/7)](https://github.com/openlink/virtuoso-opensource/tree/stable/7) ([prebuilt binary](https://sourceforge.net/projects/virtuoso/files/virtuoso/7.2.5/) is an option he

[2018-11-08 16:22] rogargon commented on #799
OK, thanks. Got confused about version numbering and that this version back from 2016 is the last one available from Docker Hub. Will try to generate and updated Docker version

[2018-11-08 16:22] #799 closed, assigned to nobody

[2018-11-09 23:53] tioannid opened #800 "Linking problem in Linux 64bit"
Hi, I am trying to evaluate the GeoSPARQL features of VSO and I had to clone the latest commit e6c411b6d7d0a88e4783913c1915bd2f39073d5f.
I followed the build instructions using the Linux 64-bit suggestion ( CFLAGS="-O2 -m64" ) and the standard recipe:
[code]
The following error is returned:
[code]
The prerequisites (packages & versions) are in place (same or better) :
[code]
Regards

[2018-11-10 20:06] HughWilliams commented on #800
@tioannid What is the version of OpenSSL installed ? As note Virtuoso open source does not work with OpenSSL 1.1.x, and should be built with OpenSSL 1.0.x as has been recommended in other git issue reports where user have experienced issues building with OpenSSL 1.1.x ...

[2018-11-11 14:58] tioannid commented on #800
Hi, my configuration follows:
[code]
I think this is an acceptable OpenSSL version and the CFLAGS values I used represent the platform I am using.
I will clone it again and rerun the process.

Thanks

[2018-11-11 15:02] tioannid commented on #800
I am also sending the versions for all the prerequisite packages.
[code]

[2018-11-11 16:50] tioannid commented on #800
After repeating the process this is the last page of the output which also contains the error:

[code]

Regards

[2018-11-12 10:08] mazzogp commented on #664
Hi Ted

No, the issue has never been fixed.

What we did not to remain stuck was to switch to physical graphs. With them
all the queries worked fine and we never experienced any longer this (and
other) strange behaviours.

Cheers

Beppe

[2018-11-12 15:15] TallTed commented on #800
Hello, @tioannid --

I believe this is the first report of such an error when building with OpenSSL 1.0.1f.

While we would generally expect things to build fine with that -- please note that until we have full support for OpenSSL 1.1, [we generally recommend using the latest Long Term Support (LTS) release of OpenSSL 1.0, which is now v1.0.2p](https://github.com/openlink/virtuoso-opensource/blob/

[2018-11-12 15:19] tioannid commented on #800
Hi, @TallTed
I will do this immediately.
Thanks

[2018-11-12 15:54] tioannid commented on #800
Hi, @TallTed
I downloaded the openssl-1.0.2p.tar.gz and make the build in ~/openssl-1.0.2p using the default build steps:
[code]
Do I need to change anything in the build process for virtuoso?

Regards

[2018-11-12 16:22] tioannid commented on #800
Hi, @TallTed
I tried repeating the build steps for virtuoso after building the openssl-1.0.2p but the following errors appeared:
[code]
Regards

[2018-11-12 16:46] tioannid commented on #800
Hi, I reconfigured with the following:
`./configure --enable-openssl=/home/tioannidis/openssl-1.0.2p`
and now I got different errors:
[code]
Regards

[2018-11-12 18:52] TallTed commented on #800
Hi, @tioannid --

Was that the full `./configure` command you issued?

I wonder if you've read the [README.GeoSPARQL.md](https://github.com/openlink/virtuoso-opensource/blob/develop/7/README.GeoSPARQL.md), and pre-built those specific versions of `proj` and `geo` libraries?  (Unlike the libraries required for the main build, these features require the specific listed versions.)

[2018-11-12 18:55] tioannid commented on #800
Thanks @TallTed
I will do so right now.
Regards

[2018-11-13 15:26] tioannid commented on #800
Hi, @TallTed
I downloaded and built the versions required (openssl, geos, proj) in the directories displayed and used the following recipe for building virtuoso:
[code]
I don't think I missed something else. The shapefileio plugin is embedded in the Virtuoso code base. Still I am getting the following error:

[code]
Regards

[2018-11-13 22:50] TallTed commented on #800
Hi, @tioannid --

We've applied [a few more commits](https://github.com/openlink/virtuoso-opensource/commits/develop/7) to the `develop/7` branch since your clone, which resolve at least a couple of the build issues you've hit (and worked past).  I am wondering whether these will also resolve the latest build issue you've hit as well.

Can you update your branch, and try one more rebuild?

[2018-11-15 16:23] tioannid commented on #800
Hi, @TallTed
I will do so now. But for completeness shake I would like to mention that the initial commit I got, I tried to deploy to 4 different servers. With your comments I managed to successfully deploy VSO to an Ubuntu 14.04.5 LTS and an Ubuntu 12.04.5 LTS, which are actually the final target machines where my tests have to run. But I failed to do the same on 2 development VM that I have, an